In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2119HotfixDev16/v3/en-us/applemobilitytrends-2021-10-23.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-10-14,2021-10-15,2021-10-16,2021-10-17,2021-10-18,2021-10-19,2021-10-20,2021-10-21,2021-10-22,2021-10-23
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,218.58,252.88,264.73,172.79,196.28,190.04,197.76,217.46,261.92,250.56
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,195.36,215.93,224.12,146.32,168.15,159.41,184.37,171.24,214.02,229.90
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,203.02,270.95,260.41,248.76,194.67,189.64,189.35,213.67,247.99,244.44
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,185.16,213.50,206.72,135.61,169.19,173.57,178.82,190.92,206.59,191.40
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,199.76,237.35,244.53,182.36,181.80,201.68,185.95,175.02,264.64,234.32

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1352225       Yuma         Arizona  2021-10-19 129.12
1352226       Yuma         Arizona  2021-10-20 136.05
1352227       Yuma         Arizona  2021-10-21 144.43
1352228       Yuma         Arizona  2021-10-22 172.82
1352229       Yuma         Arizona  2021-10-23 152.79

[1352230 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1352225       Yuma         Arizona  2021-10-19 129.12
1352226       Yuma         Arizona  2021-10-20 136.05
1352227       Yuma         Arizona  2021-10-21 144.43
1352228       Yuma         Arizona  2021-10-22 172.82
1352229       Yuma         Arizona  2021-10-23 152.79

[1352230 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)