In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2106HotfixDev17/v3/en-us/applemobilitytrends-2021-04-22.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-04-13,2021-04-14,2021-04-15,2021-04-16,2021-04-17,2021-04-18,2021-04-19,2021-04-20,2021-04-21,2021-04-22
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,189.83,192.01,204.42,235.06,252.81,151.05,181.63,180.43,174.26,180.58
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,151.57,145.71,174.85,191.37,175.65,149.95,161.43,159.97,167.86,188.12
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,169.05,168.64,181.48,244.38,283.49,206.04,185.33,177.99,174.50,205.74
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,151.05,156.84,163.69,185.70,175.73,121.95,147.83,153.91,157.53,163.06
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,153.47,145.17,168.56,209.66,200.00,139.11,149.40,155.07,153.15,164.01

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

           County           State        Date      0
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
967665       Yuma         Arizona  2021-04-18 129.57
967666       Yuma         Arizona  2021-04-19 123.66
967667       Yuma         Arizona  2021-04-20 125.13
967668       Yuma         Arizona  2021-04-21 125.13
967669       Yuma         Arizona  2021-04-22 129.55

[967670 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

           County           State        Date  Index
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
967665       Yuma         Arizona  2021-04-18 129.57
967666       Yuma         Arizona  2021-04-19 123.66
967667       Yuma         Arizona  2021-04-20 125.13
967668       Yuma         Arizona  2021-04-21 125.13
967669       Yuma         Arizona  2021-04-22 129.55

[967670 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)