In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2203HotfixDev7/v3/en-us/applemobilitytrends-2021-12-01.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-11-22,2021-11-23,2021-11-24,2021-11-25,2021-11-26,2021-11-27,2021-11-28,2021-11-29,2021-11-30,2021-12-01
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,197.12,208.27,223.14,186.75,197.48,188.01,175.67,171.74,194.11,188.22
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,196.16,206.77,251.48,155.29,199.14,205.11,210.31,180.56,189.80,212.33
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,153.96,219.29,293.08,170.53,250.71,273.49,282.49,166.33,146.98,136.69
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,176.64,178.38,179.60,80.49,153.70,149.98,116.17,158.44,163.41,189.75
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,156.74,199.68,181.40,126.58,170.15,189.07,147.73,175.82,173.10,175.02

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1433735       Yuma         Arizona  2021-11-27 187.79
1433736       Yuma         Arizona  2021-11-28 179.51
1433737       Yuma         Arizona  2021-11-29 149.77
1433738       Yuma         Arizona  2021-11-30 146.23
1433739       Yuma         Arizona  2021-12-01 149.87

[1433740 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1433735       Yuma         Arizona  2021-11-27 187.79
1433736       Yuma         Arizona  2021-11-28 179.51
1433737       Yuma         Arizona  2021-11-29 149.77
1433738       Yuma         Arizona  2021-11-30 146.23
1433739       Yuma         Arizona  2021-12-01 149.87

[1433740 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)