In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2202HotfixDev10/v3/en-us/applemobilitytrends-2021-11-14.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-11-05,2021-11-06,2021-11-07,2021-11-08,2021-11-09,2021-11-10,2021-11-11,2021-11-12,2021-11-13,2021-11-14
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,244.11,206.10,172.79,184.71,186.04,193.48,191.30,253.58,234.99,173.91
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,200.59,174.46,146.55,154.00,150.36,176.99,343.52,213.40,177.87,147.05
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,224.32,201.54,168.88,149.76,168.22,188.99,186.80,218.58,204.14,186.09
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,192.93,175.83,120.92,151.50,156.09,173.59,181.06,214.99,204.18,128.57
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,206.15,193.30,143.89,147.57,155.31,169.83,178.53,226.18,176.86,140.86

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1398205       Yuma         Arizona  2021-11-10 152.97
1398206       Yuma         Arizona  2021-11-11 164.66
1398207       Yuma         Arizona  2021-11-12 180.49
1398208       Yuma         Arizona  2021-11-13 163.42
1398209       Yuma         Arizona  2021-11-14 142.78

[1398210 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1398205       Yuma         Arizona  2021-11-10 152.97
1398206       Yuma         Arizona  2021-11-11 164.66
1398207       Yuma         Arizona  2021-11-12 180.49
1398208       Yuma         Arizona  2021-11-13 163.42
1398209       Yuma         Arizona  2021-11-14 142.78

[1398210 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)