In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2111HotfixDev19/v3/en-us/applemobilitytrends-2021-07-05.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-06-26,2021-06-27,2021-06-28,2021-06-29,2021-06-30,2021-07-01,2021-07-02,2021-07-03,2021-07-04,2021-07-05
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,216.97,153.37,176.86,178.61,180.50,200.77,217.60,187.87,159.26,186.47
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,218.77,174.17,177.62,193.73,198.61,243.28,265.52,208.79,157.22,183.85
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,495.80,429.41,323.14,268.58,301.07,344.97,463.79,559.35,388.58,430.59
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,199.58,148.40,190.16,191.65,199.21,202.69,211.91,167.69,133.03,161.59
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,208.70,167.04,170.87,168.32,153.87,171.27,231.13,233.20,173.18,201.52

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1122325       Yuma         Arizona  2021-07-01 152.54
1122326       Yuma         Arizona  2021-07-02 180.62
1122327       Yuma         Arizona  2021-07-03 139.69
1122328       Yuma         Arizona  2021-07-04 106.75
1122329       Yuma         Arizona  2021-07-05 164.52

[1122330 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1122325       Yuma         Arizona  2021-07-01 152.54
1122326       Yuma         Arizona  2021-07-02 180.62
1122327       Yuma         Arizona  2021-07-03 139.69
1122328       Yuma         Arizona  2021-07-04 106.75
1122329       Yuma         Arizona  2021-07-05 164.52

[1122330 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)