In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2109HotfixDev19/v3/en-us/applemobilitytrends-2021-06-07.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-05-29,2021-05-30,2021-05-31,2021-06-01,2021-06-02,2021-06-03,2021-06-04,2021-06-05,2021-06-06,2021-06-07
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,220.20,182.40,171.39,175.25,184.22,185.97,202.59,192.22,149.72,168.23
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,207.82,169.45,174.51,201.82,190.41,200.64,225.17,218.47,201.91,184.91
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,356.09,293.31,316.45,232.72,221.48,224.26,308.64,354.73,321.18,271.72
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,176.63,133.97,134.75,178.53,179.92,184.79,206.48,187.08,139.72,177.96
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,188.27,161.53,190.42,168.32,154.91,175.66,224.02,212.77,148.60,146.53

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1063805       Yuma         Arizona  2021-06-03 129.39
1063806       Yuma         Arizona  2021-06-04 154.77
1063807       Yuma         Arizona  2021-06-05 133.13
1063808       Yuma         Arizona  2021-06-06 119.60
1063809       Yuma         Arizona  2021-06-07 125.61

[1063810 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1063805       Yuma         Arizona  2021-06-03 129.39
1063806       Yuma         Arizona  2021-06-04 154.77
1063807       Yuma         Arizona  2021-06-05 133.13
1063808       Yuma         Arizona  2021-06-06 119.60
1063809       Yuma         Arizona  2021-06-07 125.61

[1063810 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)