In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2117HotfixDev19/v3/en-us/applemobilitytrends-2021-09-27.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-09-18,2021-09-19,2021-09-20,2021-09-21,2021-09-22,2021-09-23,2021-09-24,2021-09-25,2021-09-26,2021-09-27
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,229.66,161.92,171.39,176.79,175.04,204.00,242.36,236.68,162.90,192.08
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,181.94,134.03,160.33,165.20,174.21,184.42,211.70,211.91,157.73,174.83
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,347.63,273.96,207.99,178.34,185.21,208.17,284.85,302.84,247.16,209.76
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,194.17,126.66,166.69,175.29,177.00,188.04,206.29,191.53,127.90,170.61
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,222.75,146.13,155.79,198.08,149.16,167.12,222.27,224.66,156.11,172.39

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1297885       Yuma         Arizona  2021-09-23 130.68
1297886       Yuma         Arizona  2021-09-24 155.08
1297887       Yuma         Arizona  2021-09-25 141.70
1297888       Yuma         Arizona  2021-09-26 117.88
1297889       Yuma         Arizona  2021-09-27 123.66

[1297890 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1297885       Yuma         Arizona  2021-09-23 130.68
1297886       Yuma         Arizona  2021-09-24 155.08
1297887       Yuma         Arizona  2021-09-25 141.70
1297888       Yuma         Arizona  2021-09-26 117.88
1297889       Yuma         Arizona  2021-09-27 123.66

[1297890 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)