In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2104HotfixDev19/v3/en-us/applemobilitytrends-2021-03-28.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-03-19,2021-03-20,2021-03-21,2021-03-22,2021-03-23,2021-03-24,2021-03-25,2021-03-26,2021-03-27,2021-03-28
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,210.24,213.04,149.37,179.66,169.14,183.80,184.92,200.91,199.09,146.70
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,230.56,228.85,178.33,164.56,154.64,157.82,177.03,209.16,199.36,146.89
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,167.46,178.99,170.18,158.46,142.84,141.12,164.56,213.02,231.30,188.52
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,180.54,171.82,122.79,141.04,145.35,145.06,148.28,169.82,159.18,119.54
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,205.99,191.22,141.90,136.23,161.21,155.23,144.53,206.38,188.03,130.25

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

           County           State        Date      0
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
915415       Yuma         Arizona  2021-03-24 138.96
915416       Yuma         Arizona  2021-03-25 146.03
915417       Yuma         Arizona  2021-03-26 171.99
915418       Yuma         Arizona  2021-03-27 152.66
915419       Yuma         Arizona  2021-03-28 135.26

[915420 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

           County           State        Date  Index
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
915415       Yuma         Arizona  2021-03-24 138.96
915416       Yuma         Arizona  2021-03-25 146.03
915417       Yuma         Arizona  2021-03-26 171.99
915418       Yuma         Arizona  2021-03-27 152.66
915419       Yuma         Arizona  2021-03-28 135.26

[915420 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)