In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2112HotfixDev18/v3/en-us/applemobilitytrends-2021-07-17.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-07-08,2021-07-09,2021-07-10,2021-07-11,2021-07-12,2021-07-13,2021-07-14,2021-07-15,2021-07-16,2021-07-17
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,181.56,206.03,203.58,145.86,181.77,170.90,190.11,191.58,223.00,220.34
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,190.18,238.28,200.68,166.77,186.01,186.92,191.91,206.84,244.14,232.64
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,312.84,416.57,665.98,424.56,296.80,269.88,301.48,329.64,430.89,558.88
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,204.12,218.90,190.94,145.25,189.10,194.36,195.21,199.99,211.52,186.48
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,190.82,224.18,195.45,165.28,181.48,171.35,162.57,187.55,211.65,186.11

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1147405       Yuma         Arizona  2021-07-13 123.23
1147406       Yuma         Arizona  2021-07-14 126.44
1147407       Yuma         Arizona  2021-07-15 141.27
1147408       Yuma         Arizona  2021-07-16 164.94
1147409       Yuma         Arizona  2021-07-17 139.95

[1147410 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1147405       Yuma         Arizona  2021-07-13 123.23
1147406       Yuma         Arizona  2021-07-14 126.44
1147407       Yuma         Arizona  2021-07-15 141.27
1147408       Yuma         Arizona  2021-07-16 164.94
1147409       Yuma         Arizona  2021-07-17 139.95

[1147410 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)