In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2113HotfixDev14/v3/en-us/applemobilitytrends-2021-07-26.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-07-17,2021-07-18,2021-07-19,2021-07-20,2021-07-21,2021-07-22,2021-07-23,2021-07-24,2021-07-25,2021-07-26
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,220.34,156.87,186.33,160.10,203.72,192.92,208.20,204.49,153.93,177.00
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,232.64,192.57,188.62,182.30,192.93,201.55,222.19,203.70,175.49,188.67
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,558.88,440.24,315.44,271.24,300.53,327.34,433.43,578.28,463.73,313.67
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,186.48,143.54,187.26,187.09,193.92,198.23,205.15,181.25,140.53,179.47
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,186.11,164.80,174.38,175.26,163.77,182.84,210.53,212.45,165.36,171.83

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1166215       Yuma         Arizona  2021-07-22 135.70
1166216       Yuma         Arizona  2021-07-23 157.59
1166217       Yuma         Arizona  2021-07-24 139.03
1166218       Yuma         Arizona  2021-07-25 124.56
1166219       Yuma         Arizona  2021-07-26 128.68

[1166220 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1166215       Yuma         Arizona  2021-07-22 135.70
1166216       Yuma         Arizona  2021-07-23 157.59
1166217       Yuma         Arizona  2021-07-24 139.03
1166218       Yuma         Arizona  2021-07-25 124.56
1166219       Yuma         Arizona  2021-07-26 128.68

[1166220 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)