In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2116HotfixDev9/v3/en-us/applemobilitytrends-2021-09-03.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-08-25,2021-08-26,2021-08-27,2021-08-28,2021-08-29,2021-08-30,2021-08-31,2021-09-01,2021-09-02,2021-09-03
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,190.60,187.80,223.98,214.80,172.86,184.85,194.67,176.37,200.70,242.36
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,161.34,163.61,239.80,1022.22,85.55,166.77,271.38,266.90,255.68,290.93
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,252.01,274.67,337.04,474.79,363.25,211.36,210.36,196.57,229.23,337.63
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,194.55,204.98,212.37,192.84,134.76,170.30,176.54,184.25,191.18,217.46
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,158.50,164.96,197.85,217.48,171.35,150.36,140.54,166.32,186.11,244.37

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1247725       Yuma         Arizona  2021-08-30 117.95
1247726       Yuma         Arizona  2021-08-31 128.26
1247727       Yuma         Arizona  2021-09-01 129.80
1247728       Yuma         Arizona  2021-09-02 142.37
1247729       Yuma         Arizona  2021-09-03 186.87

[1247730 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1247725       Yuma         Arizona  2021-08-30 117.95
1247726       Yuma         Arizona  2021-08-31 128.26
1247727       Yuma         Arizona  2021-09-01 129.80
1247728       Yuma         Arizona  2021-09-02 142.37
1247729       Yuma         Arizona  2021-09-03 186.87

[1247730 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)