In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2115HotfixDev17/v3/en-us/applemobilitytrends-2021-08-27.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-08-18,2021-08-19,2021-08-20,2021-08-21,2021-08-22,2021-08-23,2021-08-24,2021-08-25,2021-08-26,2021-08-27
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,198.81,218.79,234.15,214.80,165.43,187.73,180.36,190.60,187.80,223.98
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,157.07,173.65,187.91,166.35,127.05,159.16,153.14,161.34,163.61,239.80
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,268.88,316.09,386.33,708.34,441.42,267.81,247.93,252.01,274.67,337.04
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,206.61,209.64,222.92,198.28,144.40,184.37,193.31,194.55,204.98,212.37
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,157.94,147.41,224.26,192.34,155.47,164.33,154.35,158.50,164.96,197.85

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1233095       Yuma         Arizona  2021-08-23 118.54
1233096       Yuma         Arizona  2021-08-24 113.68
1233097       Yuma         Arizona  2021-08-25 115.33
1233098       Yuma         Arizona  2021-08-26 121.78
1233099       Yuma         Arizona  2021-08-27 144.93

[1233100 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1233095       Yuma         Arizona  2021-08-23 118.54
1233096       Yuma         Arizona  2021-08-24 113.68
1233097       Yuma         Arizona  2021-08-25 115.33
1233098       Yuma         Arizona  2021-08-26 121.78
1233099       Yuma         Arizona  2021-08-27 144.93

[1233100 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)