In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2105HotfixDev16/v3/en-us/applemobilitytrends-2021-04-09.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-03-31,2021-04-01,2021-04-02,2021-04-03,2021-04-04,2021-04-05,2021-04-06,2021-04-07,2021-04-08,2021-04-09
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,166.83,192.36,202.24,197.27,155.96,174.54,199.30,208.63,214.73,218.58
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,168.02,203.75,187.23,166.95,159.72,193.75,182.62,196.45,207.20,226.47
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,193.55,234.62,302.13,285.98,218.28,237.46,207.22,213.08,242.90,276.69
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,154.97,161.67,185.70,169.56,98.93,150.73,160.14,166.82,171.38,199.93
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,134.40,157.14,208.78,167.44,140.94,164.41,153.71,169.67,178.61,208.06

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

           County           State        Date      0
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
940495       Yuma         Arizona  2021-04-05 143.95
940496       Yuma         Arizona  2021-04-06 139.94
940497       Yuma         Arizona  2021-04-07 135.45
940498       Yuma         Arizona  2021-04-08 152.75
940499       Yuma         Arizona  2021-04-09 168.59

[940500 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

           County           State        Date  Index
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
940495       Yuma         Arizona  2021-04-05 143.95
940496       Yuma         Arizona  2021-04-06 139.94
940497       Yuma         Arizona  2021-04-07 135.45
940498       Yuma         Arizona  2021-04-08 152.75
940499       Yuma         Arizona  2021-04-09 168.59

[940500 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)