In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2116HotfixDev23/v3/en-us/applemobilitytrends-2021-09-14.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-09-05,2021-09-06,2021-09-07,2021-09-08,2021-09-09,2021-09-10,2021-09-11,2021-09-12,2021-09-13,2021-09-14
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,186.26,170.20,196.77,178.33,193.62,233.38,212.55,176.65,187.73,200.07
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,180.51,198.59,208.68,207.65,205.11,228.12,204.00,139.25,166.83,119.42
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,361.12,324.79,222.78,184.97,203.31,263.96,302.13,254.50,208.22,178.58
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,138.02,134.22,178.58,179.23,186.88,199.03,185.89,128.86,169.50,171.88
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,163.13,210.30,162.33,162.41,171.19,208.38,271.11,164.57,160.81,156.11

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1270715       Yuma         Arizona  2021-09-10 146.82
1270716       Yuma         Arizona  2021-09-11 120.79
1270717       Yuma         Arizona  2021-09-12 104.57
1270718       Yuma         Arizona  2021-09-13 120.92
1270719       Yuma         Arizona  2021-09-14 118.04

[1270720 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1270715       Yuma         Arizona  2021-09-10 146.82
1270716       Yuma         Arizona  2021-09-11 120.79
1270717       Yuma         Arizona  2021-09-12 104.57
1270718       Yuma         Arizona  2021-09-13 120.92
1270719       Yuma         Arizona  2021-09-14 118.04

[1270720 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)