In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2205HotfixDev13/v3/en-us/applemobilitytrends-2022-01-12.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,2022-01-09,2022-01-10,2022-01-11,2022-01-12
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,176.44,181.77,180.72,166.48,205.33,169.78,123.56,176.30,174.68,170.34
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,168.26,169.97,169.65,170.94,190.82,160.40,122.70,158.07,164.67,161.24
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,128.64,143.02,155.09,159.94,151.30,153.96,125.92,137.34,144.32,169.59
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,158.17,155.85,160.59,159.39,178.50,165.21,118.80,152.25,158.38,160.55
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,150.04,158.58,153.55,94.01,90.50,131.60,113.09,172.63,151.08,157.62

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

            County           State        Date      0
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1521515       Yuma         Arizona  2022-01-08 163.00
1521516       Yuma         Arizona  2022-01-09 136.47
1521517       Yuma         Arizona  2022-01-10 157.47
1521518       Yuma         Arizona  2022-01-11 154.58
1521519       Yuma         Arizona  2022-01-12 152.32

[1521520 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

            County           State        Date  Index
0        Abbeville  South Carolina  2020-01-13 100.00
1        Abbeville  South Carolina  2020-01-14 110.87
2        Abbeville  South Carolina  2020-01-15 112.13
3        Abbeville  South Carolina  2020-01-16 119.64
4        Abbeville  South Carolina  2020-01-17 147.90
...            ...             ...         ...    ...
1521515       Yuma         Arizona  2022-01-08 163.00
1521516       Yuma         Arizona  2022-01-09 136.47
1521517       Yuma         Arizona  2022-01-10 157.47
1521518       Yuma         Arizona  2022-01-11 154.58
1521519       Yuma         Arizona  2022-01-12 152.32

[1521520 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)