In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2102HotfixDev21/v3/en-us/applemobilitytrends-2021-03-01.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-02-20,2021-02-21,2021-02-22,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28,2021-03-01
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,173.91,129.87,143.27,146.07,161.78,163.67,184.36,194.74,145.51,166.13
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,149.70,123.63,152.18,154.95,162.70,164.42,191.89,169.90,135.53,148.20
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,202.01,110.24,123.79,121.95,128.22,127.99,156.27,133.85,120.95,122.25
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,139.27,95.13,118.90,122.83,127.77,131.31,148.76,140.58,100.49,125.76
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,108.38,94.57,123.38,130.41,141.74,146.29,161.05,146.61,125.46,138.55

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

           County           State        Date      0
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
861075       Yuma         Arizona  2021-02-25 138.54
861076       Yuma         Arizona  2021-02-26 160.07
861077       Yuma         Arizona  2021-02-27 151.03
861078       Yuma         Arizona  2021-02-28 121.80
861079       Yuma         Arizona  2021-03-01 124.15

[861080 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

           County           State        Date  Index
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
861075       Yuma         Arizona  2021-02-25 138.54
861076       Yuma         Arizona  2021-02-26 160.07
861077       Yuma         Arizona  2021-02-27 151.03
861078       Yuma         Arizona  2021-02-28 121.80
861079       Yuma         Arizona  2021-03-01 124.15

[861080 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)