In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
apple_df = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2101HotfixDev10/v3/en-us/applemobilitytrends-2021-02-08.csv", low_memory=False)
apple_df = apple_df[(apple_df['geo_type'] == 'county') & (apple_df['transportation_type'] == 'driving')]
apple_df["region"]= apple_df["region"].str.replace(" County", "")
apple_df = apple_df.rename({'region' : 'County', 'sub-region' : 'State'}, axis=1)
apple_df = apple_df.drop(['geo_type', 'transportation_type','alternative_name', 'country'], axis=1)
apple_df.head()

,County,State,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-18,2020-01-19,2020-01-20,...,2021-01-29,2021-01-30,2021-01-31,2021-02-01,2021-02-02,2021-02-03,2021-02-04,2021-02-05,2021-02-06,2021-02-07
2053,Abbeville,South Carolina,100.00,110.87,112.13,119.64,147.90,118.02,89.97,114.80,...,169.14,172.65,120.83,132.61,139.20,144.04,151.68,181.07,162.20,122.16
2054,Acadia Parish,Louisiana,100.00,115.17,120.94,124.35,153.41,135.03,103.72,115.92,...,177.80,158.00,118.74,148.07,148.75,149.62,151.88,175.56,156.23,111.74
2055,Accomack,Virginia,100.00,98.93,99.53,107.75,142.90,103.14,109.17,113.61,...,139.59,139.05,84.79,94.38,94.85,95.38,115.74,125.50,138.76,94.38
2056,Ada,Idaho,100.00,99.89,105.05,108.43,121.67,111.69,75.31,99.84,...,138.43,133.04,96.08,116.24,116.90,119.40,126.29,144.40,136.60,90.05
2058,Adair,Kentucky,100.00,98.00,96.97,112.05,125.46,120.67,87.79,111.65,...,144.53,140.46,107.50,99.52,125.78,115.80,135.36,154.67,156.03,100.64

In [3]:
apple_df = (apple_df.set_index(['County', 'State'])
   .rename_axis(['Date'], axis=1)
   .stack()
   .reset_index())
apple_df

           County           State        Date      0
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
815095       Yuma         Arizona  2021-02-03 115.64
815096       Yuma         Arizona  2021-02-04 120.36
815097       Yuma         Arizona  2021-02-05 143.47
815098       Yuma         Arizona  2021-02-06 126.13
815099       Yuma         Arizona  2021-02-07  97.80

[815100 rows x 4 columns]

In [4]:
apple_df = apple_df.rename({0: 'Index'}, axis='columns')
apple_df

           County           State        Date  Index
0       Abbeville  South Carolina  2020-01-13 100.00
1       Abbeville  South Carolina  2020-01-14 110.87
2       Abbeville  South Carolina  2020-01-15 112.13
3       Abbeville  South Carolina  2020-01-16 119.64
4       Abbeville  South Carolina  2020-01-17 147.90
...           ...             ...         ...    ...
815095       Yuma         Arizona  2021-02-03 115.64
815096       Yuma         Arizona  2021-02-04 120.36
815097       Yuma         Arizona  2021-02-05 143.47
815098       Yuma         Arizona  2021-02-06 126.13
815099       Yuma         Arizona  2021-02-07  97.80

[815100 rows x 4 columns]

In [5]:
apple_df.to_csv('apple.csv', index=False)