In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.0f}'.format

In [2]:
case_forecast_df = pd.read_csv('2021-03-08-all-forecasted-cases-model-data.csv')
case_forecast_df.head(5)

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
0,MIT-ISOLAT,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,3262,543,2326,4198,5981
1,DDS,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,4239,2797,3630,4759,6228
2,MIT-ORC,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,2764,0,1481,4047,6492
3,JHU-CSSE,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,4252,3052,3582,4518,6405
4,Covid19Sim,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,5547,5498,5511,5575,5663

In [3]:
case_forecast_df['location_name'] = case_forecast_df['location_name'].apply(lambda x: x.split(' County,')[0])
case_forecast_df = case_forecast_df.fillna(0)
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '5 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '6 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '7 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '8 wk ahead inc case')]
case_forecast_df.head(5)

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
0,MIT-ISOLAT,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,3262,543,2326,4198,5981
1,DDS,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,4239,2797,3630,4759,6228
2,MIT-ORC,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,2764,0,1481,4047,6492
3,JHU-CSSE,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,4252,3052,3582,4518,6405
4,Covid19Sim,2021-03-08,1 wk ahead inc case,2021-03-13,Alabama,Alabama,01,5547,5498,5511,5575,5663

In [4]:
case_forecast_df = case_forecast_df.query("State != location_name")
case_forecast_df

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
26,LANL,2021-03-08,1 wk ahead inc case,2021-03-13,Autauga,Alabama,01001,42,5,22,73,171
27,ISU,2021-03-08,1 wk ahead inc case,2021-03-13,Autauga,Alabama,01001,88,72,82,94,108
28,Facebook,2021-03-08,1 wk ahead inc case,2021-03-13,Autauga,Alabama,01001,75,11,53,98,140
29,OneQuietNight,2021-03-08,1 wk ahead inc case,2021-03-13,Autauga,Alabama,01001,87,0,10,165,325
30,JHU-APL,2021-03-08,1 wk ahead inc case,2021-03-13,Autauga,Alabama,01001,134,85,112,158,210
...,...,...,...,...,...,...,...,...,...,...,...,...
170599,Facebook,2021-03-08,4 wk ahead inc case,2021-04-03,Weston,Wyoming,56045,6,0,0,15,32
170600,Columbia,2021-03-08,4 wk ahead inc case,2021-04-03,Weston,Wyoming,56045,0,0,0,0,14
170601,LANL,2021-03-08,4 wk ahead inc case,2021-04-03,Weston,Wyoming,56045,3,0,2,4,7
170602,ISU,2021-03-08,4 wk ahead inc case,2021-04-03,Weston,Wyoming,56045,6,1,4,7,12
170603,UVA,2021-03-08,4 wk ahead inc case,2021-04-03,Weston,Wyoming,56045,0,0,0,1,2

In [5]:
case_forecast_df.to_csv('case_forecast.csv', index=False)