In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.0f}'.format

In [2]:
case_forecast_df = pd.read_csv('2021-04-19-all-forecasted-cases-model-data.csv')
case_forecast_df.head(5)

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
0,MIT-ORC,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,1627,0,971,2283,3533
1,Ensemble,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,2262,771,1731,2828,4175
2,IEM,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,3203,1987,2766,3720,4783
3,ISU,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,2718,2527,2640,2803,2919
4,JHU-APL,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,2262,1343,1852,2774,3976

In [3]:
case_forecast_df['location_name'] = case_forecast_df['location_name'].apply(lambda x: x.split(' County,')[0])
case_forecast_df = case_forecast_df.fillna(0)
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '5 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '6 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '7 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '8 wk ahead inc case')]
case_forecast_df.head(5)

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
0,MIT-ORC,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,1627,0,971,2283,3533
1,Ensemble,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,2262,771,1731,2828,4175
2,IEM,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,3203,1987,2766,3720,4783
3,ISU,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,2718,2527,2640,2803,2919
4,JHU-APL,2021-04-19,1 wk ahead inc case,2021-04-24,Alabama,Alabama,01,2262,1343,1852,2774,3976

In [4]:
case_forecast_df = case_forecast_df.query("State != location_name")
case_forecast_df

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
21,UVA,2021-04-19,1 wk ahead inc case,2021-04-24,Autauga,Alabama,01001,41,0,12,71,127
22,UpstateSU,2021-04-19,1 wk ahead inc case,2021-04-24,Autauga,Alabama,01001,69,63,67,71,73
23,ISU,2021-04-19,1 wk ahead inc case,2021-04-24,Autauga,Alabama,01001,50,37,46,56,65
24,Columbia,2021-04-19,1 wk ahead inc case,2021-04-24,Autauga,Alabama,01001,39,9,28,50,76
25,JHU-APL,2021-04-19,1 wk ahead inc case,2021-04-24,Autauga,Alabama,01001,67,41,55,80,114
...,...,...,...,...,...,...,...,...,...,...,...,...
155999,JHU-APL,2021-04-19,4 wk ahead inc case,2021-05-15,Weston,Wyoming,56045,1,0,0,2,4
156000,Ensemble,2021-04-19,4 wk ahead inc case,2021-05-15,Weston,Wyoming,56045,4,0,1,10,17
156001,Facebook,2021-04-19,4 wk ahead inc case,2021-05-15,Weston,Wyoming,56045,14,0,1,27,51
156002,LANL,2021-04-19,4 wk ahead inc case,2021-05-15,Weston,Wyoming,56045,3,0,1,5,9
156003,UVA,2021-04-19,4 wk ahead inc case,2021-05-15,Weston,Wyoming,56045,18,15,17,19,21

In [5]:
case_forecast_df.to_csv('case_forecast.csv', index=False)