In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.0f}'.format

In [2]:
case_forecast_df = pd.read_csv('2021-05-10-all-forecasted-cases-model-data.csv')
case_forecast_df.head(5)

C:\Users\Doug Smith\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
0,MIT-ORC,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,745,0,341,1149,1919
1,Masaryk University,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,2846,1556,2374,3342,5058
2,BPagano,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,2022,0,1277,2733,4104
3,Ensemble,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,2231,736,1634,2623,4171
4,MIT-ISOLAT,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,350,37,242,458,664

In [3]:
case_forecast_df['location_name'] = case_forecast_df['location_name'].apply(lambda x: x.split(' County,')[0])
case_forecast_df = case_forecast_df.fillna(0)
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '5 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '6 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '7 wk ahead inc case')]
case_forecast_df = case_forecast_df[(case_forecast_df['target'] != '8 wk ahead inc case')]
case_forecast_df.head(5)

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
0,MIT-ORC,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,745,0,341,1149,1919
1,Masaryk University,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,2846,1556,2374,3342,5058
2,BPagano,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,2022,0,1277,2733,4104
3,Ensemble,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,2231,736,1634,2623,4171
4,MIT-ISOLAT,2021-05-10,1 wk ahead inc case,2021-05-15,Alabama,Alabama,01,350,37,242,458,664

In [4]:
case_forecast_df = case_forecast_df.query("State != location_name")
case_forecast_df

,model,forecast_date,target,target_end_date,location_name,State,fips,point,quantile_0.025,quantile_0.25,quantile_0.75,quantile_0.975
22,JHU-APL,2021-05-10,1 wk ahead inc case,2021-05-15,Autauga,Alabama,01001,38,19,31,46,60
23,UGA-CEID,2021-05-10,1 wk ahead inc case,2021-05-15,Autauga,Alabama,01001,17,0,0,52,179
24,LNQ,2021-05-10,1 wk ahead inc case,2021-05-15,Autauga,Alabama,01001,13,2,4,30,85
25,UVA,2021-05-10,1 wk ahead inc case,2021-05-15,Autauga,Alabama,01001,14,0,0,40,89
26,LANL,2021-05-10,1 wk ahead inc case,2021-05-15,Autauga,Alabama,01001,6,2,2,16,63
...,...,...,...,...,...,...,...,...,...,...,...,...
148107,Ensemble,2021-05-10,4 wk ahead inc case,2021-06-05,Weston,Wyoming,56045,1,0,0,5,14
148108,UGA-CEID,2021-05-10,4 wk ahead inc case,2021-06-05,Weston,Wyoming,56045,1,0,0,4,8
148109,LANL,2021-05-10,4 wk ahead inc case,2021-06-05,Weston,Wyoming,56045,3,0,1,5,10
148110,Facebook,2021-05-10,4 wk ahead inc case,2021-06-05,Weston,Wyoming,56045,2,0,0,6,14
148111,Columbia,2021-05-10,4 wk ahead inc case,2021-06-05,Weston,Wyoming,56045,0,0,0,0,14

In [5]:
case_forecast_df.to_csv('case_forecast.csv', index=False)