In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1388817,2021-06-20,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1388818,2021-06-21,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1388819,2021-06-22,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1388820,2021-06-23,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1388821,2021-06-24,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
36743,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
36745,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
36747,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
36749,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
36751,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
851236,2021-06-20,Arkansas,Arkansas,5001,2176,38.00,5000,Arkansas,AR,Arkansas,State,3017804
851238,2021-06-21,Arkansas,Arkansas,5001,2176,38.00,5000,Arkansas,AR,Arkansas,State,3017804
851240,2021-06-22,Arkansas,Arkansas,5001,2186,38.00,5000,Arkansas,AR,Arkansas,State,3017804
851242,2021-06-23,Arkansas,Arkansas,5001,2190,38.00,5000,Arkansas,AR,Arkansas,State,3017804
851244,2021-06-24,Arkansas,Arkansas,5001,2201,38.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1388817,2021-06-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1388818,2021-06-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1388819,2021-06-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1388820,2021-06-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1388821,2021-06-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-06-24') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
520,2021-06-24,Snohomish,Washington,39984,599.00,53061,WA,County,822083,4863.74,72.86
1038,2021-06-24,Cook,Illinois,556629,11030.00,17031,IL,County,5150233,10807.84,214.17
1555,2021-06-24,Orange,California,273170,5116.00,6059,CA,County,3175692,8601.90,161.10
2071,2021-06-24,Maricopa,Arizona,558068,10243.00,4013,AZ,County,4485414,12441.84,228.36
2587,2021-06-24,Los Angeles,California,1249083,24472.00,6037,CA,County,10039107,12442.17,243.77
...,...,...,...,...,...,...,...,...,...,...,...
1387925,2021-06-24,Wheeler,Oregon,35,1.00,41069,OR,County,1332,2627.63,75.08
1388180,2021-06-24,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00
1388404,2021-06-24,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00
1388624,2021-06-24,Loving,Texas,2,0.00,48301,TX,County,169,1183.43,0.00
1388821,2021-06-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
520,2021-06-24,Snohomish,Washington,39984,599.00,53061,WA,County,822083,4863.74,72.86,72.86,4863.74
1038,2021-06-24,Cook,Illinois,556629,11030.00,17031,IL,County,5150233,10807.84,214.17,214.17,10807.84
1555,2021-06-24,Orange,California,273170,5116.00,6059,CA,County,3175692,8601.90,161.10,161.10,8601.90
2071,2021-06-24,Maricopa,Arizona,558068,10243.00,4013,AZ,County,4485414,12441.84,228.36,228.36,12441.84
2587,2021-06-24,Los Angeles,California,1249083,24472.00,6037,CA,County,10039107,12442.17,243.77,243.77,12442.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1387925,2021-06-24,Wheeler,Oregon,35,1.00,41069,OR,County,1332,2627.63,75.08,75.08,2627.63
1388180,2021-06-24,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00,0.00,4044.12
1388404,2021-06-24,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00,0.00,4352.81
1388624,2021-06-24,Loving,Texas,2,0.00,48301,TX,County,169,1183.43,0.00,0.00,1183.43
1388821,2021-06-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
890199,2021-06-24,Hale,Alabama,2270,78.00,1065,AL,County,14651,15493.82,532.39,532.39,15493.82,1
969219,2021-06-24,Clarke,Alabama,3533,61.00,1025,AL,County,23622,14956.40,258.23,258.23,14956.40,2
696081,2021-06-24,Lowndes,Alabama,1421,54.00,1085,AL,County,9726,14610.32,555.21,555.21,14610.32,3
617026,2021-06-24,Etowah,Alabama,14192,364.00,1055,AL,County,102268,13877.26,355.93,355.93,13877.26,4
517566,2021-06-24,Franklin,Alabama,4320,82.00,1059,AL,County,31362,13774.63,261.46,261.46,13774.63,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313979,2021-06-24,Platte,Wyoming,679,12.00,56031,WY,County,8393,8090.08,142.98,142.98,8090.08,19
849431,2021-06-24,Converse,Wyoming,1034,18.00,56009,WY,County,13822,7480.83,130.23,130.23,7480.83,20
1056776,2021-06-24,Lincoln,Wyoming,1422,14.00,56023,WY,County,19830,7170.95,70.60,70.60,7170.95,21
1176742,2021-06-24,Niobrara,Wyoming,163,2.00,56027,WY,County,2356,6918.51,84.89,84.89,6918.51,22
1077785,2021-06-24,Crook,Wyoming,458,12.00,56011,WY,County,7584,6039.03,158.23,158.23,6039.03,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
696081,2021-06-24,Lowndes,Alabama,1421,54.00,1085,AL,County,9726,14610.32,555.21,555.21,14610.32,3,1
890199,2021-06-24,Hale,Alabama,2270,78.00,1065,AL,County,14651,15493.82,532.39,532.39,15493.82,1,2
615198,2021-06-24,Clay,Alabama,1601,59.00,1027,AL,County,13235,12096.71,445.79,445.79,12096.71,20,3
295545,2021-06-24,Walker,Alabama,7351,281.00,1127,AL,County,63521,11572.55,442.37,442.37,11572.55,28,4
616569,2021-06-24,Dallas,Alabama,3609,158.00,1047,AL,County,37196,9702.66,424.78,424.78,9702.66,55,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1056776,2021-06-24,Lincoln,Wyoming,1422,14.00,56023,WY,County,19830,7170.95,70.60,70.60,7170.95,21,19
748977,2021-06-24,Hot Springs,Wyoming,372,3.00,56017,WY,County,4413,8429.64,67.98,67.98,8429.64,17,20
1030344,2021-06-24,Uinta,Wyoming,2305,13.00,56041,WY,County,20226,11396.22,64.27,64.27,11396.22,5,21
294156,2021-06-24,Teton,Wyoming,3798,11.00,56039,WY,County,23464,16186.50,46.88,46.88,16186.50,1,22
693345,2021-06-24,Albany,Wyoming,4607,17.00,56001,WY,County,38880,11849.28,43.72,43.72,11849.28,4,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,72.86,4863.74,21,25
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,72.86,4863.74,21,25
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,72.86,4863.74,21,25
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,72.86,4863.74,21,25
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,72.86,4863.74,21,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385576,2021-06-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1385577,2021-06-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1385578,2021-06-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1385579,2021-06-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1385580,2021-06-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
886507,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15493.82,2,1,1.00
886508,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15493.82,2,1,0.00
886509,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15493.82,2,1,0.00
886510,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15493.82,2,1,0.00
886511,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,532.39,15493.82,2,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074540,2021-06-20,Crook,Wyoming,457,12.00,56011,WY,County,7584,6025.84,158.23,158.23,6039.03,7,23,0.00
1074541,2021-06-21,Crook,Wyoming,458,12.00,56011,WY,County,7584,6039.03,158.23,158.23,6039.03,7,23,1.00
1074542,2021-06-22,Crook,Wyoming,458,12.00,56011,WY,County,7584,6039.03,158.23,158.23,6039.03,7,23,0.00
1074543,2021-06-23,Crook,Wyoming,458,12.00,56011,WY,County,7584,6039.03,158.23,158.23,6039.03,7,23,0.00
1074544,2021-06-24,Crook,Wyoming,458,12.00,56011,WY,County,7584,6039.03,158.23,158.23,6039.03,7,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
693293,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14610.32,1,3,1.00,0.00
693294,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14610.32,1,3,0.00,0.00
693295,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14610.32,1,3,0.00,0.00
693296,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14610.32,1,3,0.00,0.00
693297,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14610.32,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691008,2021-06-20,Albany,Wyoming,4583,15.00,56001,WY,County,38880,11787.55,38.58,43.72,11849.28,23,4,0.00,0.00
691009,2021-06-21,Albany,Wyoming,4591,15.00,56001,WY,County,38880,11808.13,38.58,43.72,11849.28,23,4,8.00,0.00
691010,2021-06-22,Albany,Wyoming,4595,15.00,56001,WY,County,38880,11818.42,38.58,43.72,11849.28,23,4,4.00,0.00
691011,2021-06-23,Albany,Wyoming,4602,17.00,56001,WY,County,38880,11836.42,43.72,43.72,11849.28,23,4,7.00,2.00
691012,2021-06-24,Albany,Wyoming,4607,17.00,56001,WY,County,38880,11849.28,43.72,43.72,11849.28,23,4,5.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-06-24') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
352925,2021-06-24,Imperial,California,28908,741.00,6025,CA,County,181215,15952.32,408.91,408.91,15952.32,1,2,28.00,0.00
2587,2021-06-24,Los Angeles,California,1249083,24472.00,6037,CA,County,10039107,12442.17,243.77,243.77,12442.17,2,5,287.00,11.00
175517,2021-06-24,San Bernardino,California,299425,4886.00,6071,CA,County,2180085,13734.56,224.12,224.12,13734.56,3,4,53.00,13.00
618806,2021-06-24,Inyo,California,1434,38.00,6027,CA,County,18039,7949.44,210.65,210.65,7949.44,4,25,0.00,0.00
78381,2021-06-24,Stanislaus,California,63586,1071.00,6099,CA,County,550660,11547.23,194.49,194.49,11547.23,5,9,28.00,1.00
62335,2021-06-24,San Joaquin,California,74808,1440.00,6077,CA,County,762148,9815.42,188.94,188.94,9815.42,6,17,0.00,0.00
36267,2021-06-24,Riverside,California,301799,4627.00,6065,CA,County,2470546,12215.88,187.29,187.29,12215.88,7,7,0.00,0.00
97218,2021-06-24,Tulare,California,49823,850.00,6107,CA,County,466195,10687.16,182.33,182.33,10687.16,8,10,14.00,0.00
560657,2021-06-24,Merced,California,32325,481.00,6047,CA,County,277680,11641.10,173.22,173.22,11641.10,9,8,8.00,0.00
35317,2021-06-24,Fresno,California,103020,1724.00,6019,CA,County,999101,10311.27,172.56,172.56,10311.27,10,14,24.00,0.00
750740,2021-06-24,Kings,California,23214,247.00,6031,CA,County,152940,15178.50,161.50,161.50,15178.50,11,3,5.00,0.00
1555,2021-06-24,Orange,California,273170,5116.00,6059,CA,County,3175692,8601.90,161.10,161.10,8601.90,12,22,42.00,2.00
220761,2021-06-24,Kern,California,110847,1405.00,6029,CA,County,900202,12313.57,156.08,156.08,12313.57,13,6,0.00,0.00
35792,2021-06-24,Madera,California,16660,245.00,6039,CA,County,157327,10589.41,155.73,155.73,10589.41,14,12,8.00,0.00
54295,2021-06-24,Shasta,California,12615,235.00,6089,CA,County,180080,7005.22,130.50,130.50,7005.22,15,33,-1.00,0.00
850268,2021-06-24,Tuolumne,California,4222,71.00,6109,CA,County,54478,7749.92,130.33,130.33,7749.92,16,29,3.00,0.00
560199,2021-06-24,Calaveras,California,2201,56.00,6009,CA,County,45905,4794.68,121.99,121.99,4794.68,17,52,0.00,0.00
62807,2021-06-24,Ventura,California,81727,1032.00,6111,CA,County,846006,9660.33,121.98,121.98,9660.33,18,19,0.00,0.00
352463,2021-06-24,Amador,California,3742,47.00,6005,CA,County,39752,9413.36,118.23,118.23,9413.36,19,20,0.00,0.00
619263,2021-06-24,Sutter,California,9676,113.00,6101,CA,County,96971,9978.24,116.53,116.53,9978.24,20,16,4.00,0.00
3098,2021-06-24,Santa Clara,California,120233,2194.00,6085,CA,County,1927852,6236.63,113.81,113.81,6236.63,21,38,39.00,0.00
5124,2021-06-24,San Diego,California,282000,3777.00,6073,CA,County,3338330,8447.34,113.14,113.14,8447.34,22,23,70.00,6.00
7098,2021-06-24,Sacramento,California,108012,1738.00,6067,CA,County,1552058,6959.28,111.98,111.98,6959.28,23,34,100.00,1.00
221226,2021-06-24,Monterey,California,43858,456.00,6053,CA,County,434061,10104.11,105.05,105.05,10104.11,24,15,16.00,13.00
175984,2021-06-24,Santa Barbara,California,34631,455.00,6083,CA,County,446499,7756.12,101.90,101.90,7756.12,25,28,7.00,0.00
121182,2021-06-24,San Benito,California,6097,63.00,6069,CA,County,62808,9707.36,100.31,100.31,9707.36,26,18,-1.00,0.00
1029791,2021-06-24,Tehama,California,5119,63.00,6103,CA,County,65084,7865.22,96.80,96.80,7865.22,27,27,1.00,0.00
23894,2021-06-24,Yolo,California,14161,212.00,6113,CA,County,220500,6422.22,96.15,96.15,6422.22,28,35,4.00,0.00
802151,2021-06-24,Glenn,California,2959,27.00,6021,CA,County,28393,10421.58,95.09,95.09,10421.58,29,13,2.00,0.00
146974,2021-06-24,San Luis Obispo,California,21448,261.00,6079,CA,County,283111,7575.83,92.19,92.19,7575.83,30,30,0.00,0.00
417139,2021-06-24,Butte,California,12666,198.00,6007,CA,County,219186,5778.65,90.33,90.33,5778.65,31,42,4.00,0.00
9043,2021-06-24,Marin,California,14177,230.00,6041,CA,County,258826,5477.42,88.86,88.86,5477.42,32,46,3.00,0.00
418061,2021-06-24,Siskiyou,California,2399,38.00,6093,CA,County,43539,5510.00,87.28,87.28,5510.00,33,45,1.00,1.00
750285,2021-06-24,Colusa,California,2284,18.00,6011,CA,County,21547,10600.08,83.54,83.54,10600.08,34,11,0.00,0.00
1092824,2021-06-24,Lake,California,3566,53.00,6033,CA,County,64386,5538.47,82.32,82.32,5538.47,35,44,2.00,8.00
1313530,2021-06-24,Lassen,California,5799,24.00,6035,CA,County,30573,18967.72,78.50,78.50,18967.72,36,1,0.00,0.00
11460,2021-06-24,Alameda,California,89912,1286.00,6001,CA,County,1671329,5379.67,76.94,76.94,5379.67,37,48,72.00,6.00
36742,2021-06-24,Santa Cruz,California,16262,209.00,6087,CA,County,273213,5952.13,76.50,76.50,5952.13,38,40,16.00,0.00
13382,2021-06-24,San Mateo,California,42756,581.00,6081,CA,County,766573,5577.55,75.79,75.79,5577.55,39,43,31.00,0.00
12902,2021-06-24,Placer,California,23633,300.00,6061,CA,County,398329,5933.04,75.31,75.31,5933.04,40,41,0.00,0.00
200262,2021-06-24,Nevada,California,4924,75.00,6057,CA,County,99755,4936.09,75.18,75.18,4936.09,41,51,1.00,0.00
15781,2021-06-24,Contra Costa,California,70882,813.00,6013,CA,County,1153526,6144.81,70.48,70.48,6144.81,42,39,64.00,0.00
418522,2021-06-24,Yuba,California,6521,51.00,6115,CA,County,78668,8289.27,64.83,64.83,8289.27,43,24,2.00,0.00
10013,2021-06-24,Sonoma,California,30974,317.00,6097,CA,County,494336,6265.78,64.13,64.13,6265.78,44,37,17.00,0.00
4117,2021-06-24,San Francisco,California,37307,559.00,6075,CA,County,881549,4231.98,63.41,63.41,4231.98,45,53,17.00,3.00
417600,2021-06-24,El Dorado,California,10395,116.00,6017,CA,County,192843,5390.40,60.15,60.15,5390.40,46,47,15.00,0.00
7585,2021-06-24,Solano,California,33802,267.00,6095,CA,County,447643,7551.11,59.65,59.65,7551.11,47,31,0.00,0.00
9528,2021-06-24,Napa,California,10033,80.00,6055,CA,County,137744,7283.80,58.08,58.08,7283.80,48,32,3.00,0.00
253768,2021-06-24,Mendocino,California,4357,50.00,6045,CA,County,86749,5022.54,57.64,57.64,5022.54,49,50,6.00,0.00
1377533,2021-06-24,Modoc,California,563,5.00,6049,CA,County,8841,6368.06,56.55,56.55,6368.06,50,36,0.00,0.00
1261135,2021-06-24,Mariposa,California,466,7.00,6043,CA,County,17203,2708.83,40.69,40.69,2708.83,51,57,1.00,0.00
6608,2021-06-24,Humboldt,California,4528,49.00,6023,CA,County,135558,3340.27,36.15,36.15,3340.27,52,55,14.00,0.00
931703,2021-06-24,Plumas,California,736,6.00,6063,CA,County,18807,3913.44,31.90,31.90,3913.44,53,54,0.00,0.00
996571,2021-06-24,Del Norte,California,1468,8.00,6015,CA,County,27812,5278.30,28.76,28.76,5278.30,54,49,3.00,0.00
561115,2021-06-24,Mono,California,1295,4.00,6051,CA,County,14444,8965.66,27.69,27.69,8965.66,55,21,0.00,0.00
1294563,2021-06-24,Trinity,California,339,3.00,6105,CA,County,12285,2759.46,24.42,24.42,2759.46,56,56,1.00,0.00
889218,2021-06-24,Alpine,California,89,0.00,6003,CA,County,1129,7883.08,0.00,0.00,7883.08,57,26,0.00,0.00
1311137,2021-06-24,Sierra,California,57,0.00,6091,CA,County,3005,1896.84,0.00,0.00,1896.84,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1313530,2021-06-24,Lassen,California,5799,24.00,6035,CA,County,30573,18967.72,78.50,78.50,18967.72,36,1,0.00,0.00
352925,2021-06-24,Imperial,California,28908,741.00,6025,CA,County,181215,15952.32,408.91,408.91,15952.32,1,2,28.00,0.00
750740,2021-06-24,Kings,California,23214,247.00,6031,CA,County,152940,15178.50,161.50,161.50,15178.50,11,3,5.00,0.00
175517,2021-06-24,San Bernardino,California,299425,4886.00,6071,CA,County,2180085,13734.56,224.12,224.12,13734.56,3,4,53.00,13.00
2587,2021-06-24,Los Angeles,California,1249083,24472.00,6037,CA,County,10039107,12442.17,243.77,243.77,12442.17,2,5,287.00,11.00
220761,2021-06-24,Kern,California,110847,1405.00,6029,CA,County,900202,12313.57,156.08,156.08,12313.57,13,6,0.00,0.00
36267,2021-06-24,Riverside,California,301799,4627.00,6065,CA,County,2470546,12215.88,187.29,187.29,12215.88,7,7,0.00,0.00
560657,2021-06-24,Merced,California,32325,481.00,6047,CA,County,277680,11641.10,173.22,173.22,11641.10,9,8,8.00,0.00
78381,2021-06-24,Stanislaus,California,63586,1071.00,6099,CA,County,550660,11547.23,194.49,194.49,11547.23,5,9,28.00,1.00
97218,2021-06-24,Tulare,California,49823,850.00,6107,CA,County,466195,10687.16,182.33,182.33,10687.16,8,10,14.00,0.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
352925,2021-06-24,Imperial,California,28908,741.00,6025,CA,County,181215,15952.32,408.91,408.91,15952.32,1,2,28.00,0.00
2587,2021-06-24,Los Angeles,California,1249083,24472.00,6037,CA,County,10039107,12442.17,243.77,243.77,12442.17,2,5,287.00,11.00
175517,2021-06-24,San Bernardino,California,299425,4886.00,6071,CA,County,2180085,13734.56,224.12,224.12,13734.56,3,4,53.00,13.00
618806,2021-06-24,Inyo,California,1434,38.00,6027,CA,County,18039,7949.44,210.65,210.65,7949.44,4,25,0.00,0.00
78381,2021-06-24,Stanislaus,California,63586,1071.00,6099,CA,County,550660,11547.23,194.49,194.49,11547.23,5,9,28.00,1.00
62335,2021-06-24,San Joaquin,California,74808,1440.00,6077,CA,County,762148,9815.42,188.94,188.94,9815.42,6,17,0.00,0.00
36267,2021-06-24,Riverside,California,301799,4627.00,6065,CA,County,2470546,12215.88,187.29,187.29,12215.88,7,7,0.00,0.00
97218,2021-06-24,Tulare,California,49823,850.00,6107,CA,County,466195,10687.16,182.33,182.33,10687.16,8,10,14.00,0.00
560657,2021-06-24,Merced,California,32325,481.00,6047,CA,County,277680,11641.10,173.22,173.22,11641.10,9,8,8.00,0.00
35317,2021-06-24,Fresno,California,103020,1724.00,6019,CA,County,999101,10311.27,172.56,172.56,10311.27,10,14,24.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,408.91,15952.32,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,408.91,15952.32,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,408.91,15952.32,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,408.91,15952.32,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,408.91,15952.32,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4632,06/20/21,Lassen,5784,24.00,18918.65,78.50,78.50,18967.72,36,1,0.00,0.00
4633,06/21/21,Lassen,5784,24.00,18918.65,78.50,78.50,18967.72,36,1,0.00,0.00
4634,06/22/21,Lassen,5799,24.00,18967.72,78.50,78.50,18967.72,36,1,15.00,0.00
4635,06/23/21,Lassen,5799,24.00,18967.72,78.50,78.50,18967.72,36,1,0.00,0.00
4636,06/24/21,Lassen,5799,24.00,18967.72,78.50,78.50,18967.72,36,1,0.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,408.91,15952.32,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,408.91,15952.32,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,408.91,15952.32,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,408.91,15952.32,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,408.91,15952.32,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4718,06/20/21,Fresno,102922,1724.00,10301.46,172.56,172.56,10311.27,10,14,28.00,2.00
4719,06/21/21,Fresno,102947,1724.00,10303.96,172.56,172.56,10311.27,10,14,25.00,0.00
4720,06/22/21,Fresno,102971,1724.00,10306.37,172.56,172.56,10311.27,10,14,24.00,0.00
4721,06/23/21,Fresno,102996,1724.00,10308.87,172.56,172.56,10311.27,10,14,25.00,0.00
4722,06/24/21,Fresno,103020,1724.00,10311.27,172.56,172.56,10311.27,10,14,24.00,0.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)