In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr_new_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-recent.csv')
yr_new_df['fips'] = yr_new_df['fips'].fillna(0).astype(np.int64)
yr_new_df['date'] = pd.to_datetime(yr_new_df['date'], yearfirst=True)
yr2023_df = yr_new_df[(yr_new_df['date'] > '2022-12-31')]
yr2023_df['date'] = pd.to_datetime(yr2023_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df, yr2023_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df['date'] = pd.to_datetime(us_data_df['date'], yearfirst=True)
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
3201147,2023-02-07,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201148,2023-02-08,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201149,2023-02-09,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201150,2023-02-10,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201151,2023-02-11,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
81203,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81205,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81207,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81209,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81211,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1928221,2023-02-07,Arkansas,Arkansas,5001,6961,94.00,5000,Arkansas,AR,Arkansas,State,3017804
1928223,2023-02-08,Arkansas,Arkansas,5001,6963,94.00,5000,Arkansas,AR,Arkansas,State,3017804
1928225,2023-02-09,Arkansas,Arkansas,5001,6963,94.00,5000,Arkansas,AR,Arkansas,State,3017804
1928227,2023-02-10,Arkansas,Arkansas,5001,6964,94.00,5000,Arkansas,AR,Arkansas,State,3017804
1928229,2023-02-11,Arkansas,Arkansas,5001,6967,94.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
3201147,2023-02-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201148,2023-02-08,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201149,2023-02-09,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201150,2023-02-10,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201151,2023-02-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2023-02-11') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
1105,2023-02-11,Snohomish,Washington,203605,1433.00,53061,WA,County,822083,24766.96,174.31
2208,2023-02-11,Cook,Illinois,1515818,15768.00,17031,IL,County,5150233,29432.03,306.16
3310,2023-02-11,Orange,California,781660,7893.00,6059,CA,County,3175692,24613.85,248.54
4411,2023-02-11,Maricopa,Arizona,1499125,18756.00,4013,AZ,County,4485414,33422.22,418.16
5512,2023-02-11,Los Angeles,California,3688113,35425.00,6037,CA,County,10039107,36737.46,352.87
...,...,...,...,...,...,...,...,...,...,...,...
3197915,2023-02-11,Wheeler,Oregon,303,3.00,41069,OR,County,1332,22747.75,225.23
3198755,2023-02-11,King,Texas,56,0.00,48269,TX,County,272,20588.24,0.00
3199564,2023-02-11,Esmeralda,Nevada,124,5.00,32009,NV,County,873,14203.89,572.74
3200369,2023-02-11,Loving,Texas,396,1.00,48301,TX,County,169,234319.53,591.72
3201151,2023-02-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
1105,2023-02-11,Snohomish,Washington,203605,1433.00,53061,WA,County,822083,24766.96,174.31,174.31,24766.96
2208,2023-02-11,Cook,Illinois,1515818,15768.00,17031,IL,County,5150233,29432.03,306.16,306.16,29432.03
3310,2023-02-11,Orange,California,781660,7893.00,6059,CA,County,3175692,24613.85,248.54,248.54,24613.85
4411,2023-02-11,Maricopa,Arizona,1499125,18756.00,4013,AZ,County,4485414,33422.22,418.16,418.16,33422.22
5512,2023-02-11,Los Angeles,California,3688113,35425.00,6037,CA,County,10039107,36737.46,352.87,352.87,36737.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197915,2023-02-11,Wheeler,Oregon,303,3.00,41069,OR,County,1332,22747.75,225.23,225.23,22747.75
3198755,2023-02-11,King,Texas,56,0.00,48269,TX,County,272,20588.24,0.00,0.00,20588.24
3199564,2023-02-11,Esmeralda,Nevada,124,5.00,32009,NV,County,873,14203.89,572.74,572.74,14203.89
3200369,2023-02-11,Loving,Texas,396,1.00,48301,TX,County,169,234319.53,591.72,591.72,234319.53
3201151,2023-02-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1700578,2023-02-11,Winston,Alabama,9358,140.00,1133,AL,County,23629,39603.88,592.49,592.49,39603.88,1
2017494,2023-02-11,Hale,Alabama,5676,110.00,1065,AL,County,14651,38741.38,750.80,750.80,38741.38,2
1389153,2023-02-11,Clay,Alabama,5110,92.00,1027,AL,County,13235,38609.75,695.13,695.13,38609.75,3
1255654,2023-02-11,Morgan,Alabama,46029,550.00,1103,AL,County,119679,38460.38,459.56,459.56,38460.38,4
1166916,2023-02-11,Franklin,Alabama,11944,152.00,1059,AL,County,31362,38084.31,484.66,484.66,38084.31,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564907,2023-02-11,Park,Wyoming,7663,153.00,56029,WY,County,29194,26248.54,524.08,524.08,26248.54,19
2728644,2023-02-11,Big Horn,Wyoming,3069,65.00,56003,WY,County,11790,26030.53,551.31,551.31,26030.53,20
2400521,2023-02-11,Lincoln,Wyoming,4889,38.00,56023,WY,County,19830,24654.56,191.63,191.63,24654.56,21
1925115,2023-02-11,Sublette,Wyoming,2306,28.00,56035,WY,County,9831,23456.41,284.81,284.81,23456.41,22
2449025,2023-02-11,Crook,Wyoming,1558,32.00,56011,WY,County,7584,20543.25,421.94,421.94,20543.25,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1573581,2023-02-11,Lowndes,Alabama,3335,82.00,1085,AL,County,9726,34289.53,843.10,843.10,34289.53,23,1
1571499,2023-02-11,Crenshaw,Alabama,4704,109.00,1041,AL,County,13772,34156.26,791.46,791.46,34156.26,24,2
663510,2023-02-11,Walker,Alabama,23881,478.00,1127,AL,County,63521,37595.44,752.51,752.51,37595.44,7,3
2017494,2023-02-11,Hale,Alabama,5676,110.00,1065,AL,County,14651,38741.38,750.80,750.80,38741.38,2,4
1696418,2023-02-11,Covington,Alabama,11684,269.00,1039,AL,County,37049,31536.61,726.07,726.07,31536.61,43,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695378,2023-02-11,Johnson,Wyoming,2339,21.00,56019,WY,County,8445,27696.86,248.67,248.67,27696.86,15,19
2339574,2023-02-11,Uinta,Wyoming,6368,43.00,56041,WY,County,20226,31484.23,212.60,212.60,31484.23,11,20
2400521,2023-02-11,Lincoln,Wyoming,4889,38.00,56023,WY,County,19830,24654.56,191.63,191.63,24654.56,21,21
1567335,2023-02-11,Albany,Wyoming,11466,54.00,56001,WY,County,38880,29490.74,138.89,138.89,29490.74,13,22
660366,2023-02-11,Teton,Wyoming,12104,16.00,56039,WY,County,23464,51585.41,68.19,68.19,51585.41,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,174.31,24766.96,32,14
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,174.31,24766.96,32,14
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,174.31,24766.96,32,14
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,174.31,24766.96,32,14
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,174.31,24766.96,32,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193811,2023-02-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193812,2023-02-08,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193813,2023-02-09,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193814,2023-02-10,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193815,2023-02-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1694281,2020-03-27,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39603.88,20,1,2.00,nan
1694282,2020-03-28,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39603.88,20,1,0.00,nan
1694283,2020-03-29,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39603.88,20,1,0.00,nan
1694284,2020-03-30,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39603.88,20,1,0.00,nan
1694285,2020-03-31,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39603.88,20,1,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2441685,2023-02-07,Crook,Wyoming,1558,32.00,56011,WY,County,7584,20543.25,421.94,421.94,20543.25,9,23,14.00,0.57
2441686,2023-02-08,Crook,Wyoming,1558,32.00,56011,WY,County,7584,20543.25,421.94,421.94,20543.25,9,23,0.00,0.57
2441687,2023-02-09,Crook,Wyoming,1558,32.00,56011,WY,County,7584,20543.25,421.94,421.94,20543.25,9,23,0.00,0.57
2441688,2023-02-10,Crook,Wyoming,1558,32.00,56011,WY,County,7584,20543.25,421.94,421.94,20543.25,9,23,0.00,0.57
2441689,2023-02-11,Crook,Wyoming,1558,32.00,56011,WY,County,7584,20543.25,421.94,421.94,20543.25,9,23,0.00,0.57

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa['14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa['deaths'] = usa['deaths'].astype(int)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1567283,2020-03-26,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34289.53,1,23,1.00,2.43,0.00,nan
1567284,2020-03-27,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34289.53,1,23,0.00,2.43,0.00,nan
1567285,2020-03-28,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34289.53,1,23,0.00,2.43,0.00,nan
1567286,2020-03-29,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34289.53,1,23,0.00,1.50,0.00,nan
1567287,2020-03-30,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34289.53,1,23,0.00,1.50,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656146,2023-02-07,Teton,Wyoming,12104,16,56039,WY,County,23464,51585.41,68.19,68.19,51585.41,23,1,46.00,1.57,0.00,0.00
656147,2023-02-08,Teton,Wyoming,12104,16,56039,WY,County,23464,51585.41,68.19,68.19,51585.41,23,1,0.00,1.57,0.00,0.00
656148,2023-02-09,Teton,Wyoming,12104,16,56039,WY,County,23464,51585.41,68.19,68.19,51585.41,23,1,0.00,1.57,0.00,0.00
656149,2023-02-10,Teton,Wyoming,12104,16,56039,WY,County,23464,51585.41,68.19,68.19,51585.41,23,1,0.00,1.57,0.00,0.00
656150,2023-02-11,Teton,Wyoming,12104,16,56039,WY,County,23464,51585.41,68.19,68.19,51585.41,23,1,0.00,1.57,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2023-02-11') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-02-11,Imperial,California,88138,1024,6025,CA,County,181215,48637.25,565.07,565.07,48637.25,1,1,0.00,19.86,0.00,0.00
1926083,2023-02-11,Tuolumne,California,18023,210,6109,CA,County,54478,33083.08,385.48,385.48,33083.08,2,10,0.00,3.36,0.00,0.00
120400,2023-02-11,Shasta,California,44606,690,6089,CA,County,180080,24770.10,383.16,383.16,24770.10,3,38,0.00,4.43,0.00,0.00
392552,2023-02-11,San Bernardino,California,740945,8170,6071,CA,County,2180085,33986.98,374.76,374.76,33986.98,4,8,0.00,167.14,0.00,0.50
5512,2023-02-11,Los Angeles,California,3688113,35425,6037,CA,County,10039107,36737.46,352.87,352.87,36737.46,5,4,0.00,1005.00,0.00,13.93
1397441,2023-02-11,Inyo,California,6016,63,6027,CA,County,18039,33349.96,349.24,349.24,33349.96,6,9,0.00,2.79,0.00,0.00
1815956,2023-02-11,Glenn,California,7765,99,6021,CA,County,28393,27348.29,348.68,348.68,27348.29,7,24,0.00,1.14,0.00,0.00
2338436,2023-02-11,Tehama,California,17784,222,6103,CA,County,65084,27324.69,341.10,341.10,27324.69,8,25,0.00,3.07,0.00,0.00
216558,2023-02-11,Tulare,California,167304,1567,6107,CA,County,466195,35887.13,336.13,336.13,35887.13,9,5,0.00,63.29,0.00,0.57
174321,2023-02-11,Stanislaus,California,167175,1838,6099,CA,County,550660,30359.02,333.78,333.78,30359.02,10,15,0.00,41.57,0.00,1.57
3003595,2023-02-11,Lassen,California,11678,101,6035,CA,County,30573,38197.10,330.36,330.36,38197.10,11,3,0.00,0.00,0.00,0.00
79082,2023-02-11,Madera,California,54850,513,6039,CA,County,157327,34863.69,326.07,326.07,34863.69,12,6,0.00,10.14,0.00,0.00
1264997,2023-02-11,Merced,California,88596,903,6047,CA,County,277680,31905.79,325.19,325.19,31905.79,13,12,0.00,29.00,0.00,0.43
80142,2023-02-11,Riverside,California,771862,7941,6065,CA,County,2470546,31242.57,321.43,321.43,31242.57,14,14,0.00,178.36,0.00,0.00
138385,2023-02-11,San Joaquin,California,225118,2396,6077,CA,County,762148,29537.31,314.37,314.37,29537.31,15,18,0.00,55.86,0.00,0.36
1698440,2023-02-11,Kings,California,67011,471,6031,CA,County,152940,43815.22,307.96,307.96,43815.22,16,2,0.00,22.07,0.00,0.00
1263954,2023-02-11,Calaveras,California,9580,140,6009,CA,County,45905,20869.19,304.98,304.98,20869.19,17,52,0.00,2.50,0.00,0.00
78022,2023-02-11,Fresno,California,326568,2979,6019,CA,County,999101,32686.18,298.17,298.17,32686.18,18,11,0.00,174.07,0.00,1.21
494541,2023-02-11,Kern,California,308113,2613,6029,CA,County,900202,34227.10,290.27,290.27,34227.10,19,7,0.00,128.43,0.00,0.43
941051,2023-02-11,Siskiyou,California,8845,124,6093,CA,County,43539,20315.12,284.80,284.80,20315.12,20,53,0.00,1.21,0.00,0.00
3169388,2023-02-11,Modoc,California,1321,25,6049,CA,County,8841,14941.75,282.77,282.77,14941.75,21,56,0.00,0.29,0.00,0.00
2876905,2023-02-11,Mariposa,California,4528,44,6043,CA,County,17203,26320.99,255.77,255.77,26320.99,22,28,0.00,2.14,0.00,0.00
1398483,2023-02-11,Sutter,California,28122,247,6101,CA,County,96971,29000.42,254.72,254.72,29000.42,23,19,0.00,7.07,0.00,0.00
2112818,2023-02-11,Plumas,California,4276,47,6063,CA,County,18807,22736.22,249.91,249.91,22736.22,24,48,0.00,0.43,0.00,0.00
792383,2023-02-11,Amador,California,11462,99,6005,CA,County,39752,28833.77,249.04,249.04,28833.77,25,20,0.00,4.07,0.00,0.07
3310,2023-02-11,Orange,California,781660,7893,6059,CA,County,3175692,24613.85,248.54,248.54,24613.85,26,40,0.00,274.86,0.00,7.29
2483954,2023-02-11,Lake,California,14845,160,6033,CA,County,64386,23056.25,248.50,248.50,23056.25,27,46,0.00,4.00,0.00,0.00
2957133,2023-02-11,Trinity,California,1976,30,6105,CA,County,12285,16084.66,244.20,244.20,16084.66,28,55,0.00,0.79,0.00,0.00
938959,2023-02-11,Butte,California,51586,534,6007,CA,County,219186,23535.26,243.63,243.63,23535.26,29,44,0.00,13.57,0.00,0.00
1697400,2023-02-11,Colusa,California,5293,52,6011,CA,County,21547,24564.90,241.33,241.33,24564.90,30,41,0.00,1.29,0.00,0.00
15288,2023-02-11,Sacramento,California,405281,3687,6067,CA,County,1552058,26112.49,237.56,237.56,26112.49,31,31,0.00,123.57,0.00,2.14
2261926,2023-02-11,Del Norte,California,8253,61,6015,CA,County,27812,29674.24,219.33,219.33,29674.24,32,17,0.00,5.21,0.00,0.00
52559,2023-02-11,Yolo,California,54551,436,6113,CA,County,220500,24739.68,197.73,197.73,24739.68,33,39,0.00,16.21,0.00,0.00
139442,2023-02-11,Ventura,California,237790,1662,6111,CA,County,846006,28107.37,196.45,196.45,28107.37,34,21,0.00,60.43,0.00,0.86
328324,2023-02-11,San Luis Obispo,California,74141,552,6079,CA,County,283111,26187.96,194.98,194.98,26187.96,35,30,0.00,24.86,0.00,0.21
942097,2023-02-11,Yuba,California,21783,153,6115,CA,County,78668,27689.78,194.49,194.49,27689.78,36,23,0.00,5.50,0.00,0.00
495591,2023-02-11,Monterey,California,120378,820,6053,CA,County,434061,27732.97,188.91,188.91,27732.97,37,22,0.00,41.14,0.00,0.29
270357,2023-02-11,San Benito,California,18639,115,6069,CA,County,62808,29676.16,183.10,183.10,29676.16,38,16,0.00,5.86,0.00,0.00
10974,2023-02-11,San Diego,California,1059720,5885,6073,CA,County,3338330,31744.02,176.29,176.29,31744.02,39,13,0.00,330.14,0.00,0.00
28112,2023-02-11,Placer,California,90613,680,6061,CA,County,398329,22748.28,170.71,170.71,22748.28,40,47,0.00,25.43,0.00,0.07
393604,2023-02-11,Santa Barbara,California,119093,759,6083,CA,County,446499,26672.62,169.99,169.99,26672.62,41,27,0.00,38.71,0.00,0.29
448302,2023-02-11,Nevada,California,22314,166,6057,CA,County,99755,22368.80,166.41,166.41,22368.80,42,49,0.00,5.36,0.00,0.00
2997692,2023-02-11,Sierra,California,372,5,6091,CA,County,3005,12379.37,166.39,166.39,12379.37,43,58,0.00,0.00,0.00,0.00
569083,2023-02-11,Mendocino,California,21605,142,6045,CA,County,86749,24905.19,163.69,163.69,24905.19,44,37,0.00,6.14,0.00,0.21
940005,2023-02-11,El Dorado,California,38876,305,6017,CA,County,192843,20159.40,158.16,158.16,20159.40,45,54,0.00,6.64,0.00,0.00
16360,2023-02-11,Solano,California,121422,707,6095,CA,County,447643,27124.74,157.94,157.94,27124.74,46,26,0.00,53.14,0.00,0.00
6608,2023-02-11,Santa Clara,California,492070,2681,6085,CA,County,1927852,25524.26,139.07,139.07,25524.26,47,33,0.00,198.21,0.00,1.86
34501,2023-02-11,Contra Costa,California,292220,1523,6013,CA,County,1153526,25332.76,132.03,132.03,25332.76,48,34,0.00,117.29,0.00,0.14
8797,2023-02-11,San Francisco,California,207296,1154,6075,CA,County,881549,23514.97,130.91,130.91,23514.97,49,45,0.00,100.50,0.00,0.14
24915,2023-02-11,Alameda,California,397458,2165,6001,CA,County,1671329,23780.96,129.54,129.54,23780.96,50,43,0.00,146.64,0.00,1.07
81202,2023-02-11,Santa Cruz,California,71601,348,6087,CA,County,273213,26207.03,127.37,127.37,26207.03,51,29,0.00,25.93,0.00,0.00
14213,2023-02-11,Humboldt,California,28949,169,6023,CA,County,135558,21355.43,124.67,124.67,21355.43,52,50,0.00,7.57,0.00,0.00
19573,2023-02-11,Marin,California,54269,317,6041,CA,County,258826,20967.37,122.48,122.48,20967.37,53,51,0.00,18.64,0.00,0.00
20643,2023-02-11,Napa,California,35669,165,6055,CA,County,137744,25895.14,119.79,119.79,25895.14,54,32,0.00,13.07,0.00,0.07
29177,2023-02-11,San Mateo,California,192530,909,6081,CA,County,766573,25115.68,118.58,118.58,25115.68,55,35,0.00,86.50,0.00,0.86
1266040,2023-02-11,Mono,California,3618,17,6051,CA,County,14444,25048.46,117.70,117.70,25048.46,56,36,0.00,0.64,0.00,0.00
21713,2023-02-11,Sonoma,California,118508,564,6097,CA,County,494336,23973.17,114.09,114.09,23973.17,57,42,0.00,31.00,0.00,0.00
2015343,2023-02-11,Alpine,California,143,0,6003,CA,County,1129,12666.08,0.00,0.00,12666.08,58,57,0.00,0.00,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-02-11,Imperial,California,88138,1024,6025,CA,County,181215,48637.25,565.07,565.07,48637.25,1,1,0.00,19.86,0.00,0.00
1698440,2023-02-11,Kings,California,67011,471,6031,CA,County,152940,43815.22,307.96,307.96,43815.22,16,2,0.00,22.07,0.00,0.00
3003595,2023-02-11,Lassen,California,11678,101,6035,CA,County,30573,38197.10,330.36,330.36,38197.10,11,3,0.00,0.00,0.00,0.00
5512,2023-02-11,Los Angeles,California,3688113,35425,6037,CA,County,10039107,36737.46,352.87,352.87,36737.46,5,4,0.00,1005.00,0.00,13.93
216558,2023-02-11,Tulare,California,167304,1567,6107,CA,County,466195,35887.13,336.13,336.13,35887.13,9,5,0.00,63.29,0.00,0.57
79082,2023-02-11,Madera,California,54850,513,6039,CA,County,157327,34863.69,326.07,326.07,34863.69,12,6,0.00,10.14,0.00,0.00
494541,2023-02-11,Kern,California,308113,2613,6029,CA,County,900202,34227.10,290.27,290.27,34227.10,19,7,0.00,128.43,0.00,0.43
392552,2023-02-11,San Bernardino,California,740945,8170,6071,CA,County,2180085,33986.98,374.76,374.76,33986.98,4,8,0.00,167.14,0.00,0.50
1397441,2023-02-11,Inyo,California,6016,63,6027,CA,County,18039,33349.96,349.24,349.24,33349.96,6,9,0.00,2.79,0.00,0.00
1926083,2023-02-11,Tuolumne,California,18023,210,6109,CA,County,54478,33083.08,385.48,385.48,33083.08,2,10,0.00,3.36,0.00,0.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-02-11,Imperial,California,88138,1024,6025,CA,County,181215,48637.25,565.07,565.07,48637.25,1,1,0.00,19.86,0.00,0.00
1926083,2023-02-11,Tuolumne,California,18023,210,6109,CA,County,54478,33083.08,385.48,385.48,33083.08,2,10,0.00,3.36,0.00,0.00
120400,2023-02-11,Shasta,California,44606,690,6089,CA,County,180080,24770.10,383.16,383.16,24770.10,3,38,0.00,4.43,0.00,0.00
392552,2023-02-11,San Bernardino,California,740945,8170,6071,CA,County,2180085,33986.98,374.76,374.76,33986.98,4,8,0.00,167.14,0.00,0.50
5512,2023-02-11,Los Angeles,California,3688113,35425,6037,CA,County,10039107,36737.46,352.87,352.87,36737.46,5,4,0.00,1005.00,0.00,13.93
1397441,2023-02-11,Inyo,California,6016,63,6027,CA,County,18039,33349.96,349.24,349.24,33349.96,6,9,0.00,2.79,0.00,0.00
1815956,2023-02-11,Glenn,California,7765,99,6021,CA,County,28393,27348.29,348.68,348.68,27348.29,7,24,0.00,1.14,0.00,0.00
2338436,2023-02-11,Tehama,California,17784,222,6103,CA,County,65084,27324.69,341.10,341.10,27324.69,8,25,0.00,3.07,0.00,0.00
216558,2023-02-11,Tulare,California,167304,1567,6107,CA,County,466195,35887.13,336.13,336.13,35887.13,9,5,0.00,63.29,0.00,0.57
174321,2023-02-11,Stanislaus,California,167175,1838,6099,CA,County,550660,30359.02,333.78,333.78,30359.02,10,15,0.00,41.57,0.00,1.57

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df['case_day'] = top10_ca_case_df['case_day'].astype(int)
top10_ca_case_df['date'] =  pd.to_datetime(top10_ca_case_df['date'], infer_datetime_format=True)
top10_ca_case_df

            date    county   cases  current_crate  case_day  14day_case_avg
0     2020-03-20  Imperial       4           2.21         4            0.64
1     2020-03-21  Imperial       4           2.21         0            0.64
2     2020-03-22  Imperial       4           2.21         0            0.64
3     2020-03-23  Imperial       4           2.21         0            0.57
4     2020-03-24  Imperial       9           4.97         5            0.93
...          ...       ...     ...            ...       ...             ...
10463 2023-02-07      Kern  307235       34129.56         0          148.14
10464 2023-02-08      Kern  307235       34129.56         0          148.14
10465 2023-02-09      Kern  308113       34227.10       878          128.43
10466 2023-02-10      Kern  308113       34227.10         0          128.43
10467 2023-02-11      Kern  308113       34227.10         0          128.43

[10468 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df['death_day'] = top10_ca_death_df['death_day'].astype(int)
top10_ca_death_df['date'] =  pd.to_datetime(top10_ca_death_df['date'], infer_datetime_format=True)
top10_ca_death_df

,date,county,deaths,current_drate,death_day,14day_death_avg
0,2020-03-20,Imperial,0,0.00,0,0.00
1,2020-03-21,Imperial,0,0.00,0,0.00
2,2020-03-22,Imperial,0,0.00,0,0.00
3,2020-03-23,Imperial,0,0.00,0,0.00
4,2020-03-24,Imperial,0,0.00,0,0.00
...,...,...,...,...,...,...
10516,2023-02-07,Stanislaus,1827,331.78,0,0.86
10517,2023-02-08,Stanislaus,1827,331.78,0,0.86
10518,2023-02-09,Stanislaus,1838,333.78,11,1.57
10519,2023-02-10,Stanislaus,1838,333.78,0,1.57
10520,2023-02-11,Stanislaus,1838,333.78,0,1.57

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)