In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2315119,2022-04-15,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2315120,2022-04-16,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2315121,2022-04-17,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2315122,2022-04-18,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2315123,2022-04-19,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
59467,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
59469,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
59471,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
59473,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
59475,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1401695,2022-04-15,Arkansas,Arkansas,5001,5682,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1401697,2022-04-16,Arkansas,Arkansas,5001,5681,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1401699,2022-04-17,Arkansas,Arkansas,5001,5681,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1401701,2022-04-18,Arkansas,Arkansas,5001,5681,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1401703,2022-04-19,Arkansas,Arkansas,5001,5681,79.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2315119,2022-04-15,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2315120,2022-04-16,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2315121,2022-04-17,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2315122,2022-04-18,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2315123,2022-04-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-04-19') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
819,2022-04-19,Snohomish,Washington,152500,1129.00,53061,WA,County,822083,18550.44,137.33
1636,2022-04-19,Cook,Illinois,1144935,14869.00,17031,IL,County,5150233,22230.74,288.71
2452,2022-04-19,Orange,California,590828,6966.00,6059,CA,County,3175692,18604.70,219.35
3267,2022-04-19,Maricopa,Arizona,1273651,17079.00,4013,AZ,County,4485414,28395.39,380.77
4082,2022-04-19,Los Angeles,California,2855271,31884.00,6037,CA,County,10039107,28441.48,317.60
...,...,...,...,...,...,...,...,...,...,...,...
2313031,2022-04-19,Wheeler,Oregon,243,3.00,41069,OR,County,1332,18243.24,225.23
2313585,2022-04-19,King,Texas,51,0.00,48269,TX,County,272,18750.00,0.00
2314108,2022-04-19,Esmeralda,Nevada,109,3.00,32009,NV,County,873,12485.68,343.64
2314627,2022-04-19,Loving,Texas,185,1.00,48301,TX,County,169,109467.46,591.72
2315123,2022-04-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
819,2022-04-19,Snohomish,Washington,152500,1129.00,53061,WA,County,822083,18550.44,137.33,137.33,18550.44
1636,2022-04-19,Cook,Illinois,1144935,14869.00,17031,IL,County,5150233,22230.74,288.71,288.71,22230.74
2452,2022-04-19,Orange,California,590828,6966.00,6059,CA,County,3175692,18604.70,219.35,219.35,18604.70
3267,2022-04-19,Maricopa,Arizona,1273651,17079.00,4013,AZ,County,4485414,28395.39,380.77,380.77,28395.39
4082,2022-04-19,Los Angeles,California,2855271,31884.00,6037,CA,County,10039107,28441.48,317.60,317.60,28441.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2313031,2022-04-19,Wheeler,Oregon,243,3.00,41069,OR,County,1332,18243.24,225.23,225.23,18243.24
2313585,2022-04-19,King,Texas,51,0.00,48269,TX,County,272,18750.00,0.00,0.00,18750.00
2314108,2022-04-19,Esmeralda,Nevada,109,3.00,32009,NV,County,873,12485.68,343.64,343.64,12485.68
2314627,2022-04-19,Loving,Texas,185,1.00,48301,TX,County,169,109467.46,591.72,591.72,109467.46
2315123,2022-04-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1466372,2022-04-19,Hale,Alabama,4722,106.00,1065,AL,County,14651,32229.88,723.50,723.50,32229.88,1
1236686,2022-04-19,Winston,Alabama,7569,130.00,1133,AL,County,23629,32032.67,550.17,550.17,32032.67,2
849456,2022-04-19,Franklin,Alabama,9864,138.00,1059,AL,County,31362,31452.08,440.02,440.02,31452.08,3
1010775,2022-04-19,Clay,Alabama,4082,81.00,1027,AL,County,13235,30842.46,612.01,612.01,30842.46,4
1465621,2022-04-19,Fayette,Alabama,4983,96.00,1057,AL,County,16302,30566.80,588.88,588.88,30566.80,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980468,2022-04-19,Big Horn,Wyoming,2580,60.00,56003,WY,County,11790,21882.95,508.91,508.91,21882.95,19
1232916,2022-04-19,Johnson,Wyoming,1845,19.00,56019,WY,County,8445,21847.25,224.99,224.99,21847.25,20
1743579,2022-04-19,Lincoln,Wyoming,3972,31.00,56023,WY,County,19830,20030.26,156.33,156.33,20030.26,21
1399447,2022-04-19,Sublette,Wyoming,1922,27.00,56035,WY,County,9831,19550.40,274.64,274.64,19550.40,22
1778641,2022-04-19,Crook,Wyoming,1347,28.00,56011,WY,County,7584,17761.08,369.20,369.20,17761.08,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1144581,2022-04-19,Lowndes,Alabama,2611,76.00,1085,AL,County,9726,26845.57,781.41,781.41,26845.57,31,1
1466372,2022-04-19,Hale,Alabama,4722,106.00,1065,AL,County,14651,32229.88,723.50,723.50,32229.88,1,2
1143071,2022-04-19,Crenshaw,Alabama,3802,99.00,1041,AL,County,13772,27606.74,718.85,718.85,27606.74,25,3
483616,2022-04-19,Walker,Alabama,18726,443.00,1127,AL,County,63521,29480.01,697.41,697.41,29480.01,9,4
1008507,2022-04-19,Butler,Alabama,5059,129.00,1013,AL,County,19448,26012.96,663.31,663.31,26012.96,37,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232916,2022-04-19,Johnson,Wyoming,1845,19.00,56019,WY,County,8445,21847.25,224.99,224.99,21847.25,20,19
1699506,2022-04-19,Uinta,Wyoming,5625,39.00,56041,WY,County,20226,27810.74,192.82,192.82,27810.74,7,20
1743579,2022-04-19,Lincoln,Wyoming,3972,31.00,56023,WY,County,19830,20030.26,156.33,156.33,20030.26,21,21
1140051,2022-04-19,Albany,Wyoming,9894,48.00,56001,WY,County,38880,25447.53,123.46,123.46,25447.53,14,22
481330,2022-04-19,Teton,Wyoming,9975,16.00,56039,WY,County,23464,42511.93,68.19,68.19,42511.93,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,137.33,18550.44,30,17
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,137.33,18550.44,30,17
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,137.33,18550.44,30,17
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,137.33,18550.44,30,17
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,137.33,18550.44,30,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309785,2022-04-15,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2309786,2022-04-16,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2309787,2022-04-17,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2309788,2022-04-18,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2309789,2022-04-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1460288,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32229.88,2,1,1.00,nan
1460289,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32229.88,2,1,0.00,nan
1460290,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32229.88,2,1,0.00,nan
1460291,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32229.88,2,1,0.00,nan
1460292,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,723.50,32229.88,2,1,2.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1773303,2022-04-15,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17761.08,9,23,0.00,0.00
1773304,2022-04-16,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17761.08,9,23,0.00,0.00
1773305,2022-04-17,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17761.08,9,23,0.00,0.00
1773306,2022-04-18,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17761.08,9,23,0.00,0.00
1773307,2022-04-19,Crook,Wyoming,1347,28.00,56011,WY,County,7584,17761.08,369.20,369.20,17761.08,9,23,1.00,0.07

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa[ '14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1139999,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,781.41,26845.57,1,31,1.00,0.21,0.00,nan
1140000,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,781.41,26845.57,1,31,0.00,0.21,0.00,nan
1140001,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,781.41,26845.57,1,31,0.00,0.21,0.00,nan
1140002,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,781.41,26845.57,1,31,0.00,0.21,0.00,nan
1140003,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,781.41,26845.57,1,31,0.00,0.21,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478254,2022-04-15,Teton,Wyoming,9945,16.00,56039,WY,County,23464,42384.08,68.19,68.19,42511.93,23,1,0.00,1.93,0.00,0.00
478255,2022-04-16,Teton,Wyoming,9945,16.00,56039,WY,County,23464,42384.08,68.19,68.19,42511.93,23,1,0.00,1.93,0.00,0.00
478256,2022-04-17,Teton,Wyoming,9945,16.00,56039,WY,County,23464,42384.08,68.19,68.19,42511.93,23,1,0.00,1.93,0.00,0.00
478257,2022-04-18,Teton,Wyoming,9945,16.00,56039,WY,County,23464,42384.08,68.19,68.19,42511.93,23,1,0.00,1.93,0.00,0.00
478258,2022-04-19,Teton,Wyoming,9975,16.00,56039,WY,County,23464,42511.93,68.19,68.19,42511.93,23,1,30.00,3.64,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-04-19') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
578072,2022-04-19,Imperial,California,66723,909.00,6025,CA,County,181215,36819.80,501.61,501.61,36819.80,1,1,34.00,21.50,0.00,0.14
88082,2022-04-19,Shasta,California,36771,621.00,6089,CA,County,180080,20419.26,344.85,344.85,20419.26,2,28,4.00,1.79,0.00,0.79
1400129,2022-04-19,Tuolumne,California,13493,181.00,6109,CA,County,54478,24767.80,332.24,332.24,24767.80,3,14,0.00,2.14,0.00,0.00
286446,2022-04-19,San Bernardino,California,590227,6977.00,6071,CA,County,2180085,27073.58,320.03,320.03,27073.58,4,7,1008.00,278.86,29.00,6.71
4082,2022-04-19,Los Angeles,California,2855271,31884.00,6037,CA,County,10039107,28441.48,317.60,317.60,28441.48,5,5,861.00,1224.07,12.00,11.57
1016775,2022-04-19,Inyo,California,4569,56.00,6027,CA,County,18039,25328.46,310.44,310.44,25328.46,6,11,0.00,1.21,0.00,0.00
158214,2022-04-19,Tulare,California,134546,1439.00,6107,CA,County,466195,28860.46,308.67,308.67,28860.46,7,4,217.00,91.93,4.00,1.79
127417,2022-04-19,Stanislaus,California,136645,1694.00,6099,CA,County,550660,24814.77,307.63,307.63,24814.77,8,13,0.00,0.00,0.00,0.00
1698654,2022-04-19,Tehama,California,14690,199.00,6103,CA,County,65084,22570.83,305.76,305.76,22570.83,9,20,0.00,2.50,0.00,0.07
920653,2022-04-19,Merced,California,72311,818.00,6047,CA,County,277680,26041.13,294.58,294.58,26041.13,10,9,15.00,19.50,0.00,0.21
101205,2022-04-19,San Joaquin,California,175838,2222.00,6077,CA,County,762148,23071.37,291.54,291.54,23071.37,11,18,-114.00,16.79,2.00,1.07
1235120,2022-04-19,Kings,California,55198,445.00,6031,CA,County,152940,36091.28,290.96,290.96,36091.28,12,2,27.00,5.93,0.00,0.14
57144,2022-04-19,Fresno,California,254703,2740.00,6019,CA,County,999101,25493.22,274.25,274.25,25493.22,13,10,113.00,73.36,1.00,1.07
58692,2022-04-19,Riverside,California,620454,6504.00,6065,CA,County,2470546,25114.04,263.26,263.26,25114.04,14,12,452.00,106.07,7.00,1.71
360693,2022-04-19,Kern,California,243003,2344.00,6029,CA,County,900202,26994.27,260.39,260.39,26994.27,15,8,115.00,28.93,10.00,2.86
919896,2022-04-19,Calaveras,California,7646,119.00,6009,CA,County,45905,16656.14,259.23,259.23,16656.14,16,49,13.00,2.29,0.00,-0.07
685367,2022-04-19,Siskiyou,California,7424,105.00,6093,CA,County,43539,17051.38,241.16,241.16,17051.38,17,47,0.00,0.79,0.00,0.00
1017531,2022-04-19,Sutter,California,22768,233.00,6101,CA,County,96971,23479.18,240.28,240.28,23479.18,18,16,0.00,6.64,0.00,0.14
1320318,2022-04-19,Glenn,California,6566,67.00,6021,CA,County,28393,23125.42,235.97,235.97,23125.42,19,17,-3.00,0.21,0.00,0.07
2177341,2022-04-19,Lassen,California,10723,69.00,6035,CA,County,30573,35073.43,225.69,225.69,35073.43,20,3,0.00,0.43,0.00,0.00
57918,2022-04-19,Madera,California,43445,354.00,6039,CA,County,157327,27614.46,225.01,225.01,27614.46,21,6,0.00,2.07,0.00,0.00
2452,2022-04-19,Orange,California,590828,6966.00,6059,CA,County,3175692,18604.70,219.35,219.35,18604.70,22,35,825.00,212.57,8.00,4.64
577311,2022-04-19,Amador,California,9139,86.00,6005,CA,County,39752,22990.04,216.34,216.34,22990.04,23,19,3.00,0.43,0.00,0.00
1803846,2022-04-19,Lake,California,11614,134.00,6033,CA,County,64386,18038.08,208.12,208.12,18038.08,24,39,9.00,2.64,0.00,-0.14
11284,2022-04-19,Sacramento,California,306300,3116.00,6067,CA,County,1552058,19735.09,200.77,200.77,19735.09,25,31,803.00,203.57,0.00,2.57
2086973,2022-04-19,Mariposa,California,3045,34.00,6043,CA,County,17203,17700.40,197.64,197.64,17700.40,26,40,0.00,2.07,0.00,0.00
683847,2022-04-19,Butte,California,39766,408.00,6007,CA,County,219186,18142.58,186.14,186.14,18142.58,27,37,30.00,7.64,3.00,0.86
1643308,2022-04-19,Del Norte,California,6247,50.00,6015,CA,County,27812,22461.53,179.78,179.78,22461.53,28,22,11.00,2.07,0.00,0.00
101976,2022-04-19,Ventura,California,183210,1482.00,6111,CA,County,846006,21655.87,175.18,175.18,21655.87,29,23,239.00,53.50,0.00,0.93
361457,2022-04-19,Monterey,California,93413,735.00,6053,CA,County,434061,21520.71,169.33,169.33,21520.71,30,24,108.00,44.86,0.00,0.14
239664,2022-04-19,San Luis Obispo,California,56557,476.00,6079,CA,County,283111,19976.97,168.13,168.13,19976.97,31,30,42.00,15.71,0.00,0.07
2144321,2022-04-19,Trinity,California,1471,20.00,6105,CA,County,12285,11973.95,162.80,162.80,11973.95,32,55,0.00,0.36,0.00,0.00
8114,2022-04-19,San Diego,California,809083,5231.00,6073,CA,County,3338330,24236.16,156.70,156.70,24236.16,33,15,973.00,292.86,2.00,2.79
197427,2022-04-19,San Benito,California,13492,98.00,6069,CA,County,62808,21481.34,156.03,156.03,21481.34,34,26,45.00,4.57,0.00,0.00
20676,2022-04-19,Placer,California,70301,620.00,6061,CA,County,398329,17648.98,155.65,155.65,17648.98,35,41,46.00,11.21,0.00,0.36
686127,2022-04-19,Yuba,California,17720,121.00,6115,CA,County,78668,22525.04,153.81,153.81,22525.04,36,21,0.00,3.29,0.00,0.00
287212,2022-04-19,Santa Barbara,California,91073,685.00,6083,CA,County,446499,20397.13,153.42,153.42,20397.13,37,29,184.00,42.93,1.00,0.43
38545,2022-04-19,Yolo,California,40000,311.00,6113,CA,County,220500,18140.59,141.04,141.04,18140.59,38,38,33.00,29.43,-1.00,-0.21
414929,2022-04-19,Mendocino,California,16191,122.00,6045,CA,County,86749,18664.19,140.64,140.64,18664.19,39,34,21.00,8.79,0.00,0.21
2173154,2022-04-19,Sierra,California,318,4.00,6091,CA,County,3005,10582.36,133.11,133.11,10582.36,40,58,0.00,0.29,0.00,0.00
327038,2022-04-19,Nevada,California,17250,127.00,6057,CA,County,99755,17292.37,127.31,127.31,17292.37,41,45,20.00,4.50,4.00,0.29
4892,2022-04-19,Santa Clara,California,328915,2275.00,6085,CA,County,1927852,17061.22,118.01,118.01,17061.22,42,46,1059.00,227.14,6.00,0.64
25349,2022-04-19,Contra Costa,California,203424,1299.00,6013,CA,County,1153526,17634.97,112.61,112.61,17634.97,43,42,300.00,93.64,1.00,0.21
18337,2022-04-19,Alameda,California,273111,1862.00,6001,CA,County,1671329,16340.95,111.41,111.41,16340.95,44,50,837.00,219.07,0.00,1.43
14425,2022-04-19,Marin,California,36297,288.00,6041,CA,County,258826,14023.71,111.27,111.27,14023.71,45,54,156.00,34.36,0.00,0.00
684607,2022-04-19,El Dorado,California,30039,209.00,6017,CA,County,192843,15576.92,108.38,108.38,15576.92,46,51,25.00,5.93,0.00,0.29
10495,2022-04-19,Humboldt,California,20134,145.00,6023,CA,County,135558,14852.68,106.97,106.97,14852.68,47,53,0.00,9.43,2.00,0.36
15209,2022-04-19,Napa,California,26994,143.00,6055,CA,County,137744,19597.22,103.82,103.82,19597.22,48,32,87.00,16.79,0.00,0.00
12070,2022-04-19,Solano,California,87416,447.00,6095,CA,County,447643,19528.06,99.86,99.86,19528.06,49,33,60.00,5.29,0.00,0.00
15993,2022-04-19,Sonoma,California,86988,489.00,6097,CA,County,494336,17596.94,98.92,98.92,17596.94,50,43,257.00,79.00,1.00,0.07
21455,2022-04-19,San Mateo,California,130380,751.00,6081,CA,County,766573,17008.16,97.97,97.97,17008.16,51,48,627.00,162.86,0.00,0.43
1234366,2022-04-19,Colusa,California,4534,21.00,6011,CA,County,21547,21042.37,97.46,97.46,21042.37,52,27,2.00,0.50,0.00,0.00
6509,2022-04-19,San Francisco,California,136065,854.00,6075,CA,County,881549,15434.76,96.87,96.87,15434.76,53,52,618.00,151.43,0.00,0.79
59466,2022-04-19,Santa Cruz,California,50138,261.00,6087,CA,County,273213,18351.25,95.53,95.53,18351.25,54,36,102.00,43.21,0.00,0.14
2293370,2022-04-19,Modoc,California,997,8.00,6049,CA,County,8841,11277.00,90.49,90.49,11277.00,55,56,1.00,0.29,0.00,0.00
1535384,2022-04-19,Plumas,California,3298,13.00,6063,CA,County,18807,17536.02,69.12,69.12,17536.02,56,44,3.00,6.29,0.00,-0.07
921410,2022-04-19,Mono,California,3107,6.00,6051,CA,County,14444,21510.66,41.54,41.54,21510.66,57,25,7.00,1.29,0.00,0.00
1464793,2022-04-19,Alpine,California,125,0.00,6003,CA,County,1129,11071.74,0.00,0.00,11071.74,58,57,0.00,0.00,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
578072,2022-04-19,Imperial,California,66723,909.00,6025,CA,County,181215,36819.80,501.61,501.61,36819.80,1,1,34.00,21.50,0.00,0.14
1235120,2022-04-19,Kings,California,55198,445.00,6031,CA,County,152940,36091.28,290.96,290.96,36091.28,12,2,27.00,5.93,0.00,0.14
2177341,2022-04-19,Lassen,California,10723,69.00,6035,CA,County,30573,35073.43,225.69,225.69,35073.43,20,3,0.00,0.43,0.00,0.00
158214,2022-04-19,Tulare,California,134546,1439.00,6107,CA,County,466195,28860.46,308.67,308.67,28860.46,7,4,217.00,91.93,4.00,1.79
4082,2022-04-19,Los Angeles,California,2855271,31884.00,6037,CA,County,10039107,28441.48,317.60,317.60,28441.48,5,5,861.00,1224.07,12.00,11.57
57918,2022-04-19,Madera,California,43445,354.00,6039,CA,County,157327,27614.46,225.01,225.01,27614.46,21,6,0.00,2.07,0.00,0.00
286446,2022-04-19,San Bernardino,California,590227,6977.00,6071,CA,County,2180085,27073.58,320.03,320.03,27073.58,4,7,1008.00,278.86,29.00,6.71
360693,2022-04-19,Kern,California,243003,2344.00,6029,CA,County,900202,26994.27,260.39,260.39,26994.27,15,8,115.00,28.93,10.00,2.86
920653,2022-04-19,Merced,California,72311,818.00,6047,CA,County,277680,26041.13,294.58,294.58,26041.13,10,9,15.00,19.50,0.00,0.21
57144,2022-04-19,Fresno,California,254703,2740.00,6019,CA,County,999101,25493.22,274.25,274.25,25493.22,13,10,113.00,73.36,1.00,1.07

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
578072,2022-04-19,Imperial,California,66723,909.00,6025,CA,County,181215,36819.80,501.61,501.61,36819.80,1,1,34.00,21.50,0.00,0.14
88082,2022-04-19,Shasta,California,36771,621.00,6089,CA,County,180080,20419.26,344.85,344.85,20419.26,2,28,4.00,1.79,0.00,0.79
1400129,2022-04-19,Tuolumne,California,13493,181.00,6109,CA,County,54478,24767.80,332.24,332.24,24767.80,3,14,0.00,2.14,0.00,0.00
286446,2022-04-19,San Bernardino,California,590227,6977.00,6071,CA,County,2180085,27073.58,320.03,320.03,27073.58,4,7,1008.00,278.86,29.00,6.71
4082,2022-04-19,Los Angeles,California,2855271,31884.00,6037,CA,County,10039107,28441.48,317.60,317.60,28441.48,5,5,861.00,1224.07,12.00,11.57
1016775,2022-04-19,Inyo,California,4569,56.00,6027,CA,County,18039,25328.46,310.44,310.44,25328.46,6,11,0.00,1.21,0.00,0.00
158214,2022-04-19,Tulare,California,134546,1439.00,6107,CA,County,466195,28860.46,308.67,308.67,28860.46,7,4,217.00,91.93,4.00,1.79
127417,2022-04-19,Stanislaus,California,136645,1694.00,6099,CA,County,550660,24814.77,307.63,307.63,24814.77,8,13,0.00,0.00,0.00,0.00
1698654,2022-04-19,Tehama,California,14690,199.00,6103,CA,County,65084,22570.83,305.76,305.76,22570.83,9,20,0.00,2.50,0.00,0.07
920653,2022-04-19,Merced,California,72311,818.00,6047,CA,County,277680,26041.13,294.58,294.58,26041.13,10,9,15.00,19.50,0.00,0.21

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df

          date    county  cases  current_crate  case_day  14day_case_avg
0     03/20/20  Imperial      4           2.21      4.00            0.36
1     03/21/20  Imperial      4           2.21      0.00            0.36
2     03/22/20  Imperial      4           2.21      0.00            0.36
3     03/23/20  Imperial      4           2.21      0.00            0.36
4     03/24/20  Imperial      9           4.97      5.00            0.71
...        ...       ...    ...            ...       ...             ...
7626  04/15/22    Madera  43445       27614.46      1.00            3.21
7627  04/16/22    Madera  43445       27614.46      0.00            3.21
7628  04/17/22    Madera  43445       27614.46      0.00            3.21
7629  04/18/22    Madera  43445       27614.46      0.00            3.21
7630  04/19/22    Madera  43445       27614.46      0.00            2.07

[7631 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df

          date    county  deaths  current_drate  death_day  14day_death_avg
0     03/20/20  Imperial    0.00           0.00       0.00             0.00
1     03/21/20  Imperial    0.00           0.00       0.00             0.00
2     03/22/20  Imperial    0.00           0.00       0.00             0.00
3     03/23/20  Imperial    0.00           0.00       0.00             0.00
4     03/24/20  Imperial    0.00           0.00       0.00             0.00
...        ...       ...     ...            ...        ...              ...
7660  04/15/22    Merced  818.00         294.58       0.00             0.36
7661  04/16/22    Merced  818.00         294.58       0.00             0.36
7662  04/17/22    Merced  818.00         294.58       0.00             0.36
7663  04/18/22    Merced  818.00         294.58       0.00             0.36
7664  04/19/22    Merced  818.00         294.58       0.00             0.21

[7665 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)