In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr2022_df['date'] = pd.to_datetime(yr2022_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2782917,2022-09-13,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2782918,2022-09-14,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2782919,2022-09-15,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2782920,2022-09-16,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2782921,2022-09-17,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
70943,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
70945,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
70947,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
70949,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
70951,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1679686,2022-09-13,Arkansas,Arkansas,5001,6553,82.00,5000,Arkansas,AR,Arkansas,State,3017804
1679688,2022-09-14,Arkansas,Arkansas,5001,6555,82.00,5000,Arkansas,AR,Arkansas,State,3017804
1679690,2022-09-15,Arkansas,Arkansas,5001,6561,82.00,5000,Arkansas,AR,Arkansas,State,3017804
1679692,2022-09-16,Arkansas,Arkansas,5001,6564,82.00,5000,Arkansas,AR,Arkansas,State,3017804
1679694,2022-09-17,Arkansas,Arkansas,5001,6573,82.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2782917,2022-09-13,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2782918,2022-09-14,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2782919,2022-09-15,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2782920,2022-09-16,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2782921,2022-09-17,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-09-17') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
970,2022-09-17,Snohomish,Washington,190221,1293.00,53061,WA,County,822083,23138.90,157.28
1938,2022-09-17,Cook,Illinois,1394936,15321.00,17031,IL,County,5150233,27084.91,297.48
2905,2022-09-17,Orange,California,723454,7405.00,6059,CA,County,3175692,22780.99,233.18
3871,2022-09-17,Maricopa,Arizona,1421340,17865.00,4013,AZ,County,4485414,31688.04,398.29
4837,2022-09-17,Los Angeles,California,3438352,33447.00,6037,CA,County,10039107,34249.58,333.17
...,...,...,...,...,...,...,...,...,...,...,...
2780225,2022-09-17,Wheeler,Oregon,270,3.00,41069,OR,County,1332,20270.27,225.23
2780930,2022-09-17,King,Texas,53,0.00,48269,TX,County,272,19485.29,0.00
2781604,2022-09-17,Esmeralda,Nevada,119,4.00,32009,NV,County,873,13631.16,458.19
2782274,2022-09-17,Loving,Texas,335,1.00,48301,TX,County,169,198224.85,591.72
2782921,2022-09-17,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
970,2022-09-17,Snohomish,Washington,190221,1293.00,53061,WA,County,822083,23138.90,157.28,157.28,23138.90
1938,2022-09-17,Cook,Illinois,1394936,15321.00,17031,IL,County,5150233,27084.91,297.48,297.48,27084.91
2905,2022-09-17,Orange,California,723454,7405.00,6059,CA,County,3175692,22780.99,233.18,233.18,22780.99
3871,2022-09-17,Maricopa,Arizona,1421340,17865.00,4013,AZ,County,4485414,31688.04,398.29,398.29,31688.04
4837,2022-09-17,Los Angeles,California,3438352,33447.00,6037,CA,County,10039107,34249.58,333.17,333.17,34249.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2780225,2022-09-17,Wheeler,Oregon,270,3.00,41069,OR,County,1332,20270.27,225.23,225.23,20270.27
2780930,2022-09-17,King,Texas,53,0.00,48269,TX,County,272,19485.29,0.00,0.00,19485.29
2781604,2022-09-17,Esmeralda,Nevada,119,4.00,32009,NV,County,873,13631.16,458.19,458.19,13631.16
2782274,2022-09-17,Loving,Texas,335,1.00,48301,TX,County,169,198224.85,591.72,591.72,198224.85
2782921,2022-09-17,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1757349,2022-09-17,Hale,Alabama,5364,109.00,1065,AL,County,14651,36611.84,743.98,743.98,36611.84,1
1481608,2022-09-17,Winston,Alabama,8556,138.00,1133,AL,County,23629,36209.74,584.03,584.03,36209.74,2
1210548,2022-09-17,Clay,Alabama,4724,88.00,1027,AL,County,13235,35693.24,664.90,664.90,35693.24,3
1017066,2022-09-17,Franklin,Alabama,11184,143.00,1059,AL,County,31362,35660.99,455.97,455.97,35660.99,4
1094329,2022-09-17,Morgan,Alabama,42562,530.00,1103,AL,County,119679,35563.47,442.85,442.85,35563.47,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676081,2022-09-17,Converse,Wyoming,3470,56.00,56009,WY,County,13822,25104.91,405.15,405.15,25104.91,19
2375484,2022-09-17,Big Horn,Wyoming,2911,64.00,56003,WY,County,11790,24690.42,542.83,542.83,24690.42,20
2090426,2022-09-17,Lincoln,Wyoming,4665,32.00,56023,WY,County,19830,23524.96,161.37,161.37,23524.96,21
1676985,2022-09-17,Sublette,Wyoming,2171,28.00,56035,WY,County,9831,22083.21,284.81,284.81,22083.21,22
2132585,2022-09-17,Crook,Wyoming,1493,29.00,56011,WY,County,7584,19686.18,382.38,382.38,19686.18,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1371081,2022-09-17,Lowndes,Alabama,3053,80.00,1085,AL,County,9726,31390.09,822.54,822.54,31390.09,27,1
1369269,2022-09-17,Crenshaw,Alabama,4365,104.00,1041,AL,County,13772,31694.74,755.16,755.16,31694.74,24,2
1757349,2022-09-17,Hale,Alabama,5364,109.00,1065,AL,County,14651,36611.84,743.98,743.98,36611.84,1,3
578595,2022-09-17,Walker,Alabama,22147,460.00,1127,AL,County,63521,34865.63,724.17,724.17,34865.63,7,4
1213269,2022-09-17,Dallas,Alabama,10052,254.00,1047,AL,County,37196,27024.41,682.87,682.87,27024.41,56,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1477083,2022-09-17,Johnson,Wyoming,2150,21.00,56019,WY,County,8445,25458.85,248.67,248.67,25458.85,16,19
2037444,2022-09-17,Uinta,Wyoming,6102,41.00,56041,WY,County,20226,30169.09,202.71,202.71,30169.09,9,20
2090426,2022-09-17,Lincoln,Wyoming,4665,32.00,56023,WY,County,19830,23524.96,161.37,161.37,23524.96,21,21
1365645,2022-09-17,Albany,Wyoming,11060,51.00,56001,WY,County,38880,28446.50,131.17,131.17,28446.50,14,22
575856,2022-09-17,Teton,Wyoming,11583,16.00,56039,WY,County,23464,49364.98,68.19,68.19,49364.98,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,157.28,23138.90,32,15
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,157.28,23138.90,32,15
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,157.28,23138.90,32,15
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,157.28,23138.90,32,15
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,157.28,23138.90,32,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2776526,2022-09-13,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2776527,2022-09-14,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2776528,2022-09-15,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2776529,2022-09-16,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2776530,2022-09-17,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1750057,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,743.98,36611.84,3,1,1.00,nan
1750058,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,743.98,36611.84,3,1,0.00,nan
1750059,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,743.98,36611.84,3,1,0.00,nan
1750060,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,743.98,36611.84,3,1,0.00,nan
1750061,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,743.98,36611.84,3,1,2.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2126190,2022-09-13,Crook,Wyoming,1493,29.00,56011,WY,County,7584,19686.18,382.38,382.38,19686.18,10,23,2.00,0.64
2126191,2022-09-14,Crook,Wyoming,1493,29.00,56011,WY,County,7584,19686.18,382.38,382.38,19686.18,10,23,0.00,0.64
2126192,2022-09-15,Crook,Wyoming,1493,29.00,56011,WY,County,7584,19686.18,382.38,382.38,19686.18,10,23,0.00,0.64
2126193,2022-09-16,Crook,Wyoming,1493,29.00,56011,WY,County,7584,19686.18,382.38,382.38,19686.18,10,23,0.00,0.64
2126194,2022-09-17,Crook,Wyoming,1493,29.00,56011,WY,County,7584,19686.18,382.38,382.38,19686.18,10,23,0.00,0.64

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa['14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa['deaths'] = usa['deaths'].astype(int)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1365593,2020-03-26,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,822.54,31390.09,1,27,1.00,3.43,0.00,nan
1365594,2020-03-27,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,822.54,31390.09,1,27,0.00,3.43,0.00,nan
1365595,2020-03-28,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,822.54,31390.09,1,27,0.00,3.43,0.00,nan
1365596,2020-03-29,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,822.54,31390.09,1,27,0.00,3.43,0.00,nan
1365597,2020-03-30,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,822.54,31390.09,1,27,0.00,1.14,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572176,2022-09-13,Teton,Wyoming,11583,16,56039,WY,County,23464,49364.98,68.19,68.19,49364.98,23,1,34.00,4.07,0.00,0.00
572177,2022-09-14,Teton,Wyoming,11583,16,56039,WY,County,23464,49364.98,68.19,68.19,49364.98,23,1,0.00,4.07,0.00,0.00
572178,2022-09-15,Teton,Wyoming,11583,16,56039,WY,County,23464,49364.98,68.19,68.19,49364.98,23,1,0.00,4.07,0.00,0.00
572179,2022-09-16,Teton,Wyoming,11583,16,56039,WY,County,23464,49364.98,68.19,68.19,49364.98,23,1,0.00,4.07,0.00,0.00
572180,2022-09-17,Teton,Wyoming,11583,16,56039,WY,County,23464,49364.98,68.19,68.19,49364.98,23,1,0.00,4.07,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-09-17') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
691775,2022-09-17,Imperial,California,80629,956,6025,CA,County,181215,44493.56,527.55,527.55,44493.56,1,1,0.00,49.93,0.00,0.00
105145,2022-09-17,Shasta,California,41946,687,6089,CA,County,180080,23292.98,381.50,381.50,23292.98,2,37,0.00,22.14,0.00,0.64
342467,2022-09-17,San Bernardino,California,694804,8074,6071,CA,County,2180085,31870.50,370.35,370.35,31870.50,3,7,0.00,461.29,0.00,4.07
1677818,2022-09-17,Tuolumne,California,16676,197,6109,CA,County,54478,30610.52,361.61,361.61,30610.52,4,9,0.00,8.79,0.00,0.07
4837,2022-09-17,Los Angeles,California,3438352,33447,6037,CA,County,10039107,34249.58,333.17,333.17,34249.58,5,4,0.00,1704.64,0.00,18.57
189018,2022-09-17,Tulare,California,157245,1531,6107,CA,County,466195,33729.45,328.40,328.40,33729.45,6,5,0.00,89.79,0.00,0.29
1217756,2022-09-17,Inyo,California,5404,59,6027,CA,County,18039,29957.31,327.07,327.07,29957.31,7,12,0.00,3.50,0.00,0.00
2036441,2022-09-17,Tehama,California,16562,210,6103,CA,County,65084,25447.11,322.66,322.66,25447.11,8,25,0.00,9.14,0.00,0.00
152181,2022-09-17,Stanislaus,California,157910,1727,6099,CA,County,550660,28676.50,313.62,313.62,28676.50,9,15,0.00,69.21,0.00,0.07
1102457,2022-09-17,Merced,California,83295,862,6047,CA,County,277680,29996.76,310.43,310.43,29996.76,10,11,0.00,47.21,0.00,0.43
120835,2022-09-17,San Joaquin,California,210308,2304,6077,CA,County,762148,27594.12,302.30,302.30,27594.12,11,17,0.00,103.07,0.00,0.21
1479740,2022-09-17,Kings,California,63185,456,6031,CA,County,152940,41313.59,298.16,298.16,41313.59,12,2,0.00,29.00,0.00,0.07
1101549,2022-09-17,Calaveras,California,8978,133,6009,CA,County,45905,19557.78,289.73,289.73,19557.78,13,52,0.00,3.00,0.00,0.00
68167,2022-09-17,Fresno,California,303263,2839,6019,CA,County,999101,30353.59,284.16,284.16,30353.59,14,10,0.00,185.14,0.00,0.29
431361,2022-09-17,Kern,California,284494,2535,6029,CA,County,900202,31603.35,281.60,281.60,31603.35,15,8,0.00,249.50,0.00,0.86
70017,2022-09-17,Riverside,California,726564,6673,6065,CA,County,2470546,29409.05,270.10,270.10,29409.05,16,14,0.00,344.29,0.00,1.43
820361,2022-09-17,Siskiyou,California,8518,107,6093,CA,County,43539,19564.07,245.76,245.76,19564.07,17,51,0.00,5.36,0.00,0.00
1218663,2022-09-17,Sutter,California,26582,235,6101,CA,County,96971,27412.32,242.34,242.34,27412.32,18,18,0.00,14.86,0.00,0.00
69092,2022-09-17,Madera,California,51969,373,6039,CA,County,157327,33032.47,237.09,237.09,33032.47,19,6,0.00,36.79,0.00,0.00
2905,2022-09-17,Orange,California,723454,7405,6059,CA,County,3175692,22780.99,233.18,233.18,22780.99,20,41,0.00,312.86,0.00,3.43
690863,2022-09-17,Amador,California,10825,90,6005,CA,County,39752,27231.33,226.40,226.40,27231.33,21,19,0.00,4.64,0.00,0.07
2613580,2022-09-17,Lassen,California,11374,69,6035,CA,County,30573,37202.76,225.69,225.69,37202.76,22,3,0.00,1.86,0.00,0.00
2162924,2022-09-17,Lake,California,13856,144,6033,CA,County,64386,21520.21,223.65,223.65,21520.21,23,45,0.00,7.36,0.00,0.07
13398,2022-09-17,Sacramento,California,377229,3425,6067,CA,County,1552058,24305.08,220.67,220.67,24305.08,24,29,0.00,182.36,0.00,1.86
2504035,2022-09-17,Mariposa,California,4162,37,6043,CA,County,17203,24193.45,215.08,215.08,24193.45,25,31,0.00,4.93,0.00,0.00
818539,2022-09-17,Butte,California,48078,453,6007,CA,County,219186,21934.80,206.67,206.67,21934.80,26,43,0.00,30.43,0.00,0.00
1969921,2022-09-17,Del Norte,California,7785,56,6015,CA,County,27812,27991.51,201.35,201.35,27991.51,27,16,0.00,3.71,0.00,0.00
121757,2022-09-17,Ventura,California,222419,1563,6111,CA,County,846006,26290.48,184.75,184.75,26290.48,28,22,0.00,119.64,0.00,0.36
286474,2022-09-17,San Luis Obispo,California,69786,520,6079,CA,County,283111,24649.70,183.67,183.67,24649.70,29,28,0.00,24.00,0.00,0.21
432276,2022-09-17,Monterey,California,114503,781,6053,CA,County,434061,26379.47,179.93,179.93,26379.47,30,21,0.00,44.43,0.00,0.21
1582001,2022-09-17,Glenn,California,7341,48,6021,CA,County,28393,25854.96,169.06,169.06,25854.96,31,24,0.00,2.36,0.00,0.00
235932,2022-09-17,San Benito,California,17012,106,6069,CA,County,62808,27085.72,168.77,168.77,27085.72,32,20,0.00,12.29,0.00,0.21
2608487,2022-09-17,Sierra,California,363,5,6091,CA,County,3005,12079.87,166.39,166.39,12079.87,33,57,0.00,0.00,0.00,0.00
24602,2022-09-17,Placer,California,84478,660,6061,CA,County,398329,21208.10,165.69,165.69,21208.10,34,48,0.00,34.86,0.00,0.21
9624,2022-09-17,San Diego,California,987929,5479,6073,CA,County,3338330,29593.51,164.12,164.12,29593.51,35,13,0.00,350.93,0.00,1.07
821272,2022-09-17,Yuba,California,20447,129,6115,CA,County,78668,25991.51,163.98,163.98,25991.51,36,23,0.00,11.57,0.00,0.00
2573463,2022-09-17,Trinity,California,1764,20,6105,CA,County,12285,14358.97,162.80,162.80,14358.97,37,55,0.00,1.14,0.00,0.00
343384,2022-09-17,Santa Barbara,California,111747,718,6083,CA,County,446499,25027.38,160.81,160.81,25027.38,38,26,0.00,59.79,0.00,0.14
496318,2022-09-17,Mendocino,California,20315,136,6045,CA,County,86749,23418.14,156.77,156.77,23418.14,39,34,0.00,12.36,0.00,0.14
21810,2022-09-17,Alameda,California,363677,2545,6001,CA,County,1671329,21759.75,152.27,152.27,21759.75,40,44,0.00,173.64,0.00,38.64
45944,2022-09-17,Yolo,California,51429,334,6113,CA,County,220500,23323.81,151.47,151.47,23323.81,41,36,0.00,20.07,0.00,0.00
391062,2022-09-17,Nevada,California,20634,132,6057,CA,County,99755,20684.68,132.32,132.32,20684.68,42,49,0.00,11.14,0.00,0.00
5798,2022-09-17,Santa Clara,California,446750,2473,6085,CA,County,1927852,23173.46,128.28,128.28,23173.46,43,39,0.00,227.64,0.00,0.00
2755883,2022-09-17,Modoc,California,1188,11,6049,CA,County,8841,13437.39,124.42,124.42,13437.39,44,56,0.00,0.36,0.00,0.00
30181,2022-09-17,Contra Costa,California,267446,1423,6013,CA,County,1153526,23185.09,123.36,123.36,23185.09,45,38,0.00,166.29,0.00,0.93
819450,2022-09-17,El Dorado,California,36309,231,6017,CA,County,192843,18828.27,119.79,119.79,18828.27,46,54,0.00,14.86,0.00,0.14
17143,2022-09-17,Marin,California,49961,309,6041,CA,County,258826,19302.93,119.39,119.39,19302.93,47,53,0.00,27.50,0.00,0.29
7717,2022-09-17,San Francisco,California,188685,1025,6075,CA,County,881549,21403.80,116.27,116.27,21403.80,48,47,0.00,49.64,0.00,0.71
18078,2022-09-17,Napa,California,33390,160,6055,CA,County,137744,24240.62,116.16,116.16,24240.62,49,30,0.00,13.36,0.00,0.29
12458,2022-09-17,Humboldt,California,26772,157,6023,CA,County,135558,19749.48,115.82,115.82,19749.48,50,50,0.00,35.93,0.00,0.21
25532,2022-09-17,San Mateo,California,177075,830,6081,CA,County,766573,23099.56,108.27,108.27,23099.56,51,40,0.00,80.07,0.00,0.57
19013,2022-09-17,Sonoma,California,111299,518,6097,CA,County,494336,22514.85,104.79,104.79,22514.85,52,42,0.00,73.71,0.00,0.07
14335,2022-09-17,Solano,California,111749,462,6095,CA,County,447643,24963.87,103.21,103.21,24963.87,53,27,0.00,50.86,0.00,0.07
1478835,2022-09-17,Colusa,California,5042,22,6011,CA,County,21547,23400.01,102.10,102.10,23400.01,54,35,0.00,3.71,0.00,0.00
70942,2022-09-17,Santa Cruz,California,65878,274,6087,CA,County,273213,24112.32,100.29,100.29,24112.32,55,32,0.00,38.86,0.00,0.07
1840253,2022-09-17,Plumas,California,4040,13,6063,CA,County,18807,21481.36,69.12,69.12,21481.36,56,46,0.00,1.57,0.00,0.00
1103365,2022-09-17,Mono,California,3437,7,6051,CA,County,14444,23795.35,48.46,48.46,23795.35,57,33,0.00,0.79,0.00,0.00
1755468,2022-09-17,Alpine,California,135,0,6003,CA,County,1129,11957.48,0.00,0.00,11957.48,58,58,0.00,0.07,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
691775,2022-09-17,Imperial,California,80629,956,6025,CA,County,181215,44493.56,527.55,527.55,44493.56,1,1,0.00,49.93,0.00,0.00
1479740,2022-09-17,Kings,California,63185,456,6031,CA,County,152940,41313.59,298.16,298.16,41313.59,12,2,0.00,29.00,0.00,0.07
2613580,2022-09-17,Lassen,California,11374,69,6035,CA,County,30573,37202.76,225.69,225.69,37202.76,22,3,0.00,1.86,0.00,0.00
4837,2022-09-17,Los Angeles,California,3438352,33447,6037,CA,County,10039107,34249.58,333.17,333.17,34249.58,5,4,0.00,1704.64,0.00,18.57
189018,2022-09-17,Tulare,California,157245,1531,6107,CA,County,466195,33729.45,328.40,328.40,33729.45,6,5,0.00,89.79,0.00,0.29
69092,2022-09-17,Madera,California,51969,373,6039,CA,County,157327,33032.47,237.09,237.09,33032.47,19,6,0.00,36.79,0.00,0.00
342467,2022-09-17,San Bernardino,California,694804,8074,6071,CA,County,2180085,31870.50,370.35,370.35,31870.50,3,7,0.00,461.29,0.00,4.07
431361,2022-09-17,Kern,California,284494,2535,6029,CA,County,900202,31603.35,281.60,281.60,31603.35,15,8,0.00,249.50,0.00,0.86
1677818,2022-09-17,Tuolumne,California,16676,197,6109,CA,County,54478,30610.52,361.61,361.61,30610.52,4,9,0.00,8.79,0.00,0.07
68167,2022-09-17,Fresno,California,303263,2839,6019,CA,County,999101,30353.59,284.16,284.16,30353.59,14,10,0.00,185.14,0.00,0.29

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
691775,2022-09-17,Imperial,California,80629,956,6025,CA,County,181215,44493.56,527.55,527.55,44493.56,1,1,0.00,49.93,0.00,0.00
105145,2022-09-17,Shasta,California,41946,687,6089,CA,County,180080,23292.98,381.50,381.50,23292.98,2,37,0.00,22.14,0.00,0.64
342467,2022-09-17,San Bernardino,California,694804,8074,6071,CA,County,2180085,31870.50,370.35,370.35,31870.50,3,7,0.00,461.29,0.00,4.07
1677818,2022-09-17,Tuolumne,California,16676,197,6109,CA,County,54478,30610.52,361.61,361.61,30610.52,4,9,0.00,8.79,0.00,0.07
4837,2022-09-17,Los Angeles,California,3438352,33447,6037,CA,County,10039107,34249.58,333.17,333.17,34249.58,5,4,0.00,1704.64,0.00,18.57
189018,2022-09-17,Tulare,California,157245,1531,6107,CA,County,466195,33729.45,328.40,328.40,33729.45,6,5,0.00,89.79,0.00,0.29
1217756,2022-09-17,Inyo,California,5404,59,6027,CA,County,18039,29957.31,327.07,327.07,29957.31,7,12,0.00,3.50,0.00,0.00
2036441,2022-09-17,Tehama,California,16562,210,6103,CA,County,65084,25447.11,322.66,322.66,25447.11,8,25,0.00,9.14,0.00,0.00
152181,2022-09-17,Stanislaus,California,157910,1727,6099,CA,County,550660,28676.50,313.62,313.62,28676.50,9,15,0.00,69.21,0.00,0.07
1102457,2022-09-17,Merced,California,83295,862,6047,CA,County,277680,29996.76,310.43,310.43,29996.76,10,11,0.00,47.21,0.00,0.43

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df['case_day'] = top10_ca_case_df['case_day'].astype(int)
top10_ca_case_df['date'] =  pd.to_datetime(top10_ca_case_df['date'], infer_datetime_format=True)
top10_ca_case_df

           date    county  cases  current_crate  case_day  14day_case_avg
0    2020-03-20  Imperial      4           2.21         4            1.00
1    2020-03-21  Imperial      4           2.21         0            1.00
2    2020-03-22  Imperial      4           2.21         0            1.00
3    2020-03-23  Imperial      4           2.21         0            1.00
4    2020-03-24  Imperial      9           4.97         5            1.36
...         ...       ...    ...            ...       ...             ...
9131 2022-09-13    Lassen  11361       37160.24         0            1.64
9132 2022-09-14    Lassen  11368       37183.14         7            1.79
9133 2022-09-15    Lassen  11368       37183.14         0            1.43
9134 2022-09-16    Lassen  11374       37202.76         6            1.86
9135 2022-09-17    Lassen  11374       37202.76         0            1.86

[9136 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df['death_day'] = top10_ca_death_df['death_day'].astype(int)
top10_ca_death_df['date'] =  pd.to_datetime(top10_ca_death_df['date'], infer_datetime_format=True)
top10_ca_death_df

           date    county  deaths  current_drate  death_day  14day_death_avg
0    2020-03-20  Imperial       0           0.00          0             0.00
1    2020-03-21  Imperial       0           0.00          0             0.00
2    2020-03-22  Imperial       0           0.00          0             0.00
3    2020-03-23  Imperial       0           0.00          0             0.00
4    2020-03-24  Imperial       0           0.00          0             0.00
...         ...       ...     ...            ...        ...              ...
9170 2022-09-13    Merced     856         308.27          0             0.29
9171 2022-09-14    Merced     856         308.27          0             0.29
9172 2022-09-15    Merced     862         310.43          6             0.71
9173 2022-09-16    Merced     862         310.43          0             0.43
9174 2022-09-17    Merced     862         310.43          0             0.43

[9175 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)