In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr_new_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-recent.csv')
yr_new_df['fips'] = yr_new_df['fips'].fillna(0).astype(np.int64)
yr_new_df['date'] = pd.to_datetime(yr_new_df['date'], yearfirst=True)
yr2023_df = yr_new_df[(yr_new_df['date'] > '2022-12-31')]
yr2023_df['date'] = pd.to_datetime(yr2023_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df, yr2023_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df['date'] = pd.to_datetime(us_data_df['date'], yearfirst=True)
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
3201147,2023-03-07,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201148,2023-03-08,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201149,2023-03-09,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201150,2023-03-10,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201151,2023-03-11,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
81203,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81205,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81207,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81209,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81211,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1928221,2023-03-07,Arkansas,Arkansas,5001,7008,95.00,5000,Arkansas,AR,Arkansas,State,3017804
1928223,2023-03-08,Arkansas,Arkansas,5001,7009,95.00,5000,Arkansas,AR,Arkansas,State,3017804
1928225,2023-03-09,Arkansas,Arkansas,5001,7009,95.00,5000,Arkansas,AR,Arkansas,State,3017804
1928227,2023-03-10,Arkansas,Arkansas,5001,7009,95.00,5000,Arkansas,AR,Arkansas,State,3017804
1928229,2023-03-11,Arkansas,Arkansas,5001,7010,95.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
3201147,2023-03-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201148,2023-03-08,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201149,2023-03-09,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201150,2023-03-10,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201151,2023-03-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2023-03-11') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
1105,2023-03-11,Snohomish,Washington,205340,1447.00,53061,WA,County,822083,24978.01,176.02
2208,2023-03-11,Cook,Illinois,1533935,15844.00,17031,IL,County,5150233,29783.80,307.64
3310,2023-03-11,Orange,California,789217,7971.00,6059,CA,County,3175692,24851.81,251.00
4411,2023-03-11,Maricopa,Arizona,1530926,18846.00,4013,AZ,County,4485414,34131.21,420.16
5512,2023-03-11,Los Angeles,California,3715057,35814.00,6037,CA,County,10039107,37005.85,356.74
...,...,...,...,...,...,...,...,...,...,...,...
3197915,2023-03-11,Wheeler,Oregon,303,3.00,41069,OR,County,1332,22747.75,225.23
3198755,2023-03-11,King,Texas,56,0.00,48269,TX,County,272,20588.24,0.00
3199564,2023-03-11,Esmeralda,Nevada,124,5.00,32009,NV,County,873,14203.89,572.74
3200369,2023-03-11,Loving,Texas,403,1.00,48301,TX,County,169,238461.54,591.72
3201151,2023-03-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
1105,2023-03-11,Snohomish,Washington,205340,1447.00,53061,WA,County,822083,24978.01,176.02,176.02,24978.01
2208,2023-03-11,Cook,Illinois,1533935,15844.00,17031,IL,County,5150233,29783.80,307.64,307.64,29783.80
3310,2023-03-11,Orange,California,789217,7971.00,6059,CA,County,3175692,24851.81,251.00,251.00,24851.81
4411,2023-03-11,Maricopa,Arizona,1530926,18846.00,4013,AZ,County,4485414,34131.21,420.16,420.16,34131.21
5512,2023-03-11,Los Angeles,California,3715057,35814.00,6037,CA,County,10039107,37005.85,356.74,356.74,37005.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197915,2023-03-11,Wheeler,Oregon,303,3.00,41069,OR,County,1332,22747.75,225.23,225.23,22747.75
3198755,2023-03-11,King,Texas,56,0.00,48269,TX,County,272,20588.24,0.00,0.00,20588.24
3199564,2023-03-11,Esmeralda,Nevada,124,5.00,32009,NV,County,873,14203.89,572.74,572.74,14203.89
3200369,2023-03-11,Loving,Texas,403,1.00,48301,TX,County,169,238461.54,591.72,591.72,238461.54
3201151,2023-03-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1700578,2023-03-11,Winston,Alabama,9427,141.00,1133,AL,County,23629,39895.89,596.72,596.72,39895.89,1
2017494,2023-03-11,Hale,Alabama,5728,110.00,1065,AL,County,14651,39096.31,750.80,750.80,39096.31,2
1389153,2023-03-11,Clay,Alabama,5162,93.00,1027,AL,County,13235,39002.64,702.68,702.68,39002.64,3
1255654,2023-03-11,Morgan,Alabama,46540,551.00,1103,AL,County,119679,38887.36,460.40,460.40,38887.36,4
1391237,2023-03-11,Colbert,Alabama,21291,279.00,1033,AL,County,55241,38542.02,505.06,505.06,38542.02,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564907,2023-03-11,Park,Wyoming,7713,153.00,56029,WY,County,29194,26419.81,524.08,524.08,26419.81,19
2728644,2023-03-11,Big Horn,Wyoming,3086,66.00,56003,WY,County,11790,26174.72,559.80,559.80,26174.72,20
2400521,2023-03-11,Lincoln,Wyoming,4908,38.00,56023,WY,County,19830,24750.38,191.63,191.63,24750.38,21
1925115,2023-03-11,Sublette,Wyoming,2316,28.00,56035,WY,County,9831,23558.13,284.81,284.81,23558.13,22
2449025,2023-03-11,Crook,Wyoming,1579,33.00,56011,WY,County,7584,20820.15,435.13,435.13,20820.15,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1573581,2023-03-11,Lowndes,Alabama,3370,83.00,1085,AL,County,9726,34649.39,853.38,853.38,34649.39,23,1
1571499,2023-03-11,Crenshaw,Alabama,4738,110.00,1041,AL,County,13772,34403.14,798.72,798.72,34403.14,24,2
1696418,2023-03-11,Covington,Alabama,11804,280.00,1039,AL,County,37049,31860.51,755.76,755.76,31860.51,43,3
663510,2023-03-11,Walker,Alabama,24154,480.00,1127,AL,County,63521,38025.22,755.66,755.66,38025.22,7,4
2017494,2023-03-11,Hale,Alabama,5728,110.00,1065,AL,County,14651,39096.31,750.80,750.80,39096.31,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695378,2023-03-11,Johnson,Wyoming,2377,21.00,56019,WY,County,8445,28146.83,248.67,248.67,28146.83,15,19
2339574,2023-03-11,Uinta,Wyoming,6406,43.00,56041,WY,County,20226,31672.11,212.60,212.60,31672.11,11,20
2400521,2023-03-11,Lincoln,Wyoming,4908,38.00,56023,WY,County,19830,24750.38,191.63,191.63,24750.38,21,21
1567335,2023-03-11,Albany,Wyoming,11581,54.00,56001,WY,County,38880,29786.52,138.89,138.89,29786.52,13,22
660366,2023-03-11,Teton,Wyoming,12134,16.00,56039,WY,County,23464,51713.26,68.19,68.19,51713.26,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193811,2023-03-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193812,2023-03-08,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193813,2023-03-09,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193814,2023-03-10,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193815,2023-03-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1694281,2020-03-27,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,596.72,39895.89,21,1,2.00,nan
1694282,2020-03-28,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,596.72,39895.89,21,1,0.00,nan
1694283,2020-03-29,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,596.72,39895.89,21,1,0.00,nan
1694284,2020-03-30,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,596.72,39895.89,21,1,0.00,nan
1694285,2020-03-31,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,596.72,39895.89,21,1,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2441685,2023-03-07,Crook,Wyoming,1579,32.00,56011,WY,County,7584,20820.15,421.94,435.13,20820.15,9,23,4.00,0.57
2441686,2023-03-08,Crook,Wyoming,1579,32.00,56011,WY,County,7584,20820.15,421.94,435.13,20820.15,9,23,0.00,0.57
2441687,2023-03-09,Crook,Wyoming,1579,33.00,56011,WY,County,7584,20820.15,435.13,435.13,20820.15,9,23,0.00,0.57
2441688,2023-03-10,Crook,Wyoming,1579,33.00,56011,WY,County,7584,20820.15,435.13,435.13,20820.15,9,23,0.00,0.57
2441689,2023-03-11,Crook,Wyoming,1579,33.00,56011,WY,County,7584,20820.15,435.13,435.13,20820.15,9,23,0.00,0.57

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa['14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa['deaths'] = usa['deaths'].astype(int)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1567283,2020-03-26,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,853.38,34649.39,1,23,1.00,1.07,0.00,nan
1567284,2020-03-27,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,853.38,34649.39,1,23,0.00,1.07,0.00,nan
1567285,2020-03-28,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,853.38,34649.39,1,23,0.00,1.07,0.00,nan
1567286,2020-03-29,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,853.38,34649.39,1,23,0.00,0.71,0.00,nan
1567287,2020-03-30,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,853.38,34649.39,1,23,0.00,0.71,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656146,2023-03-07,Teton,Wyoming,12134,16,56039,WY,County,23464,51713.26,68.19,68.19,51713.26,23,1,4.00,0.79,0.00,0.00
656147,2023-03-08,Teton,Wyoming,12134,16,56039,WY,County,23464,51713.26,68.19,68.19,51713.26,23,1,0.00,0.79,0.00,0.00
656148,2023-03-09,Teton,Wyoming,12134,16,56039,WY,County,23464,51713.26,68.19,68.19,51713.26,23,1,0.00,0.79,0.00,0.00
656149,2023-03-10,Teton,Wyoming,12134,16,56039,WY,County,23464,51713.26,68.19,68.19,51713.26,23,1,0.00,0.79,0.00,0.00
656150,2023-03-11,Teton,Wyoming,12134,16,56039,WY,County,23464,51713.26,68.19,68.19,51713.26,23,1,0.00,0.79,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2023-03-11') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-03-11,Imperial,California,89041,1035,6025,CA,County,181215,49135.56,571.14,571.14,49135.56,1,1,0.00,31.64,0.00,0.79
1926083,2023-03-11,Tuolumne,California,18160,210,6109,CA,County,54478,33334.56,385.48,385.48,33334.56,2,10,0.00,3.86,0.00,0.00
120400,2023-03-11,Shasta,California,44806,690,6089,CA,County,180080,24881.16,383.16,383.16,24881.16,3,40,0.00,7.07,0.00,0.00
392552,2023-03-11,San Bernardino,California,745254,8171,6071,CA,County,2180085,34184.63,374.80,374.80,34184.63,4,8,0.00,136.43,0.00,0.00
2338436,2023-03-11,Tehama,California,17880,234,6103,CA,County,65084,27472.19,359.54,359.54,27472.19,5,25,0.00,2.64,0.00,0.86
5512,2023-03-11,Los Angeles,California,3715057,35814,6037,CA,County,10039107,37005.85,356.74,356.74,37005.85,6,4,0.00,913.07,0.00,12.29
1815956,2023-03-11,Glenn,California,7810,100,6021,CA,County,28393,27506.78,352.20,352.20,27506.78,7,24,0.00,1.21,0.00,0.07
1397441,2023-03-11,Inyo,California,6079,63,6027,CA,County,18039,33699.21,349.24,349.24,33699.21,8,9,0.00,1.29,0.00,0.00
216558,2023-03-11,Tulare,California,168889,1578,6107,CA,County,466195,36227.12,338.48,338.48,36227.12,9,5,0.00,53.50,0.00,0.79
3003595,2023-03-11,Lassen,California,11701,103,6035,CA,County,30573,38272.33,336.90,336.90,38272.33,10,3,0.00,1.64,0.00,0.14
174321,2023-03-11,Stanislaus,California,168402,1847,6099,CA,County,550660,30581.85,335.42,335.42,30581.85,11,15,0.00,44.86,0.00,0.29
79082,2023-03-11,Madera,California,55233,519,6039,CA,County,157327,35107.13,329.89,329.89,35107.13,12,6,0.00,14.43,0.00,0.43
80142,2023-03-11,Riverside,California,776774,8082,6065,CA,County,2470546,31441.39,327.13,327.13,31441.39,13,14,0.00,160.43,0.00,10.07
1264997,2023-03-11,Merced,California,89434,903,6047,CA,County,277680,32207.58,325.19,325.19,32207.58,14,12,0.00,29.64,0.00,0.00
138385,2023-03-11,San Joaquin,California,227101,2421,6077,CA,County,762148,29797.49,317.65,317.65,29797.49,15,18,0.00,66.29,0.00,0.29
1698440,2023-03-11,Kings,California,67363,481,6031,CA,County,152940,44045.38,314.50,314.50,44045.38,16,2,0.00,9.50,0.00,0.21
1263954,2023-03-11,Calaveras,California,9652,140,6009,CA,County,45905,21026.03,304.98,304.98,21026.03,17,52,0.00,2.79,0.00,0.00
78022,2023-03-11,Fresno,California,329510,3001,6019,CA,County,999101,32980.65,300.37,300.37,32980.65,18,11,0.00,91.00,0.00,0.71
494541,2023-03-11,Kern,California,310792,2625,6029,CA,County,900202,34524.70,291.60,291.60,34524.70,19,7,0.00,90.21,0.00,0.43
941051,2023-03-11,Siskiyou,California,8910,124,6093,CA,County,43539,20464.41,284.80,284.80,20464.41,20,53,0.00,1.71,0.00,0.00
3169388,2023-03-11,Modoc,California,1330,25,6049,CA,County,8841,15043.55,282.77,282.77,15043.55,21,56,0.00,0.50,0.00,0.00
2876905,2023-03-11,Mariposa,California,4545,46,6043,CA,County,17203,26419.81,267.40,267.40,26419.81,22,29,0.00,0.86,0.00,0.14
2483954,2023-03-11,Lake,California,14943,170,6033,CA,County,64386,23208.46,264.03,264.03,23208.46,23,46,0.00,3.07,0.00,0.71
1398483,2023-03-11,Sutter,California,28308,253,6101,CA,County,96971,29192.23,260.90,260.90,29192.23,24,19,0.00,5.64,0.00,0.43
2112818,2023-03-11,Plumas,California,4291,49,6063,CA,County,18807,22815.97,260.54,260.54,22815.97,25,48,0.00,0.43,0.00,0.14
2957133,2023-03-11,Trinity,California,1982,32,6105,CA,County,12285,16133.50,260.48,260.48,16133.50,26,55,0.00,0.36,0.00,0.14
3310,2023-03-11,Orange,California,789217,7971,6059,CA,County,3175692,24851.81,251.00,251.00,24851.81,27,41,0.00,257.21,0.00,2.50
938959,2023-03-11,Butte,California,51989,546,6007,CA,County,219186,23719.12,249.10,249.10,23719.12,28,45,0.00,12.14,0.00,0.86
792383,2023-03-11,Amador,California,11552,99,6005,CA,County,39752,29060.17,249.04,249.04,29060.17,29,20,0.00,3.29,0.00,0.00
1697400,2023-03-11,Colusa,California,5364,52,6011,CA,County,21547,24894.42,241.33,241.33,24894.42,30,39,0.00,3.29,0.00,0.00
15288,2023-03-11,Sacramento,California,409284,3719,6067,CA,County,1552058,26370.41,239.62,239.62,26370.41,31,31,0.00,154.86,0.00,1.00
2261926,2023-03-11,Del Norte,California,8414,62,6015,CA,County,27812,30253.13,222.93,222.93,30253.13,32,16,0.00,1.79,0.00,0.07
52559,2023-03-11,Yolo,California,54987,443,6113,CA,County,220500,24937.41,200.91,200.91,24937.41,33,38,0.00,14.50,0.00,0.07
139442,2023-03-11,Ventura,California,239236,1678,6111,CA,County,846006,28278.29,198.34,198.34,28278.29,34,21,0.00,47.07,0.00,0.93
942097,2023-03-11,Yuba,California,21932,156,6115,CA,County,78668,27879.19,198.30,198.30,27879.19,35,23,0.00,6.14,0.00,0.21
328324,2023-03-11,San Luis Obispo,California,74664,561,6079,CA,County,283111,26372.69,198.16,198.16,26372.69,36,30,0.00,17.14,0.00,0.00
495591,2023-03-11,Monterey,California,122309,829,6053,CA,County,434061,28177.84,190.99,190.99,28177.84,37,22,0.00,55.14,0.00,0.29
270357,2023-03-11,San Benito,California,18798,119,6069,CA,County,62808,29929.31,189.47,189.47,29929.31,38,17,0.00,5.00,0.00,0.21
10974,2023-03-11,San Diego,California,1068002,6047,6073,CA,County,3338330,31992.10,181.14,181.14,31992.10,39,13,0.00,274.71,0.00,11.57
28112,2023-03-11,Placer,California,91392,682,6061,CA,County,398329,22943.85,171.22,171.22,22943.85,40,47,0.00,28.07,0.00,0.00
393604,2023-03-11,Santa Barbara,California,119963,763,6083,CA,County,446499,26867.47,170.89,170.89,26867.47,41,27,0.00,25.64,0.00,0.14
448302,2023-03-11,Nevada,California,22498,168,6057,CA,County,99755,22553.26,168.41,168.41,22553.26,42,49,0.00,4.86,0.00,0.14
2997692,2023-03-11,Sierra,California,372,5,6091,CA,County,3005,12379.37,166.39,166.39,12379.37,43,58,0.00,0.00,0.00,0.00
569083,2023-03-11,Mendocino,California,21741,144,6045,CA,County,86749,25061.96,166.00,166.00,25061.96,44,37,0.00,5.07,0.00,0.00
940005,2023-03-11,El Dorado,California,39175,314,6017,CA,County,192843,20314.45,162.83,162.83,20314.45,45,54,0.00,9.71,0.00,0.64
16360,2023-03-11,Solano,California,122756,727,6095,CA,County,447643,27422.75,162.41,162.41,27422.75,46,26,0.00,49.71,0.00,1.43
6608,2023-03-11,Santa Clara,California,497578,2727,6085,CA,County,1927852,25809.97,141.45,141.45,25809.97,47,33,0.00,183.50,0.00,2.00
34501,2023-03-11,Contra Costa,California,295696,1559,6013,CA,County,1153526,25634.10,135.15,135.15,25634.10,48,34,0.00,141.86,0.00,0.50
8797,2023-03-11,San Francisco,California,209879,1178,6075,CA,County,881549,23807.98,133.63,133.63,23807.98,49,44,0.00,95.29,0.00,0.71
81202,2023-03-11,Santa Cruz,California,72449,361,6087,CA,County,273213,26517.41,132.13,132.13,26517.41,50,28,0.00,26.14,0.00,0.93
24915,2023-03-11,Alameda,California,402380,2198,6001,CA,County,1671329,24075.45,131.51,131.51,24075.45,51,43,0.00,183.43,0.00,0.93
14213,2023-03-11,Humboldt,California,29325,175,6023,CA,County,135558,21632.81,129.10,129.10,21632.81,52,50,0.00,8.71,0.00,0.43
1266040,2023-03-11,Mono,California,3632,18,6051,CA,County,14444,25145.39,124.62,124.62,25145.39,53,36,0.00,0.64,0.00,0.07
20643,2023-03-11,Napa,California,35997,170,6055,CA,County,137744,26133.26,123.42,123.42,26133.26,54,32,0.00,10.79,0.00,0.36
19573,2023-03-11,Marin,California,54924,317,6041,CA,County,258826,21220.43,122.48,122.48,21220.43,55,51,0.00,23.14,0.00,0.00
29177,2023-03-11,San Mateo,California,194607,912,6081,CA,County,766573,25386.62,118.97,118.97,25386.62,56,35,0.00,69.14,0.00,0.00
21713,2023-03-11,Sonoma,California,119563,583,6097,CA,County,494336,24186.59,117.94,117.94,24186.59,57,42,0.00,36.64,0.00,1.36
2015343,2023-03-11,Alpine,California,143,0,6003,CA,County,1129,12666.08,0.00,0.00,12666.08,58,57,0.00,0.00,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-03-11,Imperial,California,89041,1035,6025,CA,County,181215,49135.56,571.14,571.14,49135.56,1,1,0.00,31.64,0.00,0.79
1698440,2023-03-11,Kings,California,67363,481,6031,CA,County,152940,44045.38,314.50,314.50,44045.38,16,2,0.00,9.50,0.00,0.21
3003595,2023-03-11,Lassen,California,11701,103,6035,CA,County,30573,38272.33,336.90,336.90,38272.33,10,3,0.00,1.64,0.00,0.14
5512,2023-03-11,Los Angeles,California,3715057,35814,6037,CA,County,10039107,37005.85,356.74,356.74,37005.85,6,4,0.00,913.07,0.00,12.29
216558,2023-03-11,Tulare,California,168889,1578,6107,CA,County,466195,36227.12,338.48,338.48,36227.12,9,5,0.00,53.50,0.00,0.79
79082,2023-03-11,Madera,California,55233,519,6039,CA,County,157327,35107.13,329.89,329.89,35107.13,12,6,0.00,14.43,0.00,0.43
494541,2023-03-11,Kern,California,310792,2625,6029,CA,County,900202,34524.70,291.60,291.60,34524.70,19,7,0.00,90.21,0.00,0.43
392552,2023-03-11,San Bernardino,California,745254,8171,6071,CA,County,2180085,34184.63,374.80,374.80,34184.63,4,8,0.00,136.43,0.00,0.00
1397441,2023-03-11,Inyo,California,6079,63,6027,CA,County,18039,33699.21,349.24,349.24,33699.21,8,9,0.00,1.29,0.00,0.00
1926083,2023-03-11,Tuolumne,California,18160,210,6109,CA,County,54478,33334.56,385.48,385.48,33334.56,2,10,0.00,3.86,0.00,0.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-03-11,Imperial,California,89041,1035,6025,CA,County,181215,49135.56,571.14,571.14,49135.56,1,1,0.00,31.64,0.00,0.79
1926083,2023-03-11,Tuolumne,California,18160,210,6109,CA,County,54478,33334.56,385.48,385.48,33334.56,2,10,0.00,3.86,0.00,0.00
120400,2023-03-11,Shasta,California,44806,690,6089,CA,County,180080,24881.16,383.16,383.16,24881.16,3,40,0.00,7.07,0.00,0.00
392552,2023-03-11,San Bernardino,California,745254,8171,6071,CA,County,2180085,34184.63,374.80,374.80,34184.63,4,8,0.00,136.43,0.00,0.00
2338436,2023-03-11,Tehama,California,17880,234,6103,CA,County,65084,27472.19,359.54,359.54,27472.19,5,25,0.00,2.64,0.00,0.86
5512,2023-03-11,Los Angeles,California,3715057,35814,6037,CA,County,10039107,37005.85,356.74,356.74,37005.85,6,4,0.00,913.07,0.00,12.29
1815956,2023-03-11,Glenn,California,7810,100,6021,CA,County,28393,27506.78,352.20,352.20,27506.78,7,24,0.00,1.21,0.00,0.07
1397441,2023-03-11,Inyo,California,6079,63,6027,CA,County,18039,33699.21,349.24,349.24,33699.21,8,9,0.00,1.29,0.00,0.00
216558,2023-03-11,Tulare,California,168889,1578,6107,CA,County,466195,36227.12,338.48,338.48,36227.12,9,5,0.00,53.50,0.00,0.79
3003595,2023-03-11,Lassen,California,11701,103,6035,CA,County,30573,38272.33,336.90,336.90,38272.33,10,3,0.00,1.64,0.00,0.14

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df['case_day'] = top10_ca_case_df['case_day'].astype(int)
top10_ca_case_df['date'] =  pd.to_datetime(top10_ca_case_df['date'], infer_datetime_format=True)
top10_ca_case_df

            date    county   cases  current_crate  case_day  14day_case_avg
0     2020-03-20  Imperial       4           2.21         4            0.36
1     2020-03-21  Imperial       4           2.21         0            0.36
2     2020-03-22  Imperial       4           2.21         0            0.36
3     2020-03-23  Imperial       4           2.21         0            0.36
4     2020-03-24  Imperial       9           4.97         5            0.71
...          ...       ...     ...            ...       ...             ...
10463 2023-03-07      Kern  310095       34447.27         0           93.36
10464 2023-03-08      Kern  310095       34447.27         0           93.36
10465 2023-03-09      Kern  310792       34524.70       697           90.21
10466 2023-03-10      Kern  310792       34524.70         0           90.21
10467 2023-03-11      Kern  310792       34524.70         0           90.21

[10468 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df['death_day'] = top10_ca_death_df['death_day'].astype(int)
top10_ca_death_df['date'] =  pd.to_datetime(top10_ca_death_df['date'], infer_datetime_format=True)
top10_ca_death_df

            date    county  deaths  current_drate  death_day  14day_death_avg
0     2020-03-20  Imperial       0           0.00          0             0.00
1     2020-03-21  Imperial       0           0.00          0             0.00
2     2020-03-22  Imperial       0           0.00          0             0.00
3     2020-03-23  Imperial       0           0.00          0             0.00
4     2020-03-24  Imperial       0           0.00          0             0.00
...          ...       ...     ...            ...        ...              ...
10443 2023-03-07    Lassen     101         330.36          0             0.00
10444 2023-03-08    Lassen     101         330.36          0             0.00
10445 2023-03-09    Lassen     103         336.90          2             0.14
10446 2023-03-10    Lassen     103         336.90          0             0.14
10447 2023-03-11    Lassen     103         336.90          0             0.14

[10448 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)