In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1336151,2021-06-03,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1336152,2021-06-04,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1336153,2021-06-05,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1336154,2021-06-06,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1336155,2021-06-07,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
35451,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
35453,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
35455,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
35457,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
35459,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
819939,2021-06-03,Arkansas,Arkansas,5001,2131,37.00,5000,Arkansas,AR,Arkansas,State,3017804
819941,2021-06-04,Arkansas,Arkansas,5001,2136,37.00,5000,Arkansas,AR,Arkansas,State,3017804
819943,2021-06-05,Arkansas,Arkansas,5001,2138,37.00,5000,Arkansas,AR,Arkansas,State,3017804
819945,2021-06-06,Arkansas,Arkansas,5001,2139,37.00,5000,Arkansas,AR,Arkansas,State,3017804
819947,2021-06-07,Arkansas,Arkansas,5001,2139,37.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1336151,2021-06-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1336152,2021-06-04,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1336153,2021-06-05,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1336154,2021-06-06,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1336155,2021-06-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-06-07') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
503,2021-06-07,Snohomish,Washington,39281,589.00,53061,WA,County,822083,4778.23,71.65
1004,2021-06-07,Cook,Illinois,555060,10934.00,17031,IL,County,5150233,10777.38,212.30
1504,2021-06-07,Orange,California,272447,5083.00,6059,CA,County,3175692,8579.14,160.06
2003,2021-06-07,Maricopa,Arizona,552781,10112.00,4013,AZ,County,4485414,12323.97,225.44
2502,2021-06-07,Los Angeles,California,1245921,24410.00,6037,CA,County,10039107,12410.68,243.15
...,...,...,...,...,...,...,...,...,...,...,...
1335327,2021-06-07,Wheeler,Oregon,34,1.00,41069,OR,County,1332,2552.55,75.08
1335565,2021-06-07,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00
1335772,2021-06-07,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00
1335975,2021-06-07,Loving,Texas,2,0.00,48301,TX,County,169,1183.43,0.00
1336155,2021-06-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
503,2021-06-07,Snohomish,Washington,39281,589.00,53061,WA,County,822083,4778.23,71.65,71.65,4778.23
1004,2021-06-07,Cook,Illinois,555060,10934.00,17031,IL,County,5150233,10777.38,212.30,212.30,10777.38
1504,2021-06-07,Orange,California,272447,5083.00,6059,CA,County,3175692,8579.14,160.06,160.06,8579.14
2003,2021-06-07,Maricopa,Arizona,552781,10112.00,4013,AZ,County,4485414,12323.97,225.44,225.44,12323.97
2502,2021-06-07,Los Angeles,California,1245921,24410.00,6037,CA,County,10039107,12410.68,243.15,243.15,12410.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335327,2021-06-07,Wheeler,Oregon,34,1.00,41069,OR,County,1332,2552.55,75.08,75.08,2552.55
1335565,2021-06-07,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00,0.00,4044.12
1335772,2021-06-07,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00,0.00,4352.81
1335975,2021-06-07,Loving,Texas,2,0.00,48301,TX,County,169,1183.43,0.00,0.00,1183.43
1336155,2021-06-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
857440,2021-06-07,Hale,Alabama,2260,78.00,1065,AL,County,14651,15425.57,532.39,532.39,15425.57,1
933485,2021-06-07,Clarke,Alabama,3527,61.00,1025,AL,County,23622,14931.00,258.23,258.23,14931.00,2
670581,2021-06-07,Lowndes,Alabama,1418,54.00,1085,AL,County,9726,14579.48,555.21,555.21,14579.48,3
594467,2021-06-07,Etowah,Alabama,14125,361.00,1055,AL,County,102268,13811.75,352.99,352.99,13811.75,4
498696,2021-06-07,Franklin,Alabama,4296,83.00,1059,AL,County,31362,13698.11,264.65,264.65,13698.11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264866,2021-06-07,Platte,Wyoming,666,11.00,56031,WY,County,8393,7935.18,131.06,131.06,7935.18,19
818202,2021-06-07,Converse,Wyoming,1018,17.00,56009,WY,County,13822,7365.07,122.99,122.99,7365.07,20
1017727,2021-06-07,Lincoln,Wyoming,1414,12.00,56023,WY,County,19830,7130.61,60.51,60.51,7130.61,21
1133103,2021-06-07,Niobrara,Wyoming,162,2.00,56027,WY,County,2356,6876.06,84.89,84.89,6876.06,22
1037937,2021-06-07,Crook,Wyoming,448,12.00,56011,WY,County,7584,5907.17,158.23,158.23,5907.17,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
670581,2021-06-07,Lowndes,Alabama,1418,54.00,1085,AL,County,9726,14579.48,555.21,555.21,14579.48,3,1
857440,2021-06-07,Hale,Alabama,2260,78.00,1065,AL,County,14651,15425.57,532.39,532.39,15425.57,1,2
592707,2021-06-07,Clay,Alabama,1592,59.00,1027,AL,County,13235,12028.71,445.79,445.79,12028.71,20,3
284852,2021-06-07,Walker,Alabama,7313,279.00,1127,AL,County,63521,11512.73,439.22,439.22,11512.73,28,4
723258,2021-06-07,Greene,Alabama,932,34.00,1063,AL,County,8111,11490.57,419.18,419.18,11490.57,29,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721505,2021-06-07,Hot Springs,Wyoming,370,3.00,56017,WY,County,4413,8384.32,67.98,67.98,8384.32,17,19
992298,2021-06-07,Uinta,Wyoming,2290,13.00,56041,WY,County,20226,11322.06,64.27,64.27,11322.06,5,20
1017727,2021-06-07,Lincoln,Wyoming,1414,12.00,56023,WY,County,19830,7130.61,60.51,60.51,7130.61,21,21
667947,2021-06-07,Albany,Wyoming,4540,15.00,56001,WY,County,38880,11676.95,38.58,38.58,11676.95,4,22
283514,2021-06-07,Teton,Wyoming,3789,9.00,56039,WY,County,23464,16148.14,38.36,38.36,16148.14,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,71.65,4778.23,20,25
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,71.65,4778.23,20,25
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,71.65,4778.23,20,25
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,71.65,4778.23,20,25
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,71.65,4778.23,20,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333029,2021-06-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1333030,2021-06-04,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1333031,2021-06-05,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1333032,2021-06-06,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1333033,2021-06-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
853884,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15425.57,2,1,1.00
853885,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15425.57,2,1,0.00
853886,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15425.57,2,1,0.00
853887,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15425.57,2,1,0.00
853888,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,532.39,15425.57,2,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034811,2021-06-03,Crook,Wyoming,448,12.00,56011,WY,County,7584,5907.17,158.23,158.23,5907.17,6,23,1.00
1034812,2021-06-04,Crook,Wyoming,448,12.00,56011,WY,County,7584,5907.17,158.23,158.23,5907.17,6,23,0.00
1034813,2021-06-05,Crook,Wyoming,448,12.00,56011,WY,County,7584,5907.17,158.23,158.23,5907.17,6,23,0.00
1034814,2021-06-06,Crook,Wyoming,448,12.00,56011,WY,County,7584,5907.17,158.23,158.23,5907.17,6,23,0.00
1034815,2021-06-07,Crook,Wyoming,448,12.00,56011,WY,County,7584,5907.17,158.23,158.23,5907.17,6,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
667895,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14579.48,1,3,1.00,0.00
667896,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14579.48,1,3,0.00,0.00
667897,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14579.48,1,3,0.00,0.00
667898,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14579.48,1,3,0.00,0.00
667899,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14579.48,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281702,2021-06-03,Teton,Wyoming,3785,9.00,56039,WY,County,23464,16131.09,38.36,38.36,16148.14,23,1,0.00,0.00
281703,2021-06-04,Teton,Wyoming,3787,9.00,56039,WY,County,23464,16139.62,38.36,38.36,16148.14,23,1,2.00,0.00
281704,2021-06-05,Teton,Wyoming,3787,9.00,56039,WY,County,23464,16139.62,38.36,38.36,16148.14,23,1,0.00,0.00
281705,2021-06-06,Teton,Wyoming,3787,9.00,56039,WY,County,23464,16139.62,38.36,38.36,16148.14,23,1,0.00,0.00
281706,2021-06-07,Teton,Wyoming,3789,9.00,56039,WY,County,23464,16148.14,38.36,38.36,16148.14,23,1,2.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-06-07') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
340124,2021-06-07,Imperial,California,28762,738.00,6025,CA,County,181215,15871.75,407.25,407.25,15871.75,1,2,-2.00,1.00
2502,2021-06-07,Los Angeles,California,1245921,24410.00,6037,CA,County,10039107,12410.68,243.15,243.15,12410.68,2,5,133.00,-1.00
169210,2021-06-07,San Bernardino,California,298697,4773.00,6071,CA,County,2180085,13701.16,218.94,218.94,13701.16,3,4,21.00,1.00
596179,2021-06-07,Inyo,California,1432,38.00,6027,CA,County,18039,7938.36,210.65,210.65,7938.36,4,25,0.00,0.00
75593,2021-06-07,Stanislaus,California,63041,1068.00,6099,CA,County,550660,11448.26,193.95,193.95,11448.26,5,9,60.00,0.00
34992,2021-06-07,Riverside,California,301013,4618.00,6065,CA,County,2470546,12184.07,186.92,186.92,12184.07,6,7,84.00,2.00
60125,2021-06-07,San Joaquin,California,74161,1423.00,6077,CA,County,762148,9730.52,186.71,186.71,9730.52,7,17,47.00,0.00
93750,2021-06-07,Tulare,California,49936,848.00,6107,CA,County,466195,10711.40,181.90,181.90,10711.40,8,10,2.00,1.00
34076,2021-06-07,Fresno,California,102642,1717.00,6019,CA,County,999101,10273.44,171.85,171.85,10273.44,9,14,16.00,0.00
540189,2021-06-07,Merced,California,32215,473.00,6047,CA,County,277680,11601.48,170.34,170.34,11601.48,10,8,22.00,2.00
723200,2021-06-07,Kings,California,23124,247.00,6031,CA,County,152940,15119.65,161.50,161.50,15119.65,11,3,2.00,0.00
1504,2021-06-07,Orange,California,272447,5083.00,6059,CA,County,3175692,8579.14,160.06,160.06,8579.14,12,22,21.00,0.00
34534,2021-06-07,Madera,California,16567,245.00,6039,CA,County,157327,10530.30,155.73,155.73,10530.30,13,12,4.00,0.00
212805,2021-06-07,Kern,California,110395,1398.00,6029,CA,County,900202,12263.36,155.30,155.30,12263.36,14,6,23.00,0.00
52374,2021-06-07,Shasta,California,12478,230.00,6089,CA,County,180080,6929.14,127.72,127.72,6929.14,15,33,6.00,0.00
819005,2021-06-07,Tuolumne,California,4177,69.00,6109,CA,County,54478,7667.32,126.66,126.66,7667.32,16,29,4.00,0.00
539748,2021-06-07,Calaveras,California,2193,56.00,6009,CA,County,45905,4777.26,121.99,121.99,4777.26,17,51,7.00,0.00
60580,2021-06-07,Ventura,California,81507,1025.00,6111,CA,County,846006,9634.33,121.16,121.16,9634.33,18,19,50.00,0.00
339679,2021-06-07,Amador,California,3695,47.00,6005,CA,County,39752,9295.13,118.23,118.23,9295.13,19,20,2.00,0.00
596619,2021-06-07,Sutter,California,9573,111.00,6101,CA,County,96971,9872.02,114.47,114.47,9872.02,20,16,14.00,0.00
4954,2021-06-07,San Diego,California,280806,3764.00,6073,CA,County,3338330,8411.57,112.75,112.75,8411.57,21,23,67.00,0.00
2996,2021-06-07,Santa Clara,California,119711,2156.00,6085,CA,County,1927852,6209.55,111.83,111.83,6209.55,22,36,35.00,2.00
6860,2021-06-07,Sacramento,California,106960,1716.00,6067,CA,County,1552058,6891.50,110.56,110.56,6891.50,23,34,247.00,0.00
169660,2021-06-07,Santa Barbara,California,34541,459.00,6083,CA,County,446499,7735.96,102.80,102.80,7735.96,24,28,10.00,0.00
11069,2021-06-07,Alameda,California,89168,1702.00,6001,CA,County,1671329,5335.16,101.84,101.84,5335.16,25,47,6.00,9.00
116847,2021-06-07,San Benito,California,6074,63.00,6069,CA,County,62808,9670.74,100.31,100.31,9670.74,26,18,0.00,0.00
991762,2021-06-07,Tehama,California,5092,63.00,6103,CA,County,65084,7823.74,96.80,96.80,7823.74,27,27,0.00,0.00
213253,2021-06-07,Monterey,California,43774,419.00,6053,CA,County,434061,10084.76,96.53,96.53,10084.76,28,15,8.00,0.00
23061,2021-06-07,Yolo,California,14089,210.00,6113,CA,County,220500,6389.57,95.24,95.24,6389.57,29,35,1.00,0.00
772690,2021-06-07,Glenn,California,2942,27.00,6021,CA,County,28393,10361.71,95.09,95.09,10361.71,30,13,1.00,0.00
141704,2021-06-07,San Luis Obispo,California,21369,261.00,6079,CA,County,283111,7547.92,92.19,92.19,7547.92,31,30,6.00,0.00
401975,2021-06-07,Butte,California,12527,194.00,6007,CA,County,219186,5715.24,88.51,88.51,5715.24,32,41,13.00,0.00
8737,2021-06-07,Marin,California,14106,229.00,6041,CA,County,258826,5449.99,88.48,88.48,5449.99,33,45,5.00,0.00
12923,2021-06-07,San Mateo,California,42457,664.00,6081,CA,County,766573,5538.55,86.62,86.62,5538.55,34,42,24.00,0.00
722762,2021-06-07,Colusa,California,2272,18.00,6011,CA,County,21547,10544.39,83.54,83.54,10544.39,35,11,7.00,0.00
1264417,2021-06-07,Lassen,California,5748,24.00,6035,CA,County,30573,18800.90,78.50,78.50,18800.90,36,1,0.00,0.00
35450,2021-06-07,Santa Cruz,California,16200,208.00,6087,CA,County,273213,5929.44,76.13,76.13,5929.44,37,39,10.00,0.00
402863,2021-06-07,Siskiyou,California,2379,33.00,6093,CA,County,43539,5464.07,75.79,75.79,5464.07,38,44,4.00,0.00
193054,2021-06-07,Nevada,California,4854,75.00,6057,CA,County,99755,4865.92,75.18,75.18,4865.92,39,50,5.00,0.00
12460,2021-06-07,Placer,California,23196,297.00,6061,CA,County,398329,5823.33,74.56,74.56,5823.33,40,40,63.00,0.00
15237,2021-06-07,Contra Costa,California,70003,817.00,6013,CA,County,1153526,6068.61,70.83,70.83,6068.61,41,38,58.00,0.00
1052398,2021-06-07,Lake,California,3535,45.00,6033,CA,County,64386,5490.32,69.89,69.89,5490.32,42,43,1.00,0.00
9673,2021-06-07,Sonoma,California,30493,323.00,6097,CA,County,494336,6168.48,65.34,65.34,6168.48,43,37,0.00,0.00
3981,2021-06-07,San Francisco,California,37121,552.00,6075,CA,County,881549,4210.88,62.62,62.62,4210.88,44,53,7.00,0.00
403307,2021-06-07,Yuba,California,6405,49.00,6115,CA,County,78668,8141.81,62.29,62.29,8141.81,45,24,4.00,0.00
402419,2021-06-07,El Dorado,California,10315,115.00,6017,CA,County,192843,5348.91,59.63,59.63,5348.91,46,46,11.00,2.00
9205,2021-06-07,Napa,California,9964,80.00,6055,CA,County,137744,7233.71,58.08,58.08,7233.71,47,32,3.00,0.00
244605,2021-06-07,Mendocino,California,4252,50.00,6045,CA,County,86749,4901.50,57.64,57.64,4901.50,48,49,13.00,0.00
7330,2021-06-07,Solano,California,33496,258.00,6095,CA,County,447643,7482.75,57.64,57.64,7482.75,49,31,0.00,1.00
1214181,2021-06-07,Mariposa,California,461,7.00,6043,CA,County,17203,2679.77,40.69,40.69,2679.77,50,56,0.00,0.00
6387,2021-06-07,Humboldt,California,4382,46.00,6023,CA,County,135558,3232.56,33.93,33.93,3232.56,51,55,27.00,1.00
1325462,2021-06-07,Modoc,California,375,3.00,6049,CA,County,8841,4241.60,33.93,33.93,4241.60,52,52,0.00,0.00
897380,2021-06-07,Plumas,California,733,6.00,6063,CA,County,18807,3897.48,31.90,31.90,3897.48,53,54,10.00,0.00
959800,2021-06-07,Del Norte,California,1441,8.00,6015,CA,County,27812,5181.22,28.76,28.76,5181.22,54,48,2.00,0.00
540630,2021-06-07,Mono,California,1294,4.00,6051,CA,County,14444,8958.74,27.69,27.69,8958.74,55,21,0.00,0.00
1246249,2021-06-07,Trinity,California,329,3.00,6105,CA,County,12285,2678.06,24.42,24.42,2678.06,56,57,0.00,0.00
856493,2021-06-07,Alpine,California,89,0.00,6003,CA,County,1129,7883.08,0.00,0.00,7883.08,57,26,0.00,0.00
1262126,2021-06-07,Sierra,California,55,0.00,6091,CA,County,3005,1830.28,0.00,0.00,1830.28,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1264417,2021-06-07,Lassen,California,5748,24.00,6035,CA,County,30573,18800.90,78.50,78.50,18800.90,36,1,0.00,0.00
340124,2021-06-07,Imperial,California,28762,738.00,6025,CA,County,181215,15871.75,407.25,407.25,15871.75,1,2,-2.00,1.00
723200,2021-06-07,Kings,California,23124,247.00,6031,CA,County,152940,15119.65,161.50,161.50,15119.65,11,3,2.00,0.00
169210,2021-06-07,San Bernardino,California,298697,4773.00,6071,CA,County,2180085,13701.16,218.94,218.94,13701.16,3,4,21.00,1.00
2502,2021-06-07,Los Angeles,California,1245921,24410.00,6037,CA,County,10039107,12410.68,243.15,243.15,12410.68,2,5,133.00,-1.00
212805,2021-06-07,Kern,California,110395,1398.00,6029,CA,County,900202,12263.36,155.30,155.30,12263.36,14,6,23.00,0.00
34992,2021-06-07,Riverside,California,301013,4618.00,6065,CA,County,2470546,12184.07,186.92,186.92,12184.07,6,7,84.00,2.00
540189,2021-06-07,Merced,California,32215,473.00,6047,CA,County,277680,11601.48,170.34,170.34,11601.48,10,8,22.00,2.00
75593,2021-06-07,Stanislaus,California,63041,1068.00,6099,CA,County,550660,11448.26,193.95,193.95,11448.26,5,9,60.00,0.00
93750,2021-06-07,Tulare,California,49936,848.00,6107,CA,County,466195,10711.40,181.90,181.90,10711.40,8,10,2.00,1.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
340124,2021-06-07,Imperial,California,28762,738.00,6025,CA,County,181215,15871.75,407.25,407.25,15871.75,1,2,-2.00,1.00
2502,2021-06-07,Los Angeles,California,1245921,24410.00,6037,CA,County,10039107,12410.68,243.15,243.15,12410.68,2,5,133.00,-1.00
169210,2021-06-07,San Bernardino,California,298697,4773.00,6071,CA,County,2180085,13701.16,218.94,218.94,13701.16,3,4,21.00,1.00
596179,2021-06-07,Inyo,California,1432,38.00,6027,CA,County,18039,7938.36,210.65,210.65,7938.36,4,25,0.00,0.00
75593,2021-06-07,Stanislaus,California,63041,1068.00,6099,CA,County,550660,11448.26,193.95,193.95,11448.26,5,9,60.00,0.00
34992,2021-06-07,Riverside,California,301013,4618.00,6065,CA,County,2470546,12184.07,186.92,186.92,12184.07,6,7,84.00,2.00
60125,2021-06-07,San Joaquin,California,74161,1423.00,6077,CA,County,762148,9730.52,186.71,186.71,9730.52,7,17,47.00,0.00
93750,2021-06-07,Tulare,California,49936,848.00,6107,CA,County,466195,10711.40,181.90,181.90,10711.40,8,10,2.00,1.00
34076,2021-06-07,Fresno,California,102642,1717.00,6019,CA,County,999101,10273.44,171.85,171.85,10273.44,9,14,16.00,0.00
540189,2021-06-07,Merced,California,32215,473.00,6047,CA,County,277680,11601.48,170.34,170.34,11601.48,10,8,22.00,2.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,407.25,15871.75,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,407.25,15871.75,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,407.25,15871.75,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,407.25,15871.75,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,407.25,15871.75,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4462,06/03/21,Lassen,5748,24.00,18800.90,78.50,78.50,18800.90,36,1,3.00,0.00
4463,06/04/21,Lassen,5748,24.00,18800.90,78.50,78.50,18800.90,36,1,0.00,0.00
4464,06/05/21,Lassen,5748,24.00,18800.90,78.50,78.50,18800.90,36,1,0.00,0.00
4465,06/06/21,Lassen,5748,24.00,18800.90,78.50,78.50,18800.90,36,1,0.00,0.00
4466,06/07/21,Lassen,5748,24.00,18800.90,78.50,78.50,18800.90,36,1,0.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,407.25,15871.75,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,407.25,15871.75,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,407.25,15871.75,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,407.25,15871.75,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,407.25,15871.75,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4548,06/03/21,Merced,32183,471.00,11589.96,169.62,170.34,11601.48,10,8,5.00,0.00
4549,06/04/21,Merced,32193,471.00,11593.56,169.62,170.34,11601.48,10,8,10.00,0.00
4550,06/05/21,Merced,32193,471.00,11593.56,169.62,170.34,11601.48,10,8,0.00,0.00
4551,06/06/21,Merced,32193,471.00,11593.56,169.62,170.34,11601.48,10,8,0.00,0.00
4552,06/07/21,Merced,32215,473.00,11601.48,170.34,170.34,11601.48,10,8,22.00,2.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)