In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr_new_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-recent.csv')
yr_new_df['fips'] = yr_new_df['fips'].fillna(0).astype(np.int64)
yr_new_df['date'] = pd.to_datetime(yr_new_df['date'], yearfirst=True)
yr2023_df = yr_new_df[(yr_new_df['date'] > '2022-12-31')]
yr2023_df['date'] = pd.to_datetime(yr2023_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df, yr2023_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df['date'] = pd.to_datetime(us_data_df['date'], yearfirst=True)
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
3201147,2023-02-28,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201148,2023-03-01,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201149,2023-03-02,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201150,2023-03-03,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3201151,2023-03-04,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
81203,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81205,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81207,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81209,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
81211,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1928221,2023-02-28,Arkansas,Arkansas,5001,7000,95.00,5000,Arkansas,AR,Arkansas,State,3017804
1928223,2023-03-01,Arkansas,Arkansas,5001,7000,95.00,5000,Arkansas,AR,Arkansas,State,3017804
1928225,2023-03-02,Arkansas,Arkansas,5001,7001,95.00,5000,Arkansas,AR,Arkansas,State,3017804
1928227,2023-03-03,Arkansas,Arkansas,5001,7001,95.00,5000,Arkansas,AR,Arkansas,State,3017804
1928229,2023-03-04,Arkansas,Arkansas,5001,7004,95.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
3201147,2023-02-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201148,2023-03-01,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201149,2023-03-02,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201150,2023-03-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3201151,2023-03-04,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2023-03-04') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
1105,2023-03-04,Snohomish,Washington,205340,1447.00,53061,WA,County,822083,24978.01,176.02
2208,2023-03-04,Cook,Illinois,1529509,15831.00,17031,IL,County,5150233,29697.86,307.38
3310,2023-03-04,Orange,California,787618,7957.00,6059,CA,County,3175692,24801.46,250.56
4411,2023-03-04,Maricopa,Arizona,1528983,18831.00,4013,AZ,County,4485414,34087.89,419.83
5512,2023-03-04,Los Angeles,California,3708726,35734.00,6037,CA,County,10039107,36942.79,355.95
...,...,...,...,...,...,...,...,...,...,...,...
3197915,2023-03-04,Wheeler,Oregon,303,3.00,41069,OR,County,1332,22747.75,225.23
3198755,2023-03-04,King,Texas,56,0.00,48269,TX,County,272,20588.24,0.00
3199564,2023-03-04,Esmeralda,Nevada,124,5.00,32009,NV,County,873,14203.89,572.74
3200369,2023-03-04,Loving,Texas,403,1.00,48301,TX,County,169,238461.54,591.72
3201151,2023-03-04,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
1105,2023-03-04,Snohomish,Washington,205340,1447.00,53061,WA,County,822083,24978.01,176.02,176.02,24978.01
2208,2023-03-04,Cook,Illinois,1529509,15831.00,17031,IL,County,5150233,29697.86,307.38,307.38,29697.86
3310,2023-03-04,Orange,California,787618,7957.00,6059,CA,County,3175692,24801.46,250.56,250.56,24801.46
4411,2023-03-04,Maricopa,Arizona,1528983,18831.00,4013,AZ,County,4485414,34087.89,419.83,419.83,34087.89
5512,2023-03-04,Los Angeles,California,3708726,35734.00,6037,CA,County,10039107,36942.79,355.95,355.95,36942.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3197915,2023-03-04,Wheeler,Oregon,303,3.00,41069,OR,County,1332,22747.75,225.23,225.23,22747.75
3198755,2023-03-04,King,Texas,56,0.00,48269,TX,County,272,20588.24,0.00,0.00,20588.24
3199564,2023-03-04,Esmeralda,Nevada,124,5.00,32009,NV,County,873,14203.89,572.74,572.74,14203.89
3200369,2023-03-04,Loving,Texas,403,1.00,48301,TX,County,169,238461.54,591.72,591.72,238461.54
3201151,2023-03-04,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1700578,2023-03-04,Winston,Alabama,9420,140.00,1133,AL,County,23629,39866.27,592.49,592.49,39866.27,1
2017494,2023-03-04,Hale,Alabama,5717,110.00,1065,AL,County,14651,39021.23,750.80,750.80,39021.23,2
1389153,2023-03-04,Clay,Alabama,5156,93.00,1027,AL,County,13235,38957.31,702.68,702.68,38957.31,3
1255654,2023-03-04,Morgan,Alabama,46458,550.00,1103,AL,County,119679,38818.84,459.56,459.56,38818.84,4
1391237,2023-03-04,Colbert,Alabama,21263,279.00,1033,AL,County,55241,38491.34,505.06,505.06,38491.34,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564907,2023-03-04,Park,Wyoming,7700,153.00,56029,WY,County,29194,26375.28,524.08,524.08,26375.28,19
2728644,2023-03-04,Big Horn,Wyoming,3080,66.00,56003,WY,County,11790,26123.83,559.80,559.80,26123.83,20
2400521,2023-03-04,Lincoln,Wyoming,4904,38.00,56023,WY,County,19830,24730.21,191.63,191.63,24730.21,21
1925115,2023-03-04,Sublette,Wyoming,2312,28.00,56035,WY,County,9831,23517.44,284.81,284.81,23517.44,22
2449025,2023-03-04,Crook,Wyoming,1575,32.00,56011,WY,County,7584,20767.41,421.94,421.94,20767.41,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1573581,2023-03-04,Lowndes,Alabama,3362,82.00,1085,AL,County,9726,34567.14,843.10,843.10,34567.14,23,1
1571499,2023-03-04,Crenshaw,Alabama,4733,110.00,1041,AL,County,13772,34366.83,798.72,798.72,34366.83,24,2
663510,2023-03-04,Walker,Alabama,24100,479.00,1127,AL,County,63521,37940.21,754.08,754.08,37940.21,7,3
2017494,2023-03-04,Hale,Alabama,5717,110.00,1065,AL,County,14651,39021.23,750.80,750.80,39021.23,2,4
1696418,2023-03-04,Covington,Alabama,11794,277.00,1039,AL,County,37049,31833.52,747.66,747.66,31833.52,43,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695378,2023-03-04,Johnson,Wyoming,2362,21.00,56019,WY,County,8445,27969.21,248.67,248.67,27969.21,15,19
2339574,2023-03-04,Uinta,Wyoming,6401,43.00,56041,WY,County,20226,31647.38,212.60,212.60,31647.38,11,20
2400521,2023-03-04,Lincoln,Wyoming,4904,38.00,56023,WY,County,19830,24730.21,191.63,191.63,24730.21,21,21
1567335,2023-03-04,Albany,Wyoming,11563,54.00,56001,WY,County,38880,29740.23,138.89,138.89,29740.23,13,22
660366,2023-03-04,Teton,Wyoming,12130,16.00,56039,WY,County,23464,51696.22,68.19,68.19,51696.22,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,176.02,24978.01,32,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193811,2023-02-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193812,2023-03-01,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193813,2023-03-02,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193814,2023-03-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3193815,2023-03-04,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1694281,2020-03-27,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39866.27,21,1,2.00,nan
1694282,2020-03-28,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39866.27,21,1,0.00,nan
1694283,2020-03-29,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39866.27,21,1,0.00,nan
1694284,2020-03-30,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39866.27,21,1,0.00,nan
1694285,2020-03-31,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,592.49,39866.27,21,1,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2441685,2023-02-28,Crook,Wyoming,1575,32.00,56011,WY,County,7584,20767.41,421.94,421.94,20767.41,9,23,4.00,0.79
2441686,2023-03-01,Crook,Wyoming,1575,32.00,56011,WY,County,7584,20767.41,421.94,421.94,20767.41,9,23,0.00,0.79
2441687,2023-03-02,Crook,Wyoming,1575,32.00,56011,WY,County,7584,20767.41,421.94,421.94,20767.41,9,23,0.00,0.79
2441688,2023-03-03,Crook,Wyoming,1575,32.00,56011,WY,County,7584,20767.41,421.94,421.94,20767.41,9,23,0.00,0.79
2441689,2023-03-04,Crook,Wyoming,1575,32.00,56011,WY,County,7584,20767.41,421.94,421.94,20767.41,9,23,0.00,0.79

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa['14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa['deaths'] = usa['deaths'].astype(int)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1567283,2020-03-26,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34567.14,1,23,1.00,1.57,0.00,nan
1567284,2020-03-27,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34567.14,1,23,0.00,1.57,0.00,nan
1567285,2020-03-28,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34567.14,1,23,0.00,1.57,0.00,nan
1567286,2020-03-29,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34567.14,1,23,0.00,0.43,0.00,nan
1567287,2020-03-30,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,34567.14,1,23,0.00,0.43,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656146,2023-02-28,Teton,Wyoming,12130,16,56039,WY,County,23464,51696.22,68.19,68.19,51696.22,23,1,7.00,1.21,0.00,0.00
656147,2023-03-01,Teton,Wyoming,12130,16,56039,WY,County,23464,51696.22,68.19,68.19,51696.22,23,1,0.00,1.21,0.00,0.00
656148,2023-03-02,Teton,Wyoming,12130,16,56039,WY,County,23464,51696.22,68.19,68.19,51696.22,23,1,0.00,1.21,0.00,0.00
656149,2023-03-03,Teton,Wyoming,12130,16,56039,WY,County,23464,51696.22,68.19,68.19,51696.22,23,1,0.00,1.21,0.00,0.00
656150,2023-03-04,Teton,Wyoming,12130,16,56039,WY,County,23464,51696.22,68.19,68.19,51696.22,23,1,0.00,1.21,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2023-03-04') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-03-04,Imperial,California,88802,1029,6025,CA,County,181215,49003.67,567.83,567.83,49003.67,1,1,0.00,28.36,0.00,0.36
1926083,2023-03-04,Tuolumne,California,18160,210,6109,CA,County,54478,33334.56,385.48,385.48,33334.56,2,10,0.00,6.93,0.00,0.00
120400,2023-03-04,Shasta,California,44744,690,6089,CA,County,180080,24846.73,383.16,383.16,24846.73,3,39,0.00,6.57,0.00,0.00
392552,2023-03-04,San Bernardino,California,744313,8171,6071,CA,County,2180085,34141.47,374.80,374.80,34141.47,4,8,0.00,150.64,0.00,0.00
5512,2023-03-04,Los Angeles,California,3708726,35734,6037,CA,County,10039107,36942.79,355.95,355.95,36942.79,5,4,0.00,978.93,0.00,13.50
1397441,2023-03-04,Inyo,California,6067,63,6027,CA,County,18039,33632.68,349.24,349.24,33632.68,6,9,0.00,1.79,0.00,0.00
1815956,2023-03-04,Glenn,California,7808,99,6021,CA,County,28393,27499.74,348.68,348.68,27499.74,7,24,0.00,2.00,0.00,0.00
2338436,2023-03-04,Tehama,California,17858,225,6103,CA,County,65084,27438.39,345.71,345.71,27438.39,8,25,0.00,3.21,0.00,0.21
216558,2023-03-04,Tulare,California,168507,1577,6107,CA,County,466195,36145.18,338.27,338.27,36145.18,9,5,0.00,53.29,0.00,0.71
174321,2023-03-04,Stanislaus,California,168094,1845,6099,CA,County,550660,30525.91,335.05,335.05,30525.91,10,15,0.00,41.14,0.00,0.21
3003595,2023-03-04,Lassen,California,11696,101,6035,CA,County,30573,38255.98,330.36,330.36,38255.98,11,3,0.00,1.29,0.00,0.00
79082,2023-03-04,Madera,California,55120,517,6039,CA,County,157327,35035.31,328.61,328.61,35035.31,12,6,0.00,13.86,0.00,0.29
80142,2023-03-04,Riverside,California,775730,8038,6065,CA,County,2470546,31399.13,325.35,325.35,31399.13,13,14,0.00,173.21,0.00,6.93
1264997,2023-03-04,Merced,California,89167,903,6047,CA,County,277680,32111.42,325.19,325.19,32111.42,14,12,0.00,23.43,0.00,0.00
138385,2023-03-04,San Joaquin,California,226603,2420,6077,CA,County,762148,29732.15,317.52,317.52,29732.15,15,18,0.00,65.93,0.00,0.36
1698440,2023-03-04,Kings,California,67291,481,6031,CA,County,152940,43998.30,314.50,314.50,43998.30,16,2,0.00,10.64,0.00,0.57
1263954,2023-03-04,Calaveras,California,9634,140,6009,CA,County,45905,20986.82,304.98,304.98,20986.82,17,52,0.00,2.57,0.00,0.00
78022,2023-03-04,Fresno,California,328928,2994,6019,CA,County,999101,32922.40,299.67,299.67,32922.40,18,11,0.00,94.64,0.00,0.79
494541,2023-03-04,Kern,California,310095,2622,6029,CA,County,900202,34447.27,291.27,291.27,34447.27,19,7,0.00,93.36,0.00,0.50
941051,2023-03-04,Siskiyou,California,8903,124,6093,CA,County,43539,20448.33,284.80,284.80,20448.33,20,53,0.00,2.50,0.00,0.00
3169388,2023-03-04,Modoc,California,1326,25,6049,CA,County,8841,14998.30,282.77,282.77,14998.30,21,56,0.00,0.29,0.00,0.00
2876905,2023-03-04,Mariposa,California,4545,46,6043,CA,County,17203,26419.81,267.40,267.40,26419.81,22,29,0.00,0.86,0.00,0.14
2112818,2023-03-04,Plumas,California,4290,49,6063,CA,County,18807,22810.66,260.54,260.54,22810.66,23,48,0.00,0.86,0.00,0.14
1398483,2023-03-04,Sutter,California,28269,251,6101,CA,County,96971,29152.01,258.84,258.84,29152.01,24,19,0.00,6.71,0.00,0.29
2483954,2023-03-04,Lake,California,14919,165,6033,CA,County,64386,23171.19,256.27,256.27,23171.19,25,46,0.00,3.29,0.00,0.36
2957133,2023-03-04,Trinity,California,1980,31,6105,CA,County,12285,16117.22,252.34,252.34,16117.22,26,55,0.00,0.29,0.00,0.07
3310,2023-03-04,Orange,California,787618,7957,6059,CA,County,3175692,24801.46,250.56,250.56,24801.46,27,40,0.00,280.93,0.00,3.50
792383,2023-03-04,Amador,California,11539,99,6005,CA,County,39752,29027.47,249.04,249.04,29027.47,28,20,0.00,3.57,0.00,0.00
938959,2023-03-04,Butte,California,51916,543,6007,CA,County,219186,23685.82,247.73,247.73,23685.82,29,45,0.00,14.86,0.00,0.64
1697400,2023-03-04,Colusa,California,5335,52,6011,CA,County,21547,24759.83,241.33,241.33,24759.83,30,41,0.00,2.21,0.00,0.00
15288,2023-03-04,Sacramento,California,408155,3719,6067,CA,County,1552058,26297.66,239.62,239.62,26297.66,31,31,0.00,135.43,0.00,1.29
2261926,2023-03-04,Del Norte,California,8398,62,6015,CA,County,27812,30195.60,222.93,222.93,30195.60,32,16,0.00,2.43,0.00,0.07
52559,2023-03-04,Yolo,California,54904,443,6113,CA,County,220500,24899.77,200.91,200.91,24899.77,33,38,0.00,16.00,0.00,0.29
328324,2023-03-04,San Luis Obispo,California,74520,561,6079,CA,County,283111,26321.83,198.16,198.16,26321.83,34,30,0.00,15.79,0.00,0.14
139442,2023-03-04,Ventura,California,238915,1673,6111,CA,County,846006,28240.34,197.75,197.75,28240.34,35,21,0.00,51.14,0.00,0.64
942097,2023-03-04,Yuba,California,21884,155,6115,CA,County,78668,27818.17,197.03,197.03,27818.17,36,23,0.00,4.64,0.00,0.14
495591,2023-03-04,Monterey,California,121947,827,6053,CA,County,434061,28094.44,190.53,190.53,28094.44,37,22,0.00,83.50,0.00,0.43
270357,2023-03-04,San Benito,California,18779,118,6069,CA,County,62808,29899.06,187.87,187.87,29899.06,38,17,0.00,6.21,0.00,0.21
10974,2023-03-04,San Diego,California,1066300,6000,6073,CA,County,3338330,31941.12,179.73,179.73,31941.12,39,13,0.00,300.79,0.00,8.21
28112,2023-03-04,Placer,California,91209,682,6061,CA,County,398329,22897.91,171.22,171.22,22897.91,40,47,0.00,30.36,0.00,0.00
393604,2023-03-04,Santa Barbara,California,119819,761,6083,CA,County,446499,26835.22,170.44,170.44,26835.22,41,27,0.00,33.00,0.00,0.07
448302,2023-03-04,Nevada,California,22468,166,6057,CA,County,99755,22523.18,166.41,166.41,22523.18,42,49,0.00,5.93,0.00,0.00
2997692,2023-03-04,Sierra,California,372,5,6091,CA,County,3005,12379.37,166.39,166.39,12379.37,43,58,0.00,0.00,0.00,0.00
569083,2023-03-04,Mendocino,California,21710,144,6045,CA,County,86749,25026.23,166.00,166.00,25026.23,44,37,0.00,4.43,0.00,0.07
940005,2023-03-04,El Dorado,California,39101,312,6017,CA,County,192843,20276.08,161.79,161.79,20276.08,45,54,0.00,10.00,0.00,0.50
16360,2023-03-04,Solano,California,122389,722,6095,CA,County,447643,27340.76,161.29,161.29,27340.76,46,26,0.00,45.07,0.00,1.07
6608,2023-03-04,Santa Clara,California,496338,2715,6085,CA,County,1927852,25745.65,140.83,140.83,25745.65,47,33,0.00,193.86,0.00,1.93
34501,2023-03-04,Contra Costa,California,294923,1556,6013,CA,County,1153526,25567.09,134.89,134.89,25567.09,48,34,0.00,142.21,0.00,1.00
8797,2023-03-04,San Francisco,California,209256,1174,6075,CA,County,881549,23737.31,133.17,133.17,23737.31,49,44,0.00,95.71,0.00,0.71
24915,2023-03-04,Alameda,California,401184,2193,6001,CA,County,1671329,24003.89,131.21,131.21,24003.89,50,43,0.00,180.07,0.00,1.21
81202,2023-03-04,Santa Cruz,California,72250,356,6087,CA,County,273213,26444.57,130.30,130.30,26444.57,51,28,0.00,28.29,0.00,0.57
14213,2023-03-04,Humboldt,California,29291,173,6023,CA,County,135558,21607.73,127.62,127.62,21607.73,52,50,0.00,12.14,0.00,0.29
20643,2023-03-04,Napa,California,35937,170,6055,CA,County,137744,26089.70,123.42,123.42,26089.70,53,32,0.00,11.93,0.00,0.36
19573,2023-03-04,Marin,California,54763,317,6041,CA,County,258826,21158.23,122.48,122.48,21158.23,54,51,0.00,23.50,0.00,0.00
29177,2023-03-04,San Mateo,California,194129,912,6081,CA,County,766573,25324.27,118.97,118.97,25324.27,55,35,0.00,73.00,0.00,0.00
1266040,2023-03-04,Mono,California,3628,17,6051,CA,County,14444,25117.70,117.70,117.70,25117.70,56,36,0.00,0.50,0.00,0.00
21713,2023-03-04,Sonoma,California,119319,572,6097,CA,County,494336,24137.23,115.71,115.71,24137.23,57,42,0.00,38.14,0.00,0.57
2015343,2023-03-04,Alpine,California,143,0,6003,CA,County,1129,12666.08,0.00,0.00,12666.08,58,57,0.00,0.00,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-03-04,Imperial,California,88802,1029,6025,CA,County,181215,49003.67,567.83,567.83,49003.67,1,1,0.00,28.36,0.00,0.36
1698440,2023-03-04,Kings,California,67291,481,6031,CA,County,152940,43998.30,314.50,314.50,43998.30,16,2,0.00,10.64,0.00,0.57
3003595,2023-03-04,Lassen,California,11696,101,6035,CA,County,30573,38255.98,330.36,330.36,38255.98,11,3,0.00,1.29,0.00,0.00
5512,2023-03-04,Los Angeles,California,3708726,35734,6037,CA,County,10039107,36942.79,355.95,355.95,36942.79,5,4,0.00,978.93,0.00,13.50
216558,2023-03-04,Tulare,California,168507,1577,6107,CA,County,466195,36145.18,338.27,338.27,36145.18,9,5,0.00,53.29,0.00,0.71
79082,2023-03-04,Madera,California,55120,517,6039,CA,County,157327,35035.31,328.61,328.61,35035.31,12,6,0.00,13.86,0.00,0.29
494541,2023-03-04,Kern,California,310095,2622,6029,CA,County,900202,34447.27,291.27,291.27,34447.27,19,7,0.00,93.36,0.00,0.50
392552,2023-03-04,San Bernardino,California,744313,8171,6071,CA,County,2180085,34141.47,374.80,374.80,34141.47,4,8,0.00,150.64,0.00,0.00
1397441,2023-03-04,Inyo,California,6067,63,6027,CA,County,18039,33632.68,349.24,349.24,33632.68,6,9,0.00,1.79,0.00,0.00
1926083,2023-03-04,Tuolumne,California,18160,210,6109,CA,County,54478,33334.56,385.48,385.48,33334.56,2,10,0.00,6.93,0.00,0.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
793430,2023-03-04,Imperial,California,88802,1029,6025,CA,County,181215,49003.67,567.83,567.83,49003.67,1,1,0.00,28.36,0.00,0.36
1926083,2023-03-04,Tuolumne,California,18160,210,6109,CA,County,54478,33334.56,385.48,385.48,33334.56,2,10,0.00,6.93,0.00,0.00
120400,2023-03-04,Shasta,California,44744,690,6089,CA,County,180080,24846.73,383.16,383.16,24846.73,3,39,0.00,6.57,0.00,0.00
392552,2023-03-04,San Bernardino,California,744313,8171,6071,CA,County,2180085,34141.47,374.80,374.80,34141.47,4,8,0.00,150.64,0.00,0.00
5512,2023-03-04,Los Angeles,California,3708726,35734,6037,CA,County,10039107,36942.79,355.95,355.95,36942.79,5,4,0.00,978.93,0.00,13.50
1397441,2023-03-04,Inyo,California,6067,63,6027,CA,County,18039,33632.68,349.24,349.24,33632.68,6,9,0.00,1.79,0.00,0.00
1815956,2023-03-04,Glenn,California,7808,99,6021,CA,County,28393,27499.74,348.68,348.68,27499.74,7,24,0.00,2.00,0.00,0.00
2338436,2023-03-04,Tehama,California,17858,225,6103,CA,County,65084,27438.39,345.71,345.71,27438.39,8,25,0.00,3.21,0.00,0.21
216558,2023-03-04,Tulare,California,168507,1577,6107,CA,County,466195,36145.18,338.27,338.27,36145.18,9,5,0.00,53.29,0.00,0.71
174321,2023-03-04,Stanislaus,California,168094,1845,6099,CA,County,550660,30525.91,335.05,335.05,30525.91,10,15,0.00,41.14,0.00,0.21

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df['case_day'] = top10_ca_case_df['case_day'].astype(int)
top10_ca_case_df['date'] =  pd.to_datetime(top10_ca_case_df['date'], infer_datetime_format=True)
top10_ca_case_df

            date    county   cases  current_crate  case_day  14day_case_avg
0     2020-03-20  Imperial       4           2.21         4            0.36
1     2020-03-21  Imperial       4           2.21         0            0.36
2     2020-03-22  Imperial       4           2.21         0            0.36
3     2020-03-23  Imperial       4           2.21         0            0.29
4     2020-03-24  Imperial       9           4.97         5            0.64
...          ...       ...     ...            ...       ...             ...
10463 2023-02-28      Kern  309529       34384.39         0          101.14
10464 2023-03-01      Kern  309529       34384.39         0          101.14
10465 2023-03-02      Kern  310095       34447.27       566           93.36
10466 2023-03-03      Kern  310095       34447.27         0           93.36
10467 2023-03-04      Kern  310095       34447.27         0           93.36

[10468 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df['death_day'] = top10_ca_death_df['death_day'].astype(int)
top10_ca_death_df['date'] =  pd.to_datetime(top10_ca_death_df['date'], infer_datetime_format=True)
top10_ca_death_df

,date,county,deaths,current_drate,death_day,14day_death_avg
0,2020-03-20,Imperial,0,0.00,0,0.00
1,2020-03-21,Imperial,0,0.00,0,0.00
2,2020-03-22,Imperial,0,0.00,0,0.00
3,2020-03-23,Imperial,0,0.00,0,0.00
4,2020-03-24,Imperial,0,0.00,0,0.00
...,...,...,...,...,...,...
10516,2023-02-28,Stanislaus,1843,334.69,0,0.36
10517,2023-03-01,Stanislaus,1843,334.69,0,0.36
10518,2023-03-02,Stanislaus,1845,335.05,2,0.21
10519,2023-03-03,Stanislaus,1845,335.05,0,0.21
10520,2023-03-04,Stanislaus,1845,335.05,0,0.21

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)