In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1013959,2021-02-19,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1013960,2021-02-20,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1013961,2021-02-21,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1013962,2021-02-22,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1013963,2021-02-23,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
27547,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
27549,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
27551,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
27553,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
27555,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
628475,2021-02-19,Arkansas,Arkansas,5001,1939,38.00,5000,Arkansas,AR,Arkansas,State,3017804
628477,2021-02-20,Arkansas,Arkansas,5001,1941,38.00,5000,Arkansas,AR,Arkansas,State,3017804
628479,2021-02-21,Arkansas,Arkansas,5001,1942,38.00,5000,Arkansas,AR,Arkansas,State,3017804
628481,2021-02-22,Arkansas,Arkansas,5001,1944,38.00,5000,Arkansas,AR,Arkansas,State,3017804
628483,2021-02-23,Arkansas,Arkansas,5001,1949,38.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1013959,2021-02-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1013960,2021-02-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1013961,2021-02-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1013962,2021-02-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1013963,2021-02-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-02-23') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
399,2021-02-23,Snohomish,Washington,30607,530.00,53061,WA,County,822083,3723.10,64.47
796,2021-02-23,Cook,Illinois,470933,9846.00,17031,IL,County,5150233,9143.92,191.18
1192,2021-02-23,Orange,California,259857,3848.00,6059,CA,County,3175692,8182.69,121.17
1587,2021-02-23,Maricopa,Arizona,507043,8910.00,4013,AZ,County,4485414,11304.26,198.64
1982,2021-02-23,Los Angeles,California,1183969,20057.00,6037,CA,County,10039107,11793.57,199.79
...,...,...,...,...,...,...,...,...,...,...,...
1013551,2021-02-23,Wheeler,Oregon,22,1.00,41069,OR,County,1332,1651.65,75.08
1013685,2021-02-23,King,Texas,13,0.00,48269,TX,County,272,4779.41,0.00
1013788,2021-02-23,Esmeralda,Nevada,37,0.00,32009,NV,County,873,4238.26,0.00
1013887,2021-02-23,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00
1013963,2021-02-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
399,2021-02-23,Snohomish,Washington,30607,530.00,53061,WA,County,822083,3723.10,64.47,64.47,3723.10
796,2021-02-23,Cook,Illinois,470933,9846.00,17031,IL,County,5150233,9143.92,191.18,191.18,9143.92
1192,2021-02-23,Orange,California,259857,3848.00,6059,CA,County,3175692,8182.69,121.17,121.17,8182.69
1587,2021-02-23,Maricopa,Arizona,507043,8910.00,4013,AZ,County,4485414,11304.26,198.64,198.64,11304.26
1982,2021-02-23,Los Angeles,California,1183969,20057.00,6037,CA,County,10039107,11793.57,199.79,199.79,11793.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013551,2021-02-23,Wheeler,Oregon,22,1.00,41069,OR,County,1332,1651.65,75.08,75.08,1651.65
1013685,2021-02-23,King,Texas,13,0.00,48269,TX,County,272,4779.41,0.00,0.00,4779.41
1013788,2021-02-23,Esmeralda,Nevada,37,0.00,32009,NV,County,873,4238.26,0.00,0.00,4238.26
1013887,2021-02-23,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00,0.00,591.72
1013963,2021-02-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
714877,2021-02-23,Clarke,Alabama,3423,48.00,1025,AL,County,23622,14490.73,203.20,203.20,14490.73,1
657032,2021-02-23,Hale,Alabama,2080,64.00,1065,AL,County,14651,14196.98,436.83,436.83,14196.98,2
514581,2021-02-23,Lowndes,Alabama,1301,48.00,1085,AL,County,9726,13376.52,493.52,493.52,13376.52,3
514916,2021-02-23,Marengo,Alabama,2434,54.00,1091,AL,County,18863,12903.57,286.27,286.27,12903.57,4
456459,2021-02-23,Etowah,Alabama,13091,309.00,1055,AL,County,102268,12800.68,302.15,302.15,12800.68,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964410,2021-02-23,Platte,Wyoming,583,11.00,56031,WY,County,8393,6946.26,131.06,131.06,6946.26,19
627487,2021-02-23,Sublette,Wyoming,671,7.00,56035,WY,County,9831,6825.35,71.20,71.20,6825.35,20
866135,2021-02-23,Niobrara,Wyoming,148,2.00,56027,WY,County,2356,6281.83,84.89,84.89,6281.83,21
778839,2021-02-23,Lincoln,Wyoming,1213,11.00,56023,WY,County,19830,6116.99,55.47,55.47,6116.99,22
794161,2021-02-23,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
514581,2021-02-23,Lowndes,Alabama,1301,48.00,1085,AL,County,9726,13376.52,493.52,493.52,13376.52,3,1
657032,2021-02-23,Hale,Alabama,2080,64.00,1065,AL,County,14651,14196.98,436.83,436.83,14196.98,2,2
455115,2021-02-23,Clay,Alabama,1425,54.00,1027,AL,County,13235,10766.91,408.01,408.01,10766.91,22,3
554778,2021-02-23,Greene,Alabama,867,32.00,1063,AL,County,8111,10689.19,394.53,394.53,10689.19,23,4
219436,2021-02-23,Walker,Alabama,6466,240.00,1127,AL,County,63521,10179.31,377.83,377.83,10179.31,32,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553441,2021-02-23,Hot Springs,Wyoming,360,3.00,56017,WY,County,4413,8157.72,67.98,67.98,8157.72,16,19
759546,2021-02-23,Uinta,Wyoming,2036,12.00,56041,WY,County,20226,10066.25,59.33,59.33,10066.25,4,20
778839,2021-02-23,Lincoln,Wyoming,1213,11.00,56023,WY,County,19830,6116.99,55.47,55.47,6116.99,22,21
218410,2021-02-23,Teton,Wyoming,3333,9.00,56039,WY,County,23464,14204.74,38.36,38.36,14204.74,1,22
512571,2021-02-23,Albany,Wyoming,3892,11.00,56001,WY,County,38880,10010.29,28.29,28.29,10010.29,6,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,64.47,3723.10,14,21
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,64.47,3723.10,14,21
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,64.47,3723.10,14,21
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,64.47,3723.10,14,21
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,64.47,3723.10,14,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011565,2021-02-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3
1011566,2021-02-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3
1011567,2021-02-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3
1011568,2021-02-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3
1011569,2021-02-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
712155,2020-04-01,Clarke,Alabama,2,0.00,1025,AL,County,23622,8.47,0.00,203.20,14490.73,46,1,2.00
712156,2020-04-02,Clarke,Alabama,2,0.00,1025,AL,County,23622,8.47,0.00,203.20,14490.73,46,1,0.00
712157,2020-04-03,Clarke,Alabama,3,0.00,1025,AL,County,23622,12.70,0.00,203.20,14490.73,46,1,1.00
712158,2020-04-04,Clarke,Alabama,7,0.00,1025,AL,County,23622,29.63,0.00,203.20,14490.73,46,1,4.00
712159,2020-04-05,Clarke,Alabama,9,0.00,1025,AL,County,23622,38.10,0.00,203.20,14490.73,46,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791763,2021-02-19,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00
791764,2021-02-20,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00
791765,2021-02-21,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00
791766,2021-02-22,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00
791767,2021-02-23,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
512519,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13376.52,1,3,1.00,0.00
512520,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13376.52,1,3,0.00,0.00
512521,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13376.52,1,3,0.00,0.00
512522,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13376.52,1,3,0.00,0.00
512523,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13376.52,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510839,2021-02-19,Albany,Wyoming,3880,11.00,56001,WY,County,38880,9979.42,28.29,28.29,10010.29,23,6,9.00,0.00
510840,2021-02-20,Albany,Wyoming,3880,11.00,56001,WY,County,38880,9979.42,28.29,28.29,10010.29,23,6,0.00,0.00
510841,2021-02-21,Albany,Wyoming,3887,11.00,56001,WY,County,38880,9997.43,28.29,28.29,10010.29,23,6,7.00,0.00
510842,2021-02-22,Albany,Wyoming,3893,11.00,56001,WY,County,38880,10012.86,28.29,28.29,10010.29,23,6,6.00,0.00
510843,2021-02-23,Albany,Wyoming,3892,11.00,56001,WY,County,38880,10010.29,28.29,28.29,10010.29,23,6,-1.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-02-23') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
261812,2021-02-23,Imperial,California,26840,585.00,6025,CA,County,181215,14811.14,322.82,322.82,14811.14,1,2,0.00,2.00
1982,2021-02-23,Los Angeles,California,1183969,20057.00,6037,CA,County,10039107,11793.57,199.79,199.79,11793.57,2,5,1975.00,153.00
457755,2021-02-23,Inyo,California,1248,34.00,6027,CA,County,18039,6918.34,188.48,188.48,6918.34,3,28,16.00,0.00
58537,2021-02-23,Stanislaus,California,55487,937.00,6099,CA,County,550660,10076.45,170.16,170.16,10076.45,4,10,140.00,6.00
72534,2021-02-23,Tulare,California,47680,731.00,6107,CA,County,466195,10227.48,156.80,156.80,10227.48,5,9,118.00,9.00
27192,2021-02-23,Riverside,California,288541,3695.00,6065,CA,County,2470546,11679.24,149.56,149.56,11679.24,6,6,719.00,31.00
554720,2021-02-23,Kings,California,21916,218.00,6031,CA,County,152940,14329.80,142.54,142.54,14329.80,7,3,35.00,2.00
414973,2021-02-23,Merced,California,28749,393.00,6047,CA,County,277680,10353.28,141.53,141.53,10353.28,8,8,94.00,2.00
26484,2021-02-23,Fresno,California,94584,1397.00,6019,CA,County,999101,9466.91,139.83,139.83,9466.91,9,14,210.00,30.00
46605,2021-02-23,San Joaquin,California,66290,1042.00,6077,CA,County,762148,8697.79,136.72,136.72,8697.79,10,18,244.00,3.00
26838,2021-02-23,Madera,California,15325,201.00,6039,CA,County,157327,9740.86,127.76,127.76,9740.86,11,12,27.00,0.00
130626,2021-02-23,San Bernardino,California,285081,2651.00,6071,CA,County,2180085,13076.60,121.60,121.60,13076.60,12,4,215.00,14.00
1192,2021-02-23,Orange,California,259857,3848.00,6059,CA,County,3175692,8182.69,121.17,121.17,8182.69,13,21,276.00,0.00
627749,2021-02-23,Tuolumne,California,3929,59.00,6109,CA,County,54478,7212.09,108.30,108.30,7212.09,14,25,15.00,0.00
458091,2021-02-23,Sutter,California,8818,96.00,6101,CA,County,96971,9093.44,99.00,99.00,9093.44,15,17,16.00,0.00
261471,2021-02-23,Amador,California,3437,39.00,6005,CA,County,39752,8646.11,98.11,98.11,8646.11,16,19,3.00,0.00
3914,2021-02-23,San Diego,California,257868,3218.00,6073,CA,County,3338330,7724.46,96.40,96.40,7724.46,17,23,454.00,28.00
40622,2021-02-23,Shasta,California,10909,172.00,6089,CA,County,180080,6057.86,95.51,95.51,6057.86,18,33,41.00,0.00
46956,2021-02-23,Ventura,California,76947,805.00,6111,CA,County,846006,9095.33,95.15,95.15,9095.33,19,16,85.00,11.00
5404,2021-02-23,Sacramento,California,92620,1446.00,6067,CA,County,1552058,5967.56,93.17,93.17,5967.56,20,34,193.00,8.00
90327,2021-02-23,San Benito,California,5723,58.00,6069,CA,County,62808,9111.90,92.34,92.34,9111.90,21,15,7.00,1.00
2372,2021-02-23,Santa Clara,California,109506,1748.00,6085,CA,County,1927852,5680.21,90.67,90.67,5680.21,22,36,230.00,11.00
130972,2021-02-23,Santa Barbara,California,31567,396.00,6083,CA,County,446499,7069.89,88.69,88.69,7069.89,23,26,0.00,0.00
164133,2021-02-23,Kern,California,102137,786.00,6029,CA,County,900202,11346.01,87.31,87.31,11346.01,24,7,288.00,3.00
17965,2021-02-23,Yolo,California,12689,185.00,6113,CA,County,220500,5754.65,83.90,83.90,5754.65,25,35,19.00,4.00
592458,2021-02-23,Glenn,California,2207,23.00,6021,CA,County,28393,7773.04,81.01,81.01,7773.04,26,22,6.00,0.00
759114,2021-02-23,Tehama,California,4550,52.00,6103,CA,County,65084,6990.97,79.90,79.90,6990.97,27,27,3.00,0.00
109464,2021-02-23,San Luis Obispo,California,19500,221.00,6079,CA,County,283111,6887.76,78.06,78.06,6887.76,28,29,42.00,1.00
6865,2021-02-23,Marin,California,12991,195.00,6041,CA,County,258826,5019.20,75.34,75.34,5019.20,29,41,23.00,0.00
164477,2021-02-23,Monterey,California,42016,323.00,6053,CA,County,434061,9679.75,74.41,74.41,9679.75,30,13,132.00,8.00
148958,2021-02-23,Nevada,California,3909,74.00,6057,CA,County,99755,3918.60,74.18,74.18,3918.60,31,50,10.00,0.00
309207,2021-02-23,Butte,California,10855,158.00,6007,CA,County,219186,4952.41,72.08,72.08,4952.41,32,42,0.00,0.00
8677,2021-02-23,Alameda,California,79817,1200.00,6001,CA,County,1671329,4775.66,71.80,71.80,4775.66,33,45,147.00,0.00
10115,2021-02-23,San Mateo,California,38552,502.00,6081,CA,County,766573,5029.14,65.49,65.49,5029.14,34,40,104.00,5.00
27546,2021-02-23,Santa Cruz,California,14516,174.00,6087,CA,County,273213,5313.07,63.69,63.69,5313.07,35,39,21.00,2.00
963961,2021-02-23,Lassen,California,5594,19.00,6035,CA,County,30573,18297.19,62.15,62.15,18297.19,36,1,3.00,0.00
805086,2021-02-23,Lake,California,3107,40.00,6033,CA,County,64386,4825.58,62.13,62.13,4825.58,37,44,7.00,0.00
554386,2021-02-23,Colusa,California,2125,13.00,6011,CA,County,21547,9862.16,60.33,60.33,9862.16,38,11,5.00,0.00
7593,2021-02-23,Sonoma,California,27845,295.00,6097,CA,County,494336,5632.81,59.68,59.68,5632.81,39,37,52.00,0.00
9756,2021-02-23,Placer,California,19661,231.00,6061,CA,County,398329,4935.87,57.99,57.99,4935.87,40,43,15.00,1.00
11909,2021-02-23,Contra Costa,California,61865,653.00,6013,CA,County,1153526,5363.12,56.61,56.61,5363.12,41,38,121.00,-1.00
414636,2021-02-23,Calaveras,California,1862,25.00,6009,CA,County,45905,4056.20,54.46,54.46,4056.20,42,48,2.00,0.00
188549,2021-02-23,Mendocino,California,3790,43.00,6045,CA,County,86749,4368.93,49.57,49.57,4368.93,43,47,4.00,0.00
7229,2021-02-23,Napa,California,8951,68.00,6055,CA,County,137744,6498.29,49.37,49.37,6498.29,44,32,21.00,1.00
309547,2021-02-23,El Dorado,California,8940,95.00,6017,CA,County,192843,4635.90,49.26,49.26,4635.90,45,46,13.00,2.00
310227,2021-02-23,Yuba,California,5719,36.00,6115,CA,County,78668,7269.79,45.76,45.76,7269.79,46,24,8.00,0.00
1006910,2021-02-23,Modoc,California,329,4.00,6049,CA,County,8841,3721.30,45.24,45.24,3721.30,47,52,0.00,0.00
3149,2021-02-23,San Francisco,California,33950,394.00,6075,CA,County,881549,3851.18,44.69,44.69,3851.18,48,51,56.00,0.00
950681,2021-02-23,Trinity,California,288,5.00,6105,CA,County,12285,2344.32,40.70,40.70,2344.32,49,55,1.00,0.00
926933,2021-02-23,Mariposa,California,393,7.00,6043,CA,County,17203,2284.49,40.69,40.69,2284.49,50,57,0.00,0.00
5770,2021-02-23,Solano,California,29887,161.00,6095,CA,County,447643,6676.53,35.97,35.97,6676.53,51,31,23.00,0.00
687404,2021-02-23,Plumas,California,625,6.00,6063,CA,County,18807,3323.23,31.90,31.90,3323.23,52,54,0.00,0.00
309887,2021-02-23,Siskiyou,California,1720,13.00,6093,CA,County,43539,3950.48,29.86,29.86,3950.48,53,49,4.00,0.00
415310,2021-02-23,Mono,California,1189,4.00,6051,CA,County,14444,8231.79,27.69,27.69,8231.79,54,20,0.00,0.00
5035,2021-02-23,Humboldt,California,3136,33.00,6023,CA,County,135558,2313.40,24.34,24.34,2313.40,55,56,12.00,1.00
734848,2021-02-23,Del Norte,California,976,5.00,6015,CA,County,27812,3509.28,17.98,17.98,3509.28,56,53,5.00,0.00
656293,2021-02-23,Alpine,California,77,0.00,6003,CA,County,1129,6820.19,0.00,0.00,6820.19,57,30,0.00,0.00
962294,2021-02-23,Sierra,California,47,0.00,6091,CA,County,3005,1564.06,0.00,0.00,1564.06,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
963961,2021-02-23,Lassen,California,5594,19.00,6035,CA,County,30573,18297.19,62.15,62.15,18297.19,36,1,3.00,0.00
261812,2021-02-23,Imperial,California,26840,585.00,6025,CA,County,181215,14811.14,322.82,322.82,14811.14,1,2,0.00,2.00
554720,2021-02-23,Kings,California,21916,218.00,6031,CA,County,152940,14329.80,142.54,142.54,14329.80,7,3,35.00,2.00
130626,2021-02-23,San Bernardino,California,285081,2651.00,6071,CA,County,2180085,13076.60,121.60,121.60,13076.60,12,4,215.00,14.00
1982,2021-02-23,Los Angeles,California,1183969,20057.00,6037,CA,County,10039107,11793.57,199.79,199.79,11793.57,2,5,1975.00,153.00
27192,2021-02-23,Riverside,California,288541,3695.00,6065,CA,County,2470546,11679.24,149.56,149.56,11679.24,6,6,719.00,31.00
164133,2021-02-23,Kern,California,102137,786.00,6029,CA,County,900202,11346.01,87.31,87.31,11346.01,24,7,288.00,3.00
414973,2021-02-23,Merced,California,28749,393.00,6047,CA,County,277680,10353.28,141.53,141.53,10353.28,8,8,94.00,2.00
72534,2021-02-23,Tulare,California,47680,731.00,6107,CA,County,466195,10227.48,156.80,156.80,10227.48,5,9,118.00,9.00
58537,2021-02-23,Stanislaus,California,55487,937.00,6099,CA,County,550660,10076.45,170.16,170.16,10076.45,4,10,140.00,6.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
261812,2021-02-23,Imperial,California,26840,585.00,6025,CA,County,181215,14811.14,322.82,322.82,14811.14,1,2,0.00,2.00
1982,2021-02-23,Los Angeles,California,1183969,20057.00,6037,CA,County,10039107,11793.57,199.79,199.79,11793.57,2,5,1975.00,153.00
457755,2021-02-23,Inyo,California,1248,34.00,6027,CA,County,18039,6918.34,188.48,188.48,6918.34,3,28,16.00,0.00
58537,2021-02-23,Stanislaus,California,55487,937.00,6099,CA,County,550660,10076.45,170.16,170.16,10076.45,4,10,140.00,6.00
72534,2021-02-23,Tulare,California,47680,731.00,6107,CA,County,466195,10227.48,156.80,156.80,10227.48,5,9,118.00,9.00
27192,2021-02-23,Riverside,California,288541,3695.00,6065,CA,County,2470546,11679.24,149.56,149.56,11679.24,6,6,719.00,31.00
554720,2021-02-23,Kings,California,21916,218.00,6031,CA,County,152940,14329.80,142.54,142.54,14329.80,7,3,35.00,2.00
414973,2021-02-23,Merced,California,28749,393.00,6047,CA,County,277680,10353.28,141.53,141.53,10353.28,8,8,94.00,2.00
26484,2021-02-23,Fresno,California,94584,1397.00,6019,CA,County,999101,9466.91,139.83,139.83,9466.91,9,14,210.00,30.00
46605,2021-02-23,San Joaquin,California,66290,1042.00,6077,CA,County,762148,8697.79,136.72,136.72,8697.79,10,18,244.00,3.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,322.82,14811.14,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,322.82,14811.14,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,322.82,14811.14,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,322.82,14811.14,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,322.82,14811.14,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3422,02/19/21,Lassen,5558,19.00,18179.44,62.15,62.15,18297.19,36,1,0.00,0.00
3423,02/20/21,Lassen,5558,19.00,18179.44,62.15,62.15,18297.19,36,1,0.00,0.00
3424,02/21/21,Lassen,5558,19.00,18179.44,62.15,62.15,18297.19,36,1,0.00,0.00
3425,02/22/21,Lassen,5591,19.00,18287.38,62.15,62.15,18297.19,36,1,33.00,0.00
3426,02/23/21,Lassen,5594,19.00,18297.19,62.15,62.15,18297.19,36,1,3.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,322.82,14811.14,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,322.82,14811.14,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,322.82,14811.14,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,322.82,14811.14,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,322.82,14811.14,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3496,02/19/21,San Joaquin,65891,1026.00,8645.43,134.62,136.72,8697.79,10,18,186.00,5.00
3497,02/20/21,San Joaquin,65891,1026.00,8645.43,134.62,136.72,8697.79,10,18,0.00,0.00
3498,02/21/21,San Joaquin,65891,1026.00,8645.43,134.62,136.72,8697.79,10,18,0.00,0.00
3499,02/22/21,San Joaquin,66046,1039.00,8665.77,136.33,136.72,8697.79,10,18,155.00,13.00
3500,02/23/21,San Joaquin,66290,1042.00,8697.79,136.72,136.72,8697.79,10,18,244.00,3.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)