In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr2022_df['date'] = pd.to_datetime(yr2022_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2628017,2022-07-25,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2628018,2022-07-26,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2628019,2022-07-27,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2628020,2022-07-28,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2628021,2022-07-29,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
67143,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
67145,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
67147,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
67149,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
67151,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1587636,2022-07-25,Arkansas,Arkansas,5001,6101,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1587638,2022-07-26,Arkansas,Arkansas,5001,6108,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1587640,2022-07-27,Arkansas,Arkansas,5001,6121,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1587642,2022-07-28,Arkansas,Arkansas,5001,6136,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1587644,2022-07-29,Arkansas,Arkansas,5001,6150,79.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2628017,2022-07-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2628018,2022-07-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2628019,2022-07-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2628020,2022-07-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2628021,2022-07-29,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-07-29') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
920,2022-07-29,Snohomish,Washington,182303,1222.00,53061,WA,County,822083,22175.74,148.65
1838,2022-07-29,Cook,Illinois,1336170,15102.00,17031,IL,County,5150233,25943.87,293.23
2755,2022-07-29,Orange,California,691839,7203.00,6059,CA,County,3175692,21785.46,226.82
3671,2022-07-29,Maricopa,Arizona,1383592,17616.00,4013,AZ,County,4485414,30846.47,392.74
4587,2022-07-29,Los Angeles,California,3293396,32708.00,6037,CA,County,10039107,32805.67,325.81
...,...,...,...,...,...,...,...,...,...,...,...
2625525,2022-07-29,Wheeler,Oregon,255,3.00,41069,OR,County,1332,19144.14,225.23
2626180,2022-07-29,King,Texas,52,0.00,48269,TX,County,272,19117.65,0.00
2626804,2022-07-29,Esmeralda,Nevada,117,3.00,32009,NV,County,873,13402.06,343.64
2627424,2022-07-29,Loving,Texas,292,1.00,48301,TX,County,169,172781.07,591.72
2628021,2022-07-29,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
920,2022-07-29,Snohomish,Washington,182303,1222.00,53061,WA,County,822083,22175.74,148.65,148.65,22175.74
1838,2022-07-29,Cook,Illinois,1336170,15102.00,17031,IL,County,5150233,25943.87,293.23,293.23,25943.87
2755,2022-07-29,Orange,California,691839,7203.00,6059,CA,County,3175692,21785.46,226.82,226.82,21785.46
3671,2022-07-29,Maricopa,Arizona,1383592,17616.00,4013,AZ,County,4485414,30846.47,392.74,392.74,30846.47
4587,2022-07-29,Los Angeles,California,3293396,32708.00,6037,CA,County,10039107,32805.67,325.81,325.81,32805.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625525,2022-07-29,Wheeler,Oregon,255,3.00,41069,OR,County,1332,19144.14,225.23,225.23,19144.14
2626180,2022-07-29,King,Texas,52,0.00,48269,TX,County,272,19117.65,0.00,0.00,19117.65
2626804,2022-07-29,Esmeralda,Nevada,117,3.00,32009,NV,County,873,13402.06,343.64,343.64,13402.06
2627424,2022-07-29,Loving,Texas,292,1.00,48301,TX,County,169,172781.07,591.72,591.72,172781.07
2628021,2022-07-29,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1660999,2022-07-29,Hale,Alabama,5168,108.00,1065,AL,County,14651,35274.04,737.15,737.15,35274.04,1
1400508,2022-07-29,Winston,Alabama,8053,133.00,1133,AL,County,23629,34081.00,562.87,562.87,34081.00,2
1144398,2022-07-29,Clay,Alabama,4425,83.00,1027,AL,County,13235,33434.08,627.13,627.13,33434.08,3
1034579,2022-07-29,Morgan,Alabama,39523,521.00,1103,AL,County,119679,33024.17,435.33,435.33,33024.17,4
961566,2022-07-29,Franklin,Alabama,10344,140.00,1059,AL,County,31362,32982.59,446.40,446.40,32982.59,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584231,2022-07-29,Converse,Wyoming,3315,55.00,56009,WY,County,13822,23983.50,397.92,397.92,23983.50,19
2244684,2022-07-29,Big Horn,Wyoming,2806,63.00,56003,WY,County,11790,23799.83,534.35,534.35,23799.83,20
1975576,2022-07-29,Lincoln,Wyoming,4501,32.00,56023,WY,County,19830,22697.93,161.37,161.37,22697.93,21
1585085,2022-07-29,Sublette,Wyoming,2082,27.00,56035,WY,County,9831,21177.91,274.64,274.64,21177.91,22
2015385,2022-07-29,Crook,Wyoming,1436,29.00,56011,WY,County,7584,18934.60,382.38,382.38,18934.60,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1296081,2022-07-29,Lowndes,Alabama,2890,79.00,1085,AL,County,9726,29714.17,812.26,812.26,29714.17,26,1
1294369,2022-07-29,Crenshaw,Alabama,4128,102.00,1041,AL,County,13772,29973.86,740.63,740.63,29973.86,24,2
1660999,2022-07-29,Hale,Alabama,5168,108.00,1065,AL,County,14651,35274.04,737.15,737.15,35274.04,1,3
547145,2022-07-29,Walker,Alabama,20309,453.00,1127,AL,County,63521,31972.10,713.15,713.15,31972.10,9,4
1146969,2022-07-29,Dallas,Alabama,9511,247.00,1047,AL,County,37196,25569.95,664.05,664.05,25569.95,54,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1396233,2022-07-29,Johnson,Wyoming,2064,20.00,56019,WY,County,8445,24440.50,236.83,236.83,24440.50,18,19
1925544,2022-07-29,Uinta,Wyoming,5968,39.00,56041,WY,County,20226,29506.58,192.82,192.82,29506.58,8,20
1975576,2022-07-29,Lincoln,Wyoming,4501,32.00,56023,WY,County,19830,22697.93,161.37,161.37,22697.93,21,21
1290945,2022-07-29,Albany,Wyoming,10762,51.00,56001,WY,County,38880,27680.04,131.17,131.17,27680.04,13,22
544556,2022-07-29,Teton,Wyoming,11229,16.00,56039,WY,County,23464,47856.29,68.19,68.19,47856.29,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,148.65,22175.74,32,15
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,148.65,22175.74,32,15
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,148.65,22175.74,32,15
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,148.65,22175.74,32,15
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,148.65,22175.74,32,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621976,2022-07-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2621977,2022-07-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2621978,2022-07-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2621979,2022-07-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2621980,2022-07-29,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1654107,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,737.15,35274.04,3,1,1.00,nan
1654108,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,737.15,35274.04,3,1,0.00,nan
1654109,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,737.15,35274.04,3,1,0.00,nan
1654110,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,737.15,35274.04,3,1,0.00,nan
1654111,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,737.15,35274.04,3,1,2.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009340,2022-07-25,Crook,Wyoming,1425,29.00,56011,WY,County,7584,18789.56,382.38,382.38,18934.60,10,23,0.00,1.93
2009341,2022-07-26,Crook,Wyoming,1436,29.00,56011,WY,County,7584,18934.60,382.38,382.38,18934.60,10,23,11.00,1.57
2009342,2022-07-27,Crook,Wyoming,1436,29.00,56011,WY,County,7584,18934.60,382.38,382.38,18934.60,10,23,0.00,1.57
2009343,2022-07-28,Crook,Wyoming,1436,29.00,56011,WY,County,7584,18934.60,382.38,382.38,18934.60,10,23,0.00,1.57
2009344,2022-07-29,Crook,Wyoming,1436,29.00,56011,WY,County,7584,18934.60,382.38,382.38,18934.60,10,23,0.00,1.57

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa['14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa['deaths'] = usa['deaths'].astype(int)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1290893,2020-03-26,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29714.17,1,26,1.00,19.29,0.00,nan
1290894,2020-03-27,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29714.17,1,26,0.00,19.29,0.00,nan
1290895,2020-03-28,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29714.17,1,26,0.00,11.50,0.00,nan
1290896,2020-03-29,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29714.17,1,26,0.00,10.43,0.00,nan
1290897,2020-03-30,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29714.17,1,26,0.00,9.00,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541076,2022-07-25,Teton,Wyoming,11148,16,56039,WY,County,23464,47511.08,68.19,68.19,47856.29,23,1,0.00,16.93,0.00,0.00
541077,2022-07-26,Teton,Wyoming,11229,16,56039,WY,County,23464,47856.29,68.19,68.19,47856.29,23,1,81.00,14.43,0.00,0.00
541078,2022-07-27,Teton,Wyoming,11229,16,56039,WY,County,23464,47856.29,68.19,68.19,47856.29,23,1,0.00,14.43,0.00,0.00
541079,2022-07-28,Teton,Wyoming,11229,16,56039,WY,County,23464,47856.29,68.19,68.19,47856.29,23,1,0.00,14.43,0.00,0.00
541080,2022-07-29,Teton,Wyoming,11229,16,56039,WY,County,23464,47856.29,68.19,68.19,47856.29,23,1,0.00,14.43,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-07-29') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
654125,2022-07-29,Imperial,California,76350,949,6025,CA,County,181215,42132.27,523.69,523.69,42132.27,1,1,720.00,212.21,1.00,0.36
99495,2022-07-29,Shasta,California,40370,664,6089,CA,County,180080,22417.81,368.73,368.73,22417.81,2,36,151.00,51.57,0.00,0.14
323917,2022-07-29,San Bernardino,California,661398,7941,6071,CA,County,2180085,30338.17,364.25,364.25,30338.17,3,7,3050.00,1074.29,4.00,1.93
1585868,2022-07-29,Tuolumne,California,15910,196,6109,CA,County,54478,29204.45,359.78,359.78,29204.45,4,9,201.00,32.29,0.00,0.00
4587,2022-07-29,Los Angeles,California,3293396,32708,6037,CA,County,10039107,32805.67,325.81,325.81,32805.67,5,4,6221.00,6115.79,17.00,14.29
178818,2022-07-29,Tulare,California,149731,1514,6107,CA,County,466195,32117.68,324.76,324.76,32117.68,6,5,238.00,188.93,0.00,0.29
1924591,2022-07-29,Tehama,California,15974,208,6103,CA,County,65084,24543.67,319.59,319.59,24543.67,7,25,32.00,17.79,1.00,0.21
1151206,2022-07-29,Inyo,California,5181,57,6027,CA,County,18039,28721.10,315.98,315.98,28721.10,8,11,20.00,6.50,0.00,0.07
143981,2022-07-29,Stanislaus,California,150869,1696,6099,CA,County,550660,27397.85,307.99,307.99,27397.85,9,15,551.00,202.21,1.00,0.14
1042257,2022-07-29,Merced,California,79165,838,6047,CA,County,277680,28509.44,301.79,301.79,28509.44,10,12,387.00,116.43,0.00,0.36
114335,2022-07-29,San Joaquin,California,200864,2276,6077,CA,County,762148,26354.99,298.63,298.63,26354.99,11,17,822.00,287.43,9.00,1.00
1398740,2022-07-29,Kings,California,60578,454,6031,CA,County,152940,39609.00,296.85,296.85,39609.00,12,2,214.00,90.57,3.00,0.36
1041399,2022-07-29,Calaveras,California,8617,130,6009,CA,County,45905,18771.38,283.19,283.19,18771.38,13,50,52.00,12.43,0.00,0.29
64517,2022-07-29,Fresno,California,288645,2805,6019,CA,County,999101,28890.47,280.75,280.75,28890.47,14,10,1459.00,526.00,4.00,1.07
407961,2022-07-29,Kern,California,269826,2494,6029,CA,County,900202,29973.94,277.05,277.05,29973.94,15,8,1264.00,358.79,7.00,0.86
66267,2022-07-29,Riverside,California,695760,6604,6065,CA,County,2470546,28162.20,267.31,267.31,28162.20,16,14,3275.00,1163.21,5.00,2.71
775661,2022-07-29,Siskiyou,California,8150,107,6093,CA,County,43539,18718.85,245.76,245.76,18718.85,17,51,33.00,5.36,0.00,0.00
1152063,2022-07-29,Sutter,California,25318,235,6101,CA,County,96971,26108.84,242.34,242.34,26108.84,18,19,91.00,33.07,0.00,0.00
65392,2022-07-29,Madera,California,48907,372,6039,CA,County,157327,31086.21,236.45,236.45,31086.21,19,6,251.00,89.00,0.00,0.00
2755,2022-07-29,Orange,California,691839,7203,6059,CA,County,3175692,21785.46,226.82,226.82,21785.46,20,41,4246.00,1299.93,8.00,2.36
2469130,2022-07-29,Lassen,California,11276,68,6035,CA,County,30573,36882.22,222.42,222.42,36882.22,21,3,7.00,5.00,0.00,0.00
653263,2022-07-29,Amador,California,10439,88,6005,CA,County,39752,26260.31,221.37,221.37,26260.31,22,18,40.00,14.29,1.00,0.07
2044024,2022-07-29,Lake,California,13176,142,6033,CA,County,64386,20464.08,220.54,220.54,20464.08,23,47,86.00,20.93,0.00,0.07
12698,2022-07-29,Sacramento,California,361719,3324,6067,CA,County,1552058,23305.77,214.17,214.17,23305.77,24,31,981.00,481.29,0.00,2.93
2365935,2022-07-29,Mariposa,California,3896,36,6043,CA,County,17203,22647.21,209.27,209.27,22647.21,25,34,17.00,6.00,0.00,0.00
773939,2022-07-29,Butte,California,45435,444,6007,CA,County,219186,20728.97,202.57,202.57,20728.97,26,45,214.00,61.57,3.00,0.29
1861771,2022-07-29,Del Norte,California,7526,54,6015,CA,County,27812,27060.26,194.16,194.16,27060.26,27,16,-52.00,20.00,0.00,0.00
115207,2022-07-29,Ventura,California,211982,1530,6111,CA,County,846006,25056.80,180.85,180.85,25056.80,28,23,1044.00,372.57,3.00,0.79
270974,2022-07-29,San Luis Obispo,California,66792,503,6079,CA,County,283111,23592.16,177.67,177.67,23592.16,29,28,237.00,85.00,1.00,0.29
408826,2022-07-29,Monterey,California,108809,770,6053,CA,County,434061,25067.67,177.39,177.39,25067.67,30,22,583.00,179.14,0.00,0.43
1495351,2022-07-29,Glenn,California,7120,48,6021,CA,County,28393,25076.60,169.06,169.06,25076.60,31,21,17.00,5.79,0.00,-1.36
2431363,2022-07-29,Trinity,California,1683,20,6105,CA,County,12285,13699.63,162.80,162.80,13699.63,32,55,3.00,3.86,0.00,0.00
23302,2022-07-29,Placer,California,81255,647,6061,CA,County,398329,20398.97,162.43,162.43,20398.97,33,48,329.00,101.50,0.00,0.71
9124,2022-07-29,San Diego,California,948236,5409,6073,CA,County,3338330,28404.50,162.03,162.03,28404.50,34,13,6173.00,1919.00,23.00,2.79
223182,2022-07-29,San Benito,California,16078,100,6069,CA,County,62808,25598.65,159.22,159.22,25598.65,35,20,75.00,30.79,0.00,0.00
324784,2022-07-29,Santa Barbara,California,105939,708,6083,CA,County,446499,23726.59,158.57,158.57,23726.59,36,27,509.00,178.79,1.00,0.43
776522,2022-07-29,Yuba,California,19511,124,6115,CA,County,78668,24801.70,157.62,157.62,24801.70,37,24,62.00,15.57,0.00,0.00
469368,2022-07-29,Mendocino,California,19178,132,6045,CA,County,86749,22107.46,152.16,152.16,22107.46,38,37,103.00,32.14,1.00,0.07
43494,2022-07-29,Yolo,California,49591,327,6113,CA,County,220500,22490.25,148.30,148.30,22490.25,39,35,94.00,61.86,0.00,0.07
2464337,2022-07-29,Sierra,California,352,4,6091,CA,County,3005,11713.81,133.11,133.11,11713.81,40,57,0.00,0.14,0.00,0.00
369862,2022-07-29,Nevada,California,19805,132,6057,CA,County,99755,19853.64,132.32,132.32,19853.64,41,49,70.00,22.36,0.00,0.07
2602733,2022-07-29,Modoc,California,1153,11,6049,CA,County,8841,13041.51,124.42,124.42,13041.51,42,56,20.00,4.79,1.00,0.14
5498,2022-07-29,Santa Clara,California,425080,2381,6085,CA,County,1927852,22049.41,123.51,123.51,22049.41,43,39,2576.00,878.64,1.00,0.71
28581,2022-07-29,Contra Costa,California,253105,1375,6013,CA,County,1153526,21941.85,119.20,119.20,21941.85,44,40,1444.00,468.93,1.00,1.36
20660,2022-07-29,Alameda,California,346661,1967,6001,CA,County,1671329,20741.64,117.69,117.69,20741.64,45,44,2177.00,699.86,1.00,2.43
16243,2022-07-29,Marin,California,47757,300,6041,CA,County,258826,18451.39,115.91,115.91,18451.39,46,53,218.00,76.57,0.00,0.00
774800,2022-07-29,El Dorado,California,34988,222,6017,CA,County,192843,18143.26,115.12,115.12,18143.26,47,54,129.00,45.43,0.00,0.21
11808,2022-07-29,Humboldt,California,25086,152,6023,CA,County,135558,18505.73,112.13,112.13,18505.73,48,52,0.00,56.00,0.00,0.07
17128,2022-07-29,Napa,California,32117,150,6055,CA,County,137744,23316.44,108.90,108.90,23316.44,49,30,126.00,43.36,0.00,0.36
7317,2022-07-29,San Francisco,California,180968,937,6075,CA,County,881549,20528.41,106.29,106.29,20528.41,50,46,1026.00,357.29,6.00,0.64
24182,2022-07-29,San Mateo,California,169169,789,6081,CA,County,766573,22068.22,102.93,102.93,22068.22,51,38,778.00,306.86,2.00,0.57
1397885,2022-07-29,Colusa,California,4880,22,6011,CA,County,21547,22648.16,102.10,102.10,22648.16,52,33,15.00,4.64,0.00,0.00
13585,2022-07-29,Solano,California,106236,457,6095,CA,County,447643,23732.30,102.09,102.09,23732.30,53,26,419.00,154.07,0.00,0.00
18013,2022-07-29,Sonoma,California,106479,500,6097,CA,County,494336,21539.80,101.15,101.15,21539.80,54,42,457.00,158.36,0.00,0.00
67142,2022-07-29,Santa Cruz,California,62307,269,6087,CA,County,273213,22805.28,98.46,98.46,22805.28,55,32,357.00,127.93,0.00,0.14
1739303,2022-07-29,Plumas,California,3915,13,6063,CA,County,18807,20816.72,69.12,69.12,20816.72,56,43,19.00,6.71,0.00,0.00
1043115,2022-07-29,Mono,California,3375,7,6051,CA,County,14444,23366.10,48.46,48.46,23366.10,57,29,10.00,2.93,0.00,0.00
1659218,2022-07-29,Alpine,California,131,0,6003,CA,County,1129,11603.19,0.00,0.00,11603.19,58,58,0.00,0.00,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
654125,2022-07-29,Imperial,California,76350,949,6025,CA,County,181215,42132.27,523.69,523.69,42132.27,1,1,720.00,212.21,1.00,0.36
1398740,2022-07-29,Kings,California,60578,454,6031,CA,County,152940,39609.00,296.85,296.85,39609.00,12,2,214.00,90.57,3.00,0.36
2469130,2022-07-29,Lassen,California,11276,68,6035,CA,County,30573,36882.22,222.42,222.42,36882.22,21,3,7.00,5.00,0.00,0.00
4587,2022-07-29,Los Angeles,California,3293396,32708,6037,CA,County,10039107,32805.67,325.81,325.81,32805.67,5,4,6221.00,6115.79,17.00,14.29
178818,2022-07-29,Tulare,California,149731,1514,6107,CA,County,466195,32117.68,324.76,324.76,32117.68,6,5,238.00,188.93,0.00,0.29
65392,2022-07-29,Madera,California,48907,372,6039,CA,County,157327,31086.21,236.45,236.45,31086.21,19,6,251.00,89.00,0.00,0.00
323917,2022-07-29,San Bernardino,California,661398,7941,6071,CA,County,2180085,30338.17,364.25,364.25,30338.17,3,7,3050.00,1074.29,4.00,1.93
407961,2022-07-29,Kern,California,269826,2494,6029,CA,County,900202,29973.94,277.05,277.05,29973.94,15,8,1264.00,358.79,7.00,0.86
1585868,2022-07-29,Tuolumne,California,15910,196,6109,CA,County,54478,29204.45,359.78,359.78,29204.45,4,9,201.00,32.29,0.00,0.00
64517,2022-07-29,Fresno,California,288645,2805,6019,CA,County,999101,28890.47,280.75,280.75,28890.47,14,10,1459.00,526.00,4.00,1.07

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
654125,2022-07-29,Imperial,California,76350,949,6025,CA,County,181215,42132.27,523.69,523.69,42132.27,1,1,720.00,212.21,1.00,0.36
99495,2022-07-29,Shasta,California,40370,664,6089,CA,County,180080,22417.81,368.73,368.73,22417.81,2,36,151.00,51.57,0.00,0.14
323917,2022-07-29,San Bernardino,California,661398,7941,6071,CA,County,2180085,30338.17,364.25,364.25,30338.17,3,7,3050.00,1074.29,4.00,1.93
1585868,2022-07-29,Tuolumne,California,15910,196,6109,CA,County,54478,29204.45,359.78,359.78,29204.45,4,9,201.00,32.29,0.00,0.00
4587,2022-07-29,Los Angeles,California,3293396,32708,6037,CA,County,10039107,32805.67,325.81,325.81,32805.67,5,4,6221.00,6115.79,17.00,14.29
178818,2022-07-29,Tulare,California,149731,1514,6107,CA,County,466195,32117.68,324.76,324.76,32117.68,6,5,238.00,188.93,0.00,0.29
1924591,2022-07-29,Tehama,California,15974,208,6103,CA,County,65084,24543.67,319.59,319.59,24543.67,7,25,32.00,17.79,1.00,0.21
1151206,2022-07-29,Inyo,California,5181,57,6027,CA,County,18039,28721.10,315.98,315.98,28721.10,8,11,20.00,6.50,0.00,0.07
143981,2022-07-29,Stanislaus,California,150869,1696,6099,CA,County,550660,27397.85,307.99,307.99,27397.85,9,15,551.00,202.21,1.00,0.14
1042257,2022-07-29,Merced,California,79165,838,6047,CA,County,277680,28509.44,301.79,301.79,28509.44,10,12,387.00,116.43,0.00,0.36

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df['case_day'] = top10_ca_case_df['case_day'].astype(int)
top10_ca_case_df['date'] =  pd.to_datetime(top10_ca_case_df['date'], infer_datetime_format=True)
top10_ca_case_df

           date    county  cases  current_crate  case_day  14day_case_avg
0    2020-03-20  Imperial      4           2.21         4            3.71
1    2020-03-21  Imperial      4           2.21         0            3.71
2    2020-03-22  Imperial      4           2.21         0            3.50
3    2020-03-23  Imperial      4           2.21         0            2.29
4    2020-03-24  Imperial      9           4.97         5            2.29
...         ...       ...    ...            ...       ...             ...
8631 2022-07-25    Lassen  11261       36833.15        17            8.29
8632 2022-07-26    Lassen  11264       36842.97         3            6.93
8633 2022-07-27    Lassen  11269       36859.32         5            7.00
8634 2022-07-28    Lassen  11269       36859.32         0            5.43
8635 2022-07-29    Lassen  11276       36882.22         7            5.00

[8636 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df['death_day'] = top10_ca_death_df['death_day'].astype(int)
top10_ca_death_df['date'] =  pd.to_datetime(top10_ca_death_df['date'], infer_datetime_format=True)
top10_ca_death_df

           date    county  deaths  current_drate  death_day  14day_death_avg
0    2020-03-20  Imperial       0           0.00          0             0.00
1    2020-03-21  Imperial       0           0.00          0             0.00
2    2020-03-22  Imperial       0           0.00          0             0.00
3    2020-03-23  Imperial       0           0.00          0             0.00
4    2020-03-24  Imperial       0           0.00          0             0.00
...         ...       ...     ...            ...        ...              ...
8670 2022-07-25    Merced     837         301.43          0             0.36
8671 2022-07-26    Merced     838         301.79          1             0.43
8672 2022-07-27    Merced     838         301.79          0             0.43
8673 2022-07-28    Merced     838         301.79          0             0.43
8674 2022-07-29    Merced     838         301.79          0             0.36

[8675 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)