In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr2022_df['date'] = pd.to_datetime(yr2022_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2655899,2022-08-03,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2655900,2022-08-04,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2655901,2022-08-05,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2655902,2022-08-06,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2655903,2022-08-07,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
67827,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
67829,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
67831,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
67833,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
67835,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1604205,2022-08-03,Arkansas,Arkansas,5001,6191,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1604207,2022-08-04,Arkansas,Arkansas,5001,6202,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1604209,2022-08-05,Arkansas,Arkansas,5001,6212,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1604211,2022-08-06,Arkansas,Arkansas,5001,6220,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1604213,2022-08-07,Arkansas,Arkansas,5001,6223,79.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2655899,2022-08-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2655900,2022-08-04,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2655901,2022-08-05,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2655902,2022-08-06,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2655903,2022-08-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-08-07') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
929,2022-08-07,Snohomish,Washington,184142,1235.00,53061,WA,County,822083,22399.44,150.23
1856,2022-08-07,Cook,Illinois,1347608,15180.00,17031,IL,County,5150233,26165.96,294.74
2782,2022-08-07,Orange,California,699194,7235.00,6059,CA,County,3175692,22017.06,227.82
3707,2022-08-07,Maricopa,Arizona,1392047,17664.00,4013,AZ,County,4485414,31034.97,393.81
4632,2022-08-07,Los Angeles,California,3326326,32826.00,6037,CA,County,10039107,33133.68,326.98
...,...,...,...,...,...,...,...,...,...,...,...
2653371,2022-08-07,Wheeler,Oregon,258,3.00,41069,OR,County,1332,19369.37,225.23
2654035,2022-08-07,King,Texas,52,0.00,48269,TX,County,272,19117.65,0.00
2654668,2022-08-07,Esmeralda,Nevada,118,4.00,32009,NV,County,873,13516.61,458.19
2655297,2022-08-07,Loving,Texas,301,1.00,48301,TX,County,169,178106.51,591.72
2655903,2022-08-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
929,2022-08-07,Snohomish,Washington,184142,1235.00,53061,WA,County,822083,22399.44,150.23,150.23,22399.44
1856,2022-08-07,Cook,Illinois,1347608,15180.00,17031,IL,County,5150233,26165.96,294.74,294.74,26165.96
2782,2022-08-07,Orange,California,699194,7235.00,6059,CA,County,3175692,22017.06,227.82,227.82,22017.06
3707,2022-08-07,Maricopa,Arizona,1392047,17664.00,4013,AZ,County,4485414,31034.97,393.81,393.81,31034.97
4632,2022-08-07,Los Angeles,California,3326326,32826.00,6037,CA,County,10039107,33133.68,326.98,326.98,33133.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2653371,2022-08-07,Wheeler,Oregon,258,3.00,41069,OR,County,1332,19369.37,225.23,225.23,19369.37
2654035,2022-08-07,King,Texas,52,0.00,48269,TX,County,272,19117.65,0.00,0.00,19117.65
2654668,2022-08-07,Esmeralda,Nevada,118,4.00,32009,NV,County,873,13516.61,458.19,458.19,13516.61
2655297,2022-08-07,Loving,Texas,301,1.00,48301,TX,County,169,178106.51,591.72,591.72,178106.51
2655903,2022-08-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1678342,2022-08-07,Hale,Alabama,5190,109.00,1065,AL,County,14651,35424.20,743.98,743.98,35424.20,1
1415106,2022-08-07,Winston,Alabama,8127,134.00,1133,AL,County,23629,34394.18,567.10,567.10,34394.18,2
1156305,2022-08-07,Clay,Alabama,4474,83.00,1027,AL,County,13235,33804.31,627.13,627.13,33804.31,3
1045334,2022-08-07,Morgan,Alabama,39913,524.00,1103,AL,County,119679,33350.04,437.84,437.84,33350.04,4
971556,2022-08-07,Franklin,Alabama,10417,140.00,1059,AL,County,31362,33215.36,446.40,446.40,33215.36,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600764,2022-08-07,Converse,Wyoming,3351,55.00,56009,WY,County,13822,24243.96,397.92,397.92,24243.96,19
2268228,2022-08-07,Big Horn,Wyoming,2832,63.00,56003,WY,County,11790,24020.36,534.35,534.35,24020.36,20
1996249,2022-08-07,Lincoln,Wyoming,4540,32.00,56023,WY,County,19830,22894.60,161.37,161.37,22894.60,21
1601627,2022-08-07,Sublette,Wyoming,2110,27.00,56035,WY,County,9831,21462.72,274.64,274.64,21462.72,22
2036481,2022-08-07,Crook,Wyoming,1445,29.00,56011,WY,County,7584,19053.27,382.38,382.38,19053.27,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1309581,2022-08-07,Lowndes,Alabama,2912,79.00,1085,AL,County,9726,29940.37,812.26,812.26,29940.37,26,1
1678342,2022-08-07,Hale,Alabama,5190,109.00,1065,AL,County,14651,35424.20,743.98,743.98,35424.20,1,2
1307851,2022-08-07,Crenshaw,Alabama,4167,102.00,1041,AL,County,13772,30257.04,740.63,740.63,30257.04,23,3
552806,2022-08-07,Walker,Alabama,20542,453.00,1127,AL,County,63521,32338.91,713.15,713.15,32338.91,8,4
1158903,2022-08-07,Dallas,Alabama,9598,249.00,1047,AL,County,37196,25803.85,669.43,669.43,25803.85,55,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410786,2022-08-07,Johnson,Wyoming,2082,20.00,56019,WY,County,8445,24653.64,236.83,236.83,24653.64,18,19
1945686,2022-08-07,Uinta,Wyoming,5991,39.00,56041,WY,County,20226,29620.29,192.82,192.82,29620.29,8,20
1996249,2022-08-07,Lincoln,Wyoming,4540,32.00,56023,WY,County,19830,22894.60,161.37,161.37,22894.60,21,21
1304391,2022-08-07,Albany,Wyoming,10809,51.00,56001,WY,County,38880,27800.93,131.17,131.17,27800.93,14,22
550190,2022-08-07,Teton,Wyoming,11304,16.00,56039,WY,County,23464,48175.93,68.19,68.19,48175.93,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,150.23,22399.44,32,16
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,150.23,22399.44,32,16
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,150.23,22399.44,32,16
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,150.23,22399.44,32,16
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,150.23,22399.44,32,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649795,2022-08-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2649796,2022-08-04,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2649797,2022-08-05,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2649798,2022-08-06,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2649799,2022-08-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1671378,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,743.98,35424.20,2,1,1.00,nan
1671379,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,743.98,35424.20,2,1,0.00,nan
1671380,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,743.98,35424.20,2,1,0.00,nan
1671381,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,743.98,35424.20,2,1,0.00,nan
1671382,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,743.98,35424.20,2,1,2.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2030373,2022-08-03,Crook,Wyoming,1445,29.00,56011,WY,County,7584,19053.27,382.38,382.38,19053.27,10,23,0.00,1.43
2030374,2022-08-04,Crook,Wyoming,1445,29.00,56011,WY,County,7584,19053.27,382.38,382.38,19053.27,10,23,0.00,1.43
2030375,2022-08-05,Crook,Wyoming,1445,29.00,56011,WY,County,7584,19053.27,382.38,382.38,19053.27,10,23,0.00,1.43
2030376,2022-08-06,Crook,Wyoming,1445,29.00,56011,WY,County,7584,19053.27,382.38,382.38,19053.27,10,23,0.00,1.43
2030377,2022-08-07,Crook,Wyoming,1445,29.00,56011,WY,County,7584,19053.27,382.38,382.38,19053.27,10,23,0.00,1.43

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa['14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa['deaths'] = usa['deaths'].astype(int)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1304339,2020-03-26,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29940.37,1,26,1.00,9.57,0.00,nan
1304340,2020-03-27,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29940.37,1,26,0.00,8.29,0.00,nan
1304341,2020-03-28,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29940.37,1,26,0.00,7.21,0.00,nan
1304342,2020-03-29,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29940.37,1,26,0.00,6.64,0.00,nan
1304343,2020-03-30,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,812.26,29940.37,1,26,0.00,5.50,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546674,2022-08-03,Teton,Wyoming,11304,16,56039,WY,County,23464,48175.93,68.19,68.19,48175.93,23,1,0.00,11.14,0.00,0.00
546675,2022-08-04,Teton,Wyoming,11304,16,56039,WY,County,23464,48175.93,68.19,68.19,48175.93,23,1,0.00,11.14,0.00,0.00
546676,2022-08-05,Teton,Wyoming,11304,16,56039,WY,County,23464,48175.93,68.19,68.19,48175.93,23,1,0.00,11.14,0.00,0.00
546677,2022-08-06,Teton,Wyoming,11304,16,56039,WY,County,23464,48175.93,68.19,68.19,48175.93,23,1,0.00,11.14,0.00,0.00
546678,2022-08-07,Teton,Wyoming,11304,16,56039,WY,County,23464,48175.93,68.19,68.19,48175.93,23,1,0.00,11.14,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-08-07') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
660902,2022-08-07,Imperial,California,77352,949,6025,CA,County,181215,42685.21,523.69,523.69,42685.21,1,1,0.00,147.50,0.00,0.07
100512,2022-08-07,Shasta,California,40674,670,6089,CA,County,180080,22586.63,372.06,372.06,22586.63,2,36,0.00,41.71,0.00,0.43
327256,2022-08-07,San Bernardino,California,667415,7956,6071,CA,County,2180085,30614.17,364.94,364.94,30614.17,3,7,0.00,921.64,0.00,1.64
1602419,2022-08-07,Tuolumne,California,16071,196,6109,CA,County,54478,29499.98,359.78,359.78,29499.98,4,9,0.00,25.86,0.00,0.00
4632,2022-08-07,Los Angeles,California,3326326,32826,6037,CA,County,10039107,33133.68,326.98,326.98,33133.68,5,4,0.00,5164.21,0.00,15.86
180654,2022-08-07,Tulare,California,150663,1516,6107,CA,County,466195,32317.59,325.19,325.19,32317.59,6,5,0.00,127.79,0.00,0.21
1944724,2022-08-07,Tehama,California,16071,209,6103,CA,County,65084,24692.70,321.12,321.12,24692.70,7,25,0.00,13.64,0.00,0.14
1163185,2022-08-07,Inyo,California,5209,57,6027,CA,County,18039,28876.32,315.98,315.98,28876.32,8,11,0.00,4.50,0.00,0.00
145457,2022-08-07,Stanislaus,California,152202,1701,6099,CA,County,550660,27639.92,308.90,308.90,27639.92,9,15,0.00,180.14,0.00,0.43
1053093,2022-08-07,Merced,California,79923,838,6047,CA,County,277680,28782.41,301.79,301.79,28782.41,10,12,0.00,105.21,0.00,0.07
115505,2022-08-07,San Joaquin,California,202673,2276,6077,CA,County,762148,26592.34,298.63,298.63,26592.34,11,17,0.00,253.93,0.00,0.64
1413320,2022-08-07,Kings,California,61168,453,6031,CA,County,152940,39994.77,296.19,296.19,39994.77,12,2,0.00,79.86,0.00,0.14
65174,2022-08-07,Fresno,California,291838,2815,6019,CA,County,999101,29210.06,281.75,281.75,29210.06,13,10,0.00,468.86,0.00,1.64
1052226,2022-08-07,Calaveras,California,8691,129,6009,CA,County,45905,18932.58,281.02,281.02,18932.58,14,50,0.00,11.93,0.00,0.07
412173,2022-08-07,Kern,California,272015,2499,6029,CA,County,900202,30217.11,277.60,277.60,30217.11,15,8,0.00,316.64,0.00,1.07
66942,2022-08-07,Riverside,California,702197,6616,6065,CA,County,2470546,28422.75,267.80,267.80,28422.75,16,14,0.00,982.79,0.00,2.29
783707,2022-08-07,Siskiyou,California,8230,107,6093,CA,County,43539,18902.59,245.76,245.76,18902.59,17,51,0.00,10.71,0.00,0.00
1164051,2022-08-07,Sutter,California,25549,235,6101,CA,County,96971,26347.05,242.34,242.34,26347.05,18,19,0.00,31.86,0.00,0.00
66058,2022-08-07,Madera,California,49430,372,6039,CA,County,157327,31418.64,236.45,236.45,31418.64,19,6,0.00,75.14,0.00,0.00
2782,2022-08-07,Orange,California,699194,7235,6059,CA,County,3175692,22017.06,227.82,227.82,22017.06,20,41,0.00,1180.29,0.00,3.29
2495131,2022-08-07,Lassen,California,11295,68,6035,CA,County,30573,36944.36,222.42,222.42,36944.36,21,3,0.00,3.64,0.00,0.00
660031,2022-08-07,Amador,California,10485,88,6005,CA,County,39752,26376.03,221.37,221.37,26376.03,22,18,0.00,9.14,0.00,0.07
2065426,2022-08-07,Lake,California,13297,142,6033,CA,County,64386,20652.01,220.54,220.54,20652.01,23,47,0.00,19.64,0.00,0.00
12824,2022-08-07,Sacramento,California,364890,3342,6067,CA,County,1552058,23510.08,215.33,215.33,23510.08,24,30,0.00,441.79,0.00,2.36
2390793,2022-08-07,Mariposa,California,3932,37,6043,CA,County,17203,22856.48,215.08,215.08,22856.48,25,33,0.00,4.79,0.00,0.07
781967,2022-08-07,Butte,California,45848,446,6007,CA,County,219186,20917.39,203.48,203.48,20917.39,26,45,0.00,55.64,0.00,0.43
1881238,2022-08-07,Del Norte,California,7564,54,6015,CA,County,27812,27196.89,194.16,194.16,27196.89,27,16,0.00,1.36,0.00,0.00
116386,2022-08-07,Ventura,California,214000,1537,6111,CA,County,846006,25295.33,181.68,181.68,25295.33,28,22,0.00,321.93,0.00,0.86
273764,2022-08-07,San Luis Obispo,California,67396,510,6079,CA,County,283111,23805.50,180.14,180.14,23805.50,29,28,0.00,78.71,0.00,0.71
413047,2022-08-07,Monterey,California,109953,774,6053,CA,County,434061,25331.23,178.32,178.32,25331.23,30,21,0.00,155.71,0.00,0.71
1510948,2022-08-07,Glenn,California,7156,48,6021,CA,County,28393,25203.40,169.06,169.06,25203.40,31,23,0.00,4.93,0.00,0.00
2456941,2022-08-07,Trinity,California,1693,20,6105,CA,County,12285,13781.03,162.80,162.80,13781.03,32,55,0.00,1.43,0.00,0.00
23536,2022-08-07,Placer,California,81955,648,6061,CA,County,398329,20574.70,162.68,162.68,20574.70,33,48,0.00,96.64,0.00,0.29
9214,2022-08-07,San Diego,California,958923,5424,6073,CA,County,3338330,28724.63,162.48,162.48,28724.63,34,13,0.00,1661.79,0.00,3.14
225477,2022-08-07,San Benito,California,16223,101,6069,CA,County,62808,25829.51,160.81,160.81,25829.51,35,20,0.00,25.64,0.00,0.07
328132,2022-08-07,Santa Barbara,California,107114,711,6083,CA,County,446499,23989.75,159.24,159.24,23989.75,36,26,0.00,165.57,0.00,0.36
784577,2022-08-07,Yuba,California,19669,124,6115,CA,County,78668,25002.54,157.62,157.62,25002.54,37,24,0.00,23.07,0.00,0.00
474219,2022-08-07,Mendocino,California,19398,132,6045,CA,County,86749,22361.06,152.16,152.16,22361.06,38,37,0.00,28.64,0.00,0.07
43935,2022-08-07,Yolo,California,49978,331,6113,CA,County,220500,22665.76,150.11,150.11,22665.76,39,35,0.00,49.93,0.00,0.29
2490284,2022-08-07,Sierra,California,354,4,6091,CA,County,3005,11780.37,133.11,133.11,11780.37,40,57,0.00,0.14,0.00,0.00
373678,2022-08-07,Nevada,California,19938,132,6057,CA,County,99755,19986.97,132.32,132.32,19986.97,41,49,0.00,18.86,0.00,0.07
2630300,2022-08-07,Modoc,California,1166,11,6049,CA,County,8841,13188.55,124.42,124.42,13188.55,42,56,0.00,3.14,0.00,0.07
5552,2022-08-07,Santa Clara,California,430146,2386,6085,CA,County,1927852,22312.19,123.76,123.76,22312.19,43,38,0.00,788.79,0.00,0.36
28869,2022-08-07,Contra Costa,California,256090,1383,6013,CA,County,1153526,22200.63,119.89,119.89,22200.63,44,40,0.00,425.07,0.00,1.43
20867,2022-08-07,Alameda,California,350942,1968,6001,CA,County,1671329,20997.78,117.75,117.75,20997.78,45,43,0.00,640.14,0.00,0.43
16405,2022-08-07,Marin,California,48250,302,6041,CA,County,258826,18641.87,116.68,116.68,18641.87,46,52,0.00,70.57,0.00,0.14
782837,2022-08-07,El Dorado,California,35232,225,6017,CA,County,192843,18269.78,116.68,116.68,18269.78,47,54,0.00,38.71,0.00,0.21
11925,2022-08-07,Humboldt,California,25267,154,6023,CA,County,135558,18639.25,113.60,113.60,18639.25,48,53,0.00,38.21,0.00,0.21
17299,2022-08-07,Napa,California,32387,151,6055,CA,County,137744,23512.46,109.62,109.62,23512.46,49,29,0.00,39.14,0.00,0.21
7389,2022-08-07,San Francisco,California,182894,946,6075,CA,County,881549,20746.89,107.31,107.31,20746.89,50,46,0.00,304.43,0.00,1.07
24425,2022-08-07,San Mateo,California,171035,795,6081,CA,County,766573,22311.64,103.71,103.71,22311.64,51,39,0.00,265.79,0.00,0.57
1412456,2022-08-07,Colusa,California,4900,22,6011,CA,County,21547,22740.98,102.10,102.10,22740.98,52,34,0.00,3.21,0.00,0.00
13720,2022-08-07,Solano,California,107290,457,6095,CA,County,447643,23967.76,102.09,102.09,23967.76,53,27,0.00,145.43,0.00,0.00
18193,2022-08-07,Sonoma,California,107455,502,6097,CA,County,494336,21737.24,101.55,101.55,21737.24,54,42,0.00,143.86,0.00,0.14
67826,2022-08-07,Santa Cruz,California,63113,269,6087,CA,County,273213,23100.29,98.46,98.46,23100.29,55,32,0.00,117.86,0.00,0.07
1757474,2022-08-07,Plumas,California,3941,13,6063,CA,County,18807,20954.96,69.12,69.12,20954.96,56,44,0.00,3.79,0.00,0.00
1053960,2022-08-07,Mono,California,3382,7,6051,CA,County,14444,23414.57,48.46,48.46,23414.57,57,31,0.00,1.71,0.00,0.00
1676543,2022-08-07,Alpine,California,131,0,6003,CA,County,1129,11603.19,0.00,0.00,11603.19,58,58,0.00,0.00,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
660902,2022-08-07,Imperial,California,77352,949,6025,CA,County,181215,42685.21,523.69,523.69,42685.21,1,1,0.00,147.50,0.00,0.07
1413320,2022-08-07,Kings,California,61168,453,6031,CA,County,152940,39994.77,296.19,296.19,39994.77,12,2,0.00,79.86,0.00,0.14
2495131,2022-08-07,Lassen,California,11295,68,6035,CA,County,30573,36944.36,222.42,222.42,36944.36,21,3,0.00,3.64,0.00,0.00
4632,2022-08-07,Los Angeles,California,3326326,32826,6037,CA,County,10039107,33133.68,326.98,326.98,33133.68,5,4,0.00,5164.21,0.00,15.86
180654,2022-08-07,Tulare,California,150663,1516,6107,CA,County,466195,32317.59,325.19,325.19,32317.59,6,5,0.00,127.79,0.00,0.21
66058,2022-08-07,Madera,California,49430,372,6039,CA,County,157327,31418.64,236.45,236.45,31418.64,19,6,0.00,75.14,0.00,0.00
327256,2022-08-07,San Bernardino,California,667415,7956,6071,CA,County,2180085,30614.17,364.94,364.94,30614.17,3,7,0.00,921.64,0.00,1.64
412173,2022-08-07,Kern,California,272015,2499,6029,CA,County,900202,30217.11,277.60,277.60,30217.11,15,8,0.00,316.64,0.00,1.07
1602419,2022-08-07,Tuolumne,California,16071,196,6109,CA,County,54478,29499.98,359.78,359.78,29499.98,4,9,0.00,25.86,0.00,0.00
65174,2022-08-07,Fresno,California,291838,2815,6019,CA,County,999101,29210.06,281.75,281.75,29210.06,13,10,0.00,468.86,0.00,1.64

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
660902,2022-08-07,Imperial,California,77352,949,6025,CA,County,181215,42685.21,523.69,523.69,42685.21,1,1,0.00,147.50,0.00,0.07
100512,2022-08-07,Shasta,California,40674,670,6089,CA,County,180080,22586.63,372.06,372.06,22586.63,2,36,0.00,41.71,0.00,0.43
327256,2022-08-07,San Bernardino,California,667415,7956,6071,CA,County,2180085,30614.17,364.94,364.94,30614.17,3,7,0.00,921.64,0.00,1.64
1602419,2022-08-07,Tuolumne,California,16071,196,6109,CA,County,54478,29499.98,359.78,359.78,29499.98,4,9,0.00,25.86,0.00,0.00
4632,2022-08-07,Los Angeles,California,3326326,32826,6037,CA,County,10039107,33133.68,326.98,326.98,33133.68,5,4,0.00,5164.21,0.00,15.86
180654,2022-08-07,Tulare,California,150663,1516,6107,CA,County,466195,32317.59,325.19,325.19,32317.59,6,5,0.00,127.79,0.00,0.21
1944724,2022-08-07,Tehama,California,16071,209,6103,CA,County,65084,24692.70,321.12,321.12,24692.70,7,25,0.00,13.64,0.00,0.14
1163185,2022-08-07,Inyo,California,5209,57,6027,CA,County,18039,28876.32,315.98,315.98,28876.32,8,11,0.00,4.50,0.00,0.00
145457,2022-08-07,Stanislaus,California,152202,1701,6099,CA,County,550660,27639.92,308.90,308.90,27639.92,9,15,0.00,180.14,0.00,0.43
1053093,2022-08-07,Merced,California,79923,838,6047,CA,County,277680,28782.41,301.79,301.79,28782.41,10,12,0.00,105.21,0.00,0.07

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df['case_day'] = top10_ca_case_df['case_day'].astype(int)
top10_ca_case_df['date'] =  pd.to_datetime(top10_ca_case_df['date'], infer_datetime_format=True)
top10_ca_case_df

           date    county  cases  current_crate  case_day  14day_case_avg
0    2020-03-20  Imperial      4           2.21         4            1.43
1    2020-03-21  Imperial      4           2.21         0            1.14
2    2020-03-22  Imperial      4           2.21         0            1.14
3    2020-03-23  Imperial      4           2.21         0            1.00
4    2020-03-24  Imperial      9           4.97         5            1.29
...         ...       ...    ...            ...       ...             ...
8721 2022-08-03    Lassen  11290       36928.01         0            3.29
8722 2022-08-04    Lassen  11295       36944.36         5            3.64
8723 2022-08-05    Lassen  11295       36944.36         0            3.64
8724 2022-08-06    Lassen  11295       36944.36         0            3.64
8725 2022-08-07    Lassen  11295       36944.36         0            3.64

[8726 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df['death_day'] = top10_ca_death_df['death_day'].astype(int)
top10_ca_death_df['date'] =  pd.to_datetime(top10_ca_death_df['date'], infer_datetime_format=True)
top10_ca_death_df

           date    county  deaths  current_drate  death_day  14day_death_avg
0    2020-03-20  Imperial       0           0.00          0             0.00
1    2020-03-21  Imperial       0           0.00          0             0.00
2    2020-03-22  Imperial       0           0.00          0             0.00
3    2020-03-23  Imperial       0           0.00          0             0.00
4    2020-03-24  Imperial       0           0.00          0             0.00
...         ...       ...     ...            ...        ...              ...
8760 2022-08-03    Merced     838         301.79          0             0.36
8761 2022-08-04    Merced     838         301.79          0             0.36
8762 2022-08-05    Merced     838         301.79          0             0.07
8763 2022-08-06    Merced     838         301.79          0             0.07
8764 2022-08-07    Merced     838         301.79          0             0.07

[8765 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)