In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1196741,2021-04-19,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1196742,2021-04-20,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1196743,2021-04-21,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1196744,2021-04-22,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1196745,2021-04-23,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
32031,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
32033,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
32035,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
32037,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
32039,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
737094,2021-04-19,Arkansas,Arkansas,5001,2087,36.00,5000,Arkansas,AR,Arkansas,State,3017804
737096,2021-04-20,Arkansas,Arkansas,5001,2088,36.00,5000,Arkansas,AR,Arkansas,State,3017804
737098,2021-04-21,Arkansas,Arkansas,5001,2088,36.00,5000,Arkansas,AR,Arkansas,State,3017804
737100,2021-04-22,Arkansas,Arkansas,5001,2089,36.00,5000,Arkansas,AR,Arkansas,State,3017804
737102,2021-04-23,Arkansas,Arkansas,5001,2089,36.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1196741,2021-04-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1196742,2021-04-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1196743,2021-04-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1196744,2021-04-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1196745,2021-04-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-04-23') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
458,2021-04-23,Snohomish,Washington,35019,563.00,53061,WA,County,822083,4259.79,68.48
914,2021-04-23,Cook,Illinois,527102,10424.00,17031,IL,County,5150233,10234.53,202.40
1369,2021-04-23,Orange,California,269433,4918.00,6059,CA,County,3175692,8484.23,154.86
1823,2021-04-23,Maricopa,Arizona,533368,9813.00,4013,AZ,County,4485414,11891.17,218.78
2277,2021-04-23,Los Angeles,California,1231448,23762.00,6037,CA,County,10039107,12266.51,236.69
...,...,...,...,...,...,...,...,...,...,...,...
1196097,2021-04-23,Wheeler,Oregon,26,1.00,41069,OR,County,1332,1951.95,75.08
1196290,2021-04-23,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00
1196452,2021-04-23,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00
1196610,2021-04-23,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00
1196745,2021-04-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
458,2021-04-23,Snohomish,Washington,35019,563.00,53061,WA,County,822083,4259.79,68.48,68.48,4259.79
914,2021-04-23,Cook,Illinois,527102,10424.00,17031,IL,County,5150233,10234.53,202.40,202.40,10234.53
1369,2021-04-23,Orange,California,269433,4918.00,6059,CA,County,3175692,8484.23,154.86,154.86,8484.23
1823,2021-04-23,Maricopa,Arizona,533368,9813.00,4013,AZ,County,4485414,11891.17,218.78,218.78,11891.17
2277,2021-04-23,Los Angeles,California,1231448,23762.00,6037,CA,County,10039107,12266.51,236.69,236.69,12266.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1196097,2021-04-23,Wheeler,Oregon,26,1.00,41069,OR,County,1332,1951.95,75.08,75.08,1951.95
1196290,2021-04-23,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00,0.00,4044.12
1196452,2021-04-23,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00,0.00,4352.81
1196610,2021-04-23,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00,0.00,591.72
1196745,2021-04-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
770725,2021-04-23,Hale,Alabama,2198,75.00,1065,AL,County,14651,15002.39,511.91,511.91,15002.39,1
838895,2021-04-23,Clarke,Alabama,3498,60.00,1025,AL,County,23622,14808.23,254.00,254.00,14808.23,2
603081,2021-04-23,Lowndes,Alabama,1379,53.00,1085,AL,County,9726,14178.49,544.93,544.93,14178.49,3
448746,2021-04-23,Franklin,Alabama,4221,82.00,1059,AL,County,31362,13458.96,261.46,261.46,13458.96,4
534752,2021-04-23,Etowah,Alabama,13729,350.00,1055,AL,County,102268,13424.53,342.24,342.24,13424.53,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134861,2021-04-23,Platte,Wyoming,619,11.00,56031,WY,County,8393,7375.19,131.06,131.06,7375.19,19
735537,2021-04-23,Converse,Wyoming,990,17.00,56009,WY,County,13822,7162.49,122.99,122.99,7162.49,20
914362,2021-04-23,Lincoln,Wyoming,1389,12.00,56023,WY,County,19830,7004.54,60.51,60.51,7004.54,21
1017588,2021-04-23,Niobrara,Wyoming,151,2.00,56027,WY,County,2356,6409.17,84.89,84.89,6409.17,22
932457,2021-04-23,Crook,Wyoming,428,12.00,56011,WY,County,7584,5643.46,158.23,158.23,5643.46,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
603081,2021-04-23,Lowndes,Alabama,1379,53.00,1085,AL,County,9726,14178.49,544.93,544.93,14178.49,3,1
770725,2021-04-23,Hale,Alabama,2198,75.00,1065,AL,County,14651,15002.39,511.91,511.91,15002.39,1,2
256547,2021-04-23,Walker,Alabama,7167,278.00,1127,AL,County,63521,11282.88,437.65,437.65,11282.88,28,3
533172,2021-04-23,Clay,Alabama,1522,56.00,1027,AL,County,13235,11499.81,423.12,423.12,11499.81,23,4
650358,2021-04-23,Greene,Alabama,916,34.00,1063,AL,County,8111,11293.31,419.18,419.18,11293.31,27,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648785,2021-04-23,Hot Springs,Wyoming,366,3.00,56017,WY,County,4413,8293.68,67.98,67.98,8293.68,17,19
914362,2021-04-23,Lincoln,Wyoming,1389,12.00,56023,WY,County,19830,7004.54,60.51,60.51,7004.54,21,20
891588,2021-04-23,Uinta,Wyoming,2158,12.00,56041,WY,County,20226,10669.44,59.33,59.33,10669.44,5,21
255344,2021-04-23,Teton,Wyoming,3719,9.00,56039,WY,County,23464,15849.81,38.36,38.36,15849.81,1,22
600717,2021-04-23,Albany,Wyoming,4184,11.00,56001,WY,County,38880,10761.32,28.29,28.29,10761.32,4,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.48,4259.79,19,23
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.48,4259.79,19,23
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.48,4259.79,19,23
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.48,4259.79,19,23
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.48,4259.79,19,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193934,2021-04-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1193935,2021-04-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1193936,2021-04-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1193937,2021-04-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1193938,2021-04-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
767529,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,511.91,15002.39,2,1,1.00
767530,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,511.91,15002.39,2,1,0.00
767531,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,511.91,15002.39,2,1,0.00
767532,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,511.91,15002.39,2,1,0.00
767533,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,511.91,15002.39,2,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929646,2021-04-19,Crook,Wyoming,428,12.00,56011,WY,County,7584,5643.46,158.23,158.23,5643.46,6,23,0.00
929647,2021-04-20,Crook,Wyoming,428,12.00,56011,WY,County,7584,5643.46,158.23,158.23,5643.46,6,23,0.00
929648,2021-04-21,Crook,Wyoming,428,12.00,56011,WY,County,7584,5643.46,158.23,158.23,5643.46,6,23,0.00
929649,2021-04-22,Crook,Wyoming,428,12.00,56011,WY,County,7584,5643.46,158.23,158.23,5643.46,6,23,0.00
929650,2021-04-23,Crook,Wyoming,428,12.00,56011,WY,County,7584,5643.46,158.23,158.23,5643.46,6,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
600665,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14178.49,1,3,1.00,0.00
600666,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14178.49,1,3,0.00,0.00
600667,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14178.49,1,3,0.00,0.00
600668,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14178.49,1,3,0.00,0.00
600669,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14178.49,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598690,2021-04-19,Albany,Wyoming,4137,11.00,56001,WY,County,38880,10640.43,28.29,28.29,10761.32,23,4,18.00,0.00
598691,2021-04-20,Albany,Wyoming,4148,11.00,56001,WY,County,38880,10668.72,28.29,28.29,10761.32,23,4,11.00,0.00
598692,2021-04-21,Albany,Wyoming,4155,11.00,56001,WY,County,38880,10686.73,28.29,28.29,10761.32,23,4,7.00,0.00
598693,2021-04-22,Albany,Wyoming,4170,11.00,56001,WY,County,38880,10725.31,28.29,28.29,10761.32,23,4,15.00,0.00
598694,2021-04-23,Albany,Wyoming,4184,11.00,56001,WY,County,38880,10761.32,28.29,28.29,10761.32,23,4,14.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-04-23') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
306239,2021-04-23,Imperial,California,28096,719.00,6025,CA,County,181215,15504.24,396.77,396.77,15504.24,1,2,44.00,1.00
2277,2021-04-23,Los Angeles,California,1231448,23762.00,6037,CA,County,10039107,12266.51,236.69,236.69,12266.51,2,5,424.00,26.00
152515,2021-04-23,San Bernardino,California,295390,4571.00,6071,CA,County,2180085,13549.47,209.67,209.67,13549.47,3,4,75.00,-1.00
536284,2021-04-23,Inyo,California,1394,36.00,6027,CA,County,18039,7727.70,199.57,199.57,7727.70,4,25,2.00,0.00
68213,2021-04-23,Stanislaus,California,60753,1036.00,6099,CA,County,550660,11032.76,188.14,188.14,11032.76,5,9,76.00,1.00
31617,2021-04-23,Riverside,California,297881,4559.00,6065,CA,County,2470546,12057.29,184.53,184.53,12057.29,6,6,111.00,4.00
84570,2021-04-23,Tulare,California,49493,832.00,6107,CA,County,466195,10616.37,178.47,178.47,10616.37,7,10,24.00,1.00
54275,2021-04-23,San Joaquin,California,71972,1340.00,6077,CA,County,762148,9443.31,175.82,175.82,9443.31,8,19,73.00,0.00
30791,2021-04-23,Fresno,California,100864,1657.00,6019,CA,County,999101,10095.48,165.85,165.85,10095.48,9,14,26.00,3.00
486009,2021-04-23,Merced,California,31400,454.00,6047,CA,County,277680,11307.98,163.50,163.50,11307.98,10,8,42.00,0.00
650300,2021-04-23,Kings,California,22821,246.00,6031,CA,County,152940,14921.54,160.85,160.85,14921.54,11,3,10.00,0.00
1369,2021-04-23,Orange,California,269433,4918.00,6059,CA,County,3175692,8484.23,154.86,154.86,8484.23,12,22,81.00,8.00
31204,2021-04-23,Madera,California,16316,240.00,6039,CA,County,157327,10370.76,152.55,152.55,10370.76,13,11,7.00,0.00
191745,2021-04-23,Kern,California,108195,1345.00,6029,CA,County,900202,12018.97,149.41,149.41,12018.97,14,7,64.00,10.00
47289,2021-04-23,Shasta,California,11779,219.00,6089,CA,County,180080,6540.98,121.61,121.61,6540.98,15,34,0.00,0.00
54685,2021-04-23,Ventura,California,80430,1006.00,6111,CA,County,846006,9507.02,118.91,118.91,9507.02,16,18,32.00,4.00
736250,2021-04-23,Tuolumne,California,4093,64.00,6109,CA,County,54478,7513.12,117.48,117.48,7513.12,17,29,2.00,0.00
305839,2021-04-23,Amador,California,3632,46.00,6005,CA,County,39752,9136.65,115.72,115.72,9136.65,18,20,1.00,0.00
536679,2021-04-23,Sutter,California,9302,110.00,6101,CA,County,96971,9592.56,113.44,113.44,9592.56,19,16,5.00,0.00
4504,2021-04-23,San Diego,California,275976,3684.00,6073,CA,County,3338330,8266.89,110.35,110.35,8266.89,20,23,281.00,3.00
485613,2021-04-23,Calaveras,California,2059,50.00,6009,CA,County,45905,4485.35,108.92,108.92,4485.35,21,51,2.00,0.00
6230,2021-04-23,Sacramento,California,102070,1654.00,6067,CA,County,1552058,6576.43,106.57,106.57,6576.43,22,33,165.00,1.00
2726,2021-04-23,Santa Clara,California,117678,2044.00,6085,CA,County,1927852,6104.10,106.02,106.02,6104.10,23,36,140.00,18.00
105372,2021-04-23,San Benito,California,5998,63.00,6069,CA,County,62808,9549.74,100.31,100.31,9549.74,24,17,0.00,0.00
152920,2021-04-23,Santa Barbara,California,33926,446.00,6083,CA,County,446499,7598.23,99.89,99.89,7598.23,25,27,0.00,1.00
20856,2021-04-23,Yolo,California,13616,205.00,6113,CA,County,220500,6175.06,92.97,92.97,6175.06,26,35,10.00,5.00
127754,2021-04-23,San Luis Obispo,California,21071,260.00,6079,CA,County,283111,7442.66,91.84,91.84,7442.66,27,30,33.00,0.00
361835,2021-04-23,Butte,California,11656,196.00,6007,CA,County,219186,5317.86,89.42,89.42,5317.86,28,43,13.00,0.00
10034,2021-04-23,Alameda,California,85850,1484.00,6001,CA,County,1671329,5136.63,88.79,88.79,5136.63,29,45,67.00,3.00
694705,2021-04-23,Glenn,California,2874,25.00,6021,CA,County,28393,10122.21,88.05,88.05,10122.21,30,13,0.00,0.00
7927,2021-04-23,Marin,California,13832,227.00,6041,CA,County,258826,5344.13,87.70,87.70,5344.13,31,42,10.00,0.00
192148,2021-04-23,Monterey,California,43366,380.00,6053,CA,County,434061,9990.76,87.55,87.55,9990.76,32,15,20.00,0.00
891097,2021-04-23,Tehama,California,4896,53.00,6103,CA,County,65084,7522.59,81.43,81.43,7522.59,33,28,3.00,0.00
173974,2021-04-23,Nevada,California,4504,75.00,6057,CA,County,99755,4515.06,75.18,75.18,4515.06,34,50,5.00,0.00
32030,2021-04-23,Santa Cruz,California,15831,205.00,6087,CA,County,273213,5794.38,75.03,75.03,5794.38,35,39,72.00,1.00
649907,2021-04-23,Colusa,California,2210,16.00,6011,CA,County,21547,10256.65,74.26,74.26,10256.65,36,12,2.00,0.00
11708,2021-04-23,San Mateo,California,41345,564.00,6081,CA,County,766573,5393.49,73.57,73.57,5393.49,37,41,27.00,4.00
11290,2021-04-23,Placer,California,22028,284.00,6061,CA,County,398329,5530.10,71.30,71.30,5530.10,38,40,49.00,1.00
13797,2021-04-23,Contra Costa,California,67435,782.00,6013,CA,County,1153526,5845.99,67.79,67.79,5845.99,39,38,135.00,0.00
945388,2021-04-23,Lake,California,3423,43.00,6033,CA,County,64386,5316.37,66.78,66.78,5316.37,40,44,2.00,0.00
8773,2021-04-23,Sonoma,California,29747,318.00,6097,CA,County,494336,6017.57,64.33,64.33,6017.57,41,37,13.00,0.00
3621,2021-04-23,San Francisco,California,36221,532.00,6075,CA,County,881549,4108.79,60.35,60.35,4108.79,42,52,24.00,3.00
8350,2021-04-23,Napa,California,9735,79.00,6055,CA,County,137744,7067.46,57.35,57.35,7067.46,43,32,7.00,0.00
363032,2021-04-23,Yuba,California,6142,44.00,6115,CA,County,78668,7807.49,55.93,55.93,7807.49,44,24,4.00,0.00
6655,2021-04-23,Solano,California,32131,247.00,6095,CA,County,447643,7177.82,55.18,55.18,7177.82,45,31,0.00,3.00
362234,2021-04-23,El Dorado,California,9773,106.00,6017,CA,County,192843,5067.85,54.97,54.97,5067.85,46,46,13.00,0.00
220350,2021-04-23,Mendocino,California,4001,47.00,6045,CA,County,86749,4612.16,54.18,54.18,4612.16,47,48,3.00,0.00
362633,2021-04-23,Siskiyou,California,1987,21.00,6093,CA,County,43539,4563.72,48.23,48.23,4563.72,48,49,8.00,0.00
1089891,2021-04-23,Mariposa,California,436,7.00,6043,CA,County,17203,2534.44,40.69,40.69,2534.44,49,57,7.00,0.00
1187627,2021-04-23,Modoc,California,360,3.00,6049,CA,County,8841,4071.94,33.93,33.93,4071.94,50,53,0.00,0.00
5802,2021-04-23,Humboldt,California,3717,38.00,6023,CA,County,135558,2742.00,28.03,28.03,2742.00,51,55,20.00,0.00
486405,2021-04-23,Mono,California,1254,4.00,6051,CA,County,14444,8681.81,27.69,27.69,8681.81,52,21,0.00,0.00
862465,2021-04-23,Del Norte,California,1293,7.00,6015,CA,County,27812,4649.07,25.17,25.17,4649.07,53,47,1.00,0.00
1118359,2021-04-23,Trinity,California,327,3.00,6105,CA,County,12285,2661.78,24.42,24.42,2661.78,54,56,0.00,0.00
806525,2021-04-23,Plumas,California,670,4.00,6063,CA,County,18807,3562.50,21.27,21.27,3562.50,55,54,0.00,0.00
1134412,2021-04-23,Lassen,California,5685,1.00,6035,CA,County,30573,18594.84,3.27,3.27,18594.84,56,1,6.00,0.00
769868,2021-04-23,Alpine,California,86,0.00,6003,CA,County,1129,7617.36,0.00,0.00,7617.36,57,26,0.00,0.00
1132391,2021-04-23,Sierra,California,51,0.00,6091,CA,County,3005,1697.17,0.00,0.00,1697.17,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1134412,2021-04-23,Lassen,California,5685,1.00,6035,CA,County,30573,18594.84,3.27,3.27,18594.84,56,1,6.00,0.00
306239,2021-04-23,Imperial,California,28096,719.00,6025,CA,County,181215,15504.24,396.77,396.77,15504.24,1,2,44.00,1.00
650300,2021-04-23,Kings,California,22821,246.00,6031,CA,County,152940,14921.54,160.85,160.85,14921.54,11,3,10.00,0.00
152515,2021-04-23,San Bernardino,California,295390,4571.00,6071,CA,County,2180085,13549.47,209.67,209.67,13549.47,3,4,75.00,-1.00
2277,2021-04-23,Los Angeles,California,1231448,23762.00,6037,CA,County,10039107,12266.51,236.69,236.69,12266.51,2,5,424.00,26.00
31617,2021-04-23,Riverside,California,297881,4559.00,6065,CA,County,2470546,12057.29,184.53,184.53,12057.29,6,6,111.00,4.00
191745,2021-04-23,Kern,California,108195,1345.00,6029,CA,County,900202,12018.97,149.41,149.41,12018.97,14,7,64.00,10.00
486009,2021-04-23,Merced,California,31400,454.00,6047,CA,County,277680,11307.98,163.50,163.50,11307.98,10,8,42.00,0.00
68213,2021-04-23,Stanislaus,California,60753,1036.00,6099,CA,County,550660,11032.76,188.14,188.14,11032.76,5,9,76.00,1.00
84570,2021-04-23,Tulare,California,49493,832.00,6107,CA,County,466195,10616.37,178.47,178.47,10616.37,7,10,24.00,1.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
306239,2021-04-23,Imperial,California,28096,719.00,6025,CA,County,181215,15504.24,396.77,396.77,15504.24,1,2,44.00,1.00
2277,2021-04-23,Los Angeles,California,1231448,23762.00,6037,CA,County,10039107,12266.51,236.69,236.69,12266.51,2,5,424.00,26.00
152515,2021-04-23,San Bernardino,California,295390,4571.00,6071,CA,County,2180085,13549.47,209.67,209.67,13549.47,3,4,75.00,-1.00
536284,2021-04-23,Inyo,California,1394,36.00,6027,CA,County,18039,7727.70,199.57,199.57,7727.70,4,25,2.00,0.00
68213,2021-04-23,Stanislaus,California,60753,1036.00,6099,CA,County,550660,11032.76,188.14,188.14,11032.76,5,9,76.00,1.00
31617,2021-04-23,Riverside,California,297881,4559.00,6065,CA,County,2470546,12057.29,184.53,184.53,12057.29,6,6,111.00,4.00
84570,2021-04-23,Tulare,California,49493,832.00,6107,CA,County,466195,10616.37,178.47,178.47,10616.37,7,10,24.00,1.00
54275,2021-04-23,San Joaquin,California,71972,1340.00,6077,CA,County,762148,9443.31,175.82,175.82,9443.31,8,19,73.00,0.00
30791,2021-04-23,Fresno,California,100864,1657.00,6019,CA,County,999101,10095.48,165.85,165.85,10095.48,9,14,26.00,3.00
486009,2021-04-23,Merced,California,31400,454.00,6047,CA,County,277680,11307.98,163.50,163.50,11307.98,10,8,42.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,396.77,15504.24,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,396.77,15504.24,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,396.77,15504.24,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,396.77,15504.24,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,396.77,15504.24,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4012,04/19/21,Lassen,5669,1.00,18542.50,3.27,3.27,18594.84,56,1,0.00,0.00
4013,04/20/21,Lassen,5673,1.00,18555.59,3.27,3.27,18594.84,56,1,4.00,0.00
4014,04/21/21,Lassen,5679,1.00,18575.21,3.27,3.27,18594.84,56,1,6.00,0.00
4015,04/22/21,Lassen,5679,1.00,18575.21,3.27,3.27,18594.84,56,1,0.00,0.00
4016,04/23/21,Lassen,5685,1.00,18594.84,3.27,3.27,18594.84,56,1,6.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,396.77,15504.24,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,396.77,15504.24,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,396.77,15504.24,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,396.77,15504.24,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,396.77,15504.24,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4098,04/19/21,Merced,31267,452.00,11260.08,162.78,163.50,11307.98,10,8,71.00,0.00
4099,04/20/21,Merced,31289,453.00,11268.01,163.14,163.50,11307.98,10,8,22.00,1.00
4100,04/21/21,Merced,31321,454.00,11279.53,163.50,163.50,11307.98,10,8,32.00,1.00
4101,04/22/21,Merced,31358,454.00,11292.86,163.50,163.50,11307.98,10,8,37.00,0.00
4102,04/23/21,Merced,31400,454.00,11307.98,163.50,163.50,11307.98,10,8,42.00,0.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)