In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1066625,2021-03-08,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1066626,2021-03-09,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1066627,2021-03-10,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1066628,2021-03-11,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1066629,2021-03-12,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
28839,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
28841,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
28843,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
28845,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
28847,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
659772,2021-03-08,Arkansas,Arkansas,5001,2005,33.00,5000,Arkansas,AR,Arkansas,State,3017804
659774,2021-03-09,Arkansas,Arkansas,5001,2005,33.00,5000,Arkansas,AR,Arkansas,State,3017804
659776,2021-03-10,Arkansas,Arkansas,5001,2006,33.00,5000,Arkansas,AR,Arkansas,State,3017804
659778,2021-03-11,Arkansas,Arkansas,5001,2006,33.00,5000,Arkansas,AR,Arkansas,State,3017804
659780,2021-03-12,Arkansas,Arkansas,5001,2006,33.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1066625,2021-03-08,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1066626,2021-03-09,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1066627,2021-03-10,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1066628,2021-03-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1066629,2021-03-12,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-03-12') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
416,2021-03-12,Snohomish,Washington,31617,548.00,53061,WA,County,822083,3845.96,66.66
830,2021-03-12,Cook,Illinois,481787,10051.00,17031,IL,County,5150233,9354.66,195.16
1243,2021-03-12,Orange,California,263471,4408.00,6059,CA,County,3175692,8296.49,138.80
1655,2021-03-12,Maricopa,Arizona,520291,9428.00,4013,AZ,County,4485414,11599.62,210.19
2067,2021-03-12,Los Angeles,California,1208678,22304.00,6037,CA,County,10039107,12039.70,222.17
...,...,...,...,...,...,...,...,...,...,...,...
1066149,2021-03-12,Wheeler,Oregon,22,1.00,41069,OR,County,1332,1651.65,75.08
1066300,2021-03-12,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00
1066420,2021-03-12,Esmeralda,Nevada,37,0.00,32009,NV,County,873,4238.26,0.00
1066536,2021-03-12,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00
1066629,2021-03-12,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
416,2021-03-12,Snohomish,Washington,31617,548.00,53061,WA,County,822083,3845.96,66.66,66.66,3845.96
830,2021-03-12,Cook,Illinois,481787,10051.00,17031,IL,County,5150233,9354.66,195.16,195.16,9354.66
1243,2021-03-12,Orange,California,263471,4408.00,6059,CA,County,3175692,8296.49,138.80,138.80,8296.49
1655,2021-03-12,Maricopa,Arizona,520291,9428.00,4013,AZ,County,4485414,11599.62,210.19,210.19,11599.62
2067,2021-03-12,Los Angeles,California,1208678,22304.00,6037,CA,County,10039107,12039.70,222.17,222.17,12039.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066149,2021-03-12,Wheeler,Oregon,22,1.00,41069,OR,County,1332,1651.65,75.08,75.08,1651.65
1066300,2021-03-12,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00,0.00,4044.12
1066420,2021-03-12,Esmeralda,Nevada,37,0.00,32009,NV,County,873,4238.26,0.00,0.00,4238.26
1066536,2021-03-12,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00,0.00,591.72
1066629,2021-03-12,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
750611,2021-03-12,Clarke,Alabama,3460,55.00,1025,AL,County,23622,14647.36,232.83,232.83,14647.36,1
689791,2021-03-12,Hale,Alabama,2130,72.00,1065,AL,County,14651,14538.26,491.43,491.43,14538.26,2
540081,2021-03-12,Lowndes,Alabama,1338,52.00,1085,AL,County,9726,13756.94,534.65,534.65,13756.94,3
479018,2021-03-12,Etowah,Alabama,13470,335.00,1055,AL,County,102268,13171.28,327.57,327.57,13171.28,4
540433,2021-03-12,Marengo,Alabama,2464,59.00,1091,AL,County,18863,13062.61,312.78,312.78,13062.61,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658383,2021-03-12,Converse,Wyoming,972,17.00,56009,WY,County,13822,7032.27,122.99,122.99,7032.27,19
658733,2021-03-12,Sublette,Wyoming,681,7.00,56035,WY,County,9831,6927.07,71.20,71.20,6927.07,20
817888,2021-03-12,Lincoln,Wyoming,1278,12.00,56023,WY,County,19830,6444.78,60.51,60.51,6444.78,21
909774,2021-03-12,Niobrara,Wyoming,150,2.00,56027,WY,County,2356,6366.72,84.89,84.89,6366.72,22
834009,2021-03-12,Crook,Wyoming,418,11.00,56011,WY,County,7584,5511.60,145.04,145.04,5511.60,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
540081,2021-03-12,Lowndes,Alabama,1338,52.00,1085,AL,County,9726,13756.94,534.65,534.65,13756.94,3,1
689791,2021-03-12,Hale,Alabama,2130,72.00,1065,AL,County,14651,14538.26,491.43,491.43,14538.26,2,2
230129,2021-03-12,Walker,Alabama,6679,267.00,1127,AL,County,63521,10514.63,420.33,420.33,10514.63,31,3
477606,2021-03-12,Clay,Alabama,1467,54.00,1027,AL,County,13235,11084.25,408.01,408.01,11084.25,20,4
539377,2021-03-12,Crenshaw,Alabama,1484,55.00,1041,AL,County,13772,10775.49,399.36,399.36,10775.49,29,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580913,2021-03-12,Hot Springs,Wyoming,362,3.00,56017,WY,County,4413,8203.04,67.98,67.98,8203.04,17,19
817888,2021-03-12,Lincoln,Wyoming,1278,12.00,56023,WY,County,19830,6444.78,60.51,60.51,6444.78,21,20
797592,2021-03-12,Uinta,Wyoming,2088,12.00,56041,WY,County,20226,10323.35,59.33,59.33,10323.35,4,21
229052,2021-03-12,Teton,Wyoming,3427,9.00,56039,WY,County,23464,14605.35,38.36,38.36,14605.35,1,22
537969,2021-03-12,Albany,Wyoming,3925,11.00,56001,WY,County,38880,10095.16,28.29,28.29,10095.16,6,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,66.66,3845.96,15,21
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,66.66,3845.96,15,21
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,66.66,3845.96,15,21
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,66.66,3845.96,15,21
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,66.66,3845.96,15,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064112,2021-03-08,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1064113,2021-03-09,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1064114,2021-03-10,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1064115,2021-03-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1064116,2021-03-12,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
747753,2020-04-01,Clarke,Alabama,2,0.00,1025,AL,County,23622,8.47,0.00,232.83,14647.36,37,1,2.00
747754,2020-04-02,Clarke,Alabama,2,0.00,1025,AL,County,23622,8.47,0.00,232.83,14647.36,37,1,0.00
747755,2020-04-03,Clarke,Alabama,3,0.00,1025,AL,County,23622,12.70,0.00,232.83,14647.36,37,1,1.00
747756,2020-04-04,Clarke,Alabama,7,0.00,1025,AL,County,23622,29.63,0.00,232.83,14647.36,37,1,4.00
747757,2020-04-05,Clarke,Alabama,9,0.00,1025,AL,County,23622,38.10,0.00,232.83,14647.36,37,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831492,2021-03-08,Crook,Wyoming,418,11.00,56011,WY,County,7584,5511.60,145.04,145.04,5511.60,7,23,0.00
831493,2021-03-09,Crook,Wyoming,418,11.00,56011,WY,County,7584,5511.60,145.04,145.04,5511.60,7,23,0.00
831494,2021-03-10,Crook,Wyoming,418,11.00,56011,WY,County,7584,5511.60,145.04,145.04,5511.60,7,23,0.00
831495,2021-03-11,Crook,Wyoming,418,11.00,56011,WY,County,7584,5511.60,145.04,145.04,5511.60,7,23,0.00
831496,2021-03-12,Crook,Wyoming,418,11.00,56011,WY,County,7584,5511.60,145.04,145.04,5511.60,7,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
537917,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13756.94,1,3,1.00,0.00
537918,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13756.94,1,3,0.00,0.00
537919,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13756.94,1,3,0.00,0.00
537920,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13756.94,1,3,0.00,0.00
537921,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13756.94,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536152,2021-03-08,Albany,Wyoming,3917,11.00,56001,WY,County,38880,10074.59,28.29,28.29,10095.16,23,6,4.00,0.00
536153,2021-03-09,Albany,Wyoming,3920,11.00,56001,WY,County,38880,10082.30,28.29,28.29,10095.16,23,6,3.00,0.00
536154,2021-03-10,Albany,Wyoming,3920,11.00,56001,WY,County,38880,10082.30,28.29,28.29,10095.16,23,6,0.00,0.00
536155,2021-03-11,Albany,Wyoming,3922,11.00,56001,WY,County,38880,10087.45,28.29,28.29,10095.16,23,6,2.00,0.00
536156,2021-03-12,Albany,Wyoming,3925,11.00,56001,WY,County,38880,10095.16,28.29,28.29,10095.16,23,6,3.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-03-12') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
274613,2021-03-12,Imperial,California,27045,677.00,6025,CA,County,181215,14924.26,373.59,373.59,14924.26,1,2,-6.00,2.00
2067,2021-03-12,Los Angeles,California,1208678,22304.00,6037,CA,County,10039107,12039.70,222.17,222.17,12039.70,2,5,6.00,0.00
480382,2021-03-12,Inyo,California,1335,37.00,6027,CA,County,18039,7400.63,205.11,205.11,7400.63,3,25,7.00,0.00
61325,2021-03-12,Stanislaus,California,57373,966.00,6099,CA,County,550660,10418.95,175.43,175.43,10418.95,4,9,153.00,3.00
76002,2021-03-12,Tulare,California,48550,784.00,6107,CA,County,466195,10414.10,168.17,168.17,10414.10,5,10,71.00,2.00
28467,2021-03-12,Riverside,California,291866,3971.00,6065,CA,County,2470546,11813.83,160.73,160.73,11813.83,6,6,191.00,30.00
48815,2021-03-12,San Joaquin,California,67817,1210.00,6077,CA,County,762148,8898.14,158.76,158.76,8898.14,7,18,0.00,0.00
582260,2021-03-12,Kings,California,22320,235.00,6031,CA,County,152940,14593.96,153.66,153.66,14593.96,8,3,50.00,2.00
27725,2021-03-12,Fresno,California,97026,1527.00,6019,CA,County,999101,9711.33,152.84,152.84,9711.33,9,14,160.00,8.00
435441,2021-03-12,Merced,California,29796,421.00,6047,CA,County,277680,10730.34,151.61,151.61,10730.34,10,8,85.00,3.00
136933,2021-03-12,San Bernardino,California,288364,3282.00,6071,CA,County,2180085,13227.19,150.54,150.54,13227.19,11,4,67.00,57.00
28096,2021-03-12,Madera,California,15725,222.00,6039,CA,County,157327,9995.11,141.11,141.11,9995.11,12,12,20.00,0.00
1243,2021-03-12,Orange,California,263471,4408.00,6059,CA,County,3175692,8296.49,138.80,138.80,8296.49,13,21,192.00,29.00
172089,2021-03-12,Kern,California,104763,982.00,6029,CA,County,900202,11637.72,109.09,109.09,11637.72,14,7,199.00,18.00
435087,2021-03-12,Calaveras,California,1915,50.00,6009,CA,County,45905,4171.66,108.92,108.92,4171.66,15,49,2.00,0.00
49183,2021-03-12,Ventura,California,78697,917.00,6111,CA,County,846006,9302.18,108.39,108.39,9302.18,16,15,88.00,0.00
659012,2021-03-12,Tuolumne,California,3991,59.00,6109,CA,County,54478,7325.89,108.30,108.30,7325.89,17,26,2.00,0.00
42543,2021-03-12,Shasta,California,11163,188.00,6089,CA,County,180080,6198.91,104.40,104.40,6198.91,18,33,14.00,6.00
274255,2021-03-12,Amador,California,3497,41.00,6005,CA,County,39752,8797.04,103.14,103.14,8797.04,19,19,2.00,0.00
4084,2021-03-12,San Diego,California,264590,3422.00,6073,CA,County,3338330,7925.82,102.51,102.51,7925.82,20,23,0.00,0.00
480735,2021-03-12,Sutter,California,8977,99.00,6101,CA,County,96971,9257.41,102.09,102.09,9257.41,21,17,7.00,0.00
5642,2021-03-12,Sacramento,California,95087,1541.00,6067,CA,County,1552058,6126.51,99.29,99.29,6126.51,22,34,181.00,4.00
94662,2021-03-12,San Benito,California,5816,61.00,6069,CA,County,62808,9259.97,97.12,97.12,9259.97,23,16,5.00,0.00
2474,2021-03-12,Santa Clara,California,112470,1859.00,6085,CA,County,1927852,5833.95,96.43,96.43,5833.95,24,36,145.00,22.00
137296,2021-03-12,Santa Barbara,California,32573,428.00,6083,CA,County,446499,7295.20,95.86,95.86,7295.20,25,27,54.00,2.00
114734,2021-03-12,San Luis Obispo,California,20041,251.00,6079,CA,County,283111,7078.85,88.66,88.66,7078.85,26,29,24.00,0.00
18798,2021-03-12,Yolo,California,13041,190.00,6113,CA,County,220500,5914.29,86.17,86.17,5914.29,27,35,20.00,0.00
797143,2021-03-12,Tehama,California,4632,53.00,6103,CA,County,65084,7116.96,81.43,81.43,7116.96,28,28,9.00,1.00
621919,2021-03-12,Glenn,California,2255,23.00,6021,CA,County,28393,7942.10,81.01,81.01,7942.10,29,22,2.00,0.00
9068,2021-03-12,Alameda,California,81887,1327.00,6001,CA,County,1671329,4899.51,79.40,79.40,4899.51,30,45,119.00,3.00
1013074,2021-03-12,Lassen,California,5629,24.00,6035,CA,County,30573,18411.67,78.50,78.50,18411.67,31,1,0.00,0.00
324371,2021-03-12,Butte,California,11110,170.00,6007,CA,County,219186,5068.75,77.56,77.56,5068.75,32,43,14.00,0.00
172450,2021-03-12,Monterey,California,42551,333.00,6053,CA,County,434061,9803.00,76.72,76.72,9803.00,33,13,28.00,0.00
7171,2021-03-12,Marin,California,13356,198.00,6041,CA,County,258826,5160.22,76.50,76.50,5160.22,34,41,8.00,-2.00
156166,2021-03-12,Nevada,California,4097,74.00,6057,CA,County,99755,4107.06,74.18,74.18,4107.06,35,50,11.00,0.00
28838,2021-03-12,Santa Cruz,California,15023,193.00,6087,CA,County,273213,5498.64,70.64,70.64,5498.64,36,39,41.00,1.00
10574,2021-03-12,San Mateo,California,39590,534.00,6081,CA,County,766573,5164.54,69.66,69.66,5164.54,37,40,19.00,6.00
845512,2021-03-12,Lake,California,3214,42.00,6033,CA,County,64386,4991.77,65.23,65.23,4991.77,38,44,7.00,0.00
581909,2021-03-12,Colusa,California,2155,14.00,6011,CA,County,21547,10001.39,64.97,64.97,10001.39,39,11,0.00,0.00
12453,2021-03-12,Contra Costa,California,63830,716.00,6013,CA,County,1153526,5533.47,62.07,62.07,5533.47,40,38,118.00,0.00
7933,2021-03-12,Sonoma,California,28677,306.00,6097,CA,County,494336,5801.12,61.90,61.90,5801.12,41,37,39.00,0.00
10198,2021-03-12,Placer,California,20273,232.00,6061,CA,County,398329,5089.51,58.24,58.24,5089.51,42,42,31.00,0.00
7552,2021-03-12,Napa,California,9174,75.00,6055,CA,County,137744,6660.18,54.45,54.45,6660.18,43,32,8.00,0.00
324728,2021-03-12,El Dorado,California,9211,104.00,6017,CA,County,192843,4776.42,53.93,53.93,4776.42,44,46,8.00,1.00
197712,2021-03-12,Mendocino,California,3871,45.00,6045,CA,County,86749,4462.30,51.87,51.87,4462.30,45,47,4.00,1.00
325442,2021-03-12,Yuba,California,5854,40.00,6115,CA,County,78668,7441.40,50.85,50.85,7441.40,46,24,6.00,0.00
3285,2021-03-12,San Francisco,California,34725,445.00,6075,CA,County,881549,3939.09,50.48,50.48,3939.09,47,51,34.00,5.00
1058981,2021-03-12,Modoc,California,340,4.00,6049,CA,County,8841,3845.72,45.24,45.24,3845.72,48,52,2.00,0.00
998995,2021-03-12,Trinity,California,305,5.00,6105,CA,County,12285,2482.70,40.70,40.70,2482.70,49,55,0.00,0.00
973887,2021-03-12,Mariposa,California,396,7.00,6043,CA,County,17203,2301.92,40.69,40.69,2301.92,50,57,0.00,0.00
6025,2021-03-12,Solano,California,30522,177.00,6095,CA,County,447643,6818.38,39.54,39.54,6818.38,51,31,29.00,0.00
325085,2021-03-12,Siskiyou,California,1831,14.00,6093,CA,County,43539,4205.43,32.16,32.16,4205.43,52,48,5.00,0.00
721727,2021-03-12,Plumas,California,640,6.00,6063,CA,County,18807,3402.99,31.90,31.90,3402.99,53,54,1.00,0.00
435795,2021-03-12,Mono,California,1206,4.00,6051,CA,County,14444,8349.49,27.69,27.69,8349.49,54,20,2.00,0.00
5256,2021-03-12,Humboldt,California,3349,34.00,6023,CA,County,135558,2470.53,25.08,25.08,2470.53,55,56,14.00,0.00
771619,2021-03-12,Del Norte,California,1056,5.00,6015,CA,County,27812,3796.92,17.98,17.98,3796.92,56,53,6.00,0.00
689018,2021-03-12,Alpine,California,78,0.00,6003,CA,County,1129,6908.77,0.00,0.00,6908.77,57,30,0.00,0.00
1011305,2021-03-12,Sierra,California,48,0.00,6091,CA,County,3005,1597.34,0.00,0.00,1597.34,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1013074,2021-03-12,Lassen,California,5629,24.00,6035,CA,County,30573,18411.67,78.50,78.50,18411.67,31,1,0.00,0.00
274613,2021-03-12,Imperial,California,27045,677.00,6025,CA,County,181215,14924.26,373.59,373.59,14924.26,1,2,-6.00,2.00
582260,2021-03-12,Kings,California,22320,235.00,6031,CA,County,152940,14593.96,153.66,153.66,14593.96,8,3,50.00,2.00
136933,2021-03-12,San Bernardino,California,288364,3282.00,6071,CA,County,2180085,13227.19,150.54,150.54,13227.19,11,4,67.00,57.00
2067,2021-03-12,Los Angeles,California,1208678,22304.00,6037,CA,County,10039107,12039.70,222.17,222.17,12039.70,2,5,6.00,0.00
28467,2021-03-12,Riverside,California,291866,3971.00,6065,CA,County,2470546,11813.83,160.73,160.73,11813.83,6,6,191.00,30.00
172089,2021-03-12,Kern,California,104763,982.00,6029,CA,County,900202,11637.72,109.09,109.09,11637.72,14,7,199.00,18.00
435441,2021-03-12,Merced,California,29796,421.00,6047,CA,County,277680,10730.34,151.61,151.61,10730.34,10,8,85.00,3.00
61325,2021-03-12,Stanislaus,California,57373,966.00,6099,CA,County,550660,10418.95,175.43,175.43,10418.95,4,9,153.00,3.00
76002,2021-03-12,Tulare,California,48550,784.00,6107,CA,County,466195,10414.10,168.17,168.17,10414.10,5,10,71.00,2.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
274613,2021-03-12,Imperial,California,27045,677.00,6025,CA,County,181215,14924.26,373.59,373.59,14924.26,1,2,-6.00,2.00
2067,2021-03-12,Los Angeles,California,1208678,22304.00,6037,CA,County,10039107,12039.70,222.17,222.17,12039.70,2,5,6.00,0.00
480382,2021-03-12,Inyo,California,1335,37.00,6027,CA,County,18039,7400.63,205.11,205.11,7400.63,3,25,7.00,0.00
61325,2021-03-12,Stanislaus,California,57373,966.00,6099,CA,County,550660,10418.95,175.43,175.43,10418.95,4,9,153.00,3.00
76002,2021-03-12,Tulare,California,48550,784.00,6107,CA,County,466195,10414.10,168.17,168.17,10414.10,5,10,71.00,2.00
28467,2021-03-12,Riverside,California,291866,3971.00,6065,CA,County,2470546,11813.83,160.73,160.73,11813.83,6,6,191.00,30.00
48815,2021-03-12,San Joaquin,California,67817,1210.00,6077,CA,County,762148,8898.14,158.76,158.76,8898.14,7,18,0.00,0.00
582260,2021-03-12,Kings,California,22320,235.00,6031,CA,County,152940,14593.96,153.66,153.66,14593.96,8,3,50.00,2.00
27725,2021-03-12,Fresno,California,97026,1527.00,6019,CA,County,999101,9711.33,152.84,152.84,9711.33,9,14,160.00,8.00
435441,2021-03-12,Merced,California,29796,421.00,6047,CA,County,277680,10730.34,151.61,151.61,10730.34,10,8,85.00,3.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,373.59,14924.26,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,373.59,14924.26,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,373.59,14924.26,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,373.59,14924.26,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,373.59,14924.26,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3592,03/08/21,Lassen,5629,25.00,18411.67,81.77,78.50,18411.67,31,1,6.00,1.00
3593,03/09/21,Lassen,5629,25.00,18411.67,81.77,78.50,18411.67,31,1,0.00,0.00
3594,03/10/21,Lassen,5629,24.00,18411.67,78.50,78.50,18411.67,31,1,0.00,-1.00
3595,03/11/21,Lassen,5629,24.00,18411.67,78.50,78.50,18411.67,31,1,0.00,0.00
3596,03/12/21,Lassen,5629,24.00,18411.67,78.50,78.50,18411.67,31,1,0.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,373.59,14924.26,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,373.59,14924.26,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,373.59,14924.26,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,373.59,14924.26,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,373.59,14924.26,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3666,03/08/21,Merced,29557,415.00,10644.27,149.45,151.61,10730.34,10,8,181.00,2.00
3667,03/09/21,Merced,29600,416.00,10659.75,149.81,151.61,10730.34,10,8,43.00,1.00
3668,03/10/21,Merced,29643,417.00,10675.24,150.17,151.61,10730.34,10,8,43.00,1.00
3669,03/11/21,Merced,29711,418.00,10699.73,150.53,151.61,10730.34,10,8,68.00,1.00
3670,03/12/21,Merced,29796,421.00,10730.34,151.61,151.61,10730.34,10,8,85.00,3.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)