In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1106899,2021-03-21,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1106900,2021-03-22,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1106901,2021-03-23,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1106902,2021-03-24,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1106903,2021-03-25,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
29827,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
29829,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
29831,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
29833,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
29835,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
683705,2021-03-21,Arkansas,Arkansas,5001,2024,35.00,5000,Arkansas,AR,Arkansas,State,3017804
683707,2021-03-22,Arkansas,Arkansas,5001,2024,35.00,5000,Arkansas,AR,Arkansas,State,3017804
683709,2021-03-23,Arkansas,Arkansas,5001,2027,35.00,5000,Arkansas,AR,Arkansas,State,3017804
683711,2021-03-24,Arkansas,Arkansas,5001,2031,35.00,5000,Arkansas,AR,Arkansas,State,3017804
683713,2021-03-25,Arkansas,Arkansas,5001,2068,36.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1106899,2021-03-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1106900,2021-03-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1106901,2021-03-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1106902,2021-03-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1106903,2021-03-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-03-23') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
427,2021-03-23,Snohomish,Washington,32195,554.00,53061,WA,County,822083,3916.27,67.39
854,2021-03-23,Cook,Illinois,489484,10153.00,17031,IL,County,5150233,9504.11,197.14
1280,2021-03-23,Orange,California,264989,4635.00,6059,CA,County,3175692,8344.29,145.95
1705,2021-03-23,Maricopa,Arizona,521908,9571.00,4013,AZ,County,4485414,11635.67,213.38
2130,2021-03-23,Los Angeles,California,1215776,22871.00,6037,CA,County,10039107,12110.40,227.82
...,...,...,...,...,...,...,...,...,...,...,...
1106369,2021-03-23,Wheeler,Oregon,25,1.00,41069,OR,County,1332,1876.88,75.08
1106533,2021-03-23,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00
1106666,2021-03-23,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00
1106795,2021-03-23,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00
1106901,2021-03-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
427,2021-03-23,Snohomish,Washington,32195,554.00,53061,WA,County,822083,3916.27,67.39,67.39,3916.27
854,2021-03-23,Cook,Illinois,489484,10153.00,17031,IL,County,5150233,9504.11,197.14,197.14,9504.11
1280,2021-03-23,Orange,California,264989,4635.00,6059,CA,County,3175692,8344.29,145.95,145.95,8344.29
1705,2021-03-23,Maricopa,Arizona,521908,9571.00,4013,AZ,County,4485414,11635.67,213.38,213.38,11635.67
2130,2021-03-23,Los Angeles,California,1215776,22871.00,6037,CA,County,10039107,12110.40,227.82,227.82,12110.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106369,2021-03-23,Wheeler,Oregon,25,1.00,41069,OR,County,1332,1876.88,75.08,75.08,1876.88
1106533,2021-03-23,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00,0.00,4044.12
1106666,2021-03-23,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00,0.00,4352.81
1106795,2021-03-23,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00,0.00,591.72
1106901,2021-03-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
777935,2021-03-23,Clarke,Alabama,3478,57.00,1025,AL,County,23622,14723.56,241.30,241.30,14723.56,1
714840,2021-03-23,Hale,Alabama,2149,72.00,1065,AL,County,14651,14667.94,491.43,491.43,14667.94,2
559579,2021-03-23,Lowndes,Alabama,1357,52.00,1085,AL,County,9726,13952.29,534.65,534.65,13952.29,3
416554,2021-03-23,Franklin,Alabama,4180,82.00,1059,AL,County,31362,13328.23,261.46,261.46,13328.23,4
496267,2021-03-23,Etowah,Alabama,13608,339.00,1055,AL,County,102268,13306.22,331.48,331.48,13306.22,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682262,2021-03-23,Converse,Wyoming,981,17.00,56009,WY,County,13822,7097.38,122.99,122.99,7097.38,19
682625,2021-03-23,Sublette,Wyoming,689,7.00,56035,WY,County,9831,7008.44,71.20,71.20,7008.44,20
847747,2021-03-23,Lincoln,Wyoming,1316,12.00,56023,WY,County,19830,6636.41,60.51,60.51,6636.41,21
943143,2021-03-23,Niobrara,Wyoming,150,2.00,56027,WY,County,2356,6366.72,84.89,84.89,6366.72,22
864479,2021-03-23,Crook,Wyoming,422,11.00,56011,WY,County,7584,5564.35,145.04,145.04,5564.35,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
559579,2021-03-23,Lowndes,Alabama,1357,52.00,1085,AL,County,9726,13952.29,534.65,534.65,13952.29,3,1
714840,2021-03-23,Hale,Alabama,2149,72.00,1065,AL,County,14651,14667.94,491.43,491.43,14667.94,2,2
238304,2021-03-23,Walker,Alabama,7017,269.00,1127,AL,County,63521,11046.74,423.48,423.48,11046.74,28,3
558849,2021-03-23,Crenshaw,Alabama,1490,57.00,1041,AL,County,13772,10819.05,413.88,413.88,10819.05,30,4
494803,2021-03-23,Clay,Alabama,1479,54.00,1027,AL,County,13235,11174.91,408.01,408.01,11174.91,23,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601919,2021-03-23,Hot Springs,Wyoming,363,3.00,56017,WY,County,4413,8225.70,67.98,67.98,8225.70,17,19
847747,2021-03-23,Lincoln,Wyoming,1316,12.00,56023,WY,County,19830,6636.41,60.51,60.51,6636.41,21,20
826684,2021-03-23,Uinta,Wyoming,2111,12.00,56041,WY,County,20226,10437.06,59.33,59.33,10437.06,4,21
237188,2021-03-23,Teton,Wyoming,3532,9.00,56039,WY,County,23464,15052.85,38.36,38.36,15052.85,1,22
557389,2021-03-23,Albany,Wyoming,3951,11.00,56001,WY,County,38880,10162.04,28.29,28.29,10162.04,7,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.39,3916.27,15,21
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.39,3916.27,15,21
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.39,3916.27,15,21
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.39,3916.27,15,21
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.39,3916.27,15,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104295,2021-03-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1104296,2021-03-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1104297,2021-03-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1104298,2021-03-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1104299,2021-03-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
774975,2020-04-01,Clarke,Alabama,2,0.00,1025,AL,County,23622,8.47,0.00,241.30,14723.56,35,1,2.00
774976,2020-04-02,Clarke,Alabama,2,0.00,1025,AL,County,23622,8.47,0.00,241.30,14723.56,35,1,0.00
774977,2020-04-03,Clarke,Alabama,3,0.00,1025,AL,County,23622,12.70,0.00,241.30,14723.56,35,1,1.00
774978,2020-04-04,Clarke,Alabama,7,0.00,1025,AL,County,23622,29.63,0.00,241.30,14723.56,35,1,4.00
774979,2020-04-05,Clarke,Alabama,9,0.00,1025,AL,County,23622,38.10,0.00,241.30,14723.56,35,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861873,2021-03-21,Crook,Wyoming,422,11.00,56011,WY,County,7584,5564.35,145.04,145.04,5564.35,7,23,0.00
861874,2021-03-22,Crook,Wyoming,422,11.00,56011,WY,County,7584,5564.35,145.04,145.04,5564.35,7,23,0.00
861875,2021-03-23,Crook,Wyoming,422,11.00,56011,WY,County,7584,5564.35,145.04,145.04,5564.35,7,23,0.00
861876,2021-03-24,Crook,Wyoming,422,11.00,56011,WY,County,7584,5564.35,145.04,145.04,5564.35,7,23,0.00
861877,2021-03-25,Crook,Wyoming,422,11.00,56011,WY,County,7584,5564.35,145.04,145.04,5564.35,7,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
557339,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13952.29,1,3,1.00,0.00
557340,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13952.29,1,3,0.00,0.00
557341,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13952.29,1,3,0.00,0.00
557342,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13952.29,1,3,0.00,0.00
557343,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,534.65,13952.29,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555509,2021-03-21,Albany,Wyoming,3936,11.00,56001,WY,County,38880,10123.46,28.29,28.29,10162.04,23,7,0.00,0.00
555510,2021-03-22,Albany,Wyoming,3947,11.00,56001,WY,County,38880,10151.75,28.29,28.29,10162.04,23,7,11.00,0.00
555511,2021-03-23,Albany,Wyoming,3951,11.00,56001,WY,County,38880,10162.04,28.29,28.29,10162.04,23,7,4.00,0.00
555512,2021-03-24,Albany,Wyoming,3952,11.00,56001,WY,County,38880,10164.61,28.29,28.29,10162.04,23,7,1.00,0.00
555513,2021-03-25,Albany,Wyoming,3952,11.00,56001,WY,County,38880,10164.61,28.29,28.29,10162.04,23,7,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-03-23') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
284400,2021-03-23,Imperial,California,27302,711.00,6025,CA,County,181215,15066.08,392.35,392.35,15066.08,1,2,35.00,13.00
2130,2021-03-23,Los Angeles,California,1215776,22871.00,6037,CA,County,10039107,12110.40,227.82,227.82,12110.40,2,5,446.00,37.00
497683,2021-03-23,Inyo,California,1363,35.00,6027,CA,County,18039,7555.85,194.02,194.02,7555.85,3,24,0.00,0.00
141754,2021-03-23,San Bernardino,California,289892,4107.00,6071,CA,County,2180085,13297.28,188.39,188.39,13297.28,4,4,46.00,13.00
63455,2021-03-23,Stanislaus,California,58347,982.00,6099,CA,County,550660,10595.83,178.33,178.33,10595.83,5,9,73.00,2.00
78652,2021-03-23,Tulare,California,48878,807.00,6107,CA,County,466195,10484.45,173.10,173.10,10484.45,6,10,46.00,0.00
29440,2021-03-23,Riverside,California,293436,4164.00,6065,CA,County,2470546,11877.37,168.55,168.55,11877.37,7,6,287.00,23.00
50503,2021-03-23,San Joaquin,California,69112,1231.00,6077,CA,County,762148,9068.06,161.52,161.52,9068.06,8,19,257.00,0.00
603318,2021-03-23,Kings,California,22532,239.00,6031,CA,County,152940,14732.57,156.27,156.27,14732.57,9,3,8.00,1.00
28672,2021-03-23,Fresno,California,98276,1556.00,6019,CA,County,999101,9836.44,155.74,155.74,9836.44,10,14,65.00,0.00
451091,2021-03-23,Merced,California,30298,430.00,6047,CA,County,277680,10911.12,154.85,154.85,10911.12,11,8,41.00,1.00
29056,2021-03-23,Madera,California,15904,231.00,6039,CA,County,157327,10108.88,146.83,146.83,10108.88,12,11,9.00,5.00
1280,2021-03-23,Orange,California,264989,4635.00,6059,CA,County,3175692,8344.29,145.95,145.95,8344.29,13,22,140.00,27.00
178171,2021-03-23,Kern,California,105625,1178.00,6029,CA,County,900202,11733.48,130.86,130.86,11733.48,14,7,83.00,8.00
682917,2021-03-23,Tuolumne,California,4017,62.00,6109,CA,County,54478,7373.62,113.81,113.81,7373.62,15,26,3.00,0.00
50884,2021-03-23,Ventura,California,79243,957.00,6111,CA,County,846006,9366.72,113.12,113.12,9366.72,16,16,24.00,7.00
44010,2021-03-23,Shasta,California,11218,200.00,6089,CA,County,180080,6229.45,111.06,111.06,6229.45,17,33,3.00,1.00
284029,2021-03-23,Amador,California,3521,44.00,6005,CA,County,39752,8857.42,110.69,110.69,8857.42,18,20,3.00,0.00
498049,2021-03-23,Sutter,California,9065,104.00,6101,CA,County,96971,9348.16,107.25,107.25,9348.16,19,17,5.00,0.00
450724,2021-03-23,Calaveras,California,1963,49.00,6009,CA,County,45905,4276.22,106.74,106.74,4276.22,20,48,1.00,0.00
4212,2021-03-23,San Diego,California,268223,3498.00,6073,CA,County,3338330,8034.65,104.78,104.78,8034.65,21,23,243.00,4.00
5822,2021-03-23,Sacramento,California,96504,1586.00,6067,CA,County,1552058,6217.81,102.19,102.19,6217.81,22,34,128.00,4.00
2550,2021-03-23,Santa Clara,California,113700,1913.00,6085,CA,County,1927852,5897.76,99.23,99.23,5897.76,23,36,59.00,5.00
142130,2021-03-23,Santa Barbara,California,32895,437.00,6083,CA,County,446499,7367.32,97.87,97.87,7367.32,24,27,22.00,0.00
97975,2021-03-23,San Benito,California,5844,61.00,6069,CA,County,62808,9304.55,97.12,97.12,9304.55,25,18,2.00,0.00
118762,2021-03-23,San Luis Obispo,California,20303,253.00,6079,CA,County,283111,7171.39,89.36,89.36,7171.39,26,30,43.00,0.00
161676,2021-03-23,Nevada,California,4188,89.00,6057,CA,County,99755,4198.29,89.22,89.22,4198.29,27,50,9.00,0.00
19433,2021-03-23,Yolo,California,13243,196.00,6113,CA,County,220500,6005.90,88.89,88.89,6005.90,28,35,8.00,5.00
7403,2021-03-23,Marin,California,13501,221.00,6041,CA,County,258826,5216.25,85.39,85.39,5216.25,29,41,6.00,1.00
644446,2021-03-23,Glenn,California,2789,24.00,6021,CA,County,28393,9822.84,84.53,84.53,9822.84,30,15,4.00,0.00
335965,2021-03-23,Butte,California,11211,185.00,6007,CA,County,219186,5114.83,84.40,84.40,5114.83,31,43,3.00,0.00
9365,2021-03-23,Alameda,California,82769,1370.00,6001,CA,County,1671329,4952.29,81.97,81.97,4952.29,32,45,64.00,1.00
178545,2021-03-23,Monterey,California,42794,338.00,6053,CA,County,434061,9858.98,77.87,77.87,9858.98,33,13,60.00,1.00
602954,2021-03-23,Colusa,California,2158,16.00,6011,CA,County,21547,10015.32,74.26,74.26,10015.32,34,12,0.00,1.00
29824,2021-03-23,Santa Cruz,California,15240,201.00,6087,CA,County,273213,5578.07,73.57,73.57,5578.07,35,39,15.00,2.00
10923,2021-03-23,San Mateo,California,40024,544.00,6081,CA,County,766573,5221.16,70.97,70.97,5221.16,36,40,36.00,1.00
826222,2021-03-23,Tehama,California,4704,45.00,6103,CA,County,65084,7227.58,69.14,69.14,7227.58,37,29,3.00,0.00
876424,2021-03-23,Lake,California,3290,43.00,6033,CA,County,64386,5109.81,66.78,66.78,5109.81,38,44,4.00,0.00
12867,2021-03-23,Contra Costa,California,64752,740.00,6013,CA,County,1153526,5613.40,64.15,64.15,5613.40,39,38,57.00,0.00
10534,2021-03-23,Placer,California,20627,250.00,6061,CA,County,398329,5178.38,62.76,62.76,5178.38,40,42,24.00,2.00
8191,2021-03-23,Sonoma,California,29045,310.00,6097,CA,County,494336,5875.56,62.71,62.71,5875.56,41,37,39.00,0.00
7797,2021-03-23,Napa,California,9297,77.00,6055,CA,County,137744,6749.48,55.90,55.90,6749.48,42,32,14.00,0.00
336335,2021-03-23,El Dorado,California,9310,105.00,6017,CA,County,192843,4827.76,54.45,54.45,4827.76,43,46,8.00,0.00
337075,2021-03-23,Yuba,California,5915,42.00,6115,CA,County,78668,7518.94,53.39,53.39,7518.94,44,25,3.00,0.00
204717,2021-03-23,Mendocino,California,3926,46.00,6045,CA,County,86749,4525.70,53.03,53.03,4525.70,45,47,6.00,0.00
3387,2021-03-23,San Francisco,California,35043,462.00,6075,CA,County,881549,3975.16,52.41,52.41,3975.16,46,52,28.00,2.00
6218,2021-03-23,Solano,California,30870,187.00,6095,CA,County,447643,6896.12,41.77,41.77,6896.12,47,31,31.00,0.00
1009791,2021-03-23,Mariposa,California,405,7.00,6043,CA,County,17203,2354.24,40.69,40.69,2354.24,48,57,2.00,0.00
336705,2021-03-23,Siskiyou,California,1858,15.00,6093,CA,County,43539,4267.44,34.45,34.45,4267.44,49,49,5.00,0.00
1098798,2021-03-23,Modoc,California,342,3.00,6049,CA,County,8841,3868.34,33.93,33.93,3868.34,50,53,1.00,0.00
451458,2021-03-23,Mono,California,1263,4.00,6051,CA,County,14444,8744.12,27.69,27.69,8744.12,51,21,0.00,0.00
5423,2021-03-23,Humboldt,California,3426,34.00,6023,CA,County,135558,2527.33,25.08,25.08,2527.33,52,56,-7.00,-2.00
1035939,2021-03-23,Trinity,California,311,3.00,6105,CA,County,12285,2531.54,24.42,24.42,2531.54,53,55,0.00,0.00
799736,2021-03-23,Del Norte,California,1107,6.00,6015,CA,County,27812,3980.30,21.57,21.57,3980.30,54,51,4.00,0.00
747972,2021-03-23,Plumas,California,652,4.00,6063,CA,County,18807,3466.79,21.27,21.27,3466.79,55,54,-1.00,0.00
1050629,2021-03-23,Lassen,California,5637,1.00,6035,CA,County,30573,18437.84,3.27,3.27,18437.84,56,1,0.00,0.00
714041,2021-03-23,Alpine,California,83,0.00,6003,CA,County,1129,7351.64,0.00,0.00,7351.64,57,28,0.00,0.00
1048782,2021-03-23,Sierra,California,50,0.00,6091,CA,County,3005,1663.89,0.00,0.00,1663.89,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1050629,2021-03-23,Lassen,California,5637,1.00,6035,CA,County,30573,18437.84,3.27,3.27,18437.84,56,1,0.00,0.00
284400,2021-03-23,Imperial,California,27302,711.00,6025,CA,County,181215,15066.08,392.35,392.35,15066.08,1,2,35.00,13.00
603318,2021-03-23,Kings,California,22532,239.00,6031,CA,County,152940,14732.57,156.27,156.27,14732.57,9,3,8.00,1.00
141754,2021-03-23,San Bernardino,California,289892,4107.00,6071,CA,County,2180085,13297.28,188.39,188.39,13297.28,4,4,46.00,13.00
2130,2021-03-23,Los Angeles,California,1215776,22871.00,6037,CA,County,10039107,12110.40,227.82,227.82,12110.40,2,5,446.00,37.00
29440,2021-03-23,Riverside,California,293436,4164.00,6065,CA,County,2470546,11877.37,168.55,168.55,11877.37,7,6,287.00,23.00
178171,2021-03-23,Kern,California,105625,1178.00,6029,CA,County,900202,11733.48,130.86,130.86,11733.48,14,7,83.00,8.00
451091,2021-03-23,Merced,California,30298,430.00,6047,CA,County,277680,10911.12,154.85,154.85,10911.12,11,8,41.00,1.00
63455,2021-03-23,Stanislaus,California,58347,982.00,6099,CA,County,550660,10595.83,178.33,178.33,10595.83,5,9,73.00,2.00
78652,2021-03-23,Tulare,California,48878,807.00,6107,CA,County,466195,10484.45,173.10,173.10,10484.45,6,10,46.00,0.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
284400,2021-03-23,Imperial,California,27302,711.00,6025,CA,County,181215,15066.08,392.35,392.35,15066.08,1,2,35.00,13.00
2130,2021-03-23,Los Angeles,California,1215776,22871.00,6037,CA,County,10039107,12110.40,227.82,227.82,12110.40,2,5,446.00,37.00
497683,2021-03-23,Inyo,California,1363,35.00,6027,CA,County,18039,7555.85,194.02,194.02,7555.85,3,24,0.00,0.00
141754,2021-03-23,San Bernardino,California,289892,4107.00,6071,CA,County,2180085,13297.28,188.39,188.39,13297.28,4,4,46.00,13.00
63455,2021-03-23,Stanislaus,California,58347,982.00,6099,CA,County,550660,10595.83,178.33,178.33,10595.83,5,9,73.00,2.00
78652,2021-03-23,Tulare,California,48878,807.00,6107,CA,County,466195,10484.45,173.10,173.10,10484.45,6,10,46.00,0.00
29440,2021-03-23,Riverside,California,293436,4164.00,6065,CA,County,2470546,11877.37,168.55,168.55,11877.37,7,6,287.00,23.00
50503,2021-03-23,San Joaquin,California,69112,1231.00,6077,CA,County,762148,9068.06,161.52,161.52,9068.06,8,19,257.00,0.00
603318,2021-03-23,Kings,California,22532,239.00,6031,CA,County,152940,14732.57,156.27,156.27,14732.57,9,3,8.00,1.00
28672,2021-03-23,Fresno,California,98276,1556.00,6019,CA,County,999101,9836.44,155.74,155.74,9836.44,10,14,65.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,392.35,15066.08,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,392.35,15066.08,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,392.35,15066.08,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,392.35,15066.08,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,392.35,15066.08,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3722,03/21/21,Lassen,5634,1.00,18428.02,3.27,3.27,18437.84,56,1,0.00,0.00
3723,03/22/21,Lassen,5637,1.00,18437.84,3.27,3.27,18437.84,56,1,3.00,0.00
3724,03/23/21,Lassen,5637,1.00,18437.84,3.27,3.27,18437.84,56,1,0.00,0.00
3725,03/24/21,Lassen,5637,1.00,18437.84,3.27,3.27,18437.84,56,1,0.00,0.00
3726,03/25/21,Lassen,5637,1.00,18437.84,3.27,3.27,18437.84,56,1,0.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,392.35,15066.08,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,392.35,15066.08,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,392.35,15066.08,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,392.35,15066.08,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,392.35,15066.08,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3805,03/21/21,Fresno,98112,1532.00,9820.03,153.34,155.74,9836.44,10,14,143.00,5.00
3806,03/22/21,Fresno,98211,1556.00,9829.94,155.74,155.74,9836.44,10,14,99.00,24.00
3807,03/23/21,Fresno,98276,1556.00,9836.44,155.74,155.74,9836.44,10,14,65.00,0.00
3808,03/24/21,Fresno,98362,1575.00,9845.05,157.64,155.74,9836.44,10,14,86.00,19.00
3809,03/25/21,Fresno,98437,1585.00,9852.56,158.64,155.74,9836.44,10,14,75.00,10.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)