In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr2022_df['date'] = pd.to_datetime(yr2022_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2411157,2022-05-16,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2411158,2022-05-17,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2411159,2022-05-18,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2411160,2022-05-19,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2411161,2022-05-20,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
61823,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
61825,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
61827,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
61829,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
61831,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1458766,2022-05-16,Arkansas,Arkansas,5001,5698,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1458768,2022-05-17,Arkansas,Arkansas,5001,5703,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1458770,2022-05-18,Arkansas,Arkansas,5001,5703,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1458772,2022-05-19,Arkansas,Arkansas,5001,5704,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1458774,2022-05-20,Arkansas,Arkansas,5001,5704,79.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2411157,2022-05-16,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2411158,2022-05-17,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2411159,2022-05-18,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2411160,2022-05-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2411161,2022-05-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-05-20') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
850,2022-05-20,Snohomish,Washington,161811,1151.00,53061,WA,County,822083,19683.05,140.01
1698,2022-05-20,Cook,Illinois,1211998,14956.00,17031,IL,County,5150233,23532.88,290.39
2545,2022-05-20,Orange,California,606842,7028.00,6059,CA,County,3175692,19108.97,221.31
3391,2022-05-20,Maricopa,Arizona,1288395,17342.00,4013,AZ,County,4485414,28724.10,386.63
4237,2022-05-20,Los Angeles,California,2930654,32074.00,6037,CA,County,10039107,29192.38,319.49
...,...,...,...,...,...,...,...,...,...,...,...
2408945,2022-05-20,Wheeler,Oregon,246,3.00,41069,OR,County,1332,18468.47,225.23
2409530,2022-05-20,King,Texas,52,0.00,48269,TX,County,272,19117.65,0.00
2410084,2022-05-20,Esmeralda,Nevada,108,3.00,32009,NV,County,873,12371.13,343.64
2410634,2022-05-20,Loving,Texas,200,1.00,48301,TX,County,169,118343.20,591.72
2411161,2022-05-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
850,2022-05-20,Snohomish,Washington,161811,1151.00,53061,WA,County,822083,19683.05,140.01,140.01,19683.05
1698,2022-05-20,Cook,Illinois,1211998,14956.00,17031,IL,County,5150233,23532.88,290.39,290.39,23532.88
2545,2022-05-20,Orange,California,606842,7028.00,6059,CA,County,3175692,19108.97,221.31,221.31,19108.97
3391,2022-05-20,Maricopa,Arizona,1288395,17342.00,4013,AZ,County,4485414,28724.10,386.63,386.63,28724.10
4237,2022-05-20,Los Angeles,California,2930654,32074.00,6037,CA,County,10039107,29192.38,319.49,319.49,29192.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408945,2022-05-20,Wheeler,Oregon,246,3.00,41069,OR,County,1332,18468.47,225.23,225.23,18468.47
2409530,2022-05-20,King,Texas,52,0.00,48269,TX,County,272,19117.65,0.00,0.00,19117.65
2410084,2022-05-20,Esmeralda,Nevada,108,3.00,32009,NV,County,873,12371.13,343.64,343.64,12371.13
2410634,2022-05-20,Loving,Texas,200,1.00,48301,TX,County,169,118343.20,591.72,591.72,118343.20
2411161,2022-05-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1526109,2022-05-20,Hale,Alabama,4748,106.00,1065,AL,County,14651,32407.34,723.50,723.50,32407.34,1
1286968,2022-05-20,Winston,Alabama,7579,131.00,1133,AL,County,23629,32074.99,554.40,554.40,32074.99,2
883866,2022-05-20,Franklin,Alabama,9914,139.00,1059,AL,County,31362,31611.50,443.21,443.21,31611.50,3
1051788,2022-05-20,Clay,Alabama,4101,82.00,1027,AL,County,13235,30986.02,619.57,619.57,30986.02,4
1525327,2022-05-20,Fayette,Alabama,4989,96.00,1057,AL,County,16302,30603.61,588.88,588.88,30603.61,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061564,2022-05-20,Big Horn,Wyoming,2591,61.00,56003,WY,County,11790,21976.25,517.39,517.39,21976.25,19
1283043,2022-05-20,Johnson,Wyoming,1848,19.00,56019,WY,County,8445,21882.77,224.99,224.99,21882.77,20
1814786,2022-05-20,Lincoln,Wyoming,3988,31.00,56023,WY,County,19830,20110.94,156.33,156.33,20110.94,21
1456425,2022-05-20,Sublette,Wyoming,1927,27.00,56035,WY,County,9831,19601.26,274.64,274.64,19601.26,22
1851305,2022-05-20,Crook,Wyoming,1352,29.00,56011,WY,County,7584,17827.00,382.38,382.38,17827.00,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1191081,2022-05-20,Lowndes,Alabama,2631,77.00,1085,AL,County,9726,27051.20,791.69,791.69,27051.20,31,1
1189509,2022-05-20,Crenshaw,Alabama,3840,100.00,1041,AL,County,13772,27882.66,726.11,726.11,27882.66,25,2
1526109,2022-05-20,Hale,Alabama,4748,106.00,1065,AL,County,14651,32407.34,723.50,723.50,32407.34,1,3
503115,2022-05-20,Walker,Alabama,18785,447.00,1127,AL,County,63521,29572.90,703.70,703.70,29572.90,9,4
1049427,2022-05-20,Butler,Alabama,5073,129.00,1013,AL,County,19448,26084.94,663.31,663.31,26084.94,39,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283043,2022-05-20,Johnson,Wyoming,1848,19.00,56019,WY,County,8445,21882.77,224.99,224.99,21882.77,20,19
1768884,2022-05-20,Uinta,Wyoming,5647,39.00,56041,WY,County,20226,27919.51,192.82,192.82,27919.51,7,20
1814786,2022-05-20,Lincoln,Wyoming,3988,31.00,56023,WY,County,19830,20110.94,156.33,156.33,20110.94,21,21
1186365,2022-05-20,Albany,Wyoming,9971,49.00,56001,WY,County,38880,25645.58,126.03,126.03,25645.58,14,22
500736,2022-05-20,Teton,Wyoming,10116,16.00,56039,WY,County,23464,43112.85,68.19,68.19,43112.85,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,140.01,19683.05,31,17
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,140.01,19683.05,31,17
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,140.01,19683.05,31,17
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,140.01,19683.05,31,17
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,140.01,19683.05,31,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405606,2022-05-16,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2405607,2022-05-17,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2405608,2022-05-18,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2405609,2022-05-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2405610,2022-05-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1519777,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32407.34,3,1,1.00,nan
1519778,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32407.34,3,1,0.00,nan
1519779,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32407.34,3,1,0.00,nan
1519780,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32407.34,3,1,0.00,nan
1519781,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,723.50,32407.34,3,1,2.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1845750,2022-05-16,Crook,Wyoming,1351,29.00,56011,WY,County,7584,17813.82,382.38,382.38,17827.00,9,23,0.00,0.21
1845751,2022-05-17,Crook,Wyoming,1352,29.00,56011,WY,County,7584,17827.00,382.38,382.38,17827.00,9,23,1.00,0.21
1845752,2022-05-18,Crook,Wyoming,1352,29.00,56011,WY,County,7584,17827.00,382.38,382.38,17827.00,9,23,0.00,0.21
1845753,2022-05-19,Crook,Wyoming,1352,29.00,56011,WY,County,7584,17827.00,382.38,382.38,17827.00,9,23,0.00,0.21
1845754,2022-05-20,Crook,Wyoming,1352,29.00,56011,WY,County,7584,17827.00,382.38,382.38,17827.00,9,23,0.00,0.21

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa[ '14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1186313,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27051.20,1,31,1.00,1.00,0.00,nan
1186314,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27051.20,1,31,0.00,1.00,0.00,nan
1186315,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27051.20,1,31,0.00,1.00,0.00,nan
1186316,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27051.20,1,31,0.00,0.86,0.00,nan
1186317,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27051.20,1,31,0.00,0.29,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497536,2022-05-16,Teton,Wyoming,10074,16.00,56039,WY,County,23464,42933.86,68.19,68.19,43112.85,23,1,0.00,4.64,0.00,0.00
497537,2022-05-17,Teton,Wyoming,10116,16.00,56039,WY,County,23464,43112.85,68.19,68.19,43112.85,23,1,42.00,4.93,0.00,0.00
497538,2022-05-18,Teton,Wyoming,10116,16.00,56039,WY,County,23464,43112.85,68.19,68.19,43112.85,23,1,0.00,4.93,0.00,0.00
497539,2022-05-19,Teton,Wyoming,10116,16.00,56039,WY,County,23464,43112.85,68.19,68.19,43112.85,23,1,0.00,4.93,0.00,0.00
497540,2022-05-20,Teton,Wyoming,10116,16.00,56039,WY,County,23464,43112.85,68.19,68.19,43112.85,23,1,0.00,4.93,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-05-20') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
601415,2022-05-20,Imperial,California,67092,922.00,6025,CA,County,181215,37023.43,508.79,508.79,37023.43,1,1,218.00,33.43,5.00,0.43
91585,2022-05-20,Shasta,California,37188,653.00,6089,CA,County,180080,20650.82,362.62,362.62,20650.82,2,29,100.00,20.71,0.00,0.79
297947,2022-05-20,San Bernardino,California,600756,7523.00,6071,CA,County,2180085,27556.54,345.08,345.08,27556.54,3,7,1646.00,370.71,68.00,15.50
1457138,2022-05-20,Tuolumne,California,13913,182.00,6109,CA,County,54478,25538.75,334.08,334.08,25538.75,4,13,155.00,18.00,0.00,0.07
4237,2022-05-20,Los Angeles,California,2930654,32074.00,6037,CA,County,10039107,29192.38,319.49,319.49,29192.38,5,5,3102.00,2967.29,10.00,5.93
164538,2022-05-20,Tulare,California,136912,1477.00,6107,CA,County,466195,29367.97,316.82,316.82,29367.97,6,4,572.00,70.57,0.00,0.64
1058036,2022-05-20,Inyo,California,4687,56.00,6027,CA,County,18039,25982.59,310.44,310.44,25982.59,7,9,45.00,6.14,0.00,0.00
1768001,2022-05-20,Tehama,California,14827,201.00,6103,CA,County,65084,22781.33,308.83,308.83,22781.33,8,22,56.00,6.86,0.00,0.00
132501,2022-05-20,Stanislaus,California,137256,1694.00,6099,CA,County,550660,24925.73,307.63,307.63,24925.73,9,15,573.00,104.07,0.00,0.00
957977,2022-05-20,Merced,California,72017,823.00,6047,CA,County,277680,25935.25,296.38,296.38,25935.25,10,11,345.00,-48.29,5.00,0.00
105235,2022-05-20,San Joaquin,California,180696,2237.00,6077,CA,County,762148,23708.78,293.51,293.51,23708.78,11,17,1324.00,225.57,1.00,0.57
1285340,2022-05-20,Kings,California,55703,447.00,6031,CA,County,152940,36421.47,292.27,292.27,36421.47,12,2,150.00,25.86,0.00,0.00
59407,2022-05-20,Fresno,California,259176,2760.00,6019,CA,County,999101,25940.92,276.25,276.25,25940.92,13,10,815.00,178.50,1.00,0.43
375201,2022-05-20,Kern,California,245450,2435.00,6029,CA,County,900202,27266.10,270.49,270.49,27266.10,14,8,389.00,106.86,8.00,2.86
61017,2022-05-20,Riverside,California,631007,6532.00,6065,CA,County,2470546,25541.20,264.39,264.39,25541.20,15,12,2279.00,458.00,0.00,0.50
957189,2022-05-20,Calaveras,California,7812,120.00,6009,CA,County,45905,17017.75,261.41,261.41,17017.75,16,50,36.00,6.71,0.00,0.00
713081,2022-05-20,Siskiyou,California,7502,106.00,6093,CA,County,43539,17230.53,243.46,243.46,17230.53,17,49,0.00,3.36,0.00,0.07
1058823,2022-05-20,Sutter,California,23187,234.00,6101,CA,County,96971,23911.27,241.31,241.31,23911.27,18,16,0.00,15.71,0.00,0.07
1374041,2022-05-20,Glenn,California,6657,67.00,6021,CA,County,28393,23445.92,235.97,235.97,23445.92,19,18,18.00,2.43,0.00,0.00
60212,2022-05-20,Madera,California,44023,370.00,6039,CA,County,157327,27981.85,235.18,235.18,27981.85,20,6,214.00,35.57,5.00,0.36
2266900,2022-05-20,Lassen,California,10777,69.00,6035,CA,County,30573,35250.06,225.69,225.69,35250.06,21,3,10.00,2.64,0.00,0.00
2545,2022-05-20,Orange,California,606842,7028.00,6059,CA,County,3175692,19108.97,221.31,221.31,19108.97,22,36,3498.00,695.86,5.00,1.21
600623,2022-05-20,Amador,California,9302,86.00,6005,CA,County,39752,23400.08,216.34,216.34,23400.08,23,20,41.00,5.79,0.00,0.00
1877564,2022-05-20,Lake,California,11792,137.00,6033,CA,County,64386,18314.54,212.78,212.78,18314.54,24,43,52.00,8.50,0.00,0.00
11718,2022-05-20,Sacramento,California,318705,3166.00,6067,CA,County,1552058,20534.35,203.99,203.99,20534.35,25,31,2365.00,456.93,0.00,0.79
2172595,2022-05-20,Mariposa,California,3204,35.00,6043,CA,County,17203,18624.66,203.45,203.45,18624.66,26,39,23.00,7.36,0.00,0.07
711499,2022-05-20,Butte,California,40502,426.00,6007,CA,County,219186,18478.37,194.36,194.36,18478.37,27,41,212.00,35.14,0.00,0.36
1710361,2022-05-20,Del Norte,California,6513,50.00,6015,CA,County,27812,23417.95,179.78,179.78,23417.95,28,19,0.00,12.86,0.00,0.00
106037,2022-05-20,Ventura,California,188227,1500.00,6111,CA,County,846006,22248.90,177.30,177.30,22248.90,29,23,1249.00,235.64,0.00,0.57
375996,2022-05-20,Monterey,California,96193,744.00,6053,CA,County,434061,22161.17,171.40,171.40,22161.17,30,24,718.00,115.29,0.00,0.14
249274,2022-05-20,San Luis Obispo,California,58220,481.00,6079,CA,County,283111,20564.37,169.90,169.90,20564.37,31,30,410.00,69.57,3.00,0.29
2232423,2022-05-20,Trinity,California,1491,20.00,6105,CA,County,12285,12136.75,162.80,162.80,12136.75,32,55,5.00,1.00,0.00,0.00
8424,2022-05-20,San Diego,California,832335,5282.00,6073,CA,County,3338330,24932.68,158.22,158.22,24932.68,33,14,4138.00,952.57,5.00,2.71
21482,2022-05-20,Placer,California,72499,626.00,6061,CA,County,398329,18200.78,157.16,157.16,18200.78,34,45,503.00,101.43,0.00,-0.14
205332,2022-05-20,San Benito,California,13782,98.00,6069,CA,County,62808,21943.06,156.03,156.03,21943.06,35,25,66.00,14.86,0.00,0.00
713872,2022-05-20,Yuba,California,18122,122.00,6115,CA,County,78668,23036.05,155.08,155.08,23036.05,36,21,0.00,19.79,0.00,0.00
298744,2022-05-20,Santa Barbara,California,93797,692.00,6083,CA,County,446499,21007.21,154.98,154.98,21007.21,37,28,570.00,115.64,-1.00,0.00
40064,2022-05-20,Yolo,California,41779,319.00,6113,CA,County,220500,18947.39,144.67,144.67,18947.39,38,37,316.00,74.50,3.00,0.29
431638,2022-05-20,Mendocino,California,16814,124.00,6045,CA,County,86749,19382.36,142.94,142.94,19382.36,39,35,192.00,28.43,0.00,0.00
2262527,2022-05-20,Sierra,California,329,4.00,6091,CA,County,3005,10948.42,133.11,133.11,10948.42,40,58,5.00,0.36,0.00,0.00
340182,2022-05-20,Nevada,California,17692,127.00,6057,CA,County,99755,17735.45,127.31,127.31,17735.45,41,47,68.00,19.71,0.00,0.00
5078,2022-05-20,Santa Clara,California,350604,2302.00,6085,CA,County,1927852,18186.25,119.41,119.41,18186.25,42,46,3968.00,897.79,1.00,1.00
14983,2022-05-20,Marin,California,39916,293.00,6041,CA,County,258826,15421.94,113.20,113.20,15421.94,43,54,693.00,146.00,0.00,0.07
26341,2022-05-20,Contra Costa,California,214192,1305.00,6013,CA,County,1153526,18568.46,113.13,113.13,18568.46,44,40,1952.00,459.64,2.00,0.21
19050,2022-05-20,Alameda,California,290619,1872.00,6001,CA,County,1671329,17388.50,112.01,112.01,17388.50,45,48,2979.00,776.00,0.00,-1.43
712290,2022-05-20,El Dorado,California,30856,213.00,6017,CA,County,192843,16000.58,110.45,110.45,16000.58,46,52,176.00,37.07,1.00,0.21
10898,2022-05-20,Humboldt,California,21382,146.00,6023,CA,County,135558,15773.32,107.70,107.70,15773.32,47,53,0.00,54.07,0.00,0.00
15798,2022-05-20,Napa,California,28131,143.00,6055,CA,County,137744,20422.67,103.82,103.82,20422.67,48,32,152.00,39.93,0.00,0.00
12535,2022-05-20,Solano,California,90993,451.00,6095,CA,County,447643,20327.14,100.75,100.75,20327.14,49,33,767.00,162.64,0.00,0.07
16613,2022-05-20,Sonoma,California,92242,491.00,6097,CA,County,494336,18659.78,99.33,99.33,18659.78,50,38,926.00,225.71,0.00,0.07
6757,2022-05-20,San Francisco,California,148277,871.00,6075,CA,County,881549,16820.05,98.80,98.80,16820.05,51,51,1893.00,484.43,2.00,0.71
22292,2022-05-20,San Mateo,California,140764,756.00,6081,CA,County,766573,18362.77,98.62,98.62,18362.77,52,42,1676.00,399.36,0.00,0.14
1284555,2022-05-20,Colusa,California,4556,21.00,6011,CA,County,21547,21144.47,97.46,97.46,21144.47,53,27,3.00,1.21,0.00,0.00
61822,2022-05-20,Santa Cruz,California,53668,263.00,6087,CA,County,273213,19643.28,96.26,96.26,19643.28,54,34,384.00,131.00,0.00,0.07
2388323,2022-05-20,Modoc,California,1005,8.00,6049,CA,County,8841,11367.49,90.49,90.49,11367.49,55,56,4.00,0.50,0.00,0.00
1597973,2022-05-20,Plumas,California,3426,13.00,6063,CA,County,18807,18216.62,69.12,69.12,18216.62,56,44,31.00,4.71,0.00,0.00
958765,2022-05-20,Mono,California,3168,6.00,6051,CA,County,14444,21932.98,41.54,41.54,21932.98,57,26,16.00,3.07,0.00,0.00
1524468,2022-05-20,Alpine,California,127,0.00,6003,CA,County,1129,11248.89,0.00,0.00,11248.89,58,57,0.00,0.07,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
601415,2022-05-20,Imperial,California,67092,922.00,6025,CA,County,181215,37023.43,508.79,508.79,37023.43,1,1,218.00,33.43,5.00,0.43
1285340,2022-05-20,Kings,California,55703,447.00,6031,CA,County,152940,36421.47,292.27,292.27,36421.47,12,2,150.00,25.86,0.00,0.00
2266900,2022-05-20,Lassen,California,10777,69.00,6035,CA,County,30573,35250.06,225.69,225.69,35250.06,21,3,10.00,2.64,0.00,0.00
164538,2022-05-20,Tulare,California,136912,1477.00,6107,CA,County,466195,29367.97,316.82,316.82,29367.97,6,4,572.00,70.57,0.00,0.64
4237,2022-05-20,Los Angeles,California,2930654,32074.00,6037,CA,County,10039107,29192.38,319.49,319.49,29192.38,5,5,3102.00,2967.29,10.00,5.93
60212,2022-05-20,Madera,California,44023,370.00,6039,CA,County,157327,27981.85,235.18,235.18,27981.85,20,6,214.00,35.57,5.00,0.36
297947,2022-05-20,San Bernardino,California,600756,7523.00,6071,CA,County,2180085,27556.54,345.08,345.08,27556.54,3,7,1646.00,370.71,68.00,15.50
375201,2022-05-20,Kern,California,245450,2435.00,6029,CA,County,900202,27266.10,270.49,270.49,27266.10,14,8,389.00,106.86,8.00,2.86
1058036,2022-05-20,Inyo,California,4687,56.00,6027,CA,County,18039,25982.59,310.44,310.44,25982.59,7,9,45.00,6.14,0.00,0.00
59407,2022-05-20,Fresno,California,259176,2760.00,6019,CA,County,999101,25940.92,276.25,276.25,25940.92,13,10,815.00,178.50,1.00,0.43

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
601415,2022-05-20,Imperial,California,67092,922.00,6025,CA,County,181215,37023.43,508.79,508.79,37023.43,1,1,218.00,33.43,5.00,0.43
91585,2022-05-20,Shasta,California,37188,653.00,6089,CA,County,180080,20650.82,362.62,362.62,20650.82,2,29,100.00,20.71,0.00,0.79
297947,2022-05-20,San Bernardino,California,600756,7523.00,6071,CA,County,2180085,27556.54,345.08,345.08,27556.54,3,7,1646.00,370.71,68.00,15.50
1457138,2022-05-20,Tuolumne,California,13913,182.00,6109,CA,County,54478,25538.75,334.08,334.08,25538.75,4,13,155.00,18.00,0.00,0.07
4237,2022-05-20,Los Angeles,California,2930654,32074.00,6037,CA,County,10039107,29192.38,319.49,319.49,29192.38,5,5,3102.00,2967.29,10.00,5.93
164538,2022-05-20,Tulare,California,136912,1477.00,6107,CA,County,466195,29367.97,316.82,316.82,29367.97,6,4,572.00,70.57,0.00,0.64
1058036,2022-05-20,Inyo,California,4687,56.00,6027,CA,County,18039,25982.59,310.44,310.44,25982.59,7,9,45.00,6.14,0.00,0.00
1768001,2022-05-20,Tehama,California,14827,201.00,6103,CA,County,65084,22781.33,308.83,308.83,22781.33,8,22,56.00,6.86,0.00,0.00
132501,2022-05-20,Stanislaus,California,137256,1694.00,6099,CA,County,550660,24925.73,307.63,307.63,24925.73,9,15,573.00,104.07,0.00,0.00
957977,2022-05-20,Merced,California,72017,823.00,6047,CA,County,277680,25935.25,296.38,296.38,25935.25,10,11,345.00,-48.29,5.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df

          date    county  cases  current_crate  case_day  14day_case_avg
0     03/20/20  Imperial      4           2.21      4.00            0.64
1     03/21/20  Imperial      4           2.21      0.00            0.64
2     03/22/20  Imperial      4           2.21      0.00            0.64
3     03/23/20  Imperial      4           2.21      0.00            0.64
4     03/24/20  Imperial      9           4.97      5.00            1.00
...        ...       ...    ...            ...       ...             ...
7935  05/16/22    Lassen  10751       35165.01      0.00            1.64
7936  05/17/22    Lassen  10764       35207.54     13.00            2.07
7937  05/18/22    Lassen  10764       35207.54      0.00            2.07
7938  05/19/22    Lassen  10767       35217.35      3.00            2.29
7939  05/20/22    Lassen  10777       35250.06     10.00            2.64

[7940 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df

          date    county  deaths  current_drate  death_day  14day_death_avg
0     03/20/20  Imperial    0.00           0.00       0.00             0.00
1     03/21/20  Imperial    0.00           0.00       0.00             0.00
2     03/22/20  Imperial    0.00           0.00       0.00             0.00
3     03/23/20  Imperial    0.00           0.00       0.00             0.00
4     03/24/20  Imperial    0.00           0.00       0.00             0.00
...        ...       ...     ...            ...        ...              ...
7970  05/16/22    Merced  823.00         296.38       0.00             0.00
7971  05/17/22    Merced  823.00         296.38       0.00             0.00
7972  05/18/22    Merced  818.00         294.58      -5.00            -0.36
7973  05/19/22    Merced  818.00         294.58       0.00            -0.36
7974  05/20/22    Merced  823.00         296.38       5.00             0.00

[7975 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)