In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1134781,2021-03-30,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1134782,2021-03-31,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1134783,2021-04-01,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1134784,2021-04-02,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1134785,2021-04-03,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
30511,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
30513,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
30515,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
30517,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
30519,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
700274,2021-03-30,Arkansas,Arkansas,5001,2076,36.00,5000,Arkansas,AR,Arkansas,State,3017804
700276,2021-03-31,Arkansas,Arkansas,5001,2076,36.00,5000,Arkansas,AR,Arkansas,State,3017804
700278,2021-04-01,Arkansas,Arkansas,5001,2077,36.00,5000,Arkansas,AR,Arkansas,State,3017804
700280,2021-04-02,Arkansas,Arkansas,5001,2077,36.00,5000,Arkansas,AR,Arkansas,State,3017804
700282,2021-04-03,Arkansas,Arkansas,5001,2079,36.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1134781,2021-03-30,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1134782,2021-03-31,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1134783,2021-04-01,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1134784,2021-04-02,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1134785,2021-04-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-04-03') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
438,2021-04-03,Snohomish,Washington,32600,558.00,53061,WA,County,822083,3965.54,67.88
874,2021-04-03,Cook,Illinois,502207,10248.00,17031,IL,County,5150233,9751.15,198.98
1309,2021-04-03,Orange,California,266766,4768.00,6059,CA,County,3175692,8400.25,150.14
1743,2021-04-03,Maricopa,Arizona,525361,9663.00,4013,AZ,County,4485414,11712.65,215.43
2177,2021-04-03,Los Angeles,California,1222262,23274.00,6037,CA,County,10039107,12175.01,231.83
...,...,...,...,...,...,...,...,...,...,...,...
1134217,2021-04-03,Wheeler,Oregon,25,1.00,41069,OR,County,1332,1876.88,75.08
1134390,2021-04-03,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00
1134532,2021-04-03,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00
1134670,2021-04-03,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00
1134785,2021-04-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
438,2021-04-03,Snohomish,Washington,32600,558.00,53061,WA,County,822083,3965.54,67.88,67.88,3965.54
874,2021-04-03,Cook,Illinois,502207,10248.00,17031,IL,County,5150233,9751.15,198.98,198.98,9751.15
1309,2021-04-03,Orange,California,266766,4768.00,6059,CA,County,3175692,8400.25,150.14,150.14,8400.25
1743,2021-04-03,Maricopa,Arizona,525361,9663.00,4013,AZ,County,4485414,11712.65,215.43,215.43,11712.65
2177,2021-04-03,Los Angeles,California,1222262,23274.00,6037,CA,County,10039107,12175.01,231.83,231.83,12175.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134217,2021-04-03,Wheeler,Oregon,25,1.00,41069,OR,County,1332,1876.88,75.08,75.08,1876.88
1134390,2021-04-03,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00,0.00,4044.12
1134532,2021-04-03,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00,0.00,4352.81
1134670,2021-04-03,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00,0.00,591.72
1134785,2021-04-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
732185,2021-04-03,Hale,Alabama,2170,73.00,1065,AL,County,14651,14811.28,498.26,498.26,14811.28,1
796855,2021-04-03,Clarke,Alabama,3453,60.00,1025,AL,County,23622,14617.73,254.00,254.00,14617.73,2
573081,2021-04-03,Lowndes,Alabama,1363,53.00,1085,AL,County,9726,14013.98,544.93,544.93,14013.98,3
426546,2021-04-03,Franklin,Alabama,4189,82.00,1059,AL,County,31362,13356.93,261.46,261.46,13356.93,4
508212,2021-04-03,Etowah,Alabama,13651,345.00,1055,AL,County,102268,13348.26,337.35,337.35,13348.26,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699169,2021-04-03,Sublette,Wyoming,710,7.00,56035,WY,County,9831,7222.05,71.20,71.20,7222.05,19
698797,2021-04-03,Converse,Wyoming,983,17.00,56009,WY,County,13822,7111.85,122.99,122.99,7111.85,20
868422,2021-04-03,Lincoln,Wyoming,1357,12.00,56023,WY,County,19830,6843.17,60.51,60.51,6843.17,21
966248,2021-04-03,Niobrara,Wyoming,150,2.00,56027,WY,County,2356,6366.72,84.89,84.89,6366.72,22
885577,2021-04-03,Crook,Wyoming,424,12.00,56011,WY,County,7584,5590.72,158.23,158.23,5590.72,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
573081,2021-04-03,Lowndes,Alabama,1363,53.00,1085,AL,County,9726,14013.98,544.93,544.93,14013.98,3,1
732185,2021-04-03,Hale,Alabama,2170,73.00,1065,AL,County,14651,14811.28,498.26,498.26,14811.28,1,2
243967,2021-04-03,Walker,Alabama,7069,274.00,1127,AL,County,63521,11128.60,431.35,431.35,11128.60,28,3
617958,2021-04-03,Greene,Alabama,906,34.00,1063,AL,County,8111,11170.02,419.18,419.18,11170.02,26,4
572333,2021-04-03,Crenshaw,Alabama,1501,57.00,1041,AL,County,13772,10898.93,413.88,413.88,10898.93,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616465,2021-04-03,Hot Springs,Wyoming,363,3.00,56017,WY,County,4413,8225.70,67.98,67.98,8225.70,17,19
868422,2021-04-03,Lincoln,Wyoming,1357,12.00,56023,WY,County,19830,6843.17,60.51,60.51,6843.17,21,20
846828,2021-04-03,Uinta,Wyoming,2139,12.00,56041,WY,County,20226,10575.50,59.33,59.33,10575.50,4,21
242824,2021-04-03,Teton,Wyoming,3624,9.00,56039,WY,County,23464,15444.94,38.36,38.36,15444.94,1,22
570837,2021-04-03,Albany,Wyoming,3984,11.00,56001,WY,County,38880,10246.91,28.29,28.29,10246.91,6,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.88,3965.54,17,22
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.88,3965.54,17,22
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.88,3965.54,17,22
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.88,3965.54,17,22
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,67.88,3965.54,17,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1132114,2021-03-30,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1132115,2021-03-31,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1132116,2021-04-01,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1132117,2021-04-02,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1132118,2021-04-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
729149,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,498.26,14811.28,2,1,1.00
729150,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,498.26,14811.28,2,1,0.00
729151,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,498.26,14811.28,2,1,0.00
729152,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,498.26,14811.28,2,1,0.00
729153,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,498.26,14811.28,2,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882906,2021-03-30,Crook,Wyoming,424,11.00,56011,WY,County,7584,5590.72,145.04,158.23,5590.72,6,23,0.00
882907,2021-03-31,Crook,Wyoming,424,12.00,56011,WY,County,7584,5590.72,158.23,158.23,5590.72,6,23,0.00
882908,2021-04-01,Crook,Wyoming,424,12.00,56011,WY,County,7584,5590.72,158.23,158.23,5590.72,6,23,0.00
882909,2021-04-02,Crook,Wyoming,424,12.00,56011,WY,County,7584,5590.72,158.23,158.23,5590.72,6,23,0.00
882910,2021-04-03,Crook,Wyoming,424,12.00,56011,WY,County,7584,5590.72,158.23,158.23,5590.72,6,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
570785,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14013.98,1,3,1.00,0.00
570786,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14013.98,1,3,0.00,0.00
570787,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14013.98,1,3,0.00,0.00
570788,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14013.98,1,3,0.00,0.00
570789,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14013.98,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568910,2021-03-30,Albany,Wyoming,3969,11.00,56001,WY,County,38880,10208.33,28.29,28.29,10246.91,23,6,1.00,0.00
568911,2021-03-31,Albany,Wyoming,3970,11.00,56001,WY,County,38880,10210.91,28.29,28.29,10246.91,23,6,1.00,0.00
568912,2021-04-01,Albany,Wyoming,3979,11.00,56001,WY,County,38880,10234.05,28.29,28.29,10246.91,23,6,9.00,0.00
568913,2021-04-02,Albany,Wyoming,3984,11.00,56001,WY,County,38880,10246.91,28.29,28.29,10246.91,23,6,5.00,0.00
568914,2021-04-03,Albany,Wyoming,3984,11.00,56001,WY,County,38880,10246.91,28.29,28.29,10246.91,23,6,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-04-03') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
291179,2021-04-03,Imperial,California,27553,711.00,6025,CA,County,181215,15204.59,392.35,392.35,15204.59,1,2,33.00,0.00
2177,2021-04-03,Los Angeles,California,1222262,23274.00,6037,CA,County,10039107,12175.01,231.83,231.83,12175.01,2,5,756.00,39.00
145095,2021-04-03,San Bernardino,California,291360,4417.00,6071,CA,County,2180085,13364.62,202.61,202.61,13364.62,3,4,161.00,13.00
509664,2021-04-03,Inyo,California,1377,36.00,6027,CA,County,18039,7633.46,199.57,199.57,7633.46,4,25,3.00,0.00
64933,2021-04-03,Stanislaus,California,59342,1003.00,6099,CA,County,550660,10776.52,182.15,182.15,10776.52,5,9,71.00,0.00
30117,2021-04-03,Riverside,California,294736,4362.00,6065,CA,County,2470546,11929.99,176.56,176.56,11929.99,6,6,0.00,0.00
80490,2021-04-03,Tulare,California,49100,818.00,6107,CA,County,466195,10532.07,175.46,175.46,10532.07,7,10,0.00,1.00
51675,2021-04-03,San Joaquin,California,70117,1310.00,6077,CA,County,762148,9199.92,171.88,171.88,9199.92,8,19,0.00,0.00
29331,2021-04-03,Fresno,California,99551,1620.00,6019,CA,County,999101,9964.06,162.15,162.15,9964.06,9,14,234.00,4.00
461929,2021-04-03,Merced,California,30687,439.00,6047,CA,County,277680,11051.21,158.10,158.10,11051.21,10,8,0.00,0.00
617900,2021-04-03,Kings,California,22666,241.00,6031,CA,County,152940,14820.19,157.58,157.58,14820.19,11,3,7.00,0.00
1309,2021-04-03,Orange,California,266766,4768.00,6059,CA,County,3175692,8400.25,150.14,150.14,8400.25,12,22,302.00,7.00
29724,2021-04-03,Madera,California,16036,234.00,6039,CA,County,157327,10192.78,148.73,148.73,10192.78,13,11,13.00,0.00
182385,2021-04-03,Kern,California,106420,1281.00,6029,CA,County,900202,11821.79,142.30,142.30,11821.79,14,7,91.00,4.00
52065,2021-04-03,Ventura,California,79774,986.00,6111,CA,County,846006,9429.48,116.55,116.55,9429.48,15,17,0.00,0.00
45029,2021-04-03,Shasta,California,11381,207.00,6089,CA,County,180080,6319.97,114.95,114.95,6319.97,16,34,0.00,0.00
699470,2021-04-03,Tuolumne,California,4043,62.00,6109,CA,County,54478,7421.34,113.81,113.81,7421.34,17,28,0.00,0.00
290799,2021-04-03,Amador,California,3572,45.00,6005,CA,County,39752,8985.71,113.20,113.20,8985.71,18,20,15.00,0.00
510039,2021-04-03,Sutter,California,9175,106.00,6101,CA,County,96971,9461.59,109.31,109.31,9461.59,19,16,0.00,0.00
461553,2021-04-03,Calaveras,California,2010,50.00,6009,CA,County,45905,4378.61,108.92,108.92,4378.61,20,49,4.00,0.00
4304,2021-04-03,San Diego,California,271397,3571.00,6073,CA,County,3338330,8129.72,106.97,106.97,8129.72,21,23,299.00,3.00
5950,2021-04-03,Sacramento,California,98647,1613.00,6067,CA,County,1552058,6355.88,103.93,103.93,6355.88,22,33,160.00,0.00
2606,2021-04-03,Santa Clara,California,114947,1950.00,6085,CA,County,1927852,5962.44,101.15,101.15,5962.44,23,36,95.00,0.00
145480,2021-04-03,Santa Barbara,California,33297,443.00,6083,CA,County,446499,7457.35,99.22,99.22,7457.35,24,27,27.00,0.00
100272,2021-04-03,San Benito,California,5888,61.00,6069,CA,County,62808,9374.60,97.12,97.12,9374.60,25,18,10.00,0.00
121554,2021-04-03,San Luis Obispo,California,20547,256.00,6079,CA,County,283111,7257.58,90.42,90.42,7257.58,26,30,0.00,0.00
19876,2021-04-03,Yolo,California,13381,198.00,6113,CA,County,220500,6068.48,89.80,89.80,6068.48,27,35,39.00,0.00
343995,2021-04-03,Butte,California,11350,193.00,6007,CA,County,219186,5178.25,88.05,88.05,5178.25,28,44,22.00,0.00
660045,2021-04-03,Glenn,California,2832,25.00,6021,CA,County,28393,9974.29,88.05,88.05,9974.29,29,13,0.00,0.00
7567,2021-04-03,Marin,California,13649,221.00,6041,CA,County,258826,5273.43,85.39,85.39,5273.43,30,42,14.00,0.00
9574,2021-04-03,Alameda,California,83797,1425.00,6001,CA,County,1671329,5013.79,85.26,85.26,5013.79,31,45,202.00,0.00
846357,2021-04-03,Tehama,California,4775,52.00,6103,CA,County,65084,7336.67,79.90,79.90,7336.67,32,29,11.00,0.00
182768,2021-04-03,Monterey,California,43002,342.00,6053,CA,County,434061,9906.90,78.79,78.79,9906.90,33,15,23.00,0.00
617527,2021-04-03,Colusa,California,2165,16.00,6011,CA,County,21547,10047.80,74.26,74.26,10047.80,34,12,0.00,0.00
165494,2021-04-03,Nevada,California,4323,74.00,6057,CA,County,99755,4333.62,74.18,74.18,4333.62,35,50,7.00,0.00
30510,2021-04-03,Santa Cruz,California,15363,202.00,6087,CA,County,273213,5623.09,73.93,73.93,5623.09,36,39,0.00,0.00
11168,2021-04-03,San Mateo,California,40542,553.00,6081,CA,County,766573,5288.73,72.14,72.14,5288.73,37,41,80.00,0.00
10770,2021-04-03,Placer,California,21095,276.00,6061,CA,County,398329,5295.87,69.29,69.29,5295.87,38,40,0.00,0.00
13157,2021-04-03,Contra Costa,California,65598,774.00,6013,CA,County,1153526,5686.74,67.10,67.10,5686.74,39,38,39.00,3.00
897828,2021-04-03,Lake,California,3348,43.00,6033,CA,County,64386,5199.89,66.78,66.78,5199.89,40,43,11.00,0.00
8373,2021-04-03,Sonoma,California,29310,311.00,6097,CA,County,494336,5929.17,62.91,62.91,5929.17,41,37,0.00,0.00
7970,2021-04-03,Napa,California,9454,78.00,6055,CA,County,137744,6863.46,56.63,56.63,6863.46,42,32,0.00,0.00
345132,2021-04-03,Yuba,California,6021,44.00,6115,CA,County,78668,7653.68,55.93,55.93,7653.68,43,24,0.00,0.00
3461,2021-04-03,San Francisco,California,35454,488.00,6075,CA,County,881549,4021.78,55.36,55.36,4021.78,44,52,65.00,0.00
344374,2021-04-03,El Dorado,California,9437,106.00,6017,CA,County,192843,4893.62,54.97,54.97,4893.62,45,46,44.00,0.00
209570,2021-04-03,Mendocino,California,3949,46.00,6045,CA,County,86749,4552.21,53.03,53.03,4552.21,46,47,0.00,0.00
6355,2021-04-03,Solano,California,31306,237.00,6095,CA,County,447643,6993.52,52.94,52.94,6993.52,47,31,0.00,0.00
1034651,2021-04-03,Mariposa,California,410,7.00,6043,CA,County,17203,2383.31,40.69,40.69,2383.31,48,57,0.00,0.00
344753,2021-04-03,Siskiyou,California,1885,16.00,6093,CA,County,43539,4329.45,36.75,36.75,4329.45,49,51,0.00,0.00
1126367,2021-04-03,Modoc,California,346,3.00,6049,CA,County,8841,3913.58,33.93,33.93,3913.58,50,53,0.00,0.00
462305,2021-04-03,Mono,California,1246,4.00,6051,CA,County,14444,8626.42,27.69,27.69,8626.42,51,21,1.00,0.00
5542,2021-04-03,Humboldt,California,3492,36.00,6023,CA,County,135558,2576.02,26.56,26.56,2576.02,52,56,0.00,0.00
1061519,2021-04-03,Trinity,California,321,3.00,6105,CA,County,12285,2612.94,24.42,24.42,2612.94,53,55,1.00,0.00
819205,2021-04-03,Del Norte,California,1218,6.00,6015,CA,County,27812,4379.40,21.57,21.57,4379.40,54,48,5.00,0.00
766145,2021-04-03,Plumas,California,666,4.00,6063,CA,County,18807,3541.23,21.27,21.27,3541.23,55,54,2.00,0.00
1076632,2021-04-03,Lassen,California,5652,1.00,6035,CA,County,30573,18486.90,3.27,3.27,18486.90,56,1,0.00,0.00
731368,2021-04-03,Alpine,California,85,0.00,6003,CA,County,1129,7528.79,0.00,0.00,7528.79,57,26,0.00,0.00
1074731,2021-04-03,Sierra,California,50,0.00,6091,CA,County,3005,1663.89,0.00,0.00,1663.89,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1076632,2021-04-03,Lassen,California,5652,1.00,6035,CA,County,30573,18486.90,3.27,3.27,18486.90,56,1,0.00,0.00
291179,2021-04-03,Imperial,California,27553,711.00,6025,CA,County,181215,15204.59,392.35,392.35,15204.59,1,2,33.00,0.00
617900,2021-04-03,Kings,California,22666,241.00,6031,CA,County,152940,14820.19,157.58,157.58,14820.19,11,3,7.00,0.00
145095,2021-04-03,San Bernardino,California,291360,4417.00,6071,CA,County,2180085,13364.62,202.61,202.61,13364.62,3,4,161.00,13.00
2177,2021-04-03,Los Angeles,California,1222262,23274.00,6037,CA,County,10039107,12175.01,231.83,231.83,12175.01,2,5,756.00,39.00
30117,2021-04-03,Riverside,California,294736,4362.00,6065,CA,County,2470546,11929.99,176.56,176.56,11929.99,6,6,0.00,0.00
182385,2021-04-03,Kern,California,106420,1281.00,6029,CA,County,900202,11821.79,142.30,142.30,11821.79,14,7,91.00,4.00
461929,2021-04-03,Merced,California,30687,439.00,6047,CA,County,277680,11051.21,158.10,158.10,11051.21,10,8,0.00,0.00
64933,2021-04-03,Stanislaus,California,59342,1003.00,6099,CA,County,550660,10776.52,182.15,182.15,10776.52,5,9,71.00,0.00
80490,2021-04-03,Tulare,California,49100,818.00,6107,CA,County,466195,10532.07,175.46,175.46,10532.07,7,10,0.00,1.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
291179,2021-04-03,Imperial,California,27553,711.00,6025,CA,County,181215,15204.59,392.35,392.35,15204.59,1,2,33.00,0.00
2177,2021-04-03,Los Angeles,California,1222262,23274.00,6037,CA,County,10039107,12175.01,231.83,231.83,12175.01,2,5,756.00,39.00
145095,2021-04-03,San Bernardino,California,291360,4417.00,6071,CA,County,2180085,13364.62,202.61,202.61,13364.62,3,4,161.00,13.00
509664,2021-04-03,Inyo,California,1377,36.00,6027,CA,County,18039,7633.46,199.57,199.57,7633.46,4,25,3.00,0.00
64933,2021-04-03,Stanislaus,California,59342,1003.00,6099,CA,County,550660,10776.52,182.15,182.15,10776.52,5,9,71.00,0.00
30117,2021-04-03,Riverside,California,294736,4362.00,6065,CA,County,2470546,11929.99,176.56,176.56,11929.99,6,6,0.00,0.00
80490,2021-04-03,Tulare,California,49100,818.00,6107,CA,County,466195,10532.07,175.46,175.46,10532.07,7,10,0.00,1.00
51675,2021-04-03,San Joaquin,California,70117,1310.00,6077,CA,County,762148,9199.92,171.88,171.88,9199.92,8,19,0.00,0.00
29331,2021-04-03,Fresno,California,99551,1620.00,6019,CA,County,999101,9964.06,162.15,162.15,9964.06,9,14,234.00,4.00
461929,2021-04-03,Merced,California,30687,439.00,6047,CA,County,277680,11051.21,158.10,158.10,11051.21,10,8,0.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,392.35,15204.59,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,392.35,15204.59,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,392.35,15204.59,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,392.35,15204.59,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,392.35,15204.59,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3812,03/30/21,Lassen,5652,1.00,18486.90,3.27,3.27,18486.90,56,1,-1.00,0.00
3813,03/31/21,Lassen,5652,1.00,18486.90,3.27,3.27,18486.90,56,1,0.00,0.00
3814,04/01/21,Lassen,5652,1.00,18486.90,3.27,3.27,18486.90,56,1,0.00,0.00
3815,04/02/21,Lassen,5652,1.00,18486.90,3.27,3.27,18486.90,56,1,0.00,0.00
3816,04/03/21,Lassen,5652,1.00,18486.90,3.27,3.27,18486.90,56,1,0.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,392.35,15204.59,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,392.35,15204.59,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,392.35,15204.59,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,392.35,15204.59,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,392.35,15204.59,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3898,03/30/21,Merced,30558,435.00,11004.75,156.66,158.10,11051.21,10,8,37.00,0.00
3899,03/31/21,Merced,30593,436.00,11017.36,157.02,158.10,11051.21,10,8,35.00,1.00
3900,04/01/21,Merced,30649,438.00,11037.53,157.74,158.10,11051.21,10,8,56.00,2.00
3901,04/02/21,Merced,30687,439.00,11051.21,158.10,158.10,11051.21,10,8,38.00,1.00
3902,04/03/21,Merced,30687,439.00,11051.21,158.10,158.10,11051.21,10,8,0.00,0.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)