In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2169513,2022-02-27,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2169514,2022-02-28,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2169515,2022-03-01,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2169516,2022-03-02,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2169517,2022-03-03,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
55895,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
55897,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
55899,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
55901,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
55903,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1315168,2022-02-27,Arkansas,Arkansas,5001,5631,75.00,5000,Arkansas,AR,Arkansas,State,3017804
1315170,2022-02-28,Arkansas,Arkansas,5001,5633,75.00,5000,Arkansas,AR,Arkansas,State,3017804
1315172,2022-03-01,Arkansas,Arkansas,5001,5634,75.00,5000,Arkansas,AR,Arkansas,State,3017804
1315174,2022-03-02,Arkansas,Arkansas,5001,5637,75.00,5000,Arkansas,AR,Arkansas,State,3017804
1315176,2022-03-03,Arkansas,Arkansas,5001,5641,75.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2169513,2022-02-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2169514,2022-02-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2169515,2022-03-01,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2169516,2022-03-02,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2169517,2022-03-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-03-03') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
772,2022-03-03,Snohomish,Washington,147025,1061.00,53061,WA,County,822083,17884.45,129.06
1542,2022-03-03,Cook,Illinois,1113031,14654.00,17031,IL,County,5150233,21611.27,284.53
2311,2022-03-03,Orange,California,582034,6643.00,6059,CA,County,3175692,18327.78,209.18
3079,2022-03-03,Maricopa,Arizona,1248818,15761.00,4013,AZ,County,4485414,27841.76,351.38
3847,2022-03-03,Los Angeles,California,2801445,30911.00,6037,CA,County,10039107,27905.32,307.91
...,...,...,...,...,...,...,...,...,...,...,...
2167613,2022-03-03,Wheeler,Oregon,243,3.00,41069,OR,County,1332,18243.24,225.23
2168120,2022-03-03,King,Texas,41,0.00,48269,TX,County,272,15073.53,0.00
2168596,2022-03-03,Esmeralda,Nevada,90,3.00,32009,NV,County,873,10309.28,343.64
2169068,2022-03-03,Loving,Texas,164,0.00,48301,TX,County,169,97041.42,0.00
2169517,2022-03-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
772,2022-03-03,Snohomish,Washington,147025,1061.00,53061,WA,County,822083,17884.45,129.06,129.06,17884.45
1542,2022-03-03,Cook,Illinois,1113031,14654.00,17031,IL,County,5150233,21611.27,284.53,284.53,21611.27
2311,2022-03-03,Orange,California,582034,6643.00,6059,CA,County,3175692,18327.78,209.18,209.18,18327.78
3079,2022-03-03,Maricopa,Arizona,1248818,15761.00,4013,AZ,County,4485414,27841.76,351.38,351.38,27841.76
3847,2022-03-03,Los Angeles,California,2801445,30911.00,6037,CA,County,10039107,27905.32,307.91,307.91,27905.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2167613,2022-03-03,Wheeler,Oregon,243,3.00,41069,OR,County,1332,18243.24,225.23,225.23,18243.24
2168120,2022-03-03,King,Texas,41,0.00,48269,TX,County,272,15073.53,0.00,0.00,15073.53
2168596,2022-03-03,Esmeralda,Nevada,90,3.00,32009,NV,County,873,10309.28,343.64,343.64,10309.28
2169068,2022-03-03,Loving,Texas,164,0.00,48301,TX,County,169,97041.42,0.00,0.00,97041.42
2169517,2022-03-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1160452,2022-03-03,Winston,Alabama,7542,120.00,1133,AL,County,23629,31918.41,507.85,507.85,31918.41,1
1375803,2022-03-03,Hale,Alabama,4669,101.00,1065,AL,County,14651,31868.13,689.37,689.37,31868.13,2
797286,2022-03-03,Franklin,Alabama,9818,137.00,1059,AL,County,31362,31305.40,436.83,436.83,31305.40,3
948594,2022-03-03,Clay,Alabama,4077,78.00,1027,AL,County,13235,30804.68,589.35,589.35,30804.68,4
1375099,2022-03-03,Fayette,Alabama,4920,93.00,1057,AL,County,16302,30180.35,570.48,570.48,30180.35,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156917,2022-03-03,Johnson,Wyoming,1840,19.00,56019,WY,County,8445,21788.04,224.99,224.99,21788.04,19
1857516,2022-03-03,Big Horn,Wyoming,2565,60.00,56003,WY,County,11790,21755.73,508.91,508.91,21755.73,20
1635620,2022-03-03,Lincoln,Wyoming,3953,29.00,56023,WY,County,19830,19934.44,146.24,146.24,19934.44,21
1313061,2022-03-03,Sublette,Wyoming,1918,27.00,56035,WY,County,9831,19509.71,274.64,274.64,19509.71,22
1668473,2022-03-03,Crook,Wyoming,1342,26.00,56011,WY,County,7584,17695.15,342.83,342.83,17695.15,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1074081,2022-03-03,Lowndes,Alabama,2600,73.00,1085,AL,County,9726,26732.47,750.57,750.57,26732.47,30,1
1375803,2022-03-03,Hale,Alabama,4669,101.00,1065,AL,County,14651,31868.13,689.37,689.37,31868.13,2,2
1072665,2022-03-03,Crenshaw,Alabama,3775,93.00,1041,AL,County,13772,27410.69,675.28,675.28,27410.69,23,3
454053,2022-03-03,Walker,Alabama,18480,419.00,1127,AL,County,63521,29092.74,659.62,659.62,29092.74,10,4
950721,2022-03-03,Dallas,Alabama,8328,231.00,1047,AL,County,37196,22389.50,621.03,621.03,22389.50,60,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156917,2022-03-03,Johnson,Wyoming,1840,19.00,56019,WY,County,8445,21788.04,224.99,224.99,21788.04,19,19
1594320,2022-03-03,Uinta,Wyoming,5624,37.00,56041,WY,County,20226,27805.79,182.93,182.93,27805.79,5,20
1635620,2022-03-03,Lincoln,Wyoming,3953,29.00,56023,WY,County,19830,19934.44,146.24,146.24,19934.44,21,21
1069833,2022-03-03,Albany,Wyoming,9825,47.00,56001,WY,County,38880,25270.06,120.88,120.88,25270.06,14,22
451908,2022-03-03,Teton,Wyoming,9805,16.00,56039,WY,County,23464,41787.42,68.19,68.19,41787.42,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,129.06,17884.45,31,20
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,129.06,17884.45,31,20
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,129.06,17884.45,31,20
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,129.06,17884.45,31,20
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,129.06,17884.45,31,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2164508,2022-02-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2164509,2022-02-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2164510,2022-03-01,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2164511,2022-03-02,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2164512,2022-03-03,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1156153,2020-03-27,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,507.85,31918.41,18,1,2.00,nan
1156154,2020-03-28,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,507.85,31918.41,18,1,0.00,nan
1156155,2020-03-29,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,507.85,31918.41,18,1,0.00,nan
1156156,2020-03-30,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,507.85,31918.41,18,1,0.00,nan
1156157,2020-03-31,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,507.85,31918.41,18,1,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663464,2022-02-27,Crook,Wyoming,1336,25.00,56011,WY,County,7584,17616.03,329.64,342.83,17695.15,10,23,0.00,0.86
1663465,2022-02-28,Crook,Wyoming,1339,25.00,56011,WY,County,7584,17655.59,329.64,342.83,17695.15,10,23,3.00,0.64
1663466,2022-03-01,Crook,Wyoming,1340,26.00,56011,WY,County,7584,17668.78,342.83,342.83,17695.15,10,23,1.00,0.64
1663467,2022-03-02,Crook,Wyoming,1341,26.00,56011,WY,County,7584,17681.96,342.83,342.83,17695.15,10,23,1.00,0.57
1663468,2022-03-03,Crook,Wyoming,1342,26.00,56011,WY,County,7584,17695.15,342.83,342.83,17695.15,10,23,1.00,0.57

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa[ '14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1069781,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,750.57,26732.47,1,30,1.00,5.93,0.00,nan
1069782,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,750.57,26732.47,1,30,0.00,4.57,0.00,nan
1069783,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,750.57,26732.47,1,30,0.00,4.43,0.00,nan
1069784,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,750.57,26732.47,1,30,0.00,4.14,0.00,nan
1069785,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,750.57,26732.47,1,30,0.00,3.93,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449020,2022-02-27,Teton,Wyoming,9767,16.00,56039,WY,County,23464,41625.47,68.19,68.19,41787.42,23,1,0.00,13.50,0.00,0.07
449021,2022-02-28,Teton,Wyoming,9782,16.00,56039,WY,County,23464,41689.40,68.19,68.19,41787.42,23,1,15.00,12.79,0.00,0.07
449022,2022-03-01,Teton,Wyoming,9791,16.00,56039,WY,County,23464,41727.75,68.19,68.19,41787.42,23,1,9.00,12.14,0.00,0.07
449023,2022-03-02,Teton,Wyoming,9794,16.00,56039,WY,County,23464,41740.54,68.19,68.19,41787.42,23,1,3.00,10.86,0.00,0.07
449024,2022-03-03,Teton,Wyoming,9805,16.00,56039,WY,County,23464,41787.42,68.19,68.19,41787.42,23,1,11.00,9.71,0.00,0.07

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-03-03') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
542681,2022-03-03,Imperial,California,65566,877.00,6025,CA,County,181215,36181.33,483.96,483.96,36181.33,1,1,124.00,73.29,3.00,1.21
1313696,2022-03-03,Tuolumne,California,12963,179.00,6109,CA,County,54478,23794.93,328.57,328.57,23794.93,2,14,0.00,13.50,4.00,0.57
954218,2022-03-03,Inyo,California,4515,56.00,6027,CA,County,18039,25029.10,310.44,310.44,25029.10,3,10,13.00,3.79,0.00,0.29
82771,2022-03-03,Shasta,California,36378,559.00,6089,CA,County,180080,20201.02,310.42,310.42,20201.02,4,28,58.00,43.79,0.00,1.57
3847,2022-03-03,Los Angeles,California,2801445,30911.00,6037,CA,County,10039107,27905.32,307.91,307.91,27905.32,5,5,1572.00,2012.29,58.00,54.64
269009,2022-03-03,San Bernardino,California,581062,6619.00,6071,CA,County,2180085,26653.18,303.61,303.61,26653.18,6,7,598.00,377.00,31.00,17.14
119709,2022-03-03,Stanislaus,California,135804,1667.00,6099,CA,County,550660,24662.04,302.73,302.73,24662.04,7,13,173.00,169.93,7.00,4.14
864065,2022-03-03,Merced,California,70963,794.00,6047,CA,County,277680,25555.68,285.94,285.94,25555.68,8,9,84.00,75.07,4.00,1.43
1158980,2022-03-03,Kings,California,54397,431.00,6031,CA,County,152940,35567.54,281.81,281.81,35567.54,9,2,190.00,105.71,1.00,0.71
148626,2022-03-03,Tulare,California,131458,1302.00,6107,CA,County,466195,28198.07,279.28,279.28,28198.07,10,4,289.00,162.14,0.00,1.36
95095,2022-03-03,San Joaquin,California,174000,2063.00,6077,CA,County,762148,22830.21,270.68,270.68,22830.21,11,17,157.00,172.00,1.00,2.21
53713,2022-03-03,Fresno,California,248859,2629.00,6019,CA,County,999101,24908.29,263.14,263.14,24908.29,12,11,675.00,328.29,1.00,6.21
55167,2022-03-03,Riverside,California,614421,6285.00,6065,CA,County,2470546,24869.85,254.40,254.40,24869.85,13,12,598.00,468.57,11.00,11.00
863355,2022-03-03,Calaveras,California,7579,116.00,6009,CA,County,45905,16510.18,252.70,252.70,16510.18,14,47,7.00,7.29,0.00,0.64
1593515,2022-03-03,Tehama,California,14512,158.00,6103,CA,County,65084,22297.34,242.76,242.76,22297.34,15,20,8.00,15.07,0.00,0.43
338697,2022-03-03,Kern,California,238866,2136.00,6029,CA,County,900202,26534.71,237.28,237.28,26534.71,16,8,746.00,588.29,6.00,2.93
954927,2022-03-03,Sutter,California,22300,225.00,6101,CA,County,96971,22996.57,232.03,232.03,22996.57,17,16,98.00,32.93,0.00,0.50
643349,2022-03-03,Siskiyou,California,7319,98.00,6093,CA,County,43539,16810.22,225.09,225.09,16810.22,18,45,8.00,10.43,0.00,0.29
54440,2022-03-03,Madera,California,43052,354.00,6039,CA,County,157327,27364.66,225.01,225.01,27364.66,19,6,82.00,61.21,0.00,1.71
1238867,2022-03-03,Glenn,California,6459,63.00,6021,CA,County,28393,22748.56,221.89,221.89,22748.56,20,18,9.00,5.50,0.00,0.21
2041558,2022-03-03,Lassen,California,10666,67.00,6035,CA,County,30573,34886.99,219.15,219.15,34886.99,21,3,4.00,15.21,0.00,0.14
2311,2022-03-03,Orange,California,582034,6643.00,6059,CA,County,3175692,18327.78,209.18,209.18,18327.78,22,34,467.00,262.50,15.00,16.00
541967,2022-03-03,Amador,California,8994,83.00,6005,CA,County,39752,22625.28,208.79,208.79,22625.28,23,19,13.00,11.43,0.00,0.43
1692080,2022-03-03,Lake,California,11360,130.00,6033,CA,County,64386,17643.59,201.91,201.91,17643.59,24,39,27.00,25.86,2.00,0.36
10626,2022-03-03,Sacramento,California,299984,2971.00,6067,CA,County,1552058,19328.14,191.42,191.42,19328.14,25,31,348.00,321.21,0.00,6.64
641923,2022-03-03,Butte,California,39212,372.00,6007,CA,County,219186,17889.83,169.72,169.72,17889.83,26,36,103.00,46.21,0.00,0.64
95819,2022-03-03,Ventura,California,180962,1434.00,6111,CA,County,846006,21390.16,169.50,169.50,21390.16,27,23,147.00,127.14,0.00,3.71
1541647,2022-03-03,Del Norte,California,6063,47.00,6015,CA,County,27812,21799.94,168.99,168.99,21799.94,28,22,39.00,22.00,2.00,0.14
339414,2022-03-03,Monterey,California,90986,708.00,6053,CA,County,434061,20961.57,163.11,163.11,20961.57,29,26,201.00,123.36,1.00,1.36
2010747,2022-03-03,Trinity,California,1453,20.00,6105,CA,County,12285,11827.43,162.80,162.80,11827.43,30,55,1.00,3.14,0.00,0.00
225094,2022-03-03,San Luis Obispo,California,55353,446.00,6079,CA,County,283111,19551.70,157.54,157.54,19551.70,31,30,125.00,75.57,1.00,1.50
1957159,2022-03-03,Mariposa,California,2971,26.00,6043,CA,County,17203,17270.24,151.14,151.14,17270.24,32,41,5.00,4.86,0.00,0.43
7644,2022-03-03,San Diego,California,788931,5034.00,6073,CA,County,3338330,23632.50,150.79,150.79,23632.50,33,15,1432.00,905.43,5.00,7.36
185442,2022-03-03,San Benito,California,13323,94.00,6069,CA,County,62808,21212.27,149.66,149.66,21212.27,34,25,9.00,12.57,0.00,0.14
19454,2022-03-03,Placer,California,69344,589.00,6061,CA,County,398329,17408.72,147.87,147.87,17408.72,35,40,99.00,69.64,6.00,2.36
269728,2022-03-03,Santa Barbara,California,89973,655.00,6083,CA,County,446499,20150.77,146.70,146.70,20150.77,36,29,108.00,97.21,1.00,0.93
644062,2022-03-03,Yuba,California,17459,115.00,6115,CA,County,78668,22193.27,146.18,146.18,22193.27,37,21,32.00,20.36,-1.00,0.36
36242,2022-03-03,Yolo,California,38908,305.00,6113,CA,County,220500,17645.35,138.32,138.32,17645.35,38,38,45.00,43.07,6.00,0.93
2037653,2022-03-03,Sierra,California,314,4.00,6091,CA,County,3005,10449.25,133.11,133.11,10449.25,39,58,0.00,0.36,-1.00,0.29
389596,2022-03-03,Mendocino,California,15745,112.00,6045,CA,County,86749,18150.07,129.11,129.11,18150.07,40,35,50.00,27.00,0.00,0.21
307110,2022-03-03,Nevada,California,17102,122.00,6057,CA,County,99755,17144.00,122.30,122.30,17144.00,41,43,20.00,18.14,1.00,0.07
4610,2022-03-03,Santa Clara,California,319551,2185.00,6085,CA,County,1927852,16575.49,113.34,113.34,16575.49,42,46,389.00,362.21,-6.00,3.86
23845,2022-03-03,Contra Costa,California,198469,1236.00,6013,CA,County,1153526,17205.42,107.15,107.15,17205.42,43,42,334.00,252.36,5.00,4.07
17256,2022-03-03,Alameda,California,265509,1768.00,6001,CA,County,1671329,15886.10,105.78,105.78,15886.10,44,50,146.00,470.36,0.00,5.50
13579,2022-03-03,Marin,California,34972,272.00,6041,CA,County,258826,13511.78,105.09,105.09,13511.78,45,54,31.00,33.71,0.00,1.07
9884,2022-03-03,Humboldt,California,19654,139.00,6023,CA,County,135558,14498.59,102.54,102.54,14498.59,46,53,33.00,35.93,0.00,0.29
642636,2022-03-03,El Dorado,California,29591,192.00,6017,CA,County,192843,15344.61,99.56,99.56,15344.61,47,51,39.00,32.71,0.00,0.21
1158273,2022-03-03,Colusa,California,4503,21.00,6011,CA,County,21547,20898.50,97.46,97.46,20898.50,48,27,16.00,4.57,0.00,0.00
14316,2022-03-03,Napa,California,26343,134.00,6055,CA,County,137744,19124.61,97.28,97.28,19124.61,49,33,48.00,36.64,0.00,0.43
11365,2022-03-03,Solano,California,86058,433.00,6095,CA,County,447643,19224.69,96.73,96.73,19224.69,50,32,90.00,151.43,-1.00,0.79
15053,2022-03-03,Sonoma,California,84275,475.00,6097,CA,County,494336,17048.12,96.09,96.09,17048.12,51,44,249.00,123.86,-2.00,0.79
20186,2022-03-03,San Mateo,California,125440,711.00,6081,CA,County,766573,16363.74,92.75,92.75,16363.74,52,48,216.00,155.21,0.00,1.86
55894,2022-03-03,Santa Cruz,California,48419,253.00,6087,CA,County,273213,17722.07,92.60,92.60,17722.07,53,37,77.00,94.64,0.00,0.21
6133,2022-03-03,San Francisco,California,132028,792.00,6075,CA,County,881549,14976.82,89.84,89.84,14976.82,54,52,-90.00,175.50,0.00,2.57
2149409,2022-03-03,Modoc,California,979,7.00,6049,CA,County,8841,11073.41,79.18,79.18,11073.41,55,57,3.00,2.43,0.00,0.07
1440491,2022-03-03,Plumas,California,3051,13.00,6063,CA,County,18807,16222.68,69.12,69.12,16222.68,56,49,19.00,4.93,0.00,0.00
864775,2022-03-03,Mono,California,3080,5.00,6051,CA,County,14444,21323.73,34.62,34.62,21323.73,57,24,2.00,0.71,-1.00,0.00
1374318,2022-03-03,Alpine,California,126,0.00,6003,CA,County,1129,11160.32,0.00,0.00,11160.32,58,56,0.00,0.00,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
542681,2022-03-03,Imperial,California,65566,877.00,6025,CA,County,181215,36181.33,483.96,483.96,36181.33,1,1,124.00,73.29,3.00,1.21
1158980,2022-03-03,Kings,California,54397,431.00,6031,CA,County,152940,35567.54,281.81,281.81,35567.54,9,2,190.00,105.71,1.00,0.71
2041558,2022-03-03,Lassen,California,10666,67.00,6035,CA,County,30573,34886.99,219.15,219.15,34886.99,21,3,4.00,15.21,0.00,0.14
148626,2022-03-03,Tulare,California,131458,1302.00,6107,CA,County,466195,28198.07,279.28,279.28,28198.07,10,4,289.00,162.14,0.00,1.36
3847,2022-03-03,Los Angeles,California,2801445,30911.00,6037,CA,County,10039107,27905.32,307.91,307.91,27905.32,5,5,1572.00,2012.29,58.00,54.64
54440,2022-03-03,Madera,California,43052,354.00,6039,CA,County,157327,27364.66,225.01,225.01,27364.66,19,6,82.00,61.21,0.00,1.71
269009,2022-03-03,San Bernardino,California,581062,6619.00,6071,CA,County,2180085,26653.18,303.61,303.61,26653.18,6,7,598.00,377.00,31.00,17.14
338697,2022-03-03,Kern,California,238866,2136.00,6029,CA,County,900202,26534.71,237.28,237.28,26534.71,16,8,746.00,588.29,6.00,2.93
864065,2022-03-03,Merced,California,70963,794.00,6047,CA,County,277680,25555.68,285.94,285.94,25555.68,8,9,84.00,75.07,4.00,1.43
954218,2022-03-03,Inyo,California,4515,56.00,6027,CA,County,18039,25029.10,310.44,310.44,25029.10,3,10,13.00,3.79,0.00,0.29

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
542681,2022-03-03,Imperial,California,65566,877.00,6025,CA,County,181215,36181.33,483.96,483.96,36181.33,1,1,124.00,73.29,3.00,1.21
1313696,2022-03-03,Tuolumne,California,12963,179.00,6109,CA,County,54478,23794.93,328.57,328.57,23794.93,2,14,0.00,13.50,4.00,0.57
954218,2022-03-03,Inyo,California,4515,56.00,6027,CA,County,18039,25029.10,310.44,310.44,25029.10,3,10,13.00,3.79,0.00,0.29
82771,2022-03-03,Shasta,California,36378,559.00,6089,CA,County,180080,20201.02,310.42,310.42,20201.02,4,28,58.00,43.79,0.00,1.57
3847,2022-03-03,Los Angeles,California,2801445,30911.00,6037,CA,County,10039107,27905.32,307.91,307.91,27905.32,5,5,1572.00,2012.29,58.00,54.64
269009,2022-03-03,San Bernardino,California,581062,6619.00,6071,CA,County,2180085,26653.18,303.61,303.61,26653.18,6,7,598.00,377.00,31.00,17.14
119709,2022-03-03,Stanislaus,California,135804,1667.00,6099,CA,County,550660,24662.04,302.73,302.73,24662.04,7,13,173.00,169.93,7.00,4.14
864065,2022-03-03,Merced,California,70963,794.00,6047,CA,County,277680,25555.68,285.94,285.94,25555.68,8,9,84.00,75.07,4.00,1.43
1158980,2022-03-03,Kings,California,54397,431.00,6031,CA,County,152940,35567.54,281.81,281.81,35567.54,9,2,190.00,105.71,1.00,0.71
148626,2022-03-03,Tulare,California,131458,1302.00,6107,CA,County,466195,28198.07,279.28,279.28,28198.07,10,4,289.00,162.14,0.00,1.36

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'state_case', 'case_day', '14day_case_avg']]
top10_ca_case_df

,date,county,cases,current_crate,state_case,case_day,14day_case_avg
0,03/20/20,Imperial,4,2.21,1,4.00,0.29
1,03/21/20,Imperial,4,2.21,1,0.00,0.29
2,03/22/20,Imperial,4,2.21,1,0.00,0.29
3,03/23/20,Imperial,4,2.21,1,0.00,0.29
4,03/24/20,Imperial,9,4.97,1,5.00,0.43
...,...,...,...,...,...,...,...
7138,02/27/22,Lassen,10637,34792.14,3,0.00,19.00
7139,02/28/22,Lassen,10637,34792.14,3,0.00,19.00
7140,03/01/22,Lassen,10648,34828.12,3,11.00,16.57
7141,03/02/22,Lassen,10662,34873.91,3,14.00,15.57
7142,03/03/22,Lassen,10666,34886.99,3,4.00,15.21

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'state_death', 'death_day', '14day_death_avg']]
top10_ca_death_df

,date,county,deaths,current_drate,state_death,death_day,14day_death_avg
0,03/20/20,Imperial,0.00,0.00,1,0.00,0.00
1,03/21/20,Imperial,0.00,0.00,1,0.00,0.00
2,03/22/20,Imperial,0.00,0.00,1,0.00,0.00
3,03/23/20,Imperial,0.00,0.00,1,0.00,0.00
4,03/24/20,Imperial,0.00,0.00,1,0.00,0.00
...,...,...,...,...,...,...,...
7197,02/27/22,Tulare,1295.00,277.78,10,0.00,1.57
7198,02/28/22,Tulare,1300.00,278.85,10,5.00,1.71
7199,03/01/22,Tulare,1300.00,278.85,10,0.00,1.71
7200,03/02/22,Tulare,1302.00,279.28,10,2.00,1.64
7201,03/03/22,Tulare,1302.00,279.28,10,0.00,1.36

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)