In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr2022_df['date'] = pd.to_datetime(yr2022_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2479313,2022-06-07,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2479314,2022-06-08,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2479315,2022-06-09,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2479316,2022-06-10,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2479317,2022-06-11,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
63495,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
63497,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
63499,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
63501,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
63503,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1499268,2022-06-07,Arkansas,Arkansas,5001,5733,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1499270,2022-06-08,Arkansas,Arkansas,5001,5743,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1499272,2022-06-09,Arkansas,Arkansas,5001,5744,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1499274,2022-06-10,Arkansas,Arkansas,5001,5748,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1499276,2022-06-11,Arkansas,Arkansas,5001,5754,78.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2479313,2022-06-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2479314,2022-06-08,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2479315,2022-06-09,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2479316,2022-06-10,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2479317,2022-06-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-06-11') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
872,2022-06-11,Snohomish,Washington,168627,1171.00,53061,WA,County,822083,20512.16,142.44
1742,2022-06-11,Cook,Illinois,1255885,15002.00,17031,IL,County,5150233,24385.01,291.29
2611,2022-06-11,Orange,California,628654,7068.00,6059,CA,County,3175692,19795.81,222.57
3479,2022-06-11,Maricopa,Arizona,1314887,17414.00,4013,AZ,County,4485414,29314.73,388.24
4347,2022-06-11,Los Angeles,California,3026398,32201.00,6037,CA,County,10039107,30146.09,320.76
...,...,...,...,...,...,...,...,...,...,...,...
2477013,2022-06-11,Wheeler,Oregon,253,3.00,41069,OR,County,1332,18993.99,225.23
2477620,2022-06-11,King,Texas,52,0.00,48269,TX,County,272,19117.65,0.00
2478196,2022-06-11,Esmeralda,Nevada,108,3.00,32009,NV,County,873,12371.13,343.64
2478768,2022-06-11,Loving,Texas,216,1.00,48301,TX,County,169,127810.65,591.72
2479317,2022-06-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
872,2022-06-11,Snohomish,Washington,168627,1171.00,53061,WA,County,822083,20512.16,142.44,142.44,20512.16
1742,2022-06-11,Cook,Illinois,1255885,15002.00,17031,IL,County,5150233,24385.01,291.29,291.29,24385.01
2611,2022-06-11,Orange,California,628654,7068.00,6059,CA,County,3175692,19795.81,222.57,222.57,19795.81
3479,2022-06-11,Maricopa,Arizona,1314887,17414.00,4013,AZ,County,4485414,29314.73,388.24,388.24,29314.73
4347,2022-06-11,Los Angeles,California,3026398,32201.00,6037,CA,County,10039107,30146.09,320.76,320.76,30146.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477013,2022-06-11,Wheeler,Oregon,253,3.00,41069,OR,County,1332,18993.99,225.23,225.23,18993.99
2477620,2022-06-11,King,Texas,52,0.00,48269,TX,County,272,19117.65,0.00,0.00,19117.65
2478196,2022-06-11,Esmeralda,Nevada,108,3.00,32009,NV,County,873,12371.13,343.64,343.64,12371.13
2478768,2022-06-11,Loving,Texas,216,1.00,48301,TX,County,169,127810.65,591.72,591.72,127810.65
2479317,2022-06-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1568503,2022-06-11,Hale,Alabama,4828,106.00,1065,AL,County,14651,32953.38,723.50,723.50,32953.38,1
1322652,2022-06-11,Winston,Alabama,7638,132.00,1133,AL,County,23629,32324.69,558.64,558.64,32324.69,2
908286,2022-06-11,Franklin,Alabama,9970,139.00,1059,AL,County,31362,31790.06,443.21,443.21,31790.06,3
1080894,2022-06-11,Clay,Alabama,4133,82.00,1027,AL,County,13235,31227.81,619.57,619.57,31227.81,4
1567699,2022-06-11,Fayette,Alabama,5018,96.00,1057,AL,County,16302,30781.50,588.88,588.88,30781.50,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318617,2022-06-11,Johnson,Wyoming,1891,19.00,56019,WY,County,8445,22391.95,224.99,224.99,22391.95,19
2119116,2022-06-11,Big Horn,Wyoming,2625,62.00,56003,WY,County,11790,22264.63,525.87,525.87,22264.63,20
1865320,2022-06-11,Lincoln,Wyoming,4036,31.00,56023,WY,County,19830,20353.00,156.33,156.33,20353.00,21
1496861,2022-06-11,Sublette,Wyoming,1948,27.00,56035,WY,County,9831,19814.87,274.64,274.64,19814.87,22
1902873,2022-06-11,Crook,Wyoming,1362,29.00,56011,WY,County,7584,17958.86,382.38,382.38,17958.86,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1224081,2022-06-11,Lowndes,Alabama,2664,77.00,1085,AL,County,9726,27390.50,791.69,791.69,27390.50,31,1
1222465,2022-06-11,Crenshaw,Alabama,3882,100.00,1041,AL,County,13772,28187.63,726.11,726.11,28187.63,23,2
1568503,2022-06-11,Hale,Alabama,4828,106.00,1065,AL,County,14651,32953.38,723.50,723.50,32953.38,1,3
516953,2022-06-11,Walker,Alabama,18918,447.00,1127,AL,County,63521,29782.28,703.70,703.70,29782.28,9,4
1078467,2022-06-11,Butler,Alabama,5139,129.00,1013,AL,County,19448,26424.31,663.31,663.31,26424.31,39,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318617,2022-06-11,Johnson,Wyoming,1891,19.00,56019,WY,County,8445,22391.95,224.99,224.99,22391.95,19,19
1818120,2022-06-11,Uinta,Wyoming,5702,39.00,56041,WY,County,20226,28191.44,192.82,192.82,28191.44,7,20
1865320,2022-06-11,Lincoln,Wyoming,4036,31.00,56023,WY,County,19830,20353.00,156.33,156.33,20353.00,21,21
1219233,2022-06-11,Albany,Wyoming,10176,49.00,56001,WY,County,38880,26172.84,126.03,126.03,26172.84,14,22
514508,2022-06-11,Teton,Wyoming,10403,16.00,56039,WY,County,23464,44336.00,68.19,68.19,44336.00,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,142.44,20512.16,31,17
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,142.44,20512.16,31,17
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,142.44,20512.16,31,17
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,142.44,20512.16,31,17
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,142.44,20512.16,31,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2473608,2022-06-07,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2473609,2022-06-08,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2473610,2022-06-09,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2473611,2022-06-10,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2473612,2022-06-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1561995,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32953.38,3,1,1.00,nan
1561996,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32953.38,3,1,0.00,nan
1561997,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32953.38,3,1,0.00,nan
1561998,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32953.38,3,1,0.00,nan
1561999,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,723.50,32953.38,3,1,2.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897164,2022-06-07,Crook,Wyoming,1362,29.00,56011,WY,County,7584,17958.86,382.38,382.38,17958.86,10,23,6.00,0.64
1897165,2022-06-08,Crook,Wyoming,1362,29.00,56011,WY,County,7584,17958.86,382.38,382.38,17958.86,10,23,0.00,0.64
1897166,2022-06-09,Crook,Wyoming,1362,29.00,56011,WY,County,7584,17958.86,382.38,382.38,17958.86,10,23,0.00,0.64
1897167,2022-06-10,Crook,Wyoming,1362,29.00,56011,WY,County,7584,17958.86,382.38,382.38,17958.86,10,23,0.00,0.64
1897168,2022-06-11,Crook,Wyoming,1362,29.00,56011,WY,County,7584,17958.86,382.38,382.38,17958.86,10,23,0.00,0.64

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa['14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa['deaths'] = usa['deaths'].astype(int)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1219181,2020-03-26,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,791.69,27390.50,1,31,1.00,42.36,0.00,nan
1219182,2020-03-27,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,791.69,27390.50,1,31,0.00,42.36,0.00,nan
1219183,2020-03-28,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,791.69,27390.50,1,31,0.00,31.14,0.00,nan
1219184,2020-03-29,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,791.69,27390.50,1,31,0.00,26.86,0.00,nan
1219185,2020-03-30,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,791.69,27390.50,1,31,0.00,24.50,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511220,2022-06-07,Teton,Wyoming,10403,16,56039,WY,County,23464,44336.00,68.19,68.19,44336.00,23,1,174.00,16.86,0.00,0.00
511221,2022-06-08,Teton,Wyoming,10403,16,56039,WY,County,23464,44336.00,68.19,68.19,44336.00,23,1,0.00,16.86,0.00,0.00
511222,2022-06-09,Teton,Wyoming,10403,16,56039,WY,County,23464,44336.00,68.19,68.19,44336.00,23,1,0.00,16.86,0.00,0.00
511223,2022-06-10,Teton,Wyoming,10403,16,56039,WY,County,23464,44336.00,68.19,68.19,44336.00,23,1,0.00,16.86,0.00,0.00
511224,2022-06-11,Teton,Wyoming,10403,16,56039,WY,County,23464,44336.00,68.19,68.19,44336.00,23,1,0.00,16.86,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-06-11') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
617981,2022-06-11,Imperial,California,68429,940,6025,CA,County,181215,37761.22,518.72,518.72,37761.22,1,1,0.00,71.57,0.00,0.14
94071,2022-06-11,Shasta,California,37810,655,6089,CA,County,180080,20996.22,363.73,363.73,20996.22,2,33,0.00,29.36,0.00,0.14
306109,2022-06-11,San Bernardino,California,613564,7708,6071,CA,County,2180085,28144.04,353.56,353.56,28144.04,3,7,0.00,660.50,0.00,7.00
1497596,2022-06-11,Tuolumne,California,14324,189,6109,CA,County,54478,26293.18,346.93,346.93,26293.18,4,12,0.00,19.57,0.00,0.00
4347,2022-06-11,Los Angeles,California,3026398,32201,6037,CA,County,10039107,30146.09,320.76,320.76,30146.09,5,4,0.00,4572.93,0.00,6.00
169026,2022-06-11,Tulare,California,139846,1495,6107,CA,County,466195,29997.32,320.68,320.68,29997.32,6,5,0.00,160.14,0.00,0.79
1817215,2022-06-11,Tehama,California,15065,205,6103,CA,County,65084,23147.01,314.98,314.98,23147.01,7,22,0.00,12.93,0.00,0.07
1087318,2022-06-11,Inyo,California,4804,56,6027,CA,County,18039,26631.19,310.44,310.44,26631.19,8,9,0.00,5.57,0.00,0.00
136109,2022-06-11,Stanislaus,California,140687,1694,6099,CA,County,550660,25548.80,307.63,307.63,25548.80,9,15,0.00,171.79,0.00,0.00
984465,2022-06-11,Merced,California,73602,825,6047,CA,County,277680,26506.05,297.10,297.10,26506.05,10,11,0.00,76.93,0.00,0.07
108095,2022-06-11,San Joaquin,California,186266,2244,6077,CA,County,762148,24439.61,294.43,294.43,24439.61,11,18,0.00,276.93,0.00,0.21
1320980,2022-06-11,Kings,California,56711,448,6031,CA,County,152940,37080.55,292.93,292.93,37080.55,12,2,0.00,53.14,0.00,0.07
61013,2022-06-11,Fresno,California,265476,2766,6019,CA,County,999101,26571.49,276.85,276.85,26571.49,13,10,0.00,328.71,0.00,0.14
385497,2022-06-11,Kern,California,250899,2452,6029,CA,County,900202,27871.41,272.38,272.38,27871.41,14,8,0.00,262.14,0.00,0.21
983655,2022-06-11,Calaveras,California,8008,122,6009,CA,County,45905,17444.72,265.77,265.77,17444.72,15,51,0.00,10.57,0.00,0.14
62667,2022-06-11,Riverside,California,645557,6539,6065,CA,County,2470546,26130.13,264.68,264.68,26130.13,16,13,0.00,698.71,0.00,0.07
732749,2022-06-11,Siskiyou,California,7695,107,6093,CA,County,43539,17673.81,245.76,245.76,17673.81,17,50,0.00,6.36,0.00,0.07
1088127,2022-06-11,Sutter,California,23794,234,6101,CA,County,96971,24537.23,241.31,241.31,24537.23,18,16,0.00,29.29,0.00,0.00
61840,2022-06-11,Madera,California,45012,372,6039,CA,County,157327,28610.47,236.45,236.45,28610.47,19,6,0.00,53.64,0.00,0.07
1412167,2022-06-11,Glenn,California,6760,67,6021,CA,County,28393,23808.69,235.97,235.97,23808.69,20,20,0.00,5.14,0.00,0.00
2330458,2022-06-11,Lassen,California,10963,69,6035,CA,County,30573,35858.44,225.69,225.69,35858.44,21,3,0.00,10.57,0.00,0.00
2611,2022-06-11,Orange,California,628654,7068,6059,CA,County,3175692,19795.81,222.57,222.57,19795.81,22,38,0.00,1110.86,0.00,2.43
617167,2022-06-11,Amador,California,9560,87,6005,CA,County,39752,24049.10,218.86,218.86,24049.10,23,19,0.00,13.36,0.00,0.07
1929880,2022-06-11,Lake,California,12151,139,6033,CA,County,64386,18872.12,215.89,215.89,18872.12,24,46,0.00,18.64,0.00,0.14
12026,2022-06-11,Sacramento,California,332917,3211,6067,CA,County,1552058,21450.04,206.89,206.89,21450.04,25,29,0.00,716.43,0.00,2.07
2233359,2022-06-11,Mariposa,California,3468,35,6043,CA,County,17203,20159.27,203.45,203.45,20159.27,26,35,0.00,13.14,0.00,0.00
731123,2022-06-11,Butte,California,41788,427,6007,CA,County,219186,19065.09,194.81,194.81,19065.09,27,43,0.00,69.64,0.00,0.07
1757947,2022-06-11,Del Norte,California,6805,52,6015,CA,County,27812,24467.86,186.97,186.97,24467.86,28,17,0.00,9.64,0.00,0.07
108919,2022-06-11,Ventura,California,194236,1510,6111,CA,County,846006,22959.18,178.49,178.49,22959.18,29,23,0.00,284.79,0.00,0.43
386314,2022-06-11,Monterey,California,99456,749,6053,CA,County,434061,22912.91,172.56,172.56,22912.91,30,25,0.00,168.64,0.00,0.21
256094,2022-06-11,San Luis Obispo,California,61032,485,6079,CA,County,283111,21557.62,171.31,171.31,21557.62,31,28,0.00,143.29,0.00,0.29
2294947,2022-06-11,Trinity,California,1512,20,6105,CA,County,12285,12307.69,162.80,162.80,12307.69,32,55,0.00,1.29,0.00,0.00
8644,2022-06-11,San Diego,California,862923,5315,6073,CA,County,3338330,25848.94,159.21,159.21,25848.94,33,14,0.00,1493.79,0.00,1.93
22054,2022-06-11,Placer,California,75316,628,6061,CA,County,398329,18907.99,157.66,157.66,18907.99,34,45,0.00,134.00,0.00,0.14
210942,2022-06-11,San Benito,California,14417,99,6069,CA,County,62808,22954.08,157.62,157.62,22954.08,35,24,0.00,33.14,0.00,0.07
733562,2022-06-11,Yuba,California,18690,123,6115,CA,County,78668,23758.07,156.35,156.35,23758.07,36,21,0.00,29.36,0.00,0.07
306928,2022-06-11,Santa Barbara,California,97397,694,6083,CA,County,446499,21813.49,155.43,155.43,21813.49,37,27,0.00,172.00,0.00,0.07
41142,2022-06-11,Yolo,California,43774,323,6113,CA,County,220500,19852.15,146.49,146.49,19852.15,38,37,0.00,95.43,0.00,0.29
443496,2022-06-11,Mendocino,California,17441,127,6045,CA,County,86749,20105.13,146.40,146.40,20105.13,39,36,0.00,31.71,0.00,0.21
2325953,2022-06-11,Sierra,California,334,4,6091,CA,County,3005,11114.81,133.11,133.11,11114.81,40,58,0.00,0.14,0.00,0.00
349510,2022-06-11,Nevada,California,18323,127,6057,CA,County,99755,18368.00,127.31,127.31,18368.00,41,48,0.00,32.93,0.00,0.00
5210,2022-06-11,Santa Clara,California,375317,2323,6085,CA,County,1927852,19468.14,120.50,120.50,19468.14,42,42,0.00,1195.21,0.00,1.29
27045,2022-06-11,Contra Costa,California,226595,1315,6013,CA,County,1153526,19643.68,114.00,114.00,19643.68,43,39,0.00,600.14,0.00,0.64
15379,2022-06-11,Marin,California,42896,294,6041,CA,County,258826,16573.30,113.59,113.59,16573.30,44,53,0.00,134.79,0.00,0.07
19556,2022-06-11,Alameda,California,308548,1898,6001,CA,County,1671329,18461.24,113.56,113.56,18461.24,45,47,0.00,860.79,0.00,1.07
731936,2022-06-11,El Dorado,California,32106,215,6017,CA,County,192843,16648.78,111.49,111.49,16648.78,46,52,0.00,60.79,0.00,0.07
11184,2022-06-11,Humboldt,California,22382,148,6023,CA,County,135558,16511.01,109.18,109.18,16511.01,47,54,0.00,44.00,0.00,0.07
16216,2022-06-11,Napa,California,29388,143,6055,CA,County,137744,21335.23,103.82,103.82,21335.23,48,32,0.00,64.36,0.00,-0.07
12865,2022-06-11,Solano,California,95682,453,6095,CA,County,447643,21374.62,101.20,101.20,21374.62,49,31,0.00,223.21,0.00,0.07
6933,2022-06-11,San Francisco,California,159183,890,6075,CA,County,881549,18057.19,100.96,100.96,18057.19,50,49,0.00,519.43,0.00,0.79
17053,2022-06-11,Sonoma,California,97027,494,6097,CA,County,494336,19627.74,99.93,99.93,19627.74,51,41,0.00,228.14,0.00,0.07
22886,2022-06-11,San Mateo,California,150508,766,6081,CA,County,766573,19633.88,99.93,99.93,19633.88,52,40,0.00,461.57,0.00,0.57
1320173,2022-06-11,Colusa,California,4620,21,6011,CA,County,21547,21441.50,97.46,97.46,21441.50,53,30,0.00,3.43,0.00,0.00
63494,2022-06-11,Santa Cruz,California,55687,264,6087,CA,County,273213,20382.27,96.63,96.63,20382.27,54,34,0.00,104.93,0.00,0.07
2455709,2022-06-11,Modoc,California,1025,8,6049,CA,County,8841,11593.71,90.49,90.49,11593.71,55,56,0.00,1.36,0.00,0.00
1642391,2022-06-11,Plumas,California,3559,13,6063,CA,County,18807,18923.80,69.12,69.12,18923.80,56,44,0.00,6.21,0.00,0.00
985275,2022-06-11,Mono,California,3225,6,6051,CA,County,14444,22327.61,41.54,41.54,22327.61,57,26,0.00,2.36,0.00,0.00
1566818,2022-06-11,Alpine,California,130,0,6003,CA,County,1129,11514.61,0.00,0.00,11514.61,58,57,0.00,0.21,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
617981,2022-06-11,Imperial,California,68429,940,6025,CA,County,181215,37761.22,518.72,518.72,37761.22,1,1,0.00,71.57,0.00,0.14
1320980,2022-06-11,Kings,California,56711,448,6031,CA,County,152940,37080.55,292.93,292.93,37080.55,12,2,0.00,53.14,0.00,0.07
2330458,2022-06-11,Lassen,California,10963,69,6035,CA,County,30573,35858.44,225.69,225.69,35858.44,21,3,0.00,10.57,0.00,0.00
4347,2022-06-11,Los Angeles,California,3026398,32201,6037,CA,County,10039107,30146.09,320.76,320.76,30146.09,5,4,0.00,4572.93,0.00,6.00
169026,2022-06-11,Tulare,California,139846,1495,6107,CA,County,466195,29997.32,320.68,320.68,29997.32,6,5,0.00,160.14,0.00,0.79
61840,2022-06-11,Madera,California,45012,372,6039,CA,County,157327,28610.47,236.45,236.45,28610.47,19,6,0.00,53.64,0.00,0.07
306109,2022-06-11,San Bernardino,California,613564,7708,6071,CA,County,2180085,28144.04,353.56,353.56,28144.04,3,7,0.00,660.50,0.00,7.00
385497,2022-06-11,Kern,California,250899,2452,6029,CA,County,900202,27871.41,272.38,272.38,27871.41,14,8,0.00,262.14,0.00,0.21
1087318,2022-06-11,Inyo,California,4804,56,6027,CA,County,18039,26631.19,310.44,310.44,26631.19,8,9,0.00,5.57,0.00,0.00
61013,2022-06-11,Fresno,California,265476,2766,6019,CA,County,999101,26571.49,276.85,276.85,26571.49,13,10,0.00,328.71,0.00,0.14

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
617981,2022-06-11,Imperial,California,68429,940,6025,CA,County,181215,37761.22,518.72,518.72,37761.22,1,1,0.00,71.57,0.00,0.14
94071,2022-06-11,Shasta,California,37810,655,6089,CA,County,180080,20996.22,363.73,363.73,20996.22,2,33,0.00,29.36,0.00,0.14
306109,2022-06-11,San Bernardino,California,613564,7708,6071,CA,County,2180085,28144.04,353.56,353.56,28144.04,3,7,0.00,660.50,0.00,7.00
1497596,2022-06-11,Tuolumne,California,14324,189,6109,CA,County,54478,26293.18,346.93,346.93,26293.18,4,12,0.00,19.57,0.00,0.00
4347,2022-06-11,Los Angeles,California,3026398,32201,6037,CA,County,10039107,30146.09,320.76,320.76,30146.09,5,4,0.00,4572.93,0.00,6.00
169026,2022-06-11,Tulare,California,139846,1495,6107,CA,County,466195,29997.32,320.68,320.68,29997.32,6,5,0.00,160.14,0.00,0.79
1817215,2022-06-11,Tehama,California,15065,205,6103,CA,County,65084,23147.01,314.98,314.98,23147.01,7,22,0.00,12.93,0.00,0.07
1087318,2022-06-11,Inyo,California,4804,56,6027,CA,County,18039,26631.19,310.44,310.44,26631.19,8,9,0.00,5.57,0.00,0.00
136109,2022-06-11,Stanislaus,California,140687,1694,6099,CA,County,550660,25548.80,307.63,307.63,25548.80,9,15,0.00,171.79,0.00,0.00
984465,2022-06-11,Merced,California,73602,825,6047,CA,County,277680,26506.05,297.10,297.10,26506.05,10,11,0.00,76.93,0.00,0.07

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df['case_day'] = top10_ca_case_df['case_day'].astype(int)
top10_ca_case_df['date'] =  pd.to_datetime(top10_ca_case_df['date'], infer_datetime_format=True)
top10_ca_case_df = top10_ca_case_df[(top10_ca_case_df['date'] > "2020-04-30")]
top10_ca_case_df

           date    county  cases  current_crate  case_day  14day_case_avg
42   2020-05-01  Imperial    358         197.56        25           14.50
43   2020-05-02  Imperial    358         197.56         0           14.50
44   2020-05-03  Imperial    358         197.56         0           14.14
45   2020-05-04  Imperial    379         209.14        21           15.64
46   2020-05-05  Imperial    400         220.73        21           14.64
...         ...       ...    ...            ...       ...             ...
8155 2022-06-07    Lassen  10940       35783.21        37            9.79
8156 2022-06-08    Lassen  10940       35783.21         0            8.93
8157 2022-06-09    Lassen  10955       35832.27        15           10.00
8158 2022-06-10    Lassen  10963       35858.44         8           10.57
8159 2022-06-11    Lassen  10963       35858.44         0           10.57

[7698 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df['death_day'] = top10_ca_death_df['death_day'].astype(int)
top10_ca_death_df['date'] =  pd.to_datetime(top10_ca_death_df['date'], infer_datetime_format=True)
top10_ca_death_df

           date    county  deaths  current_drate  death_day  14day_death_avg
0    2020-03-20  Imperial       0           0.00          0             0.07
1    2020-03-21  Imperial       0           0.00          0             0.07
2    2020-03-22  Imperial       0           0.00          0             0.07
3    2020-03-23  Imperial       0           0.00          0             0.07
4    2020-03-24  Imperial       0           0.00          0             0.07
...         ...       ...     ...            ...        ...              ...
8190 2022-06-07    Merced     825         297.10          0             0.14
8191 2022-06-08    Merced     825         297.10          0             0.14
8192 2022-06-09    Merced     825         297.10          0             0.14
8193 2022-06-10    Merced     825         297.10          0             0.07
8194 2022-06-11    Merced     825         297.10          0             0.07

[8195 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)