In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1475561,2021-07-18,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1475562,2021-07-19,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1475563,2021-07-20,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1475564,2021-07-21,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1475565,2021-07-22,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
38871,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
38873,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
38875,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
38877,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
38879,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
902784,2021-07-18,Arkansas,Arkansas,5001,2358,40.00,5000,Arkansas,AR,Arkansas,State,3017804
902786,2021-07-19,Arkansas,Arkansas,5001,2397,39.00,5000,Arkansas,AR,Arkansas,State,3017804
902788,2021-07-20,Arkansas,Arkansas,5001,2412,39.00,5000,Arkansas,AR,Arkansas,State,3017804
902790,2021-07-21,Arkansas,Arkansas,5001,2418,39.00,5000,Arkansas,AR,Arkansas,State,3017804
902792,2021-07-22,Arkansas,Arkansas,5001,2425,39.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1475561,2021-07-18,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1475562,2021-07-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1475563,2021-07-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1475564,2021-07-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1475565,2021-07-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-07-22') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
548,2021-07-22,Snohomish,Washington,41695,614.00,53061,WA,County,822083,5071.87,74.69
1094,2021-07-22,Cook,Illinois,560675,11107.00,17031,IL,County,5150233,10886.40,215.66
1639,2021-07-22,Orange,California,278209,5139.00,6059,CA,County,3175692,8760.58,161.82
2183,2021-07-22,Maricopa,Arizona,572062,10403.00,4013,AZ,County,4485414,12753.83,231.93
2727,2021-07-22,Los Angeles,California,1276818,24609.00,6037,CA,County,10039107,12718.44,245.13
...,...,...,...,...,...,...,...,...,...,...,...
1474557,2021-07-22,Wheeler,Oregon,35,1.00,41069,OR,County,1332,2627.63,75.08
1474840,2021-07-22,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00
1475092,2021-07-22,Esmeralda,Nevada,40,0.00,32009,NV,County,873,4581.90,0.00
1475340,2021-07-22,Loving,Texas,3,0.00,48301,TX,County,169,1775.15,0.00
1475565,2021-07-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
548,2021-07-22,Snohomish,Washington,41695,614.00,53061,WA,County,822083,5071.87,74.69,74.69,5071.87
1094,2021-07-22,Cook,Illinois,560675,11107.00,17031,IL,County,5150233,10886.40,215.66,215.66,10886.40
1639,2021-07-22,Orange,California,278209,5139.00,6059,CA,County,3175692,8760.58,161.82,161.82,8760.58
2183,2021-07-22,Maricopa,Arizona,572062,10403.00,4013,AZ,County,4485414,12753.83,231.93,231.93,12753.83
2727,2021-07-22,Los Angeles,California,1276818,24609.00,6037,CA,County,10039107,12718.44,245.13,245.13,12718.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1474557,2021-07-22,Wheeler,Oregon,35,1.00,41069,OR,County,1332,2627.63,75.08,75.08,2627.63
1474840,2021-07-22,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00,0.00,4044.12
1475092,2021-07-22,Esmeralda,Nevada,40,0.00,32009,NV,County,873,4581.90,0.00,0.00,4581.90
1475340,2021-07-22,Loving,Texas,3,0.00,48301,TX,County,169,1775.15,0.00,0.00,1775.15
1475565,2021-07-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
944155,2021-07-22,Hale,Alabama,2305,78.00,1065,AL,County,14651,15732.71,532.39,532.39,15732.71,1
1028075,2021-07-22,Clarke,Alabama,3615,62.00,1025,AL,County,23622,15303.53,262.47,262.47,15303.53,2
738081,2021-07-22,Lowndes,Alabama,1438,54.00,1085,AL,County,9726,14785.11,555.21,555.21,14785.11,3
654182,2021-07-22,Etowah,Alabama,14563,368.00,1055,AL,County,102268,14240.04,359.84,359.84,14240.04,4
548646,2021-07-22,Franklin,Alabama,4397,81.00,1059,AL,County,31362,14020.15,258.27,258.27,14020.15,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901349,2021-07-22,Sublette,Wyoming,833,7.00,56035,WY,County,9831,8473.20,71.20,71.20,8473.20,19
900867,2021-07-22,Converse,Wyoming,1096,19.00,56009,WY,County,13822,7929.39,137.46,137.46,7929.39,20
1121092,2021-07-22,Lincoln,Wyoming,1486,14.00,56023,WY,County,19830,7493.70,70.60,70.60,7493.70,21
1248618,2021-07-22,Niobrara,Wyoming,164,3.00,56027,WY,County,2356,6960.95,127.33,127.33,6960.95,22
1143417,2021-07-22,Crook,Wyoming,469,13.00,56011,WY,County,7584,6184.07,171.41,171.41,6184.07,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
738081,2021-07-22,Lowndes,Alabama,1438,54.00,1085,AL,County,9726,14785.11,555.21,555.21,14785.11,3,1
944155,2021-07-22,Hale,Alabama,2305,78.00,1065,AL,County,14651,15732.71,532.39,532.39,15732.71,1,2
313157,2021-07-22,Walker,Alabama,7545,286.00,1127,AL,County,63521,11877.96,450.24,450.24,11877.96,29,3
652242,2021-07-22,Clay,Alabama,1618,59.00,1027,AL,County,13235,12225.16,445.79,445.79,12225.16,23,4
653697,2021-07-22,Dallas,Alabama,3674,163.00,1047,AL,County,37196,9877.41,438.22,438.22,9877.41,55,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121092,2021-07-22,Lincoln,Wyoming,1486,14.00,56023,WY,County,19830,7493.70,70.60,70.60,7493.70,21,19
794225,2021-07-22,Hot Springs,Wyoming,385,3.00,56017,WY,County,4413,8724.22,67.98,67.98,8724.22,17,20
1093008,2021-07-22,Uinta,Wyoming,2368,13.00,56041,WY,County,20226,11707.70,64.27,64.27,11707.70,5,21
311684,2021-07-22,Teton,Wyoming,3865,11.00,56039,WY,County,23464,16472.04,46.88,46.88,16472.04,1,22
735177,2021-07-22,Albany,Wyoming,4712,18.00,56001,WY,County,38880,12119.34,46.30,46.30,12119.34,3,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,74.69,5071.87,21,25
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,74.69,5071.87,21,25
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,74.69,5071.87,21,25
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,74.69,5071.87,21,25
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,74.69,5071.87,21,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472124,2021-07-18,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1472125,2021-07-19,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1472126,2021-07-20,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1472127,2021-07-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1472128,2021-07-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
940239,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15732.71,2,1,1.00
940240,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15732.71,2,1,0.00
940241,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15732.71,2,1,0.00
940242,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,532.39,15732.71,2,1,0.00
940243,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,532.39,15732.71,2,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139976,2021-07-18,Crook,Wyoming,467,13.00,56011,WY,County,7584,6157.70,171.41,171.41,6184.07,6,23,0.00
1139977,2021-07-19,Crook,Wyoming,468,13.00,56011,WY,County,7584,6170.89,171.41,171.41,6184.07,6,23,1.00
1139978,2021-07-20,Crook,Wyoming,469,13.00,56011,WY,County,7584,6184.07,171.41,171.41,6184.07,6,23,1.00
1139979,2021-07-21,Crook,Wyoming,469,13.00,56011,WY,County,7584,6184.07,171.41,171.41,6184.07,6,23,0.00
1139980,2021-07-22,Crook,Wyoming,469,13.00,56011,WY,County,7584,6184.07,171.41,171.41,6184.07,6,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
735125,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14785.11,1,3,1.00,0.00
735126,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14785.11,1,3,0.00,0.00
735127,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14785.11,1,3,0.00,0.00
735128,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14785.11,1,3,0.00,0.00
735129,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,555.21,14785.11,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732700,2021-07-18,Albany,Wyoming,4697,17.00,56001,WY,County,38880,12080.76,43.72,46.30,12119.34,23,3,0.00,0.00
732701,2021-07-19,Albany,Wyoming,4706,17.00,56001,WY,County,38880,12103.91,43.72,46.30,12119.34,23,3,9.00,0.00
732702,2021-07-20,Albany,Wyoming,4709,18.00,56001,WY,County,38880,12111.63,46.30,46.30,12119.34,23,3,3.00,1.00
732703,2021-07-21,Albany,Wyoming,4711,18.00,56001,WY,County,38880,12116.77,46.30,46.30,12119.34,23,3,2.00,0.00
732704,2021-07-22,Albany,Wyoming,4712,18.00,56001,WY,County,38880,12119.34,46.30,46.30,12119.34,23,3,1.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-07-22') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
374009,2021-07-22,Imperial,California,28964,741.00,6025,CA,County,181215,15983.22,408.91,408.91,15983.22,1,2,31.00,0.00
2727,2021-07-22,Los Angeles,California,1276818,24609.00,6037,CA,County,10039107,12718.44,245.13,245.13,12718.44,2,5,2747.00,6.00
185905,2021-07-22,San Bernardino,California,303673,5230.00,6071,CA,County,2180085,13929.41,239.90,239.90,13929.41,3,4,323.00,-1.00
656074,2021-07-22,Inyo,California,1446,38.00,6027,CA,County,18039,8015.97,210.65,210.65,8015.97,4,25,0.00,0.00
82973,2021-07-22,Stanislaus,California,64912,1084.00,6099,CA,County,550660,11788.04,196.85,196.85,11788.04,5,9,120.00,1.00
65975,2021-07-22,San Joaquin,California,76034,1446.00,6077,CA,County,762148,9976.28,189.73,189.73,9976.28,6,17,0.00,0.00
38367,2021-07-22,Riverside,California,304512,4657.00,6065,CA,County,2470546,12325.70,188.50,188.50,12325.70,7,7,452.00,0.00
102930,2021-07-22,Tulare,California,50074,854.00,6107,CA,County,466195,10741.00,183.19,183.19,10741.00,8,11,0.00,0.00
594369,2021-07-22,Merced,California,32814,484.00,6047,CA,County,277680,11817.20,174.30,174.30,11817.20,9,8,0.00,0.00
37361,2021-07-22,Fresno,California,103504,1736.00,6019,CA,County,999101,10359.71,173.76,173.76,10359.71,10,14,66.00,0.00
796100,2021-07-22,Kings,California,23366,248.00,6031,CA,County,152940,15277.89,162.16,162.16,15277.89,11,3,81.00,0.00
1639,2021-07-22,Orange,California,278209,5139.00,6059,CA,County,3175692,8760.58,161.82,161.82,8760.58,12,22,364.00,0.00
37864,2021-07-22,Madera,California,16858,248.00,6039,CA,County,157327,10715.26,157.63,157.63,10715.26,13,12,2.00,0.00
233865,2021-07-22,Kern,California,112063,1416.00,6029,CA,County,900202,12448.65,157.30,157.30,12448.65,14,6,0.00,0.00
57459,2021-07-22,Shasta,California,12786,242.00,6089,CA,County,180080,7100.18,134.38,134.38,7100.18,15,34,20.00,0.00
901760,2021-07-22,Tuolumne,California,4334,73.00,6109,CA,County,54478,7955.50,134.00,134.00,7955.50,16,26,14.00,0.00
593883,2021-07-22,Calaveras,California,2257,58.00,6009,CA,County,45905,4916.68,126.35,126.35,4916.68,17,52,1.00,0.00
66475,2021-07-22,Ventura,California,82734,1041.00,6111,CA,County,846006,9779.36,123.05,123.05,9779.36,18,19,0.00,0.00
373519,2021-07-22,Amador,California,3812,48.00,6005,CA,County,39752,9589.45,120.75,120.75,9589.45,19,20,6.00,0.00
234358,2021-07-22,Monterey,California,44273,524.00,6053,CA,County,434061,10199.72,120.72,120.72,10199.72,20,16,30.00,6.00
656559,2021-07-22,Sutter,California,9965,114.00,6101,CA,County,96971,10276.27,117.56,117.56,10276.27,21,15,14.00,0.00
7490,2021-07-22,Sacramento,California,112500,1766.00,6067,CA,County,1552058,7248.44,113.78,113.78,7248.44,22,33,357.00,2.00
5404,2021-07-22,San Diego,California,288745,3787.00,6073,CA,County,3338330,8649.38,113.44,113.44,8649.38,23,24,473.00,1.00
3266,2021-07-22,Santa Clara,California,121553,2100.00,6085,CA,County,1927852,6305.10,108.93,108.93,6305.10,24,39,249.00,1.00
186400,2021-07-22,Santa Barbara,California,35189,465.00,6083,CA,County,446499,7881.09,104.14,104.14,7881.09,25,29,73.00,3.00
128322,2021-07-22,San Benito,California,6196,63.00,6069,CA,County,62808,9864.99,100.31,100.31,9864.99,26,18,0.00,0.00
1092427,2021-07-22,Tehama,California,5161,65.00,6103,CA,County,65084,7929.75,99.87,99.87,7929.75,27,27,8.00,0.00
1159408,2021-07-22,Lake,California,3896,64.00,6033,CA,County,64386,6051.00,99.40,99.40,6051.00,28,41,25.00,0.00
25266,2021-07-22,Yolo,California,14525,213.00,6113,CA,County,220500,6587.30,96.60,96.60,6587.30,29,35,30.00,0.00
850675,2021-07-22,Glenn,California,2998,27.00,6021,CA,County,28393,10558.94,95.09,95.09,10558.94,30,13,5.00,0.00
155654,2021-07-22,San Luis Obispo,California,21717,264.00,6079,CA,County,283111,7670.84,93.25,93.25,7670.84,31,31,0.00,0.00
442115,2021-07-22,Butte,California,12939,203.00,6007,CA,County,219186,5903.21,92.62,92.62,5903.21,32,43,23.00,0.00
9547,2021-07-22,Marin,California,14427,238.00,6041,CA,County,258826,5574.01,91.95,91.95,5574.01,33,48,31.00,4.00
443093,2021-07-22,Siskiyou,California,2527,40.00,6093,CA,County,43539,5803.99,91.87,91.87,5803.99,34,44,18.00,0.00
1394422,2021-07-22,Lassen,California,5866,26.00,6035,CA,County,30573,19186.86,85.04,85.04,19186.86,35,1,3.00,0.00
795617,2021-07-22,Colusa,California,2322,18.00,6011,CA,County,21547,10776.44,83.54,83.54,10776.44,36,10,0.00,0.00
1463297,2021-07-22,Modoc,California,573,7.00,6049,CA,County,8841,6481.17,79.18,79.18,6481.17,37,36,0.00,0.00
13630,2021-07-22,Placer,California,24483,304.00,6061,CA,County,398329,6146.43,76.32,76.32,6146.43,38,40,0.00,0.00
14138,2021-07-22,San Mateo,California,43755,584.00,6081,CA,County,766573,5707.87,76.18,76.18,5707.87,39,45,85.00,0.00
12104,2021-07-22,Alameda,California,93656,1272.00,6001,CA,County,1671329,5603.68,76.11,76.11,5603.68,40,46,274.00,0.00
38870,2021-07-22,Santa Cruz,California,16452,207.00,6087,CA,County,273213,6021.68,75.77,75.77,6021.68,41,42,27.00,0.00
212134,2021-07-22,Nevada,California,5152,75.00,6057,CA,County,99755,5164.65,75.18,75.18,5164.65,42,51,4.00,0.00
16677,2021-07-22,Contra Costa,California,74030,828.00,6013,CA,County,1153526,6417.71,71.78,71.78,6417.71,43,38,368.00,3.00
10573,2021-07-22,Sonoma,California,31905,328.00,6097,CA,County,494336,6454.11,66.35,66.35,6454.11,44,37,30.00,1.00
443582,2021-07-22,Yuba,California,6816,52.00,6115,CA,County,78668,8664.26,66.10,66.10,8664.26,45,23,27.00,0.00
4341,2021-07-22,San Francisco,California,38702,559.00,6075,CA,County,881549,4390.23,63.41,63.41,4390.23,46,53,163.00,1.00
442604,2021-07-22,El Dorado,California,10742,118.00,6017,CA,County,192843,5570.33,61.19,61.19,5570.33,47,49,15.00,0.00
10060,2021-07-22,Napa,California,10210,81.00,6055,CA,County,137744,7412.30,58.80,58.80,7412.30,48,32,18.00,0.00
268860,2021-07-22,Mendocino,California,4571,50.00,6045,CA,County,86749,5269.23,57.64,57.64,5269.23,49,50,38.00,0.00
8005,2021-07-22,Solano,California,34890,258.00,6095,CA,County,447643,7794.16,57.64,57.64,7794.16,50,30,0.00,0.00
1338471,2021-07-22,Mariposa,California,480,7.00,6043,CA,County,17203,2790.21,40.69,40.69,2790.21,51,57,5.00,0.00
6972,2021-07-22,Humboldt,California,4853,53.00,6023,CA,County,135558,3580.02,39.10,39.10,3580.02,52,55,29.00,0.00
594855,2021-07-22,Mono,California,1307,5.00,6051,CA,County,14444,9048.74,34.62,34.62,9048.74,53,21,0.00,0.00
988235,2021-07-22,Plumas,California,742,6.00,6063,CA,County,18807,3945.34,31.90,31.90,3945.34,54,54,0.00,0.00
1057135,2021-07-22,Del Norte,California,1551,8.00,6015,CA,County,27812,5576.73,28.76,28.76,5576.73,55,47,10.00,0.00
1374139,2021-07-22,Trinity,California,346,3.00,6105,CA,County,12285,2816.44,24.42,24.42,2816.44,56,56,1.00,0.00
943118,2021-07-22,Alpine,California,89,0.00,6003,CA,County,1129,7883.08,0.00,0.00,7883.08,57,28,0.00,0.00
1391861,2021-07-22,Sierra,California,64,0.00,6091,CA,County,3005,2129.78,0.00,0.00,2129.78,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1394422,2021-07-22,Lassen,California,5866,26.00,6035,CA,County,30573,19186.86,85.04,85.04,19186.86,35,1,3.00,0.00
374009,2021-07-22,Imperial,California,28964,741.00,6025,CA,County,181215,15983.22,408.91,408.91,15983.22,1,2,31.00,0.00
796100,2021-07-22,Kings,California,23366,248.00,6031,CA,County,152940,15277.89,162.16,162.16,15277.89,11,3,81.00,0.00
185905,2021-07-22,San Bernardino,California,303673,5230.00,6071,CA,County,2180085,13929.41,239.90,239.90,13929.41,3,4,323.00,-1.00
2727,2021-07-22,Los Angeles,California,1276818,24609.00,6037,CA,County,10039107,12718.44,245.13,245.13,12718.44,2,5,2747.00,6.00
233865,2021-07-22,Kern,California,112063,1416.00,6029,CA,County,900202,12448.65,157.30,157.30,12448.65,14,6,0.00,0.00
38367,2021-07-22,Riverside,California,304512,4657.00,6065,CA,County,2470546,12325.70,188.50,188.50,12325.70,7,7,452.00,0.00
594369,2021-07-22,Merced,California,32814,484.00,6047,CA,County,277680,11817.20,174.30,174.30,11817.20,9,8,0.00,0.00
82973,2021-07-22,Stanislaus,California,64912,1084.00,6099,CA,County,550660,11788.04,196.85,196.85,11788.04,5,9,120.00,1.00
795617,2021-07-22,Colusa,California,2322,18.00,6011,CA,County,21547,10776.44,83.54,83.54,10776.44,36,10,0.00,0.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
374009,2021-07-22,Imperial,California,28964,741.00,6025,CA,County,181215,15983.22,408.91,408.91,15983.22,1,2,31.00,0.00
2727,2021-07-22,Los Angeles,California,1276818,24609.00,6037,CA,County,10039107,12718.44,245.13,245.13,12718.44,2,5,2747.00,6.00
185905,2021-07-22,San Bernardino,California,303673,5230.00,6071,CA,County,2180085,13929.41,239.90,239.90,13929.41,3,4,323.00,-1.00
656074,2021-07-22,Inyo,California,1446,38.00,6027,CA,County,18039,8015.97,210.65,210.65,8015.97,4,25,0.00,0.00
82973,2021-07-22,Stanislaus,California,64912,1084.00,6099,CA,County,550660,11788.04,196.85,196.85,11788.04,5,9,120.00,1.00
65975,2021-07-22,San Joaquin,California,76034,1446.00,6077,CA,County,762148,9976.28,189.73,189.73,9976.28,6,17,0.00,0.00
38367,2021-07-22,Riverside,California,304512,4657.00,6065,CA,County,2470546,12325.70,188.50,188.50,12325.70,7,7,452.00,0.00
102930,2021-07-22,Tulare,California,50074,854.00,6107,CA,County,466195,10741.00,183.19,183.19,10741.00,8,11,0.00,0.00
594369,2021-07-22,Merced,California,32814,484.00,6047,CA,County,277680,11817.20,174.30,174.30,11817.20,9,8,0.00,0.00
37361,2021-07-22,Fresno,California,103504,1736.00,6019,CA,County,999101,10359.71,173.76,173.76,10359.71,10,14,66.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...
4897,07/18/21,Colusa,2322,18.00,10776.44,83.54,36,10,0.00,0.00
4898,07/19/21,Colusa,2322,18.00,10776.44,83.54,36,10,0.00,0.00
4899,07/20/21,Colusa,2322,18.00,10776.44,83.54,36,10,0.00,0.00
4900,07/21/21,Colusa,2322,18.00,10776.44,83.54,36,10,0.00,0.00
4901,07/22/21,Colusa,2322,18.00,10776.44,83.54,36,10,0.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...
4998,07/18/21,Fresno,103055,1730.00,10314.77,173.16,10,14,0.00,0.00
4999,07/19/21,Fresno,103298,1731.00,10339.09,173.26,10,14,243.00,1.00
5000,07/20/21,Fresno,103350,1731.00,10344.30,173.26,10,14,52.00,0.00
5001,07/21/21,Fresno,103438,1736.00,10353.11,173.76,10,14,88.00,5.00
5002,07/22/21,Fresno,103504,1736.00,10359.71,173.76,10,14,66.00,0.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)