In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1020155,2021-02-21,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1020156,2021-02-22,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1020157,2021-02-23,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1020158,2021-02-24,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1020159,2021-02-25,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
27699,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
27701,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
27703,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
27705,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
27707,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
632157,2021-02-21,Arkansas,Arkansas,5001,1942,38.00,5000,Arkansas,AR,Arkansas,State,3017804
632159,2021-02-22,Arkansas,Arkansas,5001,1944,38.00,5000,Arkansas,AR,Arkansas,State,3017804
632161,2021-02-23,Arkansas,Arkansas,5001,1949,38.00,5000,Arkansas,AR,Arkansas,State,3017804
632163,2021-02-24,Arkansas,Arkansas,5001,1963,38.00,5000,Arkansas,AR,Arkansas,State,3017804
632165,2021-02-25,Arkansas,Arkansas,5001,1967,38.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1020155,2021-02-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1020156,2021-02-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1020157,2021-02-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1020158,2021-02-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1020159,2021-02-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-02-25') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
401,2021-02-25,Snohomish,Washington,30754,538.00,53061,WA,County,822083,3740.98,65.44
800,2021-02-25,Cook,Illinois,472206,9872.00,17031,IL,County,5150233,9168.63,191.68
1198,2021-02-25,Orange,California,260348,3889.00,6059,CA,County,3175692,8198.15,122.46
1595,2021-02-25,Maricopa,Arizona,508456,9005.00,4013,AZ,County,4485414,11335.77,200.76
1992,2021-02-25,Los Angeles,California,1188101,21102.00,6037,CA,County,10039107,11834.73,210.20
...,...,...,...,...,...,...,...,...,...,...,...
1019739,2021-02-25,Wheeler,Oregon,22,1.00,41069,OR,County,1332,1651.65,75.08
1019875,2021-02-25,King,Texas,13,0.00,48269,TX,County,272,4779.41,0.00
1019980,2021-02-25,Esmeralda,Nevada,37,0.00,32009,NV,County,873,4238.26,0.00
1020081,2021-02-25,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00
1020159,2021-02-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
401,2021-02-25,Snohomish,Washington,30754,538.00,53061,WA,County,822083,3740.98,65.44,65.44,3740.98
800,2021-02-25,Cook,Illinois,472206,9872.00,17031,IL,County,5150233,9168.63,191.68,191.68,9168.63
1198,2021-02-25,Orange,California,260348,3889.00,6059,CA,County,3175692,8198.15,122.46,122.46,8198.15
1595,2021-02-25,Maricopa,Arizona,508456,9005.00,4013,AZ,County,4485414,11335.77,200.76,200.76,11335.77
1992,2021-02-25,Los Angeles,California,1188101,21102.00,6037,CA,County,10039107,11834.73,210.20,210.20,11834.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019739,2021-02-25,Wheeler,Oregon,22,1.00,41069,OR,County,1332,1651.65,75.08,75.08,1651.65
1019875,2021-02-25,King,Texas,13,0.00,48269,TX,County,272,4779.41,0.00,0.00,4779.41
1019980,2021-02-25,Esmeralda,Nevada,37,0.00,32009,NV,County,873,4238.26,0.00,0.00,4238.26
1020081,2021-02-25,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00,0.00,591.72
1020159,2021-02-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
719081,2021-02-25,Clarke,Alabama,3429,49.00,1025,AL,County,23622,14516.13,207.43,207.43,14516.13,1
660886,2021-02-25,Hale,Alabama,2088,68.00,1065,AL,County,14651,14251.59,464.13,464.13,14251.59,2
517581,2021-02-25,Lowndes,Alabama,1306,48.00,1085,AL,County,9726,13427.93,493.52,493.52,13427.93,3
459113,2021-02-25,Etowah,Alabama,13143,319.00,1055,AL,County,102268,12851.53,311.93,311.93,12851.53,4
385476,2021-02-25,Franklin,Alabama,3978,76.00,1059,AL,County,31362,12684.14,242.33,242.33,12684.14,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970188,2021-02-25,Platte,Wyoming,587,11.00,56031,WY,County,8393,6993.92,131.06,131.06,6993.92,19
631163,2021-02-25,Sublette,Wyoming,673,7.00,56035,WY,County,9831,6845.69,71.20,71.20,6845.69,20
871269,2021-02-25,Niobrara,Wyoming,148,2.00,56027,WY,County,2356,6281.83,84.89,84.89,6281.83,21
783433,2021-02-25,Lincoln,Wyoming,1221,11.00,56023,WY,County,19830,6157.34,55.47,55.47,6157.34,22
798849,2021-02-25,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
517581,2021-02-25,Lowndes,Alabama,1306,48.00,1085,AL,County,9726,13427.93,493.52,493.52,13427.93,3,1
660886,2021-02-25,Hale,Alabama,2088,68.00,1065,AL,County,14651,14251.59,464.13,464.13,14251.59,2,2
457761,2021-02-25,Clay,Alabama,1433,54.00,1027,AL,County,13235,10827.35,408.01,408.01,10827.35,21,3
220694,2021-02-25,Walker,Alabama,6504,251.00,1127,AL,County,63521,10239.13,395.14,395.14,10239.13,32,4
558018,2021-02-25,Greene,Alabama,870,32.00,1063,AL,County,8111,10726.17,394.53,394.53,10726.17,23,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556673,2021-02-25,Hot Springs,Wyoming,360,3.00,56017,WY,County,4413,8157.72,67.98,67.98,8157.72,17,19
764022,2021-02-25,Uinta,Wyoming,2048,12.00,56041,WY,County,20226,10125.58,59.33,59.33,10125.58,4,20
783433,2021-02-25,Lincoln,Wyoming,1221,11.00,56023,WY,County,19830,6157.34,55.47,55.47,6157.34,22,21
219662,2021-02-25,Teton,Wyoming,3342,9.00,56039,WY,County,23464,14243.10,38.36,38.36,14243.10,1,22
515559,2021-02-25,Albany,Wyoming,3894,11.00,56001,WY,County,38880,10015.43,28.29,28.29,10015.43,6,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,65.44,3740.98,14,21
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,65.44,3740.98,14,21
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,65.44,3740.98,14,21
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,65.44,3740.98,14,21
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,65.44,3740.98,14,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017747,2021-02-21,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3
1017748,2021-02-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3
1017749,2021-02-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3
1017750,2021-02-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3
1017751,2021-02-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,3

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
716343,2020-04-01,Clarke,Alabama,2,0.00,1025,AL,County,23622,8.47,0.00,207.43,14516.13,47,1,2.00
716344,2020-04-02,Clarke,Alabama,2,0.00,1025,AL,County,23622,8.47,0.00,207.43,14516.13,47,1,0.00
716345,2020-04-03,Clarke,Alabama,3,0.00,1025,AL,County,23622,12.70,0.00,207.43,14516.13,47,1,1.00
716346,2020-04-04,Clarke,Alabama,7,0.00,1025,AL,County,23622,29.63,0.00,207.43,14516.13,47,1,4.00
716347,2020-04-05,Clarke,Alabama,9,0.00,1025,AL,County,23622,38.10,0.00,207.43,14516.13,47,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796437,2021-02-21,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00
796438,2021-02-22,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00
796439,2021-02-23,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00
796440,2021-02-24,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00
796441,2021-02-25,Crook,Wyoming,417,11.00,56011,WY,County,7584,5498.42,145.04,145.04,5498.42,6,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
515507,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13427.93,1,3,1.00,0.00
515508,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13427.93,1,3,0.00,0.00
515509,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13427.93,1,3,0.00,0.00
515510,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13427.93,1,3,0.00,0.00
515511,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,493.52,13427.93,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513817,2021-02-21,Albany,Wyoming,3887,11.00,56001,WY,County,38880,9997.43,28.29,28.29,10015.43,23,6,7.00,0.00
513818,2021-02-22,Albany,Wyoming,3893,11.00,56001,WY,County,38880,10012.86,28.29,28.29,10015.43,23,6,6.00,0.00
513819,2021-02-23,Albany,Wyoming,3892,11.00,56001,WY,County,38880,10010.29,28.29,28.29,10015.43,23,6,-1.00,0.00
513820,2021-02-24,Albany,Wyoming,3893,11.00,56001,WY,County,38880,10012.86,28.29,28.29,10015.43,23,6,1.00,0.00
513821,2021-02-25,Albany,Wyoming,3894,11.00,56001,WY,County,38880,10015.43,28.29,28.29,10015.43,23,6,1.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-02-25') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
263318,2021-02-25,Imperial,California,26843,585.00,6025,CA,County,181215,14812.79,322.82,322.82,14812.79,1,2,3.00,1.00
1992,2021-02-25,Los Angeles,California,1188101,21102.00,6037,CA,County,10039107,11834.73,210.20,210.20,11834.73,2,5,2027.00,115.00
460417,2021-02-25,Inyo,California,1253,36.00,6027,CA,County,18039,6946.06,199.57,199.57,6946.06,3,28,3.00,1.00
58865,2021-02-25,Stanislaus,California,55775,944.00,6099,CA,County,550660,10128.75,171.43,171.43,10128.75,4,10,150.00,3.00
72942,2021-02-25,Tulare,California,47784,746.00,6107,CA,County,466195,10249.79,160.02,160.02,10249.79,5,9,54.00,7.00
27342,2021-02-25,Riverside,California,289185,3749.00,6065,CA,County,2470546,11705.31,151.75,151.75,11705.31,6,6,225.00,42.00
557960,2021-02-25,Kings,California,21951,218.00,6031,CA,County,152940,14352.69,142.54,142.54,14352.69,7,3,35.00,0.00
417381,2021-02-25,Merced,California,28915,395.00,6047,CA,County,277680,10413.07,142.25,142.25,10413.07,8,8,41.00,1.00
46865,2021-02-25,San Joaquin,California,66569,1082.00,6077,CA,County,762148,8734.39,141.97,141.97,8734.39,9,18,107.00,21.00
26630,2021-02-25,Fresno,California,94794,1412.00,6019,CA,County,999101,9487.93,141.33,141.33,9487.93,10,14,53.00,11.00
26986,2021-02-25,Madera,California,15390,209.00,6039,CA,County,157327,9782.17,132.84,132.84,9782.17,11,12,38.00,0.00
131368,2021-02-25,San Bernardino,California,285334,2673.00,6071,CA,County,2180085,13088.21,122.61,122.61,13088.21,12,4,0.00,0.00
1198,2021-02-25,Orange,California,260348,3889.00,6059,CA,County,3175692,8198.15,122.46,122.46,8198.15,13,21,191.00,41.00
631427,2021-02-25,Tuolumne,California,3946,59.00,6109,CA,County,54478,7243.29,108.30,108.30,7243.29,14,25,4.00,0.00
417042,2021-02-25,Calaveras,California,1864,47.00,6009,CA,County,45905,4060.56,102.39,102.39,4060.56,15,48,1.00,22.00
262975,2021-02-25,Amador,California,3443,40.00,6005,CA,County,39752,8661.20,100.62,100.62,8661.20,16,19,4.00,0.00
460755,2021-02-25,Sutter,California,8845,97.00,6101,CA,County,96971,9121.28,100.03,100.03,9121.28,17,17,19.00,1.00
47218,2021-02-25,Ventura,California,77238,834.00,6111,CA,County,846006,9129.72,98.58,98.58,9129.72,18,16,145.00,14.00
3934,2021-02-25,San Diego,California,259045,3260.00,6073,CA,County,3338330,7759.72,97.65,97.65,7759.72,19,23,519.00,30.00
40848,2021-02-25,Shasta,California,10944,174.00,6089,CA,County,180080,6077.30,96.62,96.62,6077.30,20,33,-6.00,2.00
5432,2021-02-25,Sacramento,California,92943,1464.00,6067,CA,County,1552058,5988.37,94.33,94.33,5988.37,21,34,172.00,8.00
90837,2021-02-25,San Benito,California,5743,59.00,6069,CA,County,62808,9143.74,93.94,93.94,9143.74,22,15,12.00,0.00
2384,2021-02-25,Santa Clara,California,109841,1766.00,6085,CA,County,1927852,5697.58,91.60,91.60,5697.58,23,36,335.00,18.00
131716,2021-02-25,Santa Barbara,California,31763,407.00,6083,CA,County,446499,7113.79,91.15,91.15,7113.79,24,26,196.00,9.00
165069,2021-02-25,Kern,California,102627,811.00,6029,CA,County,900202,11400.44,90.09,90.09,11400.44,25,7,295.00,25.00
18063,2021-02-25,Yolo,California,12760,185.00,6113,CA,County,220500,5786.85,83.90,83.90,5786.85,26,35,31.00,0.00
595924,2021-02-25,Glenn,California,2210,23.00,6021,CA,County,28393,7783.61,81.01,81.01,7783.61,27,22,1.00,0.00
110084,2021-02-25,San Luis Obispo,California,19612,227.00,6079,CA,County,283111,6927.32,80.18,80.18,6927.32,28,29,112.00,6.00
763588,2021-02-25,Tehama,California,4566,52.00,6103,CA,County,65084,7015.55,79.90,79.90,7015.55,29,27,10.00,0.00
6901,2021-02-25,Marin,California,13044,197.00,6041,CA,County,258826,5039.68,76.11,76.11,5039.68,30,41,29.00,0.00
165415,2021-02-25,Monterey,California,42138,327.00,6053,CA,County,434061,9707.85,75.34,75.34,9707.85,31,13,107.00,4.00
149806,2021-02-25,Nevada,California,3932,74.00,6057,CA,County,99755,3941.66,74.18,74.18,3941.66,32,50,7.00,0.00
8723,2021-02-25,Alameda,California,80109,1224.00,6001,CA,County,1671329,4793.13,73.24,73.24,4793.13,33,45,140.00,6.00
310991,2021-02-25,Butte,California,10915,160.00,6007,CA,County,219186,4979.79,73.00,73.00,4979.79,34,42,28.00,0.00
10169,2021-02-25,San Mateo,California,38763,515.00,6081,CA,County,766573,5056.66,67.18,67.18,5056.66,35,40,101.00,13.00
27698,2021-02-25,Santa Cruz,California,14588,183.00,6087,CA,County,273213,5339.42,66.98,66.98,5339.42,36,39,27.00,2.00
969739,2021-02-25,Lassen,California,5601,19.00,6035,CA,County,30573,18320.09,62.15,62.15,18320.09,37,1,7.00,0.00
809842,2021-02-25,Lake,California,3134,40.00,6033,CA,County,64386,4867.52,62.13,62.13,4867.52,38,44,13.00,0.00
557624,2021-02-25,Colusa,California,2128,13.00,6011,CA,County,21547,9876.08,60.33,60.33,9876.08,39,11,1.00,0.00
7633,2021-02-25,Sonoma,California,27954,298.00,6097,CA,County,494336,5654.86,60.28,60.28,5654.86,40,37,72.00,3.00
11973,2021-02-25,Contra Costa,California,62164,674.00,6013,CA,County,1153526,5389.04,58.43,58.43,5389.04,41,38,136.00,19.00
9808,2021-02-25,Placer,California,19713,231.00,6061,CA,County,398329,4948.92,57.99,57.99,4948.92,42,43,11.00,0.00
311333,2021-02-25,El Dorado,California,8993,98.00,6017,CA,County,192843,4663.38,50.82,50.82,4663.38,43,46,24.00,3.00
189627,2021-02-25,Mendocino,California,3796,43.00,6045,CA,County,86749,4375.84,49.57,49.57,4375.84,44,47,1.00,0.00
7267,2021-02-25,Napa,California,8977,68.00,6055,CA,County,137744,6517.16,49.37,49.37,6517.16,45,32,9.00,0.00
312017,2021-02-25,Yuba,California,5733,36.00,6115,CA,County,78668,7287.59,45.76,45.76,7287.59,46,24,11.00,0.00
1013036,2021-02-25,Modoc,California,329,4.00,6049,CA,County,8841,3721.30,45.24,45.24,3721.30,47,52,1.00,0.00
3165,2021-02-25,San Francisco,California,34064,398.00,6075,CA,County,881549,3864.11,45.15,45.15,3864.11,48,51,67.00,4.00
956365,2021-02-25,Trinity,California,295,5.00,6105,CA,County,12285,2401.30,40.70,40.70,2401.30,49,55,2.00,0.00
932457,2021-02-25,Mariposa,California,394,7.00,6043,CA,County,17203,2290.30,40.69,40.69,2290.30,50,57,0.00,0.00
5800,2021-02-25,Solano,California,29973,164.00,6095,CA,County,447643,6695.74,36.64,36.64,6695.74,51,31,43.00,0.00
311675,2021-02-25,Siskiyou,California,1740,14.00,6093,CA,County,43539,3996.42,32.16,32.16,3996.42,52,49,12.00,0.00
691442,2021-02-25,Plumas,California,626,6.00,6063,CA,County,18807,3328.55,31.90,31.90,3328.55,53,54,0.00,0.00
417720,2021-02-25,Mono,California,1189,4.00,6051,CA,County,14444,8231.79,27.69,27.69,8231.79,54,20,0.00,0.00
5061,2021-02-25,Humboldt,California,3160,33.00,6023,CA,County,135558,2331.11,24.34,24.34,2331.11,55,56,9.00,0.00
739174,2021-02-25,Del Norte,California,987,5.00,6015,CA,County,27812,3548.83,17.98,17.98,3548.83,56,53,1.00,0.00
660143,2021-02-25,Alpine,California,77,0.00,6003,CA,County,1129,6820.19,0.00,0.00,6820.19,57,30,0.00,0.00
968060,2021-02-25,Sierra,California,47,0.00,6091,CA,County,3005,1564.06,0.00,0.00,1564.06,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
969739,2021-02-25,Lassen,California,5601,19.00,6035,CA,County,30573,18320.09,62.15,62.15,18320.09,37,1,7.00,0.00
263318,2021-02-25,Imperial,California,26843,585.00,6025,CA,County,181215,14812.79,322.82,322.82,14812.79,1,2,3.00,1.00
557960,2021-02-25,Kings,California,21951,218.00,6031,CA,County,152940,14352.69,142.54,142.54,14352.69,7,3,35.00,0.00
131368,2021-02-25,San Bernardino,California,285334,2673.00,6071,CA,County,2180085,13088.21,122.61,122.61,13088.21,12,4,0.00,0.00
1992,2021-02-25,Los Angeles,California,1188101,21102.00,6037,CA,County,10039107,11834.73,210.20,210.20,11834.73,2,5,2027.00,115.00
27342,2021-02-25,Riverside,California,289185,3749.00,6065,CA,County,2470546,11705.31,151.75,151.75,11705.31,6,6,225.00,42.00
165069,2021-02-25,Kern,California,102627,811.00,6029,CA,County,900202,11400.44,90.09,90.09,11400.44,25,7,295.00,25.00
417381,2021-02-25,Merced,California,28915,395.00,6047,CA,County,277680,10413.07,142.25,142.25,10413.07,8,8,41.00,1.00
72942,2021-02-25,Tulare,California,47784,746.00,6107,CA,County,466195,10249.79,160.02,160.02,10249.79,5,9,54.00,7.00
58865,2021-02-25,Stanislaus,California,55775,944.00,6099,CA,County,550660,10128.75,171.43,171.43,10128.75,4,10,150.00,3.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
263318,2021-02-25,Imperial,California,26843,585.00,6025,CA,County,181215,14812.79,322.82,322.82,14812.79,1,2,3.00,1.00
1992,2021-02-25,Los Angeles,California,1188101,21102.00,6037,CA,County,10039107,11834.73,210.20,210.20,11834.73,2,5,2027.00,115.00
460417,2021-02-25,Inyo,California,1253,36.00,6027,CA,County,18039,6946.06,199.57,199.57,6946.06,3,28,3.00,1.00
58865,2021-02-25,Stanislaus,California,55775,944.00,6099,CA,County,550660,10128.75,171.43,171.43,10128.75,4,10,150.00,3.00
72942,2021-02-25,Tulare,California,47784,746.00,6107,CA,County,466195,10249.79,160.02,160.02,10249.79,5,9,54.00,7.00
27342,2021-02-25,Riverside,California,289185,3749.00,6065,CA,County,2470546,11705.31,151.75,151.75,11705.31,6,6,225.00,42.00
557960,2021-02-25,Kings,California,21951,218.00,6031,CA,County,152940,14352.69,142.54,142.54,14352.69,7,3,35.00,0.00
417381,2021-02-25,Merced,California,28915,395.00,6047,CA,County,277680,10413.07,142.25,142.25,10413.07,8,8,41.00,1.00
46865,2021-02-25,San Joaquin,California,66569,1082.00,6077,CA,County,762148,8734.39,141.97,141.97,8734.39,9,18,107.00,21.00
26630,2021-02-25,Fresno,California,94794,1412.00,6019,CA,County,999101,9487.93,141.33,141.33,9487.93,10,14,53.00,11.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,322.82,14812.79,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,322.82,14812.79,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,322.82,14812.79,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,322.82,14812.79,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,322.82,14812.79,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3442,02/21/21,Lassen,5558,19.00,18179.44,62.15,62.15,18320.09,37,1,0.00,0.00
3443,02/22/21,Lassen,5591,19.00,18287.38,62.15,62.15,18320.09,37,1,33.00,0.00
3444,02/23/21,Lassen,5594,19.00,18297.19,62.15,62.15,18320.09,37,1,3.00,0.00
3445,02/24/21,Lassen,5594,19.00,18297.19,62.15,62.15,18320.09,37,1,0.00,0.00
3446,02/25/21,Lassen,5601,19.00,18320.09,62.15,62.15,18320.09,37,1,7.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,322.82,14812.79,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,322.82,14812.79,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,322.82,14812.79,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,322.82,14812.79,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,322.82,14812.79,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
3516,02/21/21,Fresno,94234,1367.00,9431.88,136.82,141.33,9487.93,10,14,261.00,0.00
3517,02/22/21,Fresno,94374,1367.00,9445.89,136.82,141.33,9487.93,10,14,140.00,0.00
3518,02/23/21,Fresno,94584,1397.00,9466.91,139.83,141.33,9487.93,10,14,210.00,30.00
3519,02/24/21,Fresno,94741,1401.00,9482.62,140.23,141.33,9487.93,10,14,157.00,4.00
3520,02/25/21,Fresno,94794,1412.00,9487.93,141.33,141.33,9487.93,10,14,53.00,11.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)