In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr2022_df['date'] = pd.to_datetime(yr2022_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2395667,2022-05-11,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2395668,2022-05-12,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2395669,2022-05-13,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2395670,2022-05-14,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2395671,2022-05-15,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
61443,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
61445,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
61447,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
61449,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
61451,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1449561,2022-05-11,Arkansas,Arkansas,5001,5695,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1449563,2022-05-12,Arkansas,Arkansas,5001,5695,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1449565,2022-05-13,Arkansas,Arkansas,5001,5696,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1449567,2022-05-14,Arkansas,Arkansas,5001,5698,79.00,5000,Arkansas,AR,Arkansas,State,3017804
1449569,2022-05-15,Arkansas,Arkansas,5001,5698,79.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2395667,2022-05-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2395668,2022-05-12,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2395669,2022-05-13,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2395670,2022-05-14,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2395671,2022-05-15,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-05-13') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
843,2022-05-13,Snohomish,Washington,159246,1145.00,53061,WA,County,822083,19371.04,139.28
1686,2022-05-13,Cook,Illinois,1193914,14936.00,17031,IL,County,5150233,23181.75,290.01
2528,2022-05-13,Orange,California,600384,7023.00,6059,CA,County,3175692,18905.61,221.15
3369,2022-05-13,Maricopa,Arizona,1283590,17326.00,4013,AZ,County,4485414,28616.98,386.27
4210,2022-05-13,Los Angeles,California,2908425,32022.00,6037,CA,County,10039107,28970.95,318.97
...,...,...,...,...,...,...,...,...,...,...,...
2393473,2022-05-13,Wheeler,Oregon,246,3.00,41069,OR,County,1332,18468.47,225.23
2394053,2022-05-13,King,Texas,51,0.00,48269,TX,County,272,18750.00,0.00
2394602,2022-05-13,Esmeralda,Nevada,109,3.00,32009,NV,County,873,12485.68,343.64
2395147,2022-05-13,Loving,Texas,196,1.00,48301,TX,County,169,115976.33,591.72
2395669,2022-05-13,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
843,2022-05-13,Snohomish,Washington,159246,1145.00,53061,WA,County,822083,19371.04,139.28,139.28,19371.04
1686,2022-05-13,Cook,Illinois,1193914,14936.00,17031,IL,County,5150233,23181.75,290.01,290.01,23181.75
2528,2022-05-13,Orange,California,600384,7023.00,6059,CA,County,3175692,18905.61,221.15,221.15,18905.61
3369,2022-05-13,Maricopa,Arizona,1283590,17326.00,4013,AZ,County,4485414,28616.98,386.27,386.27,28616.98
4210,2022-05-13,Los Angeles,California,2908425,32022.00,6037,CA,County,10039107,28970.95,318.97,318.97,28970.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2393473,2022-05-13,Wheeler,Oregon,246,3.00,41069,OR,County,1332,18468.47,225.23,225.23,18468.47
2394053,2022-05-13,King,Texas,51,0.00,48269,TX,County,272,18750.00,0.00,0.00,18750.00
2394602,2022-05-13,Esmeralda,Nevada,109,3.00,32009,NV,County,873,12485.68,343.64,343.64,12485.68
2395147,2022-05-13,Loving,Texas,196,1.00,48301,TX,County,169,115976.33,591.72,591.72,115976.33
2395669,2022-05-13,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1516472,2022-05-13,Hale,Alabama,4741,106.00,1065,AL,County,14651,32359.57,723.50,723.50,32359.57,1
1278856,2022-05-13,Winston,Alabama,7576,131.00,1133,AL,County,23629,32062.30,554.40,554.40,32062.30,2
878314,2022-05-13,Franklin,Alabama,9903,139.00,1059,AL,County,31362,31576.43,443.21,443.21,31576.43,3
1045171,2022-05-13,Clay,Alabama,4099,82.00,1027,AL,County,13235,30970.91,619.57,619.57,30970.91,4
1515695,2022-05-13,Fayette,Alabama,4986,96.00,1057,AL,County,16302,30585.20,588.88,588.88,30585.20,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2048482,2022-05-13,Big Horn,Wyoming,2586,61.00,56003,WY,County,11790,21933.84,517.39,517.39,21933.84,19
1274956,2022-05-13,Johnson,Wyoming,1845,19.00,56019,WY,County,8445,21847.25,224.99,224.99,21847.25,20
1803299,2022-05-13,Lincoln,Wyoming,3979,31.00,56023,WY,County,19830,20065.56,156.33,156.33,20065.56,21
1447233,2022-05-13,Sublette,Wyoming,1926,27.00,56035,WY,County,9831,19591.09,274.64,274.64,19591.09,22
1839583,2022-05-13,Crook,Wyoming,1351,29.00,56011,WY,County,7584,17813.82,382.38,382.38,17813.82,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1183579,2022-05-13,Lowndes,Alabama,2628,77.00,1085,AL,County,9726,27020.36,791.69,791.69,27020.36,31,1
1182017,2022-05-13,Crenshaw,Alabama,3834,100.00,1041,AL,County,13772,27839.09,726.11,726.11,27839.09,25,2
1516472,2022-05-13,Hale,Alabama,4741,106.00,1065,AL,County,14651,32359.57,723.50,723.50,32359.57,1,3
499968,2022-05-13,Walker,Alabama,18767,447.00,1127,AL,County,63521,29544.56,703.70,703.70,29544.56,9,4
1042825,2022-05-13,Butler,Alabama,5068,129.00,1013,AL,County,19448,26059.23,663.31,663.31,26059.23,39,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274956,2022-05-13,Johnson,Wyoming,1845,19.00,56019,WY,County,8445,21847.25,224.99,224.99,21847.25,20,19
1757692,2022-05-13,Uinta,Wyoming,5643,39.00,56041,WY,County,20226,27899.73,192.82,192.82,27899.73,7,20
1803299,2022-05-13,Lincoln,Wyoming,3979,31.00,56023,WY,County,19830,20065.56,156.33,156.33,20065.56,21,21
1178893,2022-05-13,Albany,Wyoming,9934,49.00,56001,WY,County,38880,25550.41,126.03,126.03,25550.41,14,22
497604,2022-05-13,Teton,Wyoming,10074,16.00,56039,WY,County,23464,42933.86,68.19,68.19,42933.86,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,139.28,19371.04,31,17
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,139.28,19371.04,31,17
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,139.28,19371.04,31,17
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,139.28,19371.04,31,17
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,139.28,19371.04,31,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390151,2022-05-11,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2390152,2022-05-12,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2390153,2022-05-13,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2390154,2022-05-14,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2390155,2022-05-15,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1510182,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32359.57,3,1,1.00,nan
1510183,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32359.57,3,1,0.00,nan
1510184,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32359.57,3,1,0.00,nan
1510185,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,723.50,32359.57,3,1,0.00,nan
1510186,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,723.50,32359.57,3,1,2.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834065,2022-05-11,Crook,Wyoming,1351,29.00,56011,WY,County,7584,17813.82,382.38,382.38,17813.82,9,23,0.00,0.21
1834066,2022-05-12,Crook,Wyoming,1351,29.00,56011,WY,County,7584,17813.82,382.38,382.38,17813.82,9,23,0.00,0.21
1834067,2022-05-13,Crook,Wyoming,1351,29.00,56011,WY,County,7584,17813.82,382.38,382.38,17813.82,9,23,0.00,0.21
1834068,2022-05-14,Crook,Wyoming,1351,29.00,56011,WY,County,7584,17813.82,382.38,382.38,17813.82,9,23,0.00,0.21
1834069,2022-05-15,Crook,Wyoming,1351,29.00,56011,WY,County,7584,17813.82,382.38,382.38,17813.82,9,23,0.00,0.21

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa[ '14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1178843,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27020.36,1,31,1.00,0.93,0.00,nan
1178844,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27020.36,1,31,0.00,0.86,0.00,nan
1178845,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27020.36,1,31,0.00,0.86,0.00,nan
1178846,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27020.36,1,31,0.00,0.86,0.00,nan
1178847,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,791.69,27020.36,1,31,0.00,0.79,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494426,2022-05-11,Teton,Wyoming,10074,16.00,56039,WY,County,23464,42933.86,68.19,68.19,42933.86,23,1,0.00,4.64,0.00,0.00
494427,2022-05-12,Teton,Wyoming,10074,16.00,56039,WY,County,23464,42933.86,68.19,68.19,42933.86,23,1,0.00,4.64,0.00,0.00
494428,2022-05-13,Teton,Wyoming,10074,16.00,56039,WY,County,23464,42933.86,68.19,68.19,42933.86,23,1,0.00,4.64,0.00,0.00
494429,2022-05-14,Teton,Wyoming,10074,16.00,56039,WY,County,23464,42933.86,68.19,68.19,42933.86,23,1,0.00,4.64,0.00,0.00
494430,2022-05-15,Teton,Wyoming,10074,16.00,56039,WY,County,23464,42933.86,68.19,68.19,42933.86,23,1,0.00,4.64,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-05-13') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
597648,2022-05-13,Imperial,California,66715,916.00,6025,CA,County,181215,36815.39,505.48,505.48,36815.39,1,1,23.00,17.79,0.00,0.50
91018,2022-05-13,Shasta,California,36988,648.00,6089,CA,County,180080,20539.76,359.84,359.84,20539.76,2,29,43.00,11.57,0.00,1.50
296090,2022-05-13,San Bernardino,California,597377,7423.00,6071,CA,County,2180085,27401.55,340.49,340.49,27401.55,3,7,820.00,251.07,69.00,16.57
1447941,2022-05-13,Tuolumne,California,13758,182.00,6109,CA,County,54478,25254.23,334.08,334.08,25254.23,4,13,97.00,11.93,1.00,0.07
4210,2022-05-13,Los Angeles,California,2908425,32022.00,6037,CA,County,10039107,28970.95,318.97,318.97,28970.95,5,5,3942.00,2537.00,6.00,4.50
163516,2022-05-13,Tulare,California,136125,1469.00,6107,CA,County,466195,29199.15,315.10,315.10,29199.15,6,4,120.00,25.86,1.00,0.79
1051379,2022-05-13,Inyo,California,4636,56.00,6027,CA,County,18039,25699.87,310.44,310.44,25699.87,7,11,29.00,3.21,0.00,0.00
1756814,2022-05-13,Tehama,California,14753,201.00,6103,CA,County,65084,22667.63,308.83,308.83,22667.63,8,22,14.00,2.71,0.00,-0.07
131679,2022-05-13,Stanislaus,California,136645,1694.00,6099,CA,County,550660,24814.77,307.63,307.63,24814.77,9,14,0.00,0.00,0.00,0.00
951955,2022-05-13,Merced,California,72959,823.00,6047,CA,County,277680,26274.49,296.38,296.38,26274.49,10,9,52.00,32.29,0.00,0.00
104583,2022-05-13,San Joaquin,California,178501,2236.00,6077,CA,County,762148,23420.78,293.38,293.38,23420.78,11,17,582.00,126.64,3.00,0.79
1277238,2022-05-13,Kings,California,55429,447.00,6031,CA,County,152940,36242.32,292.27,292.27,36242.32,12,2,38.00,10.86,0.00,0.00
59040,2022-05-13,Fresno,California,257611,2757.00,6019,CA,County,999101,25784.28,275.95,275.95,25784.28,13,10,568.00,118.36,3.00,0.64
372859,2022-05-13,Kern,California,244681,2427.00,6029,CA,County,900202,27180.68,269.61,269.61,27180.68,14,8,476.00,86.14,31.00,4.57
60640,2022-05-13,Riverside,California,626695,6527.00,6065,CA,County,2470546,25366.66,264.19,264.19,25366.66,15,12,820.00,305.93,2.00,1.07
951172,2022-05-13,Calaveras,California,7754,120.00,6009,CA,County,45905,16891.41,261.41,261.41,16891.41,16,50,21.00,4.50,0.00,0.00
1052161,2022-05-13,Sutter,California,23045,234.00,6101,CA,County,96971,23764.84,241.31,241.31,23764.84,17,16,0.00,11.07,0.00,0.07
708609,2022-05-13,Siskiyou,California,7478,105.00,6093,CA,County,43539,17175.41,241.16,241.16,17175.41,18,48,0.00,2.64,0.00,0.00
1365374,2022-05-13,Glenn,California,6631,67.00,6021,CA,County,28393,23354.35,235.97,235.97,23354.35,19,18,3.00,0.71,0.00,0.00
59840,2022-05-13,Madera,California,43685,365.00,6039,CA,County,157327,27767.01,232.00,232.00,27767.01,20,6,100.00,13.93,0.00,0.00
2252453,2022-05-13,Lassen,California,10751,69.00,6035,CA,County,30573,35165.01,225.69,225.69,35165.01,21,3,1.00,1.79,0.00,0.00
2528,2022-05-13,Orange,California,600384,7023.00,6059,CA,County,3175692,18905.61,221.15,221.15,18905.61,22,36,1430.00,446.57,4.00,1.14
596861,2022-05-13,Amador,California,9242,86.00,6005,CA,County,39752,23249.14,216.34,216.34,23249.14,23,19,12.00,3.29,0.00,0.00
1865672,2022-05-13,Lake,California,11699,137.00,6033,CA,County,64386,18170.10,212.78,212.78,18170.10,24,42,6.00,3.57,0.00,0.00
11646,2022-05-13,Sacramento,California,314407,3159.00,6067,CA,County,1552058,20257.43,203.54,203.54,20257.43,25,31,863.00,265.07,0.00,0.86
2158783,2022-05-13,Mariposa,California,3145,35.00,6043,CA,County,17203,18281.70,203.45,203.45,18281.70,26,39,3.00,5.14,0.00,0.07
707037,2022-05-13,Butte,California,40181,424.00,6007,CA,County,219186,18331.92,193.44,193.44,18331.92,27,38,101.00,19.50,1.00,0.43
1699544,2022-05-13,Del Norte,California,6381,50.00,6015,CA,County,27812,22943.33,179.78,179.78,22943.33,28,20,0.00,7.00,0.00,0.00
105380,2022-05-13,Ventura,California,186062,1498.00,6111,CA,County,846006,21992.99,177.07,177.07,21992.99,29,23,633.00,142.64,0.00,0.79
373649,2022-05-13,Monterey,California,95140,744.00,6053,CA,County,434061,21918.58,171.40,171.40,21918.58,30,24,273.00,78.50,0.00,0.29
247722,2022-05-13,San Luis Obispo,California,57556,478.00,6079,CA,County,283111,20329.84,168.84,168.84,20329.84,31,30,163.00,45.21,0.00,0.07
2218211,2022-05-13,Trinity,California,1485,20.00,6105,CA,County,12285,12087.91,162.80,162.80,12087.91,32,55,0.00,0.71,0.00,0.00
8372,2022-05-13,San Diego,California,824586,5271.00,6073,CA,County,3338330,24700.55,157.89,157.89,24700.55,33,15,2829.00,730.79,14.00,2.36
21350,2022-05-13,Placer,California,71527,628.00,6061,CA,County,398329,17956.76,157.66,157.66,17956.76,34,44,202.00,55.50,0.00,0.00
204055,2022-05-13,San Benito,California,13636,98.00,6069,CA,County,62808,21710.61,156.03,156.03,21710.61,35,26,21.00,9.00,0.00,0.00
296882,2022-05-13,Santa Barbara,California,92683,693.00,6083,CA,County,446499,20757.72,155.21,155.21,20757.72,36,28,217.00,71.71,0.00,0.36
709395,2022-05-13,Yuba,California,17944,122.00,6115,CA,County,78668,22809.78,155.08,155.08,22809.78,37,21,0.00,10.79,0.00,0.07
39817,2022-05-13,Yolo,California,41061,316.00,6113,CA,County,220500,18621.77,143.31,143.31,18621.77,38,37,127.00,45.43,0.00,0.14
428941,2022-05-13,Mendocino,California,16568,124.00,6045,CA,County,86749,19098.78,142.94,142.94,19098.78,39,35,102.00,17.57,0.00,0.07
2248110,2022-05-13,Sierra,California,324,4.00,6091,CA,County,3005,10782.03,133.11,133.11,10782.03,40,58,0.00,0.14,0.00,0.00
338060,2022-05-13,Nevada,California,17503,127.00,6057,CA,County,99755,17545.99,127.31,127.31,17545.99,41,47,28.00,12.14,0.00,0.00
5046,2022-05-13,Santa Clara,California,342015,2298.00,6085,CA,County,1927852,17740.73,119.20,119.20,17740.73,42,46,1749.00,603.57,3.00,1.14
14891,2022-05-13,Marin,California,38685,293.00,6041,CA,County,258826,14946.33,113.20,113.20,14946.33,43,54,411.00,98.07,1.00,0.14
26179,2022-05-13,Contra Costa,California,209958,1301.00,6013,CA,County,1153526,18201.41,112.78,112.78,18201.41,44,41,1009.00,298.57,-1.00,0.00
18933,2022-05-13,Alameda,California,284054,1868.00,6001,CA,County,1671329,16995.70,111.77,111.77,16995.70,45,49,1515.00,526.50,0.00,-1.29
707823,2022-05-13,El Dorado,California,30508,212.00,6017,CA,County,192843,15820.12,109.93,109.93,15820.12,46,52,80.00,23.00,0.00,0.14
10831,2022-05-13,Humboldt,California,20952,146.00,6023,CA,County,135558,15456.11,107.70,107.70,15456.11,47,53,0.00,40.86,0.00,0.07
15701,2022-05-13,Napa,California,27765,143.00,6055,CA,County,137744,20156.96,103.82,103.82,20156.96,48,32,57.00,29.79,0.00,0.00
12458,2022-05-13,Solano,California,89419,451.00,6095,CA,County,447643,19975.52,100.75,100.75,19975.52,49,33,277.00,95.43,1.00,0.14
16511,2022-05-13,Sonoma,California,90191,490.00,6097,CA,County,494336,18244.88,99.12,99.12,18244.88,50,40,461.00,149.71,0.00,0.00
22155,2022-05-13,San Mateo,California,137238,755.00,6081,CA,County,766573,17902.80,98.49,98.49,17902.80,51,45,859.00,289.79,0.00,0.07
6715,2022-05-13,San Francisco,California,143959,866.00,6075,CA,County,881549,16330.23,98.24,98.24,16330.23,52,51,1096.00,360.50,2.00,0.43
1276458,2022-05-13,Colusa,California,4549,21.00,6011,CA,County,21547,21111.99,97.46,97.46,21111.99,53,27,7.00,0.86,0.00,0.00
61440,2022-05-13,Santa Cruz,California,52532,263.00,6087,CA,County,273213,19227.49,96.26,96.26,19227.49,54,34,272.00,109.43,0.00,0.07
2373006,2022-05-13,Modoc,California,1000,8.00,6049,CA,County,8841,11310.94,90.49,90.49,11310.94,55,56,0.00,0.14,0.00,0.00
1587876,2022-05-13,Plumas,California,3379,13.00,6063,CA,County,18807,17966.71,69.12,69.12,17966.71,56,43,17.00,4.86,0.00,0.00
952738,2022-05-13,Mono,California,3144,6.00,6051,CA,County,14444,21766.82,41.54,41.54,21766.82,57,25,17.00,2.00,0.00,0.00
1514841,2022-05-13,Alpine,California,126,0.00,6003,CA,County,1129,11160.32,0.00,0.00,11160.32,58,57,0.00,0.07,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
597648,2022-05-13,Imperial,California,66715,916.00,6025,CA,County,181215,36815.39,505.48,505.48,36815.39,1,1,23.00,17.79,0.00,0.50
1277238,2022-05-13,Kings,California,55429,447.00,6031,CA,County,152940,36242.32,292.27,292.27,36242.32,12,2,38.00,10.86,0.00,0.00
2252453,2022-05-13,Lassen,California,10751,69.00,6035,CA,County,30573,35165.01,225.69,225.69,35165.01,21,3,1.00,1.79,0.00,0.00
163516,2022-05-13,Tulare,California,136125,1469.00,6107,CA,County,466195,29199.15,315.10,315.10,29199.15,6,4,120.00,25.86,1.00,0.79
4210,2022-05-13,Los Angeles,California,2908425,32022.00,6037,CA,County,10039107,28970.95,318.97,318.97,28970.95,5,5,3942.00,2537.00,6.00,4.50
59840,2022-05-13,Madera,California,43685,365.00,6039,CA,County,157327,27767.01,232.00,232.00,27767.01,20,6,100.00,13.93,0.00,0.00
296090,2022-05-13,San Bernardino,California,597377,7423.00,6071,CA,County,2180085,27401.55,340.49,340.49,27401.55,3,7,820.00,251.07,69.00,16.57
372859,2022-05-13,Kern,California,244681,2427.00,6029,CA,County,900202,27180.68,269.61,269.61,27180.68,14,8,476.00,86.14,31.00,4.57
951955,2022-05-13,Merced,California,72959,823.00,6047,CA,County,277680,26274.49,296.38,296.38,26274.49,10,9,52.00,32.29,0.00,0.00
59040,2022-05-13,Fresno,California,257611,2757.00,6019,CA,County,999101,25784.28,275.95,275.95,25784.28,13,10,568.00,118.36,3.00,0.64

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
597648,2022-05-13,Imperial,California,66715,916.00,6025,CA,County,181215,36815.39,505.48,505.48,36815.39,1,1,23.00,17.79,0.00,0.50
91018,2022-05-13,Shasta,California,36988,648.00,6089,CA,County,180080,20539.76,359.84,359.84,20539.76,2,29,43.00,11.57,0.00,1.50
296090,2022-05-13,San Bernardino,California,597377,7423.00,6071,CA,County,2180085,27401.55,340.49,340.49,27401.55,3,7,820.00,251.07,69.00,16.57
1447941,2022-05-13,Tuolumne,California,13758,182.00,6109,CA,County,54478,25254.23,334.08,334.08,25254.23,4,13,97.00,11.93,1.00,0.07
4210,2022-05-13,Los Angeles,California,2908425,32022.00,6037,CA,County,10039107,28970.95,318.97,318.97,28970.95,5,5,3942.00,2537.00,6.00,4.50
163516,2022-05-13,Tulare,California,136125,1469.00,6107,CA,County,466195,29199.15,315.10,315.10,29199.15,6,4,120.00,25.86,1.00,0.79
1051379,2022-05-13,Inyo,California,4636,56.00,6027,CA,County,18039,25699.87,310.44,310.44,25699.87,7,11,29.00,3.21,0.00,0.00
1756814,2022-05-13,Tehama,California,14753,201.00,6103,CA,County,65084,22667.63,308.83,308.83,22667.63,8,22,14.00,2.71,0.00,-0.07
131679,2022-05-13,Stanislaus,California,136645,1694.00,6099,CA,County,550660,24814.77,307.63,307.63,24814.77,9,14,0.00,0.00,0.00,0.00
951955,2022-05-13,Merced,California,72959,823.00,6047,CA,County,277680,26274.49,296.38,296.38,26274.49,10,9,52.00,32.29,0.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df

          date    county  cases  current_crate  case_day  14day_case_avg
0     03/20/20  Imperial      4           2.21      4.00            0.50
1     03/21/20  Imperial      4           2.21      0.00            0.50
2     03/22/20  Imperial      4           2.21      0.00            0.50
3     03/23/20  Imperial      4           2.21      0.00            0.43
4     03/24/20  Imperial      9           4.97      5.00            0.79
...        ...       ...    ...            ...       ...             ...
7886  05/11/22    Lassen  10747       35151.93      3.00            1.50
7887  05/12/22    Lassen  10750       35161.74      3.00            1.71
7888  05/13/22    Lassen  10751       35165.01      1.00            1.79
7889  05/14/22    Lassen  10751       35165.01      0.00            1.64
7890  05/15/22    Lassen  10751       35165.01      0.00            1.64

[7891 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df

          date    county  deaths  current_drate  death_day  14day_death_avg
0     03/20/20  Imperial    0.00           0.00       0.00             0.00
1     03/21/20  Imperial    0.00           0.00       0.00             0.00
2     03/22/20  Imperial    0.00           0.00       0.00             0.00
3     03/23/20  Imperial    0.00           0.00       0.00             0.00
4     03/24/20  Imperial    0.00           0.00       0.00             0.00
...        ...       ...     ...            ...        ...              ...
7920  05/11/22    Merced  823.00         296.38       0.00             0.14
7921  05/12/22    Merced  823.00         296.38       0.00             0.00
7922  05/13/22    Merced  823.00         296.38       0.00             0.00
7923  05/14/22    Merced  823.00         296.38       0.00             0.00
7924  05/15/22    Merced  823.00         296.38       0.00             0.00

[7925 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)