In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1212231,2021-04-24,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1212232,2021-04-25,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1212233,2021-04-26,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1212234,2021-04-27,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1212235,2021-04-28,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
32411,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
32413,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
32415,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
32417,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
32419,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
746299,2021-04-24,Arkansas,Arkansas,5001,2092,36.00,5000,Arkansas,AR,Arkansas,State,3017804
746301,2021-04-25,Arkansas,Arkansas,5001,2092,36.00,5000,Arkansas,AR,Arkansas,State,3017804
746303,2021-04-26,Arkansas,Arkansas,5001,2092,36.00,5000,Arkansas,AR,Arkansas,State,3017804
746305,2021-04-27,Arkansas,Arkansas,5001,2092,36.00,5000,Arkansas,AR,Arkansas,State,3017804
746307,2021-04-28,Arkansas,Arkansas,5001,2092,36.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1212231,2021-04-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1212232,2021-04-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1212233,2021-04-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1212234,2021-04-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1212235,2021-04-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-04-28') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
463,2021-04-28,Snohomish,Washington,35643,565.00,53061,WA,County,822083,4335.69,68.73
924,2021-04-28,Cook,Illinois,531906,10482.00,17031,IL,County,5150233,10327.80,203.52
1384,2021-04-28,Orange,California,269949,4944.00,6059,CA,County,3175692,8500.48,155.68
1843,2021-04-28,Maricopa,Arizona,535862,9847.00,4013,AZ,County,4485414,11946.77,219.53
2302,2021-04-28,Los Angeles,California,1233036,23831.00,6037,CA,County,10039107,12282.33,237.38
...,...,...,...,...,...,...,...,...,...,...,...
1211567,2021-04-28,Wheeler,Oregon,26,1.00,41069,OR,County,1332,1951.95,75.08
1211765,2021-04-28,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00
1211932,2021-04-28,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00
1212095,2021-04-28,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00
1212235,2021-04-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
463,2021-04-28,Snohomish,Washington,35643,565.00,53061,WA,County,822083,4335.69,68.73,68.73,4335.69
924,2021-04-28,Cook,Illinois,531906,10482.00,17031,IL,County,5150233,10327.80,203.52,203.52,10327.80
1384,2021-04-28,Orange,California,269949,4944.00,6059,CA,County,3175692,8500.48,155.68,155.68,8500.48
1843,2021-04-28,Maricopa,Arizona,535862,9847.00,4013,AZ,County,4485414,11946.77,219.53,219.53,11946.77
2302,2021-04-28,Los Angeles,California,1233036,23831.00,6037,CA,County,10039107,12282.33,237.38,237.38,12282.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211567,2021-04-28,Wheeler,Oregon,26,1.00,41069,OR,County,1332,1951.95,75.08,75.08,1951.95
1211765,2021-04-28,King,Texas,11,0.00,48269,TX,County,272,4044.12,0.00,0.00,4044.12
1211932,2021-04-28,Esmeralda,Nevada,38,0.00,32009,NV,County,873,4352.81,0.00,0.00,4352.81
1212095,2021-04-28,Loving,Texas,1,0.00,48301,TX,County,169,591.72,0.00,0.00,591.72
1212235,2021-04-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
780360,2021-04-28,Hale,Alabama,2203,75.00,1065,AL,County,14651,15036.52,511.91,511.91,15036.52,1
849405,2021-04-28,Clarke,Alabama,3500,60.00,1025,AL,County,23622,14816.70,254.00,254.00,14816.70,2
610581,2021-04-28,Lowndes,Alabama,1383,53.00,1085,AL,County,9726,14219.62,544.93,544.93,14219.62,3
454296,2021-04-28,Franklin,Alabama,4228,82.00,1059,AL,County,31362,13481.28,261.46,261.46,13481.28,4
541387,2021-04-28,Etowah,Alabama,13753,352.00,1055,AL,County,102268,13448.00,344.19,344.19,13448.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149306,2021-04-28,Platte,Wyoming,622,11.00,56031,WY,County,8393,7410.94,131.06,131.06,7410.94,19
744722,2021-04-28,Converse,Wyoming,991,17.00,56009,WY,County,13822,7169.73,122.99,122.99,7169.73,20
925847,2021-04-28,Lincoln,Wyoming,1393,12.00,56023,WY,County,19830,7024.71,60.51,60.51,7024.71,21
1030423,2021-04-28,Niobrara,Wyoming,152,2.00,56027,WY,County,2356,6451.61,84.89,84.89,6451.61,22
944177,2021-04-28,Crook,Wyoming,429,12.00,56011,WY,County,7584,5656.65,158.23,158.23,5656.65,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
610581,2021-04-28,Lowndes,Alabama,1383,53.00,1085,AL,County,9726,14219.62,544.93,544.93,14219.62,3,1
780360,2021-04-28,Hale,Alabama,2203,75.00,1065,AL,County,14651,15036.52,511.91,511.91,15036.52,1,2
259692,2021-04-28,Walker,Alabama,7190,278.00,1127,AL,County,63521,11319.09,437.65,437.65,11319.09,28,3
539787,2021-04-28,Clay,Alabama,1525,56.00,1027,AL,County,13235,11522.48,423.12,423.12,11522.48,23,4
658458,2021-04-28,Greene,Alabama,921,34.00,1063,AL,County,8111,11354.95,419.18,419.18,11354.95,26,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656865,2021-04-28,Hot Springs,Wyoming,367,3.00,56017,WY,County,4413,8316.34,67.98,67.98,8316.34,17,19
925847,2021-04-28,Lincoln,Wyoming,1393,12.00,56023,WY,County,19830,7024.71,60.51,60.51,7024.71,21,20
902778,2021-04-28,Uinta,Wyoming,2180,12.00,56041,WY,County,20226,10778.21,59.33,59.33,10778.21,5,21
258474,2021-04-28,Teton,Wyoming,3729,9.00,56039,WY,County,23464,15892.43,38.36,38.36,15892.43,1,22
608187,2021-04-28,Albany,Wyoming,4219,11.00,56001,WY,County,38880,10851.34,28.29,28.29,10851.34,4,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.73,4335.69,19,23
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.73,4335.69,19,23
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.73,4335.69,19,23
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.73,4335.69,19,23
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,68.73,4335.69,19,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209389,2021-04-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1209390,2021-04-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1209391,2021-04-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1209392,2021-04-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4
1209393,2021-04-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,4

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
777124,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,511.91,15036.52,2,1,1.00
777125,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,511.91,15036.52,2,1,0.00
777126,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,511.91,15036.52,2,1,0.00
777127,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,511.91,15036.52,2,1,0.00
777128,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,511.91,15036.52,2,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941331,2021-04-24,Crook,Wyoming,428,12.00,56011,WY,County,7584,5643.46,158.23,158.23,5656.65,6,23,0.00
941332,2021-04-25,Crook,Wyoming,428,12.00,56011,WY,County,7584,5643.46,158.23,158.23,5656.65,6,23,0.00
941333,2021-04-26,Crook,Wyoming,429,12.00,56011,WY,County,7584,5656.65,158.23,158.23,5656.65,6,23,1.00
941334,2021-04-27,Crook,Wyoming,429,12.00,56011,WY,County,7584,5656.65,158.23,158.23,5656.65,6,23,0.00
941335,2021-04-28,Crook,Wyoming,429,12.00,56011,WY,County,7584,5656.65,158.23,158.23,5656.65,6,23,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
608135,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14219.62,1,3,1.00,0.00
608136,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14219.62,1,3,0.00,0.00
608137,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14219.62,1,3,0.00,0.00
608138,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14219.62,1,3,0.00,0.00
608139,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,544.93,14219.62,1,3,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606135,2021-04-24,Albany,Wyoming,4184,11.00,56001,WY,County,38880,10761.32,28.29,28.29,10851.34,23,4,0.00,0.00
606136,2021-04-25,Albany,Wyoming,4184,11.00,56001,WY,County,38880,10761.32,28.29,28.29,10851.34,23,4,0.00,0.00
606137,2021-04-26,Albany,Wyoming,4198,11.00,56001,WY,County,38880,10797.33,28.29,28.29,10851.34,23,4,14.00,0.00
606138,2021-04-27,Albany,Wyoming,4206,11.00,56001,WY,County,38880,10817.90,28.29,28.29,10851.34,23,4,8.00,0.00
606139,2021-04-28,Albany,Wyoming,4219,11.00,56001,WY,County,38880,10851.34,28.29,28.29,10851.34,23,4,13.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-04-28') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
310004,2021-04-28,Imperial,California,28149,720.00,6025,CA,County,181215,15533.48,397.32,397.32,15533.48,1,2,1.00,1.00
2302,2021-04-28,Los Angeles,California,1233036,23831.00,6037,CA,County,10039107,12282.33,237.38,237.38,12282.33,2,5,294.00,29.00
542939,2021-04-28,Inyo,California,1421,38.00,6027,CA,County,18039,7877.38,210.65,210.65,7877.38,3,24,25.00,2.00
154370,2021-04-28,San Bernardino,California,295752,4575.00,6071,CA,County,2180085,13566.08,209.85,209.85,13566.08,4,4,87.00,3.00
69033,2021-04-28,Stanislaus,California,61150,1042.00,6099,CA,County,550660,11104.86,189.23,189.23,11104.86,5,9,55.00,2.00
31992,2021-04-28,Riverside,California,298262,4564.00,6065,CA,County,2470546,12072.72,184.74,184.74,12072.72,6,6,3.00,1.00
85590,2021-04-28,Tulare,California,49585,834.00,6107,CA,County,466195,10636.11,178.90,178.90,10636.11,7,10,38.00,0.00
54925,2021-04-28,San Joaquin,California,72345,1346.00,6077,CA,County,762148,9492.25,176.61,176.61,9492.25,8,19,64.00,0.00
31156,2021-04-28,Fresno,California,101138,1663.00,6019,CA,County,999101,10122.90,166.45,166.45,10122.90,9,14,39.00,1.00
492029,2021-04-28,Merced,California,31529,454.00,6047,CA,County,277680,11354.44,163.50,163.50,11354.44,10,8,40.00,0.00
658400,2021-04-28,Kings,California,22859,246.00,6031,CA,County,152940,14946.38,160.85,160.85,14946.38,11,3,9.00,0.00
1384,2021-04-28,Orange,California,269949,4944.00,6059,CA,County,3175692,8500.48,155.68,155.68,8500.48,12,22,111.00,5.00
31574,2021-04-28,Madera,California,16365,240.00,6039,CA,County,157327,10401.90,152.55,152.55,10401.90,13,11,12.00,0.00
194085,2021-04-28,Kern,California,108456,1348.00,6029,CA,County,900202,12047.96,149.74,149.74,12047.96,14,7,38.00,3.00
47854,2021-04-28,Shasta,California,11866,220.00,6089,CA,County,180080,6589.29,122.17,122.17,6589.29,15,34,36.00,0.00
745445,2021-04-28,Tuolumne,California,4103,65.00,6109,CA,County,54478,7531.48,119.31,119.31,7531.48,16,29,2.00,0.00
55340,2021-04-28,Ventura,California,80576,1008.00,6111,CA,County,846006,9524.28,119.15,119.15,9524.28,17,18,22.00,1.00
309599,2021-04-28,Amador,California,3644,47.00,6005,CA,County,39752,9166.83,118.23,118.23,9166.83,18,20,0.00,0.00
543339,2021-04-28,Sutter,California,9348,110.00,6101,CA,County,96971,9640.00,113.44,113.44,9640.00,19,16,20.00,0.00
4554,2021-04-28,San Diego,California,275748,3692.00,6073,CA,County,3338330,8260.06,110.59,110.59,8260.06,20,23,144.00,0.00
491628,2021-04-28,Calaveras,California,2076,50.00,6009,CA,County,45905,4522.38,108.92,108.92,4522.38,21,51,2.00,0.00
6300,2021-04-28,Sacramento,California,102682,1662.00,6067,CA,County,1552058,6615.86,107.08,107.08,6615.86,22,33,69.00,3.00
2756,2021-04-28,Santa Clara,California,118094,2049.00,6085,CA,County,1927852,6125.68,106.28,106.28,6125.68,23,36,58.00,0.00
154780,2021-04-28,Santa Barbara,California,33973,448.00,6083,CA,County,446499,7608.75,100.34,100.34,7608.75,24,27,25.00,0.00
106647,2021-04-28,San Benito,California,6016,63.00,6069,CA,County,62808,9578.40,100.31,100.31,9578.40,25,17,3.00,0.00
21101,2021-04-28,Yolo,California,13697,205.00,6113,CA,County,220500,6211.79,92.97,92.97,6211.79,26,35,13.00,0.00
129304,2021-04-28,San Luis Obispo,California,21164,260.00,6079,CA,County,283111,7475.51,91.84,91.84,7475.51,27,30,26.00,0.00
366295,2021-04-28,Butte,California,11738,196.00,6007,CA,County,219186,5355.27,89.42,89.42,5355.27,28,42,18.00,0.00
10149,2021-04-28,Alameda,California,86322,1486.00,6001,CA,County,1671329,5164.87,88.91,88.91,5164.87,29,45,71.00,0.00
703370,2021-04-28,Glenn,California,2880,25.00,6021,CA,County,28393,10143.35,88.05,88.05,10143.35,30,13,0.00,0.00
194493,2021-04-28,Monterey,California,43422,381.00,6053,CA,County,434061,10003.66,87.78,87.78,10003.66,31,15,32.00,0.00
8017,2021-04-28,Marin,California,13855,227.00,6041,CA,County,258826,5353.02,87.70,87.70,5353.02,32,43,6.00,0.00
902282,2021-04-28,Tehama,California,4922,53.00,6103,CA,County,65084,7562.53,81.43,81.43,7562.53,33,28,2.00,0.00
1148857,2021-04-28,Lassen,California,5685,24.00,6035,CA,County,30573,18594.84,78.50,78.50,18594.84,34,1,0.00,23.00
176094,2021-04-28,Nevada,California,4557,75.00,6057,CA,County,99755,4568.19,75.18,75.18,4568.19,35,50,9.00,0.00
32410,2021-04-28,Santa Cruz,California,15968,205.00,6087,CA,County,273213,5844.52,75.03,75.03,5844.52,36,39,39.00,0.00
658002,2021-04-28,Colusa,California,2213,16.00,6011,CA,County,21547,10270.57,74.26,74.26,10270.57,37,12,0.00,0.00
11843,2021-04-28,San Mateo,California,41474,564.00,6081,CA,County,766573,5410.31,73.57,73.57,5410.31,38,41,17.00,0.00
11420,2021-04-28,Placer,California,22151,286.00,6061,CA,County,398329,5560.98,71.80,71.80,5560.98,39,40,31.00,0.00
13957,2021-04-28,Contra Costa,California,67816,791.00,6013,CA,County,1153526,5879.02,68.57,68.57,5879.02,40,38,70.00,2.00
957278,2021-04-28,Lake,California,3431,43.00,6033,CA,County,64386,5328.80,66.78,66.78,5328.80,41,44,3.00,0.00
8873,2021-04-28,Sonoma,California,29807,318.00,6097,CA,County,494336,6029.70,64.33,64.33,6029.70,42,37,13.00,0.00
3661,2021-04-28,San Francisco,California,36361,533.00,6075,CA,County,881549,4124.67,60.46,60.46,4124.67,43,52,28.00,1.00
8445,2021-04-28,Napa,California,9775,81.00,6055,CA,County,137744,7096.50,58.80,58.80,7096.50,44,32,5.00,2.00
366699,2021-04-28,El Dorado,California,9906,109.00,6017,CA,County,192843,5136.82,56.52,56.52,5136.82,45,46,57.00,3.00
367507,2021-04-28,Yuba,California,6165,44.00,6115,CA,County,78668,7836.73,55.93,55.93,7836.73,46,25,0.00,0.00
6730,2021-04-28,Solano,California,32371,248.00,6095,CA,County,447643,7231.43,55.40,55.40,7231.43,47,31,21.00,1.00
223045,2021-04-28,Mendocino,California,4015,47.00,6045,CA,County,86749,4628.30,54.18,54.18,4628.30,48,49,6.00,0.00
367103,2021-04-28,Siskiyou,California,2036,21.00,6093,CA,County,43539,4676.27,48.23,48.23,4676.27,49,48,16.00,0.00
1103701,2021-04-28,Mariposa,California,441,7.00,6043,CA,County,17203,2563.51,40.69,40.69,2563.51,50,57,3.00,0.00
1202942,2021-04-28,Modoc,California,360,3.00,6049,CA,County,8841,4071.94,33.93,33.93,4071.94,51,53,0.00,0.00
816620,2021-04-28,Plumas,California,700,6.00,6063,CA,County,18807,3722.02,31.90,31.90,3722.02,52,54,30.00,2.00
5867,2021-04-28,Humboldt,California,3814,38.00,6023,CA,County,135558,2813.56,28.03,28.03,2813.56,53,55,15.00,0.00
492430,2021-04-28,Mono,California,1276,4.00,6051,CA,County,14444,8834.12,27.69,27.69,8834.12,54,21,18.00,0.00
873280,2021-04-28,Del Norte,California,1310,7.00,6015,CA,County,27812,4710.20,25.17,25.17,4710.20,55,47,4.00,0.00
1132569,2021-04-28,Trinity,California,327,3.00,6105,CA,County,12285,2661.78,24.42,24.42,2661.78,56,56,0.00,0.00
779493,2021-04-28,Alpine,California,88,0.00,6003,CA,County,1129,7794.51,0.00,0.00,7794.51,57,26,0.00,0.00
1146806,2021-04-28,Sierra,California,51,0.00,6091,CA,County,3005,1697.17,0.00,0.00,1697.17,58,58,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1148857,2021-04-28,Lassen,California,5685,24.00,6035,CA,County,30573,18594.84,78.50,78.50,18594.84,34,1,0.00,23.00
310004,2021-04-28,Imperial,California,28149,720.00,6025,CA,County,181215,15533.48,397.32,397.32,15533.48,1,2,1.00,1.00
658400,2021-04-28,Kings,California,22859,246.00,6031,CA,County,152940,14946.38,160.85,160.85,14946.38,11,3,9.00,0.00
154370,2021-04-28,San Bernardino,California,295752,4575.00,6071,CA,County,2180085,13566.08,209.85,209.85,13566.08,4,4,87.00,3.00
2302,2021-04-28,Los Angeles,California,1233036,23831.00,6037,CA,County,10039107,12282.33,237.38,237.38,12282.33,2,5,294.00,29.00
31992,2021-04-28,Riverside,California,298262,4564.00,6065,CA,County,2470546,12072.72,184.74,184.74,12072.72,6,6,3.00,1.00
194085,2021-04-28,Kern,California,108456,1348.00,6029,CA,County,900202,12047.96,149.74,149.74,12047.96,14,7,38.00,3.00
492029,2021-04-28,Merced,California,31529,454.00,6047,CA,County,277680,11354.44,163.50,163.50,11354.44,10,8,40.00,0.00
69033,2021-04-28,Stanislaus,California,61150,1042.00,6099,CA,County,550660,11104.86,189.23,189.23,11104.86,5,9,55.00,2.00
85590,2021-04-28,Tulare,California,49585,834.00,6107,CA,County,466195,10636.11,178.90,178.90,10636.11,7,10,38.00,0.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
310004,2021-04-28,Imperial,California,28149,720.00,6025,CA,County,181215,15533.48,397.32,397.32,15533.48,1,2,1.00,1.00
2302,2021-04-28,Los Angeles,California,1233036,23831.00,6037,CA,County,10039107,12282.33,237.38,237.38,12282.33,2,5,294.00,29.00
542939,2021-04-28,Inyo,California,1421,38.00,6027,CA,County,18039,7877.38,210.65,210.65,7877.38,3,24,25.00,2.00
154370,2021-04-28,San Bernardino,California,295752,4575.00,6071,CA,County,2180085,13566.08,209.85,209.85,13566.08,4,4,87.00,3.00
69033,2021-04-28,Stanislaus,California,61150,1042.00,6099,CA,County,550660,11104.86,189.23,189.23,11104.86,5,9,55.00,2.00
31992,2021-04-28,Riverside,California,298262,4564.00,6065,CA,County,2470546,12072.72,184.74,184.74,12072.72,6,6,3.00,1.00
85590,2021-04-28,Tulare,California,49585,834.00,6107,CA,County,466195,10636.11,178.90,178.90,10636.11,7,10,38.00,0.00
54925,2021-04-28,San Joaquin,California,72345,1346.00,6077,CA,County,762148,9492.25,176.61,176.61,9492.25,8,19,64.00,0.00
31156,2021-04-28,Fresno,California,101138,1663.00,6019,CA,County,999101,10122.90,166.45,166.45,10122.90,9,14,39.00,1.00
492029,2021-04-28,Merced,California,31529,454.00,6047,CA,County,277680,11354.44,163.50,163.50,11354.44,10,8,40.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,397.32,15533.48,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,397.32,15533.48,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,397.32,15533.48,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,397.32,15533.48,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,397.32,15533.48,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4062,04/24/21,Lassen,5685,1.00,18594.84,3.27,78.50,18594.84,34,1,0.00,0.00
4063,04/25/21,Lassen,5685,1.00,18594.84,3.27,78.50,18594.84,34,1,0.00,0.00
4064,04/26/21,Lassen,5685,1.00,18594.84,3.27,78.50,18594.84,34,1,0.00,0.00
4065,04/27/21,Lassen,5685,1.00,18594.84,3.27,78.50,18594.84,34,1,0.00,0.00
4066,04/28/21,Lassen,5685,24.00,18594.84,78.50,78.50,18594.84,34,1,0.00,23.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'drate', 'crate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,397.32,15533.48,1,2,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,397.32,15533.48,1,2,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,397.32,15533.48,1,2,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,397.32,15533.48,1,2,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,397.32,15533.48,1,2,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
4148,04/24/21,Merced,31400,454.00,11307.98,163.50,163.50,11354.44,10,8,0.00,0.00
4149,04/25/21,Merced,31400,454.00,11307.98,163.50,163.50,11354.44,10,8,0.00,0.00
4150,04/26/21,Merced,31452,454.00,11326.71,163.50,163.50,11354.44,10,8,52.00,0.00
4151,04/27/21,Merced,31489,454.00,11340.03,163.50,163.50,11354.44,10,8,37.00,0.00
4152,04/28/21,Merced,31529,454.00,11354.44,163.50,163.50,11354.44,10,8,40.00,0.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)