In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
2240767,2022-03-22,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2240768,2022-03-23,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2240769,2022-03-24,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2240770,2022-03-25,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
2240771,2022-03-26,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
57643,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
57645,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
57647,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
57649,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
57651,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1357511,2022-03-22,Arkansas,Arkansas,5001,5673,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1357513,2022-03-23,Arkansas,Arkansas,5001,5674,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1357515,2022-03-24,Arkansas,Arkansas,5001,5674,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1357517,2022-03-25,Arkansas,Arkansas,5001,5676,78.00,5000,Arkansas,AR,Arkansas,State,3017804
1357519,2022-03-26,Arkansas,Arkansas,5001,5677,78.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2240767,2022-03-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2240768,2022-03-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2240769,2022-03-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2240770,2022-03-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
2240771,2022-03-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-03-26') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
795,2022-03-26,Snohomish,Washington,148815,1110.00,53061,WA,County,822083,18102.19,135.02
1588,2022-03-26,Cook,Illinois,1124384,14793.00,17031,IL,County,5150233,21831.71,287.23
2380,2022-03-26,Orange,California,586528,6860.00,6059,CA,County,3175692,18469.30,216.02
3171,2022-03-26,Maricopa,Arizona,1260012,16393.00,4013,AZ,County,4485414,28091.32,365.47
3962,2022-03-26,Los Angeles,California,2830752,31594.00,6037,CA,County,10039107,28197.25,314.71
...,...,...,...,...,...,...,...,...,...,...,...
2238775,2022-03-26,Wheeler,Oregon,242,3.00,41069,OR,County,1332,18168.17,225.23
2239305,2022-03-26,King,Texas,41,0.00,48269,TX,County,272,15073.53,0.00
2239804,2022-03-26,Esmeralda,Nevada,109,3.00,32009,NV,County,873,12485.68,343.64
2240299,2022-03-26,Loving,Texas,170,1.00,48301,TX,County,169,100591.72,591.72
2240771,2022-03-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
795,2022-03-26,Snohomish,Washington,148815,1110.00,53061,WA,County,822083,18102.19,135.02,135.02,18102.19
1588,2022-03-26,Cook,Illinois,1124384,14793.00,17031,IL,County,5150233,21831.71,287.23,287.23,21831.71
2380,2022-03-26,Orange,California,586528,6860.00,6059,CA,County,3175692,18469.30,216.02,216.02,18469.30
3171,2022-03-26,Maricopa,Arizona,1260012,16393.00,4013,AZ,County,4485414,28091.32,365.47,365.47,28091.32
3962,2022-03-26,Los Angeles,California,2830752,31594.00,6037,CA,County,10039107,28197.25,314.71,314.71,28197.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238775,2022-03-26,Wheeler,Oregon,242,3.00,41069,OR,County,1332,18168.17,225.23,225.23,18168.17
2239305,2022-03-26,King,Texas,41,0.00,48269,TX,County,272,15073.53,0.00,0.00,15073.53
2239804,2022-03-26,Esmeralda,Nevada,109,3.00,32009,NV,County,873,12485.68,343.64,343.64,12485.68
2240299,2022-03-26,Loving,Texas,170,1.00,48301,TX,County,169,100591.72,591.72,591.72,100591.72
2240771,2022-03-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1420124,2022-03-26,Hale,Alabama,4697,104.00,1065,AL,County,14651,32059.25,709.85,709.85,32059.25,1
1197758,2022-03-26,Winston,Alabama,7569,128.00,1133,AL,County,23629,32032.67,541.71,541.71,32032.67,2
822816,2022-03-26,Franklin,Alabama,9851,137.00,1059,AL,County,31362,31410.62,436.83,436.83,31410.62,3
979023,2022-03-26,Clay,Alabama,4085,81.00,1027,AL,County,13235,30865.13,612.01,612.01,30865.13,4
1419397,2022-03-26,Fayette,Alabama,4972,94.00,1057,AL,County,16302,30499.33,576.62,576.62,30499.33,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917684,2022-03-26,Big Horn,Wyoming,2575,60.00,56003,WY,County,11790,21840.54,508.91,508.91,21840.54,19
1194108,2022-03-26,Johnson,Wyoming,1844,19.00,56019,WY,County,8445,21835.41,224.99,224.99,21835.41,20
1688451,2022-03-26,Lincoln,Wyoming,3966,30.00,56023,WY,County,19830,20000.00,151.29,151.29,20000.00,21
1355335,2022-03-26,Sublette,Wyoming,1923,27.00,56035,WY,County,9831,19560.57,274.64,274.64,19560.57,22
1722385,2022-03-26,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17747.89,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1108581,2022-03-26,Lowndes,Alabama,2609,75.00,1085,AL,County,9726,26825.01,771.13,771.13,26825.01,31,1
1107119,2022-03-26,Crenshaw,Alabama,3787,98.00,1041,AL,County,13772,27497.82,711.59,711.59,27497.82,25,2
1420124,2022-03-26,Hale,Alabama,4697,104.00,1065,AL,County,14651,32059.25,709.85,709.85,32059.25,1,3
468520,2022-03-26,Walker,Alabama,18536,436.00,1127,AL,County,63521,29180.90,686.39,686.39,29180.90,10,4
976827,2022-03-26,Butler,Alabama,5048,127.00,1013,AL,County,19448,25956.40,653.02,653.02,25956.40,35,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194108,2022-03-26,Johnson,Wyoming,1844,19.00,56019,WY,County,8445,21835.41,224.99,224.99,21835.41,20,19
1645794,2022-03-26,Uinta,Wyoming,5632,39.00,56041,WY,County,20226,27845.35,192.82,192.82,27845.35,5,20
1688451,2022-03-26,Lincoln,Wyoming,3966,30.00,56023,WY,County,19830,20000.00,151.29,151.29,20000.00,21,21
1104195,2022-03-26,Albany,Wyoming,9869,48.00,56001,WY,County,38880,25383.23,123.46,123.46,25383.23,14,22
466306,2022-03-26,Teton,Wyoming,9905,16.00,56039,WY,County,23464,42213.60,68.19,68.19,42213.60,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,135.02,18102.19,30,20
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,135.02,18102.19,30,20
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,135.02,18102.19,30,20
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,135.02,18102.19,30,20
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,135.02,18102.19,30,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235601,2022-03-22,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2235602,2022-03-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2235603,2022-03-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2235604,2022-03-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
2235605,2022-03-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1414232,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,709.85,32059.25,3,1,1.00,nan
1414233,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,709.85,32059.25,3,1,0.00,nan
1414234,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,709.85,32059.25,3,1,0.00,nan
1414235,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,709.85,32059.25,3,1,0.00,nan
1414236,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,709.85,32059.25,3,1,2.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717215,2022-03-22,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17747.89,9,23,0.00,0.00
1717216,2022-03-23,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17747.89,9,23,0.00,0.00
1717217,2022-03-24,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17747.89,9,23,0.00,0.00
1717218,2022-03-25,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17747.89,9,23,0.00,0.00
1717219,2022-03-26,Crook,Wyoming,1346,28.00,56011,WY,County,7584,17747.89,369.20,369.20,17747.89,9,23,0.00,0.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa[ '14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1104143,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,771.13,26825.01,1,31,1.00,1.14,0.00,nan
1104144,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,771.13,26825.01,1,31,0.00,0.57,0.00,nan
1104145,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,771.13,26825.01,1,31,0.00,0.57,0.00,nan
1104146,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,771.13,26825.01,1,31,0.00,0.57,0.00,nan
1104147,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,771.13,26825.01,1,31,0.00,0.43,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463326,2022-03-22,Teton,Wyoming,9887,16.00,56039,WY,County,23464,42136.89,68.19,68.19,42213.60,23,1,24.00,4.86,0.00,0.00
463327,2022-03-23,Teton,Wyoming,9887,16.00,56039,WY,County,23464,42136.89,68.19,68.19,42213.60,23,1,0.00,4.43,0.00,0.00
463328,2022-03-24,Teton,Wyoming,9887,16.00,56039,WY,County,23464,42136.89,68.19,68.19,42213.60,23,1,0.00,3.93,0.00,0.00
463329,2022-03-25,Teton,Wyoming,9905,16.00,56039,WY,County,23464,42213.60,68.19,68.19,42213.60,23,1,18.00,4.50,0.00,0.00
463330,2022-03-26,Teton,Wyoming,9905,16.00,56039,WY,County,23464,42213.60,68.19,68.19,42213.60,23,1,0.00,4.50,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-03-26') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
560000,2022-03-26,Imperial,California,66362,912.00,6025,CA,County,181215,36620.59,503.27,503.27,36620.59,1,1,0.00,42.86,0.00,1.21
1355993,2022-03-26,Tuolumne,California,13454,181.00,6109,CA,County,54478,24696.21,332.24,332.24,24696.21,2,14,0.00,7.50,0.00,0.07
85370,2022-03-26,Shasta,California,36723,587.00,6089,CA,County,180080,20392.60,325.97,325.97,20392.60,3,28,0.00,9.50,0.00,1.00
3962,2022-03-26,Los Angeles,California,2830752,31594.00,6037,CA,County,10039107,28197.25,314.71,314.71,28197.25,4,5,957.00,1298.86,18.00,22.79
277542,2022-03-26,San Bernardino,California,585213,6840.00,6071,CA,County,2180085,26843.59,313.75,313.75,26843.59,5,8,0.00,145.36,0.00,7.57
984831,2022-03-26,Inyo,California,4543,56.00,6027,CA,County,18039,25184.32,310.44,310.44,25184.32,6,11,0.00,0.43,0.00,0.00
123481,2022-03-26,Stanislaus,California,136645,1694.00,6099,CA,County,550660,24814.77,307.63,307.63,24814.77,7,13,0.00,0.00,0.00,0.00
153318,2022-03-26,Tulare,California,132835,1400.00,6107,CA,County,466195,28493.44,300.30,300.30,28493.44,8,4,0.00,50.64,0.00,3.00
1644966,2022-03-26,Tehama,California,14643,195.00,6103,CA,County,65084,22498.62,299.61,299.61,22498.62,9,20,0.00,5.14,0.00,2.57
891757,2022-03-26,Merced,California,71842,810.00,6047,CA,County,277680,25872.23,291.70,291.70,25872.23,10,9,0.00,38.00,0.00,0.71
1196240,2022-03-26,Kings,California,55018,444.00,6031,CA,County,152940,35973.58,290.31,290.31,35973.58,11,2,0.00,19.07,0.00,0.57
98085,2022-03-26,San Joaquin,California,175246,2195.00,6077,CA,County,762148,22993.70,288.00,288.00,22993.70,12,18,0.00,46.57,0.00,5.57
55392,2022-03-26,Fresno,California,252053,2710.00,6019,CA,County,999101,25227.98,271.24,271.24,25227.98,13,10,0.00,144.14,0.00,4.07
891024,2022-03-26,Calaveras,California,7597,120.00,6009,CA,County,45905,16549.40,261.41,261.41,16549.40,14,49,0.00,-0.71,0.00,0.14
56892,2022-03-26,Riverside,California,618166,6445.00,6065,CA,County,2470546,25021.43,260.87,260.87,25021.43,15,12,0.00,152.21,0.00,5.14
349461,2022-03-26,Kern,California,242196,2265.00,6029,CA,County,900202,26904.63,251.61,251.61,26904.63,16,7,0.00,92.29,0.00,5.93
663911,2022-03-26,Siskiyou,California,7402,104.00,6093,CA,County,43539,17000.85,238.87,238.87,17000.85,17,45,1.00,2.64,0.00,0.29
985563,2022-03-26,Sutter,California,22619,230.00,6101,CA,County,96971,23325.53,237.18,237.18,23325.53,18,16,0.00,12.36,0.00,0.36
1278726,2022-03-26,Glenn,California,6552,66.00,6021,CA,County,28393,23076.11,232.45,232.45,23076.11,19,17,0.00,2.50,0.00,0.00
56142,2022-03-26,Madera,California,43360,354.00,6039,CA,County,157327,27560.43,225.01,225.01,27560.43,20,6,0.00,8.71,0.00,0.00
2108005,2022-03-26,Lassen,California,10710,68.00,6035,CA,County,30573,35030.91,222.42,222.42,35030.91,21,3,14.00,1.50,0.00,0.00
559263,2022-03-26,Amador,California,9119,86.00,6005,CA,County,39752,22939.73,216.34,216.34,22939.73,22,19,0.00,2.93,0.00,0.14
2380,2022-03-26,Orange,California,586528,6860.00,6059,CA,County,3175692,18469.30,216.02,216.02,18469.30,23,35,0.00,222.07,0.00,8.57
1746774,2022-03-26,Lake,California,11554,136.00,6033,CA,County,64386,17944.89,211.23,211.23,17944.89,24,38,0.00,4.50,0.00,0.36
10948,2022-03-26,Sacramento,California,302366,3068.00,6067,CA,County,1552058,19481.62,197.67,197.67,19481.62,25,31,0.00,75.00,0.00,3.93
1591396,2022-03-26,Del Norte,California,6197,50.00,6015,CA,County,27812,22281.75,179.78,179.78,22281.75,26,22,0.00,4.79,0.00,0.14
662439,2022-03-26,Butte,California,39575,391.00,6007,CA,County,219186,18055.44,178.39,178.39,18055.44,27,36,0.00,12.79,0.00,0.79
2020685,2022-03-26,Mariposa,California,3007,30.00,6043,CA,County,17203,17479.51,174.39,174.39,17479.51,28,41,0.00,1.57,0.00,0.00
98832,2022-03-26,Ventura,California,181957,1457.00,6111,CA,County,846006,21507.77,172.22,172.22,21507.77,29,23,0.00,57.14,0.00,0.86
350201,2022-03-26,Monterey,California,92264,729.00,6053,CA,County,434061,21256.00,167.95,167.95,21256.00,30,26,0.00,53.07,0.00,0.64
232224,2022-03-26,San Luis Obispo,California,56136,469.00,6079,CA,County,283111,19828.27,165.66,165.66,19828.27,31,30,0.00,32.79,0.00,0.86
2076113,2022-03-26,Trinity,California,1467,20.00,6105,CA,County,12285,11941.39,162.80,162.80,11941.39,32,55,0.00,0.14,0.00,0.00
191307,2022-03-26,San Benito,California,13401,97.00,6069,CA,County,62808,21336.45,154.44,154.44,21336.45,33,25,0.00,1.57,0.00,0.14
7874,2022-03-26,San Diego,California,801277,5146.00,6073,CA,County,3338330,24002.33,154.15,154.15,24002.33,34,15,0.00,516.29,0.00,4.00
20052,2022-03-26,Placer,California,69981,613.00,6061,CA,County,398329,17568.64,153.89,153.89,17568.64,35,40,0.00,27.07,0.00,1.07
278284,2022-03-26,Santa Barbara,California,90304,674.00,6083,CA,County,446499,20224.91,150.95,150.95,20224.91,36,29,0.00,4.93,0.00,0.71
664647,2022-03-26,Yuba,California,17628,117.00,6115,CA,County,78668,22408.09,148.73,148.73,22408.09,37,21,0.00,6.71,0.00,0.07
37369,2022-03-26,Yolo,California,39411,311.00,6113,CA,County,220500,17873.47,141.04,141.04,17873.47,38,39,0.00,19.86,0.00,0.21
401993,2022-03-26,Mendocino,California,16027,118.00,6045,CA,County,86749,18475.14,136.02,136.02,18475.14,39,34,0.00,7.43,0.00,0.07
2103962,2022-03-26,Sierra,California,315,4.00,6091,CA,County,3005,10482.53,133.11,133.11,10482.53,40,58,0.00,0.00,0.00,0.00
316862,2022-03-26,Nevada,California,17171,123.00,6057,CA,County,99755,17213.17,123.30,123.30,17213.17,41,44,0.00,1.64,0.00,0.00
4748,2022-03-26,Santa Clara,California,323527,2251.00,6085,CA,County,1927852,16781.73,116.76,116.76,16781.73,42,46,0.00,163.93,0.00,3.00
24581,2022-03-26,Contra Costa,California,201166,1285.00,6013,CA,County,1153526,17439.23,111.40,111.40,17439.23,43,42,0.00,108.86,0.00,2.07
13993,2022-03-26,Marin,California,35529,287.00,6041,CA,County,258826,13726.98,110.89,110.89,13726.98,44,54,0.00,23.00,0.00,1.07
17785,2022-03-26,Alameda,California,268474,1823.00,6001,CA,County,1671329,16063.50,109.07,109.07,16063.50,45,50,0.00,121.71,0.00,1.64
663175,2022-03-26,El Dorado,California,29881,200.00,6017,CA,County,192843,15494.99,103.71,103.71,15494.99,46,51,0.00,11.29,0.00,0.07
10183,2022-03-26,Humboldt,California,20002,139.00,6023,CA,County,135558,14755.31,102.54,102.54,14755.31,47,53,0.00,10.93,0.00,-0.07
14753,2022-03-26,Napa,California,26665,139.00,6055,CA,County,137744,19358.37,100.91,100.91,19358.37,48,33,0.00,8.43,0.00,0.07
11710,2022-03-26,Solano,California,87203,441.00,6095,CA,County,447643,19480.48,98.52,98.52,19480.48,49,32,0.00,47.79,0.00,0.36
15513,2022-03-26,Sonoma,California,85561,487.00,6097,CA,County,494336,17308.27,98.52,98.52,17308.27,50,43,0.00,42.79,0.00,0.64
1195510,2022-03-26,Colusa,California,4525,21.00,6011,CA,County,21547,21000.60,97.46,97.46,21000.60,51,27,0.00,0.57,0.00,0.00
20807,2022-03-26,San Mateo,California,127211,743.00,6081,CA,County,766573,16594.77,96.92,96.92,16594.77,52,47,0.00,67.14,1.00,0.50
6317,2022-03-26,San Francisco,California,132616,839.00,6075,CA,County,881549,15043.52,95.17,95.17,15043.52,53,52,0.00,34.14,0.00,1.14
57642,2022-03-26,Santa Cruz,California,49327,259.00,6087,CA,County,273213,18054.41,94.80,94.80,18054.41,54,37,0.00,31.07,0.00,0.36
2219858,2022-03-26,Modoc,California,986,7.00,6049,CA,County,8841,11152.58,79.18,79.18,11152.58,55,56,0.00,0.50,0.00,0.00
1486928,2022-03-26,Plumas,California,3115,13.00,6063,CA,County,18807,16562.98,69.12,69.12,16562.98,56,48,0.00,3.79,0.00,0.00
892490,2022-03-26,Mono,California,3087,5.00,6051,CA,County,14444,21372.20,34.62,34.62,21372.20,57,24,0.00,0.50,0.00,0.00
1418593,2022-03-26,Alpine,California,125,0.00,6003,CA,County,1129,11071.74,0.00,0.00,11071.74,58,57,0.00,-0.07,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
560000,2022-03-26,Imperial,California,66362,912.00,6025,CA,County,181215,36620.59,503.27,503.27,36620.59,1,1,0.00,42.86,0.00,1.21
1196240,2022-03-26,Kings,California,55018,444.00,6031,CA,County,152940,35973.58,290.31,290.31,35973.58,11,2,0.00,19.07,0.00,0.57
2108005,2022-03-26,Lassen,California,10710,68.00,6035,CA,County,30573,35030.91,222.42,222.42,35030.91,21,3,14.00,1.50,0.00,0.00
153318,2022-03-26,Tulare,California,132835,1400.00,6107,CA,County,466195,28493.44,300.30,300.30,28493.44,8,4,0.00,50.64,0.00,3.00
3962,2022-03-26,Los Angeles,California,2830752,31594.00,6037,CA,County,10039107,28197.25,314.71,314.71,28197.25,4,5,957.00,1298.86,18.00,22.79
56142,2022-03-26,Madera,California,43360,354.00,6039,CA,County,157327,27560.43,225.01,225.01,27560.43,20,6,0.00,8.71,0.00,0.00
349461,2022-03-26,Kern,California,242196,2265.00,6029,CA,County,900202,26904.63,251.61,251.61,26904.63,16,7,0.00,92.29,0.00,5.93
277542,2022-03-26,San Bernardino,California,585213,6840.00,6071,CA,County,2180085,26843.59,313.75,313.75,26843.59,5,8,0.00,145.36,0.00,7.57
891757,2022-03-26,Merced,California,71842,810.00,6047,CA,County,277680,25872.23,291.70,291.70,25872.23,10,9,0.00,38.00,0.00,0.71
55392,2022-03-26,Fresno,California,252053,2710.00,6019,CA,County,999101,25227.98,271.24,271.24,25227.98,13,10,0.00,144.14,0.00,4.07

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
560000,2022-03-26,Imperial,California,66362,912.00,6025,CA,County,181215,36620.59,503.27,503.27,36620.59,1,1,0.00,42.86,0.00,1.21
1355993,2022-03-26,Tuolumne,California,13454,181.00,6109,CA,County,54478,24696.21,332.24,332.24,24696.21,2,14,0.00,7.50,0.00,0.07
85370,2022-03-26,Shasta,California,36723,587.00,6089,CA,County,180080,20392.60,325.97,325.97,20392.60,3,28,0.00,9.50,0.00,1.00
3962,2022-03-26,Los Angeles,California,2830752,31594.00,6037,CA,County,10039107,28197.25,314.71,314.71,28197.25,4,5,957.00,1298.86,18.00,22.79
277542,2022-03-26,San Bernardino,California,585213,6840.00,6071,CA,County,2180085,26843.59,313.75,313.75,26843.59,5,8,0.00,145.36,0.00,7.57
984831,2022-03-26,Inyo,California,4543,56.00,6027,CA,County,18039,25184.32,310.44,310.44,25184.32,6,11,0.00,0.43,0.00,0.00
123481,2022-03-26,Stanislaus,California,136645,1694.00,6099,CA,County,550660,24814.77,307.63,307.63,24814.77,7,13,0.00,0.00,0.00,0.00
153318,2022-03-26,Tulare,California,132835,1400.00,6107,CA,County,466195,28493.44,300.30,300.30,28493.44,8,4,0.00,50.64,0.00,3.00
1644966,2022-03-26,Tehama,California,14643,195.00,6103,CA,County,65084,22498.62,299.61,299.61,22498.62,9,20,0.00,5.14,0.00,2.57
891757,2022-03-26,Merced,California,71842,810.00,6047,CA,County,277680,25872.23,291.70,291.70,25872.23,10,9,0.00,38.00,0.00,0.71

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'state_case', 'case_day', '14day_case_avg']]
top10_ca_case_df

,date,county,cases,current_crate,state_case,case_day,14day_case_avg
0,03/20/20,Imperial,4,2.21,1,4.00,1.93
1,03/21/20,Imperial,4,2.21,1,0.00,1.93
2,03/22/20,Imperial,4,2.21,1,0.00,1.64
3,03/23/20,Imperial,4,2.21,1,0.00,1.57
4,03/24/20,Imperial,9,4.97,1,5.00,1.93
...,...,...,...,...,...,...,...
7386,03/22/22,Lassen,10696,34985.12,3,0.00,0.93
7387,03/23/22,Lassen,10696,34985.12,3,0.00,0.71
7388,03/24/22,Lassen,10696,34985.12,3,0.00,0.71
7389,03/25/22,Lassen,10696,34985.12,3,0.00,0.57
7390,03/26/22,Lassen,10710,35030.91,3,14.00,1.50

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'state_death', 'death_day', '14day_death_avg']]
top10_ca_death_df

,date,county,deaths,current_drate,state_death,death_day,14day_death_avg
0,03/20/20,Imperial,0.00,0.00,1,0.00,0.07
1,03/21/20,Imperial,0.00,0.00,1,0.00,0.07
2,03/22/20,Imperial,0.00,0.00,1,0.00,0.07
3,03/23/20,Imperial,0.00,0.00,1,0.00,0.07
4,03/24/20,Imperial,0.00,0.00,1,0.00,0.07
...,...,...,...,...,...,...,...
7420,03/22/22,Merced,810.00,291.70,10,0.00,1.00
7421,03/23/22,Merced,810.00,291.70,10,0.00,0.93
7422,03/24/22,Merced,810.00,291.70,10,0.00,0.71
7423,03/25/22,Merced,810.00,291.70,10,0.00,0.71
7424,03/26/22,Merced,810.00,291.70,10,0.00,0.71

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)