In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

us_covid_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
us_covid_df['fips'] = us_covid_df['fips'].fillna(0).astype(np.int64)
us_covid_df['date'] = pd.to_datetime(us_covid_df['date'], yearfirst=True)
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
1683127,2021-09-23,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1683128,2021-09-24,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1683129,2021-09-25,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1683130,2021-09-26,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
1683131,2021-09-27,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
43963,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
43965,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
43967,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
43969,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
43971,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1026131,2021-09-23,Arkansas,Arkansas,5001,3358,56.00,5000,Arkansas,AR,Arkansas,State,3017804
1026133,2021-09-24,Arkansas,Arkansas,5001,3363,56.00,5000,Arkansas,AR,Arkansas,State,3017804
1026135,2021-09-25,Arkansas,Arkansas,5001,3369,56.00,5000,Arkansas,AR,Arkansas,State,3017804
1026137,2021-09-26,Arkansas,Arkansas,5001,3369,56.00,5000,Arkansas,AR,Arkansas,State,3017804
1026139,2021-09-27,Arkansas,Arkansas,5001,3369,56.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1683127,2021-09-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1683128,2021-09-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1683129,2021-09-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1683130,2021-09-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
1683131,2021-09-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2021-09-27') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
615,2021-09-27,Snohomish,Washington,58286,690.00,53061,WA,County,822083,7090.04,83.93
1228,2021-09-27,Cook,Illinois,617360,11563.00,17031,IL,County,5150233,11987.03,224.51
1840,2021-09-27,Orange,California,317998,5409.00,6059,CA,County,3175692,10013.50,170.33
2451,2021-09-27,Maricopa,Arizona,689931,11371.00,4013,AZ,County,4485414,15381.66,253.51
3062,2021-09-27,Los Angeles,California,1455864,26035.00,6037,CA,County,10039107,14501.93,259.34
...,...,...,...,...,...,...,...,...,...,...,...
1681855,2021-09-27,Wheeler,Oregon,65,1.00,41069,OR,County,1332,4879.88,75.08
1682205,2021-09-27,King,Texas,13,0.00,48269,TX,County,272,4779.41,0.00
1682524,2021-09-27,Esmeralda,Nevada,48,0.00,32009,NV,County,873,5498.28,0.00
1682839,2021-09-27,Loving,Texas,8,0.00,48301,TX,County,169,4733.73,0.00
1683131,2021-09-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
615,2021-09-27,Snohomish,Washington,58286,690.00,53061,WA,County,822083,7090.04,83.93,83.93,7090.04
1228,2021-09-27,Cook,Illinois,617360,11563.00,17031,IL,County,5150233,11987.03,224.51,224.51,11987.03
1840,2021-09-27,Orange,California,317998,5409.00,6059,CA,County,3175692,10013.50,170.33,170.33,10013.50
2451,2021-09-27,Maricopa,Arizona,689931,11371.00,4013,AZ,County,4485414,15381.66,253.51,253.51,15381.66
3062,2021-09-27,Los Angeles,California,1455864,26035.00,6037,CA,County,10039107,14501.93,259.34,259.34,14501.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1681855,2021-09-27,Wheeler,Oregon,65,1.00,41069,OR,County,1332,4879.88,75.08,75.08,4879.88
1682205,2021-09-27,King,Texas,13,0.00,48269,TX,County,272,4779.41,0.00,0.00,4779.41
1682524,2021-09-27,Esmeralda,Nevada,48,0.00,32009,NV,County,873,5498.28,0.00,0.00,5498.28
1682839,2021-09-27,Loving,Texas,8,0.00,48301,TX,County,169,4733.73,0.00,0.00,4733.73
1683131,2021-09-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1073264,2021-09-27,Hale,Alabama,2930,85.00,1065,AL,County,14651,19998.63,580.17,580.17,19998.63,1
1168909,2021-09-27,Clarke,Alabama,4640,79.00,1025,AL,County,23622,19642.71,334.43,334.43,19642.71,2
743091,2021-09-27,Etowah,Alabama,19341,462.00,1055,AL,County,102268,18912.07,451.75,451.75,18912.07,3
303316,2021-09-27,Calhoun,Alabama,21297,410.00,1015,AL,County,113605,18746.53,360.90,360.90,18746.53,4
623016,2021-09-27,Franklin,Alabama,5805,101.00,1059,AL,County,31362,18509.66,322.05,322.05,18509.66,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599253,2021-09-27,Weston,Wyoming,891,8.00,56045,WY,County,6927,12862.71,115.49,115.49,12862.71,19
903048,2021-09-27,Johnson,Wyoming,1061,13.00,56019,WY,County,8445,12563.65,153.94,153.94,12563.65,20
1274991,2021-09-27,Lincoln,Wyoming,2321,15.00,56023,WY,County,19830,11704.49,75.64,75.64,11704.49,21
1024495,2021-09-27,Sublette,Wyoming,1148,12.00,56035,WY,County,9831,11677.35,122.06,122.06,11677.35,22
1300465,2021-09-27,Crook,Wyoming,755,16.00,56011,WY,County,7584,9955.17,210.97,210.97,9955.17,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
838581,2021-09-27,Lowndes,Alabama,1708,58.00,1085,AL,County,9726,17561.18,596.34,596.34,17561.18,13,1
1073264,2021-09-27,Hale,Alabama,2930,85.00,1065,AL,County,14651,19998.63,580.17,580.17,19998.63,1,2
904698,2021-09-27,Greene,Alabama,1214,43.00,1063,AL,County,8111,14967.33,530.14,530.14,14967.33,49,3
355300,2021-09-27,Walker,Alabama,10604,330.00,1127,AL,County,63521,16693.69,519.51,519.51,16693.69,30,4
837479,2021-09-27,Crenshaw,Alabama,2387,70.00,1041,AL,County,13772,17332.27,508.28,508.28,17332.27,18,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599253,2021-09-27,Weston,Wyoming,891,8.00,56045,WY,County,6927,12862.71,115.49,115.49,12862.71,19,19
1242954,2021-09-27,Uinta,Wyoming,3473,23.00,56041,WY,County,20226,17170.97,113.72,113.72,17170.97,4,20
1274991,2021-09-27,Lincoln,Wyoming,2321,15.00,56023,WY,County,19830,11704.49,75.64,75.64,11704.49,21,21
835275,2021-09-27,Albany,Wyoming,5719,26.00,56001,WY,County,38880,14709.36,66.87,66.87,14709.36,11,22
353626,2021-09-27,Teton,Wyoming,4899,12.00,56039,WY,County,23464,20878.79,51.14,51.14,20878.79,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,83.93,7090.04,26,29
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,83.93,7090.04,26,29
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,83.93,7090.04,26,29
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,83.93,7090.04,26,29
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,83.93,7090.04,26,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679221,2021-09-23,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
1679222,2021-09-24,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
1679223,2021-09-25,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
1679224,2021-09-26,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
1679225,2021-09-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day
1068812,2020-03-30,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,580.17,19998.63,2,1,1.00
1068813,2020-03-31,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,580.17,19998.63,2,1,0.00
1068814,2020-04-01,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,580.17,19998.63,2,1,0.00
1068815,2020-04-02,Hale,Alabama,1,0.00,1065,AL,County,14651,6.83,0.00,580.17,19998.63,2,1,0.00
1068816,2020-04-03,Hale,Alabama,3,0.00,1065,AL,County,14651,20.48,0.00,580.17,19998.63,2,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296555,2021-09-23,Crook,Wyoming,733,16.00,56011,WY,County,7584,9665.08,210.97,210.97,9955.17,7,23,10.00
1296556,2021-09-24,Crook,Wyoming,744,16.00,56011,WY,County,7584,9810.13,210.97,210.97,9955.17,7,23,11.00
1296557,2021-09-25,Crook,Wyoming,744,16.00,56011,WY,County,7584,9810.13,210.97,210.97,9955.17,7,23,0.00
1296558,2021-09-26,Crook,Wyoming,744,16.00,56011,WY,County,7584,9810.13,210.97,210.97,9955.17,7,23,0.00
1296559,2021-09-27,Crook,Wyoming,755,16.00,56011,WY,County,7584,9955.17,210.97,210.97,9955.17,7,23,11.00

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
835223,2020-03-26,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,596.34,17561.18,1,13,1.00,0.00
835224,2020-03-27,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,596.34,17561.18,1,13,0.00,0.00
835225,2020-03-28,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,596.34,17561.18,1,13,0.00,0.00
835226,2020-03-29,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,596.34,17561.18,1,13,0.00,0.00
835227,2020-03-30,Lowndes,Alabama,1,0.00,1085,AL,County,9726,10.28,0.00,596.34,17561.18,1,13,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351366,2021-09-23,Teton,Wyoming,4870,12.00,56039,WY,County,23464,20755.20,51.14,51.14,20878.79,23,1,19.00,0.00
351367,2021-09-24,Teton,Wyoming,4883,12.00,56039,WY,County,23464,20810.60,51.14,51.14,20878.79,23,1,13.00,0.00
351368,2021-09-25,Teton,Wyoming,4883,12.00,56039,WY,County,23464,20810.60,51.14,51.14,20878.79,23,1,0.00,0.00
351369,2021-09-26,Teton,Wyoming,4883,12.00,56039,WY,County,23464,20810.60,51.14,51.14,20878.79,23,1,0.00,0.00
351370,2021-09-27,Teton,Wyoming,4899,12.00,56039,WY,County,23464,20878.79,51.14,51.14,20878.79,23,1,16.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2021-09-27') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
424460,2021-09-27,Imperial,California,34644,755.00,6025,CA,County,181215,19117.62,416.63,416.63,19117.62,1,3,182.00,1.00
3062,2021-09-27,Los Angeles,California,1455864,26035.00,6037,CA,County,10039107,14501.93,259.34,259.34,14501.93,2,10,983.00,22.00
210762,2021-09-27,San Bernardino,California,350405,5545.00,6071,CA,County,2180085,16073.00,254.35,254.35,16073.00,3,4,1358.00,5.00
93961,2021-09-27,Stanislaus,California,82039,1262.00,6099,CA,County,550660,14898.30,229.18,229.18,14898.30,4,7,562.00,6.00
745251,2021-09-27,Inyo,California,1713,39.00,6027,CA,County,18039,9496.09,216.20,216.20,9496.09,5,36,28.00,0.00
74685,2021-09-27,San Joaquin,California,99013,1642.00,6077,CA,County,762148,12991.31,215.44,215.44,12991.31,6,17,662.00,1.00
43392,2021-09-27,Riverside,California,361852,4963.00,6065,CA,County,2470546,14646.64,200.89,200.89,14646.64,7,8,1794.00,12.00
675037,2021-09-27,Merced,California,40461,554.00,6047,CA,County,277680,14571.09,199.51,199.51,14571.09,8,9,341.00,2.00
42252,2021-09-27,Fresno,California,138323,1939.00,6019,CA,County,999101,13844.75,194.07,194.07,13844.75,9,13,936.00,12.00
116598,2021-09-27,Tulare,California,74793,904.00,6107,CA,County,466195,16043.29,193.91,193.91,16043.29,10,5,651.00,6.00
904640,2021-09-27,Kings,California,30713,293.00,6031,CA,County,152940,20081.73,191.58,191.58,20081.73,11,2,294.00,0.00
1024973,2021-09-27,Tuolumne,California,6453,103.00,6109,CA,County,54478,11845.15,189.07,189.07,11845.15,12,22,88.00,2.00
265221,2021-09-27,Kern,California,137884,1540.00,6029,CA,County,900202,15317.01,171.07,171.07,15317.01,13,6,952.00,8.00
1840,2021-09-27,Orange,California,317998,5409.00,6059,CA,County,3175692,10013.50,170.33,170.33,10013.50,14,30,1777.00,25.00
42822,2021-09-27,Madera,California,22239,263.00,6039,CA,County,157327,14135.53,167.17,167.17,14135.53,15,12,197.00,0.00
65030,2021-09-27,Shasta,California,21684,291.00,6089,CA,County,180080,12041.31,161.59,161.59,12041.31,16,21,310.00,1.00
745803,2021-09-27,Sutter,California,13311,155.00,6101,CA,County,96971,13726.78,159.84,159.84,13726.78,17,14,83.00,1.00
674484,2021-09-27,Calaveras,California,3555,70.00,6009,CA,County,45905,7744.25,152.49,152.49,7744.25,18,47,44.00,0.00
423903,2021-09-27,Amador,California,5054,59.00,6005,CA,County,39752,12713.83,148.42,148.42,12713.83,19,19,67.00,0.00
1318734,2021-09-27,Lake,California,6202,95.00,6033,CA,County,64386,9632.53,147.55,147.55,9632.53,20,35,67.00,3.00
8428,2021-09-27,Sacramento,California,152675,2142.00,6067,CA,County,1552058,9836.94,138.01,138.01,9836.94,21,33,1017.00,4.00
1202056,2021-09-27,Del Norte,California,3571,38.00,6015,CA,County,27812,12839.78,136.63,136.63,12839.78,22,18,32.00,2.00
1242306,2021-09-27,Tehama,California,8560,88.00,6103,CA,County,65084,13152.23,135.21,135.21,13152.23,23,16,123.00,2.00
75252,2021-09-27,Ventura,California,98624,1138.00,6111,CA,County,846006,11657.60,134.51,134.51,11657.60,24,23,332.00,4.00
265781,2021-09-27,Monterey,California,49872,574.00,6053,CA,County,434061,11489.63,132.24,132.24,11489.63,25,24,139.00,1.00
966786,2021-09-27,Glenn,California,4113,36.00,6021,CA,County,28393,14485.96,126.79,126.79,14485.96,26,11,38.00,1.00
6074,2021-09-27,San Diego,California,371249,4051.00,6073,CA,County,3338330,11120.80,121.35,121.35,11120.80,27,26,2397.00,12.00
1587985,2021-09-27,Lassen,California,7089,36.00,6035,CA,County,30573,23187.13,117.75,117.75,23187.13,28,1,0.00,0.00
502991,2021-09-27,Siskiyou,California,4295,51.00,6093,CA,County,43539,9864.72,117.14,117.14,9864.72,29,32,42.00,0.00
176424,2021-09-27,San Luis Obispo,California,28759,324.00,6079,CA,County,283111,10158.21,114.44,114.44,10158.21,30,28,177.00,0.00
211324,2021-09-27,Santa Barbara,California,43571,505.00,6083,CA,County,446499,9758.36,113.10,113.10,9758.36,31,34,218.00,0.00
501879,2021-09-27,Butte,California,22019,238.00,6007,CA,County,219186,10045.81,108.58,108.58,10045.81,32,29,238.00,2.00
28549,2021-09-27,Yolo,California,19462,239.00,6113,CA,County,220500,8826.30,108.39,108.39,8826.30,33,40,103.00,0.00
145407,2021-09-27,San Benito,California,7161,67.00,6069,CA,County,62808,11401.41,106.67,106.67,11401.41,34,25,47.00,0.00
3668,2021-09-27,Santa Clara,California,141810,1853.00,6085,CA,County,1927852,7355.86,96.12,96.12,7355.86,35,49,644.00,8.00
304973,2021-09-27,Mendocino,California,7071,82.00,6045,CA,County,86749,8151.10,94.53,94.53,8151.10,36,44,87.00,6.00
10753,2021-09-27,Marin,California,17258,242.00,6041,CA,County,258826,6667.80,93.50,93.50,6667.80,37,53,58.00,0.00
15372,2021-09-27,Placer,California,37312,370.00,6061,CA,County,398329,9367.13,92.89,92.89,9367.13,38,37,279.00,3.00
1668518,2021-09-27,Modoc,California,705,8.00,6049,CA,County,8841,7974.21,90.49,90.49,7974.21,39,46,0.00,0.00
240542,2021-09-27,Nevada,California,8639,85.00,6057,CA,County,99755,8660.22,85.21,85.21,8660.22,40,41,71.00,0.00
904090,2021-09-27,Colusa,California,2944,18.00,6011,CA,County,21547,13663.15,83.54,83.54,13663.15,41,15,5.00,0.00
503547,2021-09-27,Yuba,California,9847,64.00,6115,CA,County,78668,12517.16,81.35,81.35,12517.16,42,20,92.00,2.00
18821,2021-09-27,Contra Costa,California,96871,924.00,6013,CA,County,1153526,8397.82,80.10,80.10,8397.82,43,43,540.00,0.00
15947,2021-09-27,San Mateo,California,52770,612.00,6081,CA,County,766573,6883.88,79.84,79.84,6883.88,44,52,230.00,0.00
13645,2021-09-27,Alameda,California,117408,1328.00,6001,CA,County,1671329,7024.83,79.46,79.46,7024.83,45,50,587.00,-5.00
43962,2021-09-27,Santa Cruz,California,20334,214.00,6087,CA,County,273213,7442.54,78.33,78.33,7442.54,46,48,79.00,0.00
11913,2021-09-27,Sonoma,California,39799,384.00,6097,CA,County,494336,8051.00,77.68,77.68,8051.00,47,45,190.00,0.00
1523525,2021-09-27,Mariposa,California,1062,13.00,6043,CA,County,17203,6173.34,75.57,75.57,6173.34,48,56,35.00,0.00
1564553,2021-09-27,Trinity,California,759,9.00,6105,CA,County,12285,6178.27,73.26,73.26,6178.27,49,55,15.00,0.00
4877,2021-09-27,San Francisco,California,52583,622.00,6075,CA,County,881549,5964.84,70.56,70.56,5964.84,50,57,252.00,7.00
9010,2021-09-27,Solano,California,44663,314.00,6095,CA,County,447643,9977.37,70.15,70.15,9977.37,51,31,206.00,2.00
7843,2021-09-27,Humboldt,California,8514,94.00,6023,CA,County,135558,6280.71,69.34,69.34,6280.71,52,54,84.00,1.00
11333,2021-09-27,Napa,California,12427,95.00,6055,CA,County,137744,9021.81,68.97,68.97,9021.81,53,38,74.00,0.00
502435,2021-09-27,El Dorado,California,16291,132.00,6017,CA,County,192843,8447.80,68.45,68.45,8447.80,54,42,97.00,2.00
675590,2021-09-27,Mono,California,1529,5.00,6051,CA,County,14444,10585.71,34.62,34.62,10585.71,55,27,15.00,0.00
1123508,2021-09-27,Plumas,California,1297,6.00,6063,CA,County,18807,6896.37,31.90,31.90,6896.37,56,51,30.00,0.00
1072093,2021-09-27,Alpine,California,101,0.00,6003,CA,County,1129,8945.97,0.00,0.00,8945.97,57,39,0.00,0.00
1585022,2021-09-27,Sierra,California,143,0.00,6091,CA,County,3005,4758.74,0.00,0.00,4758.74,58,58,1.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
1587985,2021-09-27,Lassen,California,7089,36.00,6035,CA,County,30573,23187.13,117.75,117.75,23187.13,28,1,0.00,0.00
904640,2021-09-27,Kings,California,30713,293.00,6031,CA,County,152940,20081.73,191.58,191.58,20081.73,11,2,294.00,0.00
424460,2021-09-27,Imperial,California,34644,755.00,6025,CA,County,181215,19117.62,416.63,416.63,19117.62,1,3,182.00,1.00
210762,2021-09-27,San Bernardino,California,350405,5545.00,6071,CA,County,2180085,16073.00,254.35,254.35,16073.00,3,4,1358.00,5.00
116598,2021-09-27,Tulare,California,74793,904.00,6107,CA,County,466195,16043.29,193.91,193.91,16043.29,10,5,651.00,6.00
265221,2021-09-27,Kern,California,137884,1540.00,6029,CA,County,900202,15317.01,171.07,171.07,15317.01,13,6,952.00,8.00
93961,2021-09-27,Stanislaus,California,82039,1262.00,6099,CA,County,550660,14898.30,229.18,229.18,14898.30,4,7,562.00,6.00
43392,2021-09-27,Riverside,California,361852,4963.00,6065,CA,County,2470546,14646.64,200.89,200.89,14646.64,7,8,1794.00,12.00
675037,2021-09-27,Merced,California,40461,554.00,6047,CA,County,277680,14571.09,199.51,199.51,14571.09,8,9,341.00,2.00
3062,2021-09-27,Los Angeles,California,1455864,26035.00,6037,CA,County,10039107,14501.93,259.34,259.34,14501.93,2,10,983.00,22.00

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,death_day
424460,2021-09-27,Imperial,California,34644,755.00,6025,CA,County,181215,19117.62,416.63,416.63,19117.62,1,3,182.00,1.00
3062,2021-09-27,Los Angeles,California,1455864,26035.00,6037,CA,County,10039107,14501.93,259.34,259.34,14501.93,2,10,983.00,22.00
210762,2021-09-27,San Bernardino,California,350405,5545.00,6071,CA,County,2180085,16073.00,254.35,254.35,16073.00,3,4,1358.00,5.00
93961,2021-09-27,Stanislaus,California,82039,1262.00,6099,CA,County,550660,14898.30,229.18,229.18,14898.30,4,7,562.00,6.00
745251,2021-09-27,Inyo,California,1713,39.00,6027,CA,County,18039,9496.09,216.20,216.20,9496.09,5,36,28.00,0.00
74685,2021-09-27,San Joaquin,California,99013,1642.00,6077,CA,County,762148,12991.31,215.44,215.44,12991.31,6,17,662.00,1.00
43392,2021-09-27,Riverside,California,361852,4963.00,6065,CA,County,2470546,14646.64,200.89,200.89,14646.64,7,8,1794.00,12.00
675037,2021-09-27,Merced,California,40461,554.00,6047,CA,County,277680,14571.09,199.51,199.51,14571.09,8,9,341.00,2.00
42252,2021-09-27,Fresno,California,138323,1939.00,6019,CA,County,999101,13844.75,194.07,194.07,13844.75,9,13,936.00,12.00
116598,2021-09-27,Tulare,California,74793,904.00,6107,CA,County,466195,16043.29,193.91,193.91,16043.29,10,5,651.00,6.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_case_df

,date,county,cases,deaths,current_crate,current_drate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,1,3,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,1,3,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,1,3,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,1,3,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,1,3,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...
5582,09/23/21,Lassen,7053,35.00,23069.37,114.48,28,1,18.00,1.00
5583,09/24/21,Lassen,7089,36.00,23187.13,117.75,28,1,36.00,1.00
5584,09/25/21,Lassen,7089,36.00,23187.13,117.75,28,1,0.00,0.00
5585,09/26/21,Lassen,7089,36.00,23187.13,117.75,28,1,0.00,0.00
5586,09/27/21,Lassen,7089,36.00,23187.13,117.75,28,1,0.00,0.00

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','cases', 'deaths', 'current_crate', 'current_drate', 'state_death', 'state_case', 'case_day', 'death_day']]
top10_ca_death_df

,date,county,cases,deaths,current_crate,current_drate,state_death,state_case,case_day,death_day
0,03/20/20,Imperial,4,0.00,2.21,0.00,1,3,4.00,0.00
1,03/21/20,Imperial,4,0.00,2.21,0.00,1,3,0.00,0.00
2,03/22/20,Imperial,4,0.00,2.21,0.00,1,3,0.00,0.00
3,03/23/20,Imperial,4,0.00,2.21,0.00,1,3,0.00,0.00
4,03/24/20,Imperial,9,0.00,4.97,0.00,1,3,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...
5668,09/23/21,Tulare,74009,896.00,15875.12,192.19,10,5,593.00,0.00
5669,09/24/21,Tulare,74142,898.00,15903.65,192.62,10,5,133.00,2.00
5670,09/25/21,Tulare,74142,898.00,15903.65,192.62,10,5,0.00,0.00
5671,09/26/21,Tulare,74142,898.00,15903.65,192.62,10,5,0.00,0.00
5672,09/27/21,Tulare,74793,904.00,16043.29,193.91,10,5,651.00,6.00

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)