In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
vaccine_df = pd.read_csv('https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-vaccination-county-totals.csv')
vaccine_df['state'] = 'California'
vaccine_df

,date,county,fips,doses_administered,new_doses_administered,state
0,2021-04-06,Alameda,1,1004319,18603.00,California
1,2021-04-06,Alpine,3,1111,75.00,California
2,2021-04-06,Amador,5,21032,969.00,California
3,2021-04-06,Butte,7,103776,2025.00,California
4,2021-04-06,Calaveras,9,22746,209.00,California
...,...,...,...,...,...,...
3997,2021-01-28,Tulare,107,22964,nan,California
3998,2021-01-28,Tuolumne,109,4490,nan,California
3999,2021-01-28,Ventura,111,60015,nan,California
4000,2021-01-28,Yolo,113,15634,nan,California
4001,2021-01-28,Yuba,115,2844,nan,California

In [3]:
vaccine_df.to_csv('cdph-vaccination-county-totals.csv', index=False)