In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Read in New York Times online csv file with daily COVID data
# Convert FIPS number to integer, convert date to datetime, save file to local csv

yr2020_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
yr2020_df['fips'] = yr2020_df['fips'].fillna(0).astype(np.int64)
yr2020_df['date'] = pd.to_datetime(yr2020_df['date'], yearfirst=True)
yr2021_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')
yr2021_df['fips'] = yr2021_df['fips'].fillna(0).astype(np.int64)
yr2021_df['date'] = pd.to_datetime(yr2021_df['date'], yearfirst=True)
yr2022_df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv')
yr2022_df['fips'] = yr2022_df['fips'].fillna(0).astype(np.int64)
yr2022_df['date'] = pd.to_datetime(yr2022_df['date'], yearfirst=True)
us_covid_df = pd.concat([yr2020_df, yr2021_df, yr2022_df])
us_covid_df.to_csv('us_covid.csv', index=False)

In [3]:
# Read in national population data provided by state, county, FIPS

us_pops_df = pd.read_csv('US_Populations.csv', engine='python', thousands=',')
us_pops_df

,FIPStxt,State,State2,Area_Name,Region,population
0,2000,Alaska,AK,Alaska,State,731545
1,2013,Alaska,AK,Aleutians East Borough,County,3337
2,2016,Alaska,AK,Aleutians West Census Area,County,5634
3,2020,Alaska,AK,Anchorage,County,288000
4,2050,Alaska,AK,Bethel Census Area,County,18386
...,...,...,...,...,...,...
3146,22119,Louisiana,LA,Webster,County,38340
3147,22121,Louisiana,LA,West Baton Rouge,County,26465
3148,22123,Louisiana,LA,West Carroll,County,10830
3149,22125,Louisiana,LA,West Feliciana,County,15568
3150,22127,Louisiana,LA,Winn,County,13904

In [4]:
# Merge New York Times data with population data

us_data_df = pd.merge(us_covid_df, us_pops_df, left_on=['county', 'state'], right_on=['Area_Name', 'State'])
us_data_df

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
0,2020-01-21,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
1,2020-01-22,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
2,2020-01-23,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
3,2020-01-24,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
4,2020-01-25,Snohomish,Washington,53061,1,0.00,53061,Washington,WA,Snohomish,County,822083
...,...,...,...,...,...,...,...,...,...,...,...,...
3108207,2022-12-27,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3108208,2022-12-28,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3108209,2022-12-29,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3108210,2022-12-30,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86
3108211,2022-12-31,Kalawao,Hawaii,15005,1,0.00,15005,Hawaii,HI,Kalawao,County,86

In [5]:
# Separate out data from the state level

states = us_data_df[(us_data_df['Region'] == 'State')]
states

,date,county,state,fips,cases,deaths,FIPStxt,State,State2,Area_Name,Region,population
78923,2020-03-07,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
78925,2020-03-08,District of Columbia,District of Columbia,11001,1,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
78927,2020-03-09,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
78929,2020-03-10,District of Columbia,District of Columbia,11001,4,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
78931,2020-03-11,District of Columbia,District of Columbia,11001,10,0.00,11000,District of Columbia,DC,District of Columbia,State,705749
...,...,...,...,...,...,...,...,...,...,...,...,...
1872991,2022-12-27,Arkansas,Arkansas,5001,6825,93.00,5000,Arkansas,AR,Arkansas,State,3017804
1872993,2022-12-28,Arkansas,Arkansas,5001,6829,93.00,5000,Arkansas,AR,Arkansas,State,3017804
1872995,2022-12-29,Arkansas,Arkansas,5001,6830,93.00,5000,Arkansas,AR,Arkansas,State,3017804
1872997,2022-12-30,Arkansas,Arkansas,5001,6839,93.00,5000,Arkansas,AR,Arkansas,State,3017804
1872999,2022-12-31,Arkansas,Arkansas,5001,6843,93.00,5000,Arkansas,AR,Arkansas,State,3017804

In [6]:
# Separate out data specific to county level, drop redundant columns
#  Create infection and death rates, updating for each date in the dataframe

counties = us_data_df.drop(['fips', 'State','Area_Name'], axis=1)
counties['current_crate'] = counties['cases']*100000/counties['population']
counties['current_drate'] = counties['deaths']*100000/counties['population']
counties = counties[(counties['Region'] == 'County')]
counties

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00
...,...,...,...,...,...,...,...,...,...,...,...
3108207,2022-12-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3108208,2022-12-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3108209,2022-12-29,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3108210,2022-12-30,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00
3108211,2022-12-31,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [7]:
# Isolate data from most current day.

counties_us = counties[(counties['date'] == '2022-12-31') & (counties['Region'] == 'County')]
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate
1075,2022-12-31,Snohomish,Washington,199656,1378.00,53061,WA,County,822083,24286.60,167.62
2148,2022-12-31,Cook,Illinois,1487242,15597.00,17031,IL,County,5150233,28877.18,302.84
3220,2022-12-31,Orange,California,765292,7674.00,6059,CA,County,3175692,24098.43,241.65
4291,2022-12-31,Maricopa,Arizona,1484296,18339.00,4013,AZ,County,4485414,33091.62,408.86
5362,2022-12-31,Los Angeles,California,3632440,34671.00,6037,CA,County,10039107,36182.90,345.36
...,...,...,...,...,...,...,...,...,...,...,...
3105095,2022-12-31,Wheeler,Oregon,303,3.00,41069,OR,County,1332,22747.75,225.23
3105905,2022-12-31,King,Texas,54,0.00,48269,TX,County,272,19852.94,0.00
3106684,2022-12-31,Esmeralda,Nevada,124,5.00,32009,NV,County,873,14203.89,572.74
3107459,2022-12-31,Loving,Texas,369,1.00,48301,TX,County,169,218343.20,591.72
3108211,2022-12-31,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00

In [8]:
# Create up to date rates so rankings can be performed using the latest data.

counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)
counties_us = counties_us[(counties_us['Region'] == 'County')]
counties_us

<ipython-input-8-608f6ade14d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['drate'] = counties_us['deaths']/(counties_us['population']/100000)
<ipython-input-8-608f6ade14d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_us['crate'] = counties_us['cases']/(counties_us['population']/100000)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate
1075,2022-12-31,Snohomish,Washington,199656,1378.00,53061,WA,County,822083,24286.60,167.62,167.62,24286.60
2148,2022-12-31,Cook,Illinois,1487242,15597.00,17031,IL,County,5150233,28877.18,302.84,302.84,28877.18
3220,2022-12-31,Orange,California,765292,7674.00,6059,CA,County,3175692,24098.43,241.65,241.65,24098.43
4291,2022-12-31,Maricopa,Arizona,1484296,18339.00,4013,AZ,County,4485414,33091.62,408.86,408.86,33091.62
5362,2022-12-31,Los Angeles,California,3632440,34671.00,6037,CA,County,10039107,36182.90,345.36,345.36,36182.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3105095,2022-12-31,Wheeler,Oregon,303,3.00,41069,OR,County,1332,22747.75,225.23,225.23,22747.75
3105905,2022-12-31,King,Texas,54,0.00,48269,TX,County,272,19852.94,0.00,0.00,19852.94
3106684,2022-12-31,Esmeralda,Nevada,124,5.00,32009,NV,County,873,14203.89,572.74,572.74,14203.89
3107459,2022-12-31,Loving,Texas,369,1.00,48301,TX,County,169,218343.20,591.72,591.72,218343.20
3108211,2022-12-31,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79

In [9]:
# Create ranking of infection rates by county for each state

counties_us.sort_values(by=['state', 'crate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_case']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case
1651918,2022-12-31,Winston,Alabama,9030,139.00,1133,AL,County,23629,38215.75,588.26,588.26,38215.75,1
1959684,2022-12-31,Hale,Alabama,5523,110.00,1065,AL,County,14651,37697.09,750.80,750.80,37697.09,2
1349463,2022-12-31,Clay,Alabama,4941,90.00,1027,AL,County,13235,37332.83,680.02,680.02,37332.83,3
1219804,2022-12-31,Morgan,Alabama,44434,544.00,1103,AL,County,119679,37127.65,454.55,454.55,37127.65,4
1133616,2022-12-31,Franklin,Alabama,11566,149.00,1059,AL,County,31362,36879.03,475.10,475.10,36879.03,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548857,2022-12-31,Park,Wyoming,7611,151.00,56029,WY,County,29194,26070.43,517.23,517.23,26070.43,19
2650164,2022-12-31,Big Horn,Wyoming,3046,64.00,56003,WY,County,11790,25835.45,542.83,542.83,25835.45,20
2331611,2022-12-31,Lincoln,Wyoming,4849,35.00,56023,WY,County,19830,24452.85,176.50,176.50,24452.85,21
1869975,2022-12-31,Sublette,Wyoming,2295,28.00,56035,WY,County,9831,23344.52,284.81,284.81,23344.52,22
2378705,2022-12-31,Crook,Wyoming,1544,32.00,56011,WY,County,7584,20358.65,421.94,421.94,20358.65,23

In [10]:
# Create ranking of death rates by county for each state

counties_us.sort_values(by=['state', 'drate', 'county'], inplace=True, ascending=(True, False, True))
counties_us['state_death']=counties_us.groupby([counties_us.State2]).cumcount()+1
counties_us

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_case,state_death
1528581,2022-12-31,Lowndes,Alabama,3148,82.00,1085,AL,County,9726,32366.85,843.10,843.10,32366.85,31,1
1526559,2022-12-31,Crenshaw,Alabama,4516,108.00,1041,AL,County,13772,32791.17,784.20,784.20,32791.17,24,2
1959684,2022-12-31,Hale,Alabama,5523,110.00,1065,AL,County,14651,37697.09,750.80,750.80,37697.09,2,3
644640,2022-12-31,Walker,Alabama,22885,476.00,1127,AL,County,63521,36027.46,749.36,749.36,36027.46,7,4
1647878,2022-12-31,Covington,Alabama,11250,266.00,1039,AL,County,37049,30365.19,717.97,717.97,30365.19,45,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1646868,2022-12-31,Johnson,Wyoming,2310,21.00,56019,WY,County,8445,27353.46,248.67,248.67,27353.46,15,19
2272434,2022-12-31,Uinta,Wyoming,6305,43.00,56041,WY,County,20226,31172.75,212.60,212.60,31172.75,11,20
2331611,2022-12-31,Lincoln,Wyoming,4849,35.00,56023,WY,County,19830,24452.85,176.50,176.50,24452.85,21,21
1522515,2022-12-31,Albany,Wyoming,11416,54.00,56001,WY,County,38880,29362.14,138.89,138.89,29362.14,13,22
641586,2022-12-31,Teton,Wyoming,12010,16.00,56039,WY,County,23464,51184.79,68.19,68.19,51184.79,1,23

In [11]:
# Merge data from today with historical data to provide current rates + rates from previous points in time.

usa = pd.merge(counties, counties_us[['state', 'county','drate', 'crate', 'state_death', 'state_case']], on=['state', 'county'])
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case
0,2020-01-21,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,167.62,24286.60,32,15
1,2020-01-22,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,167.62,24286.60,32,15
2,2020-01-23,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,167.62,24286.60,32,15
3,2020-01-24,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,167.62,24286.60,32,15
4,2020-01-25,Snohomish,Washington,1,0.00,53061,WA,County,822083,0.12,0.00,167.62,24286.60,32,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3101081,2022-12-27,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3101082,2022-12-28,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3101083,2022-12-29,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3101084,2022-12-30,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5
3101085,2022-12-31,Kalawao,Hawaii,1,0.00,15005,HI,County,86,1162.79,0.00,0.00,1162.79,5,5

In [12]:
# Break out daily case data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_case', 'date'], inplace=True)
usa['case_day'] = usa.groupby(['state','county']).cases.diff().fillna(usa.cases)
usa[ '14day_case_avg' ] = usa.case_day.rolling(14).mean()
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg
1645801,2020-03-27,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,588.26,38215.75,18,1,2.00,nan
1645802,2020-03-28,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,588.26,38215.75,18,1,0.00,nan
1645803,2020-03-29,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,588.26,38215.75,18,1,0.00,nan
1645804,2020-03-30,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,588.26,38215.75,18,1,0.00,nan
1645805,2020-03-31,Winston,Alabama,2,0.00,1133,AL,County,23629,8.46,0.00,588.26,38215.75,18,1,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2371575,2022-12-27,Crook,Wyoming,1544,32.00,56011,WY,County,7584,20358.65,421.94,421.94,20358.65,9,23,1.00,0.21
2371576,2022-12-28,Crook,Wyoming,1544,32.00,56011,WY,County,7584,20358.65,421.94,421.94,20358.65,9,23,0.00,0.21
2371577,2022-12-29,Crook,Wyoming,1544,32.00,56011,WY,County,7584,20358.65,421.94,421.94,20358.65,9,23,0.00,0.21
2371578,2022-12-30,Crook,Wyoming,1544,32.00,56011,WY,County,7584,20358.65,421.94,421.94,20358.65,9,23,0.00,0.21
2371579,2022-12-31,Crook,Wyoming,1544,32.00,56011,WY,County,7584,20358.65,421.94,421.94,20358.65,9,23,0.00,0.21

In [13]:
# Break out daily death data from the New York Times csv that is cumulative in nature

usa.sort_values(by=['state', 'state_death', 'date'], inplace=True)
usa['death_day'] = usa.groupby(['state','county']).deaths.diff().fillna(usa.deaths)
usa['14day_death_avg' ] = usa.death_day.rolling(14).mean()
usa['deaths'] = usa['deaths'].astype(int)
usa

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
1522463,2020-03-26,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,32366.85,1,31,1.00,25.79,0.00,nan
1522464,2020-03-27,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,32366.85,1,31,0.00,25.79,0.00,nan
1522465,2020-03-28,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,32366.85,1,31,0.00,25.79,0.00,nan
1522466,2020-03-29,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,32366.85,1,31,0.00,0.07,0.00,nan
1522467,2020-03-30,Lowndes,Alabama,1,0,1085,AL,County,9726,10.28,0.00,843.10,32366.85,1,31,0.00,0.07,0.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637486,2022-12-27,Teton,Wyoming,12010,16,56039,WY,County,23464,51184.79,68.19,68.19,51184.79,23,1,13.00,3.00,0.00,0.00
637487,2022-12-28,Teton,Wyoming,12010,16,56039,WY,County,23464,51184.79,68.19,68.19,51184.79,23,1,0.00,3.00,0.00,0.00
637488,2022-12-29,Teton,Wyoming,12010,16,56039,WY,County,23464,51184.79,68.19,68.19,51184.79,23,1,0.00,3.00,0.00,0.00
637489,2022-12-30,Teton,Wyoming,12010,16,56039,WY,County,23464,51184.79,68.19,68.19,51184.79,23,1,0.00,3.00,0.00,0.00
637490,2022-12-31,Teton,Wyoming,12010,16,56039,WY,County,23464,51184.79,68.19,68.19,51184.79,23,1,0.00,3.00,0.00,0.00

In [14]:
# Export updated national data to csv for use in Tableau

usa.to_csv('daily_covid_us.csv', index=False)

In [15]:
# Filter California data to show only numbers for today

counties_cal = usa[(usa['date'] == '2022-12-31') & (usa['state'] == 'California')]
counties_cal

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
770840,2022-12-31,Imperial,California,86920,1020,6025,CA,County,181215,47965.12,562.87,562.87,47965.12,1,1,0.00,78.07,0.00,0.00
1870913,2022-12-31,Tuolumne,California,17759,211,6109,CA,County,54478,32598.48,387.31,387.31,32598.48,2,9,0.00,15.43,0.00,0.14
117010,2022-12-31,Shasta,California,44117,690,6089,CA,County,180080,24498.56,383.16,383.16,24498.56,3,37,0.00,57.21,0.00,0.00
381422,2022-12-31,San Bernardino,California,730031,8142,6071,CA,County,2180085,33486.35,373.47,373.47,33486.35,4,7,0.00,600.07,0.00,0.43
1763966,2022-12-31,Glenn,California,7689,99,6021,CA,County,28393,27080.62,348.68,348.68,27080.62,5,24,0.00,5.50,0.00,0.00
5362,2022-12-31,Los Angeles,California,3632440,34671,6037,CA,County,10039107,36182.90,345.36,345.36,36182.90,6,4,0.00,2377.36,0.00,18.64
1357511,2022-12-31,Inyo,California,5876,62,6027,CA,County,18039,32573.87,343.70,343.70,32573.87,7,10,0.00,14.21,0.00,0.14
2271326,2022-12-31,Tehama,California,17545,219,6103,CA,County,65084,26957.47,336.49,336.49,26957.47,8,25,0.00,18.21,0.00,0.00
210438,2022-12-31,Tulare,California,164161,1546,6107,CA,County,466195,35212.95,331.62,331.62,35212.95,9,5,0.00,156.00,0.00,0.00
2916925,2022-12-31,Lassen,California,11620,101,6035,CA,County,30573,38007.39,330.36,330.36,38007.39,10,3,0.00,2.93,0.00,0.00
169401,2022-12-31,Stanislaus,California,164769,1800,6099,CA,County,550660,29922.09,326.88,326.88,29922.09,11,15,0.00,101.86,0.00,0.00
76862,2022-12-31,Madera,California,54116,510,6039,CA,County,157327,34397.15,324.17,324.17,34397.15,12,6,0.00,50.29,0.00,0.00
77892,2022-12-31,Riverside,California,759578,7863,6065,CA,County,2470546,30745.35,318.27,318.27,30745.35,13,14,0.00,693.64,0.00,0.00
1228877,2022-12-31,Merced,California,87127,883,6047,CA,County,277680,31376.76,317.99,317.99,31376.76,14,12,0.00,62.79,0.00,0.21
134485,2022-12-31,San Joaquin,California,221695,2363,6077,CA,County,762148,29088.18,310.04,310.04,29088.18,15,17,0.00,178.86,0.00,0.71
1649840,2022-12-31,Kings,California,66058,466,6031,CA,County,152940,43192.10,304.69,304.69,43192.10,16,2,0.00,46.00,0.00,0.00
1227864,2022-12-31,Calaveras,California,9446,135,6009,CA,County,45905,20577.28,294.09,294.09,20577.28,17,52,0.00,9.14,0.00,0.00
75832,2022-12-31,Fresno,California,318906,2918,6019,CA,County,999101,31919.30,292.06,292.06,31919.30,18,11,0.00,302.36,0.00,0.93
480501,2022-12-31,Kern,California,300623,2583,6029,CA,County,900202,33395.06,286.94,286.94,33395.06,19,8,0.00,121.36,0.00,0.00
914231,2022-12-31,Siskiyou,California,8764,124,6093,CA,County,43539,20129.08,284.80,284.80,20129.08,20,53,0.00,-0.07,0.00,0.00
3077498,2022-12-31,Modoc,California,1294,23,6049,CA,County,8841,14636.35,260.15,260.15,14636.35,21,56,0.00,2.57,0.00,0.00
2794045,2022-12-31,Mariposa,California,4405,44,6043,CA,County,17203,25606.00,255.77,255.77,25606.00,22,31,0.00,0.79,0.00,0.00
1358523,2022-12-31,Sutter,California,27717,245,6101,CA,County,96971,28582.77,252.65,252.65,28582.77,23,19,0.00,16.07,0.00,0.00
2052248,2022-12-31,Plumas,California,4240,47,6063,CA,County,18807,22544.80,249.91,249.91,22544.80,24,47,0.00,2.79,0.00,0.00
2412614,2022-12-31,Lake,California,14599,160,6033,CA,County,64386,22674.18,248.50,248.50,22674.18,25,46,0.00,12.71,0.00,0.00
3220,2022-12-31,Orange,California,765292,7674,6059,CA,County,3175692,24098.43,241.65,241.65,24098.43,26,41,0.00,1012.00,0.00,4.71
769823,2022-12-31,Amador,California,11273,96,6005,CA,County,39752,28358.32,241.50,241.50,28358.32,27,20,0.00,7.79,0.00,0.00
912199,2022-12-31,Butte,California,50814,527,6007,CA,County,219186,23183.05,240.44,240.44,23183.05,28,44,0.00,57.29,0.00,0.00
2871873,2022-12-31,Trinity,California,1919,29,6105,CA,County,12285,15620.68,236.06,236.06,15620.68,29,55,0.00,6.57,0.00,0.00
1648830,2022-12-31,Colusa,California,5228,50,6011,CA,County,21547,24263.24,232.05,232.05,24263.24,30,40,0.00,2.00,0.00,0.00
14868,2022-12-31,Sacramento,California,398826,3594,6067,CA,County,1552058,25696.59,231.56,231.56,25696.59,31,29,0.00,369.36,0.00,1.79
2197036,2022-12-31,Del Norte,California,8080,61,6015,CA,County,27812,29052.21,219.33,219.33,29052.21,32,18,0.00,6.29,0.00,0.00
51089,2022-12-31,Yolo,California,53766,426,6113,CA,County,220500,24383.67,193.20,193.20,24383.67,33,39,0.00,21.64,0.00,0.71
915247,2022-12-31,Yuba,California,21457,151,6115,CA,County,78668,27275.39,191.95,191.95,27275.39,34,23,0.00,15.43,0.00,0.00
135512,2022-12-31,Ventura,California,233622,1605,6111,CA,County,846006,27614.70,189.71,189.71,27614.70,35,21,0.00,220.07,0.00,0.57
319024,2022-12-31,San Luis Obispo,California,72741,536,6079,CA,County,283111,25693.46,189.33,189.33,25693.46,36,30,0.00,58.57,0.00,0.21
481521,2022-12-31,Monterey,California,118770,803,6053,CA,County,434061,27362.51,185.00,185.00,27362.51,37,22,0.00,99.29,0.00,0.36
262707,2022-12-31,San Benito,California,18297,110,6069,CA,County,62808,29131.64,175.14,175.14,29131.64,38,16,0.00,20.36,0.00,0.00
10674,2022-12-31,San Diego,California,1040013,5829,6073,CA,County,3338330,31153.69,174.61,174.61,31153.69,39,13,0.00,771.29,0.00,0.00
27332,2022-12-31,Placer,California,89196,672,6061,CA,County,398329,22392.54,168.70,168.70,22392.54,40,48,0.00,71.00,0.00,0.43
382444,2022-12-31,Santa Barbara,California,116969,747,6083,CA,County,446499,26196.92,167.30,167.30,26196.92,41,27,0.00,94.43,0.00,0.29
2911202,2022-12-31,Sierra,California,371,5,6091,CA,County,3005,12346.09,166.39,166.39,12346.09,42,58,0.00,0.14,0.00,0.00
435582,2022-12-31,Nevada,California,21981,165,6057,CA,County,99755,22034.99,165.41,165.41,22034.99,43,49,0.00,20.43,0.00,0.00
552913,2022-12-31,Mendocino,California,21249,137,6045,CA,County,86749,24494.81,157.93,157.93,24494.81,44,38,0.00,23.50,0.00,0.07
15910,2022-12-31,Solano,California,118880,699,6095,CA,County,447643,26556.88,156.15,156.15,26556.88,45,26,0.00,118.93,0.00,0.00
913215,2022-12-31,El Dorado,California,38336,301,6017,CA,County,192843,19879.38,156.09,156.09,19879.38,46,54,0.00,29.00,0.00,0.00
6428,2022-12-31,Santa Clara,California,482414,2587,6085,CA,County,1927852,25023.39,134.19,134.19,25023.39,47,33,0.00,529.29,0.00,1.50
33541,2022-12-31,Contra Costa,California,286394,1502,6013,CA,County,1153526,24827.70,130.21,130.21,24827.70,48,34,0.00,301.00,0.00,0.79
24225,2022-12-31,Alameda,California,389576,2095,6001,CA,County,1671329,23309.35,125.35,125.35,23309.35,49,43,0.00,424.79,0.00,0.29
8557,2022-12-31,San Francisco,California,202946,1104,6075,CA,County,881549,23021.52,125.23,125.23,23021.52,50,45,0.00,224.36,0.00,1.21
78922,2022-12-31,Santa Cruz,California,70446,339,6087,CA,County,273213,25784.28,124.08,124.08,25784.28,51,28,0.00,57.86,0.00,0.00
19033,2022-12-31,Marin,California,53294,317,6041,CA,County,258826,20590.67,122.48,122.48,20590.67,52,51,0.00,48.21,0.00,0.14
13823,2022-12-31,Humboldt,California,28405,165,6023,CA,County,135558,20954.13,121.72,121.72,20954.13,53,50,0.00,40.29,0.00,0.00
20073,2022-12-31,Napa,California,35041,163,6055,CA,County,137744,25439.22,118.34,118.34,25439.22,54,32,0.00,29.00,0.00,0.07
1229890,2022-12-31,Mono,California,3566,17,6051,CA,County,14444,24688.45,117.70,117.70,24688.45,55,35,0.00,3.29,0.00,0.00
28367,2022-12-31,San Mateo,California,188929,877,6081,CA,County,766573,24645.92,114.41,114.41,24645.92,56,36,0.00,163.57,0.00,1.00
21113,2022-12-31,Sonoma,California,116739,557,6097,CA,County,494336,23615.31,112.68,112.68,23615.31,57,42,0.00,85.14,0.00,0.00
1957593,2022-12-31,Alpine,California,141,0,6003,CA,County,1129,12488.93,0.00,0.00,12488.93,58,57,0.00,0.07,0.00,0.00

In [16]:
# Show top 10 California counties based on largest current infection rate

counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)
top10_ca_case_rates = counties_cal.head(10)
top10_ca_case_rates

<ipython-input-16-94608615179b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['crate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
770840,2022-12-31,Imperial,California,86920,1020,6025,CA,County,181215,47965.12,562.87,562.87,47965.12,1,1,0.00,78.07,0.00,0.00
1649840,2022-12-31,Kings,California,66058,466,6031,CA,County,152940,43192.10,304.69,304.69,43192.10,16,2,0.00,46.00,0.00,0.00
2916925,2022-12-31,Lassen,California,11620,101,6035,CA,County,30573,38007.39,330.36,330.36,38007.39,10,3,0.00,2.93,0.00,0.00
5362,2022-12-31,Los Angeles,California,3632440,34671,6037,CA,County,10039107,36182.90,345.36,345.36,36182.90,6,4,0.00,2377.36,0.00,18.64
210438,2022-12-31,Tulare,California,164161,1546,6107,CA,County,466195,35212.95,331.62,331.62,35212.95,9,5,0.00,156.00,0.00,0.00
76862,2022-12-31,Madera,California,54116,510,6039,CA,County,157327,34397.15,324.17,324.17,34397.15,12,6,0.00,50.29,0.00,0.00
381422,2022-12-31,San Bernardino,California,730031,8142,6071,CA,County,2180085,33486.35,373.47,373.47,33486.35,4,7,0.00,600.07,0.00,0.43
480501,2022-12-31,Kern,California,300623,2583,6029,CA,County,900202,33395.06,286.94,286.94,33395.06,19,8,0.00,121.36,0.00,0.00
1870913,2022-12-31,Tuolumne,California,17759,211,6109,CA,County,54478,32598.48,387.31,387.31,32598.48,2,9,0.00,15.43,0.00,0.14
1357511,2022-12-31,Inyo,California,5876,62,6027,CA,County,18039,32573.87,343.70,343.70,32573.87,7,10,0.00,14.21,0.00,0.14

In [17]:
# Show top 10 California counties based on largest current death rate

counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)
top10_ca_death_rates = counties_cal.head(10)
top10_ca_death_rates

<ipython-input-17-018d0b919d54>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counties_cal.sort_values(by=['drate'], inplace=True, ascending=False)

,date,county,state,cases,deaths,FIPStxt,State2,Region,population,current_crate,current_drate,drate,crate,state_death,state_case,case_day,14day_case_avg,death_day,14day_death_avg
770840,2022-12-31,Imperial,California,86920,1020,6025,CA,County,181215,47965.12,562.87,562.87,47965.12,1,1,0.00,78.07,0.00,0.00
1870913,2022-12-31,Tuolumne,California,17759,211,6109,CA,County,54478,32598.48,387.31,387.31,32598.48,2,9,0.00,15.43,0.00,0.14
117010,2022-12-31,Shasta,California,44117,690,6089,CA,County,180080,24498.56,383.16,383.16,24498.56,3,37,0.00,57.21,0.00,0.00
381422,2022-12-31,San Bernardino,California,730031,8142,6071,CA,County,2180085,33486.35,373.47,373.47,33486.35,4,7,0.00,600.07,0.00,0.43
1763966,2022-12-31,Glenn,California,7689,99,6021,CA,County,28393,27080.62,348.68,348.68,27080.62,5,24,0.00,5.50,0.00,0.00
5362,2022-12-31,Los Angeles,California,3632440,34671,6037,CA,County,10039107,36182.90,345.36,345.36,36182.90,6,4,0.00,2377.36,0.00,18.64
1357511,2022-12-31,Inyo,California,5876,62,6027,CA,County,18039,32573.87,343.70,343.70,32573.87,7,10,0.00,14.21,0.00,0.14
2271326,2022-12-31,Tehama,California,17545,219,6103,CA,County,65084,26957.47,336.49,336.49,26957.47,8,25,0.00,18.21,0.00,0.00
210438,2022-12-31,Tulare,California,164161,1546,6107,CA,County,466195,35212.95,331.62,331.62,35212.95,9,5,0.00,156.00,0.00,0.00
2916925,2022-12-31,Lassen,California,11620,101,6035,CA,County,30573,38007.39,330.36,330.36,38007.39,10,3,0.00,2.93,0.00,0.00

In [18]:
# Create dataframe with historical data for Top 10 counties based on current case rate

top10c_df = top10_ca_case_rates[['county', 'state']]
top10_ca_case_df = pd.merge(usa, top10c_df, on=['county', 'state'])
top10_ca_case_df['date'] = pd.to_datetime(top10_ca_case_df['date']).dt.strftime('%m/%d/%y')
top10_ca_case_df = top10_ca_case_df[['date', 'county','cases', 'current_crate', 'case_day', '14day_case_avg']]
top10_ca_case_df['case_day'] = top10_ca_case_df['case_day'].astype(int)
top10_ca_case_df['date'] =  pd.to_datetime(top10_ca_case_df['date'], infer_datetime_format=True)
top10_ca_case_df

            date    county   cases  current_crate  case_day  14day_case_avg
0     2020-03-20  Imperial       4           2.21         4            0.71
1     2020-03-21  Imperial       4           2.21         0            0.71
2     2020-03-22  Imperial       4           2.21         0            0.64
3     2020-03-23  Imperial       4           2.21         0            0.64
4     2020-03-24  Imperial       9           4.97         5            1.00
...          ...       ...     ...            ...       ...             ...
10163 2022-12-27      Kern  300623       33395.06         0          229.86
10164 2022-12-28      Kern  300623       33395.06         0          229.86
10165 2022-12-29      Kern  300623       33395.06         0          121.36
10166 2022-12-30      Kern  300623       33395.06         0          121.36
10167 2022-12-31      Kern  300623       33395.06         0          121.36

[10168 rows x 6 columns]

In [19]:
# Create dataframe with historical data for Top 10 counties based on current death rate

top10d_df = top10_ca_death_rates[['county', 'state']]
top10_ca_death_df = pd.merge(usa, top10d_df, on=['county', 'state'])
top10_ca_death_df['date'] = pd.to_datetime(top10_ca_death_df['date']).dt.strftime('%m/%d/%y')
top10_ca_death_df = top10_ca_death_df[['date', 'county','deaths', 'current_drate', 'death_day', '14day_death_avg']]
top10_ca_death_df['death_day'] = top10_ca_death_df['death_day'].astype(int)
top10_ca_death_df['date'] =  pd.to_datetime(top10_ca_death_df['date'], infer_datetime_format=True)
top10_ca_death_df

            date    county  deaths  current_drate  death_day  14day_death_avg
0     2020-03-20  Imperial       0           0.00          0             0.00
1     2020-03-21  Imperial       0           0.00          0             0.00
2     2020-03-22  Imperial       0           0.00          0             0.00
3     2020-03-23  Imperial       0           0.00          0             0.00
4     2020-03-24  Imperial       0           0.00          0             0.00
...          ...       ...     ...            ...        ...              ...
10143 2022-12-27    Lassen     101         330.36          0             0.00
10144 2022-12-28    Lassen     101         330.36          0             0.00
10145 2022-12-29    Lassen     101         330.36          0             0.00
10146 2022-12-30    Lassen     101         330.36          0             0.00
10147 2022-12-31    Lassen     101         330.36          0             0.00

[10148 rows x 6 columns]

In [20]:
# Export California Top 10 case data to csv

top10_ca_case_df.to_csv('top10cases.csv', float_format='%.2f', index=False)

In [21]:
# Export California Top 10 death data to csv

top10_ca_death_df.to_csv('top10deaths.csv', float_format='%.2f', index=False)