In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
google_df = pd.read_csv('Global_Mobility_Report.csv', low_memory=False)
google_df['census_fips_code'] = google_df['census_fips_code'].fillna(0).astype(np.int64)
google_df.tail()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
10879575,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,0,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-08-01,nan,nan,nan,nan,113.00,nan
10879576,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,0,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-08-02,nan,nan,nan,nan,135.00,nan
10879577,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,0,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-08-03,nan,nan,nan,nan,137.00,nan
10879578,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,0,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-08-04,nan,nan,nan,nan,123.00,nan
10879579,ZW,Zimbabwe,Midlands Province,Kwekwe,NaN,NaN,0,ChIJRcIZ3-FJNBkRRsj55IcLpfU,2022-08-05,nan,nan,nan,nan,111.00,nan

In [3]:
us_google = google_df[google_df['country_region'] == 'United States']
us_google["sub_region_2"]= us_google["sub_region_2"].str.replace(" County", "")
us_google["sub_region_2"] = us_google["sub_region_2"].fillna('Statewide')
us_google

<ipython-input-3-85bba7a4b043>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_google["sub_region_2"]= us_google["sub_region_2"].str.replace(" County", "")
<ipython-input-3-85bba7a4b043>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_google["sub_region_2"] = us_google["sub_region_2"].fillna('Statewide')

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
8445674,US,United States,NaN,Statewide,NaN,NaN,0,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2020-02-15,6.00,2.00,15.00,3.00,2.00,-1.00
8445675,US,United States,NaN,Statewide,NaN,NaN,0,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2020-02-16,7.00,1.00,16.00,2.00,0.00,-1.00
8445676,US,United States,NaN,Statewide,NaN,NaN,0,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2020-02-17,6.00,0.00,28.00,-9.00,-24.00,5.00
8445677,US,United States,NaN,Statewide,NaN,NaN,0,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2020-02-18,0.00,-1.00,6.00,1.00,0.00,1.00
8445678,US,United States,NaN,Statewide,NaN,NaN,0,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2020-02-19,2.00,0.00,8.00,1.00,1.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10774083,US,United States,Wyoming,Weston,NaN,NaN,56045,ChIJd4Rqhed3YocR7ubT5-HgoJg,2022-08-01,nan,nan,nan,nan,-35.00,nan
10774084,US,United States,Wyoming,Weston,NaN,NaN,56045,ChIJd4Rqhed3YocR7ubT5-HgoJg,2022-08-02,nan,nan,nan,nan,-28.00,nan
10774085,US,United States,Wyoming,Weston,NaN,NaN,56045,ChIJd4Rqhed3YocR7ubT5-HgoJg,2022-08-03,nan,nan,nan,nan,-37.00,nan
10774086,US,United States,Wyoming,Weston,NaN,NaN,56045,ChIJd4Rqhed3YocR7ubT5-HgoJg,2022-08-04,nan,nan,nan,nan,-26.00,nan
10774087,US,United States,Wyoming,Weston,NaN,NaN,56045,ChIJd4Rqhed3YocR7ubT5-HgoJg,2022-08-05,nan,nan,nan,nan,-28.00,nan

In [4]:
# us_google = us_google[['country_region_code', 'country_region', 'sub_region_1', 'sub_region_2', 'metro_area', 'iso_3166_2_code', 'date', 'workplaces_percent_change_from_baseline', 'residential_percent_change_from_baseline']]
# us_google

In [5]:
us_google.to_csv('us_google.csv', index=False)