In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.2f}'.format

In [2]:
sn = pd.read_csv('https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-nursing-home-county-totals.csv')
sn['state'] = 'California'
sn['state2'] = 'CA'
sn.rename(columns = {'minimum_staff_confirmed_cases':'Staff Confirmed Cases', 'minimum_patients_confirmed_cases':'Patients Confirmed Cases', 
                              'minimum_staff_deaths':'Staff Deaths', 'minimum_patients_deaths':'Patients Deaths'}, inplace = True)
sn

,date,county,fips,Staff Confirmed Cases,Patients Confirmed Cases,Staff Deaths,Patients Deaths,state,state2
0,2020-06-05,Alameda,1,141,245,0,27,California,CA
1,2020-06-05,Butte,7,1,1,0,0,California,CA
2,2020-06-05,Contra Costa,13,38,63,3,4,California,CA
3,2020-06-05,El Dorado,17,1,0,0,0,California,CA
4,2020-06-05,Fresno,19,43,118,2,27,California,CA
...,...,...,...,...,...,...,...,...,...
31728,2022-01-15,Tulare,107,1122,1093,2,148,California,CA
31729,2022-01-15,Tuolumne,109,90,94,0,16,California,CA
31730,2022-01-15,Ventura,111,1141,1081,1,82,California,CA
31731,2022-01-15,Yolo,113,306,309,2,39,California,CA
31732,2022-01-15,Yuba,115,73,57,0,1,California,CA

In [3]:
sn.to_csv('nurse.csv', index=False)

In [4]:
sc = pd.read_csv('https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-adult-and-senior-care-facilities.csv')
sc['state'] = 'California'
sc['state2'] = 'CA'
sc.head(5)

,date,name,county,staff_confirmed_cases,patients_confirmed_cases,staff_deaths,patients_deaths,fips,staff_confirmed_cases_note,patients_confirmed_cases_note,staff_deaths_note,patients_deaths_note,state,state2
0,2021-06-27,Acacia Creek - Union City,Alameda,1,1,0.00,0.00,1,<11,<11,NaN,NaN,California,CA
1,2021-06-27,Aegis Assisted Living Of Fremont,Alameda,12,15,0.00,0.00,1,NaN,NaN,NaN,NaN,California,CA
2,2021-06-27,Arcadian Residential Community,Alameda,15,28,0.00,1.00,1,NaN,NaN,NaN,<11,California,CA
3,2021-06-27,Belmont Village Albany,Alameda,15,1,0.00,0.00,1,NaN,<11,NaN,NaN,California,CA
4,2021-06-27,Brookdale North Fremont,Alameda,22,26,0.00,1.00,1,NaN,NaN,NaN,<11,California,CA

In [5]:
sc.to_csv('SC.csv')