In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
positive_df = pd.read_csv('https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-positive-test-rate.csv')
positive_df.tail(5)

,date,confirmed_cases,total_tests,new_confirmed_cases,new_positive_tests,new_tests,new_confirmed_cases_seven_day_total,new_tests_seven_day_total,positive_test_rate_seven_day_percent
457,2021-05-03,3649792.00,61263696.00,1763.00,2325.00,261697.00,14679.00,1257117.00,0.01
458,2021-05-04,3651124.00,61457251.00,1332.00,1758.00,193555.00,13876.00,1197971.00,0.01
459,2021-05-05,3651983.00,61541998.00,859.00,944.00,84747.00,12316.00,1049527.00,0.01
460,2021-05-06,3652148.00,61552063.00,165.00,187.00,10065.00,10077.00,854349.00,0.01
461,2021-05-07,3652148.00,nan,0.00,nan,nan,nan,nan,nan

In [3]:
bool_series = pd.notnull(positive_df["new_tests_seven_day_total"])
positivity = positive_df[bool_series]
positivity['test'] = 'COVID'
positivity

<ipython-input-3-dd681627605a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positivity['test'] = 'COVID'

,date,confirmed_cases,total_tests,new_confirmed_cases,new_positive_tests,new_tests,new_confirmed_cases_seven_day_total,new_tests_seven_day_total,positive_test_rate_seven_day_percent,test
6,2020-02-07,78.00,905.00,33.00,62.00,452.00,78.00,905.00,0.09,COVID
7,2020-02-08,84.00,963.00,6.00,2.00,58.00,70.00,659.00,0.11,COVID
8,2020-02-09,89.00,985.00,5.00,2.00,22.00,70.00,647.00,0.11,COVID
9,2020-02-10,98.00,1002.00,9.00,2.00,17.00,71.00,635.00,0.11,COVID
10,2020-02-11,100.00,1042.00,2.00,0.00,40.00,70.00,644.00,0.11,COVID
...,...,...,...,...,...,...,...,...,...,...
456,2021-05-02,3648029.00,61001999.00,759.00,1056.00,54784.00,15145.00,1287668.00,0.01,COVID
457,2021-05-03,3649792.00,61263696.00,1763.00,2325.00,261697.00,14679.00,1257117.00,0.01,COVID
458,2021-05-04,3651124.00,61457251.00,1332.00,1758.00,193555.00,13876.00,1197971.00,0.01,COVID
459,2021-05-05,3651983.00,61541998.00,859.00,944.00,84747.00,12316.00,1049527.00,0.01,COVID
460,2021-05-06,3652148.00,61552063.00,165.00,187.00,10065.00,10077.00,854349.00,0.01,COVID

In [4]:
positivity.to_csv('positivity.csv', index=False)