In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.2f}'.format

In [2]:
race_df = pd.read_csv('https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-race-ethnicity.csv')
race_df

,date,race,age,confirmed_cases_total,confirmed_cases_percent,deaths_total,deaths_percent,population_percent
0,2021-02-17,asian,0-17,17015,0.05,3,0.21,0.13
1,2021-02-17,asian,18+,176190,0.08,5648,0.12,0.17
2,2021-02-17,asian,18-34,57132,0.07,38,0.06,0.15
3,2021-02-17,asian,35-49,42252,0.07,154,0.06,0.18
4,2021-02-17,asian,50-64,42614,0.08,720,0.08,0.17
...,...,...,...,...,...,...,...,...
8875,2020-05-14,white,35-49,2392,0.18,11,0.08,0.33
8876,2020-05-14,white,50-64,3062,0.24,96,0.22,0.43
8877,2020-05-14,white,65-79,2433,0.36,312,0.34,0.54
8878,2020-05-14,white,80+,1665,0.44,569,0.42,0.57
8879,2020-05-14,white,all,11956,0.23,991,0.34,0.37

In [3]:
race_df.replace(to_replace =["other", "cdph-other"], value ="Other", inplace=True)
race_df.replace(to_replace ="asian", value ="Asian", inplace=True)
race_df.replace(to_replace ="black", value ="Black", inplace=True)
race_df.replace(to_replace ="latino", value ="Latino", inplace=True)
race_df.replace(to_replace ="white", value ="White", inplace=True)
race_df.replace(to_replace ="all", value ="Total", inplace=True)
race_df

,date,race,age,confirmed_cases_total,confirmed_cases_percent,deaths_total,deaths_percent,population_percent
0,2021-02-17,Asian,0-17,17015,0.05,3,0.21,0.13
1,2021-02-17,Asian,18+,176190,0.08,5648,0.12,0.17
2,2021-02-17,Asian,18-34,57132,0.07,38,0.06,0.15
3,2021-02-17,Asian,35-49,42252,0.07,154,0.06,0.18
4,2021-02-17,Asian,50-64,42614,0.08,720,0.08,0.17
...,...,...,...,...,...,...,...,...
8875,2020-05-14,White,35-49,2392,0.18,11,0.08,0.33
8876,2020-05-14,White,50-64,3062,0.24,96,0.22,0.43
8877,2020-05-14,White,65-79,2433,0.36,312,0.34,0.54
8878,2020-05-14,White,80+,1665,0.44,569,0.42,0.57
8879,2020-05-14,White,Total,11956,0.23,991,0.34,0.37

In [4]:
race_df[race_df.age != '18+']

,date,race,age,confirmed_cases_total,confirmed_cases_percent,deaths_total,deaths_percent,population_percent
0,2021-02-17,Asian,0-17,17015,0.05,3,0.21,0.13
2,2021-02-17,Asian,18-34,57132,0.07,38,0.06,0.15
3,2021-02-17,Asian,35-49,42252,0.07,154,0.06,0.18
4,2021-02-17,Asian,50-64,42614,0.08,720,0.08,0.17
5,2021-02-17,Asian,65-79,21182,0.10,1745,0.11,0.17
...,...,...,...,...,...,...,...,...
8875,2020-05-14,White,35-49,2392,0.18,11,0.08,0.33
8876,2020-05-14,White,50-64,3062,0.24,96,0.22,0.43
8877,2020-05-14,White,65-79,2433,0.36,312,0.34,0.54
8878,2020-05-14,White,80+,1665,0.44,569,0.42,0.57
8879,2020-05-14,White,Total,11956,0.23,991,0.34,0.37

In [5]:
g = race_df.groupby(['date', 'race', 'age'])['confirmed_cases_total', 'confirmed_cases_percent', 'deaths_total', 'deaths_percent', 'population_percent'].sum().reset_index()
g

<ipython-input-5-b6d144f4f56f>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  g = race_df.groupby(['date', 'race', 'age'])['confirmed_cases_total', 'confirmed_cases_percent', 'deaths_total', 'deaths_percent', 'population_percent'].sum().reset_index()

,date,race,age,confirmed_cases_total,confirmed_cases_percent,deaths_total,deaths_percent,population_percent
0,2020-05-14,Asian,0-17,80,0.04,0,0.00,0.13
1,2020-05-14,Asian,18-34,1177,0.09,3,0.11,0.15
2,2020-05-14,Asian,35-49,1498,0.12,11,0.08,0.18
3,2020-05-14,Asian,50-64,1627,0.13,53,0.12,0.17
4,2020-05-14,Asian,65-79,873,0.13,117,0.13,0.17
...,...,...,...,...,...,...,...,...
7395,2021-02-17,White,35-49,108936,0.18,247,0.10,0.33
7396,2021-02-17,White,50-64,118109,0.23,1522,0.17,0.43
7397,2021-02-17,White,65-79,71136,0.34,4577,0.29,0.54
7398,2021-02-17,White,80+,36201,0.45,8275,0.44,0.57
7399,2021-02-17,White,Total,526046,0.20,14689,0.32,0.37

In [6]:
g.to_csv('races.csv', index=False)