In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.display.float_format = '{:.0f}'.format

In [2]:
scot_shot = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/country_data/Scotland.csv')
scot_shot.tail()

,location,date,vaccine,source_url,total_vaccinations,people_vaccinated,people_fully_vaccinated
94,Scotland,2021-04-13,"Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/health...,3329393,2694971,634422
95,Scotland,2021-04-14,"Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/health...,3370666,2708691,661975
96,Scotland,2021-04-15,"Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/health...,3410845,2722084,688761
97,Scotland,2021-04-16,"Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/health...,3449101,2733387,715714
98,Scotland,2021-04-17,"Oxford/AstraZeneca, Pfizer/BioNTech",https://coronavirus.data.gov.uk/details/health...,3482651,2744231,738420

In [3]:
scot_vac = scot_shot[['date', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'location']]
scot_vac.rename(columns={'location' : 'country'}, inplace=True)
scot_vac.tail()

C:\Users\Doug Smith\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,country
94,2021-04-13,3329393,2694971,634422,Scotland
95,2021-04-14,3370666,2708691,661975,Scotland
96,2021-04-15,3410845,2722084,688761,Scotland
97,2021-04-16,3449101,2733387,715714,Scotland
98,2021-04-17,3482651,2744231,738420,Scotland

In [4]:
scot_vac.to_csv('scot_shot.csv', index=False)